[2013-06-17 11:45] lucaspinto opened #2 "Add authorization with cancan."
I worked on it with @fannivuniconnu, it should be done later today.

[2013-06-17 13:57] svenfuchs opened #3 "Email teams"
I think we should add a function that makes it easy to email everyone

Is there some engine that provides such stuff as a drop in?

[2013-06-19 16:32] svenfuchs opened #5 "Allow roles :organizer and :supervisor"
Both being allowed to do everything :)

[2013-06-19 23:55] #2 closed, assigned to nobody

[2013-06-20 09:23] svenfuchs opened #6 "Add tests for Ability"

[2013-06-20 09:24] svenfuchs opened #7 "Add tests to make sure only admins can add :supervisor/:organizer roles"

[2013-06-20 09:25] svenfuchs opened #8 "Destroy dependent objects"
If a team is destroyed, Role and Activity instances need to be destroyed. Check for other relations, too.

[2013-06-20 13:11] svenfuchs opened #9 "Complete users from Github API on edit"
on user create/edit attemp to complete empty fields from the GitHub API

[2013-06-20 14:44] svenfuchs opened #10 "Do not list participants (users) that do not have a role"

[2013-06-20 14:48] svenfuchs opened #11 "Normalize attributes like homepage"
should normalize attributes like user homepage (on write) so we always end up with a valid url

possibly the same with repository urls, user github_handle (we've had people input full urls into a field named "github_handle" on the campaign page, even developers)

[2013-06-20 19:40] svenfuchs opened #12 "Rename "repository" to "source" to allow multiple blog urls"
... and possibly other sources. Some teams already have a twitter account, too. Facebook?

[2013-06-20 22:35] #12 closed, assigned to nobody

[2013-06-21 14:28] ellenkoenig opened #13 "Hook up a background task that runs rake feeds:update on a regular basis"
This task will fetch the blog updates for the activity stream

cron? sidekiq?

[2013-06-21 14:29] ellenkoenig opened #14 "retrieve activity from the teams' github repos"
either through a webhook/events, or polling

[2013-06-21 14:30] ellenkoenig opened #15 "prettify the activities stream"
needed before: clarify which information to display and how

[2013-06-21 14:31] ellenkoenig opened #16 "Implement filters for the activity/blog post stream"
must: by team, by activity type

nice-to-have: by participant, by project, other ideas

[2013-06-21 14:32] ellenkoenig opened #17 "Nice-to-have: team logo (on team details page) for the activity stream"
alternatively, either the gravatar images of  the team members could be used in combination or the project logo

[2013-06-21 14:33] ellenkoenig opened #18 "Link team activity on the team page"
Must: Link to filtered activity stream page
Nice-to-have: Show the activity stream on the team page

[2013-06-21 14:35] ellenkoenig opened #19 "* nice-to-have: List overview of all the involved projects with links to the participating teams"

[2013-06-22 13:31] #13 closed, assigned to nobody

[2013-06-22 13:32] svenfuchs opened #20 "Add a help section"

[2013-06-22 14:30] #20 closed, assigned to nobody

[2013-06-23 14:12] #5 closed, assigned to nobody

[2013-06-23 14:13] #9 closed, assigned to nobody

[2013-06-23 14:13] #15 closed, assigned to nobody

[2013-06-23 14:13] #18 closed, assigned to nobody

[2013-06-23 14:14] svenfuchs opened #21 "Add an rss feed for activities"

[2013-06-25 12:52] #8 closed, assigned to nobody

[2013-06-25 13:34] #11 closed, assigned to nobody

[2013-07-07 21:53] lislis opened #24 "Note: changed logo"
Hey, just so you know: I changed the logo on this repo to match the logo on the main site (colors of the heart from RG Berlin to Rails Girls).
According to https://github.com/rails-girls-summer-of-code/summer-of-code/issues/87
:)
Edit: here's the commit 00ba379013cdda1a110b69a8462285f2930ab980

[2013-07-10 10:44] #21 closed, assigned to nobody

[2013-07-10 10:51] carlad opened #25 "Nice to Have: Include <description> content in rss feed."
So that people subscried to the rss feed can read the content of each post in their rss reader (rather than having to leave the reader and visit the actual blog)
![no_article_content](https://f.cloud.github.com/assets/1754975/774158/9c6c1232-e94e-11e2-8d41-3abcb5b1f3b1.png)
![with_article_content](https://f.cloud.github.com/assets/1754975/774159/9c863cd4-e94e-11e2-96ae-71e88f5efeca.png)

[2013-07-15 18:27] #25 closed, assigned to nobody

[2013-07-17 12:46] svenfuchs opened #28 "Supervision team comments"
- when logged in as a supervisor
- on the team show view there should be a form text area to submit a comment
- comments are listed next to the team profile along with the created_at date and author name, maybe in the sidebar on the right (only visible for supervisors), newest comments at the top

when a new comment is added an email notification is sent to all supervisors

[2013-07-18 10:14] pxlpnk opened #30 "Make the Team overview sort able by the last activity"
It would be nice to have the team overview sortable by the date to have a better overview about the progress.

[2013-07-18 11:37] #28 closed, assigned to nobody

[2013-07-18 14:53] anikalindtner opened #31 "Add profile images to teams view"
the user images from this view:
http://teams.railsgirlssummerofcode.org/users/17

add to this view:
http://teams.railsgirlssummerofcode.org/teams/7

-would be awesome, if all the coaches, students and mentors are visible with their images

[2013-07-18 16:56] #31 closed, assigned to nobody

[2013-07-20 19:12] keikoro opened #32 "Organizers team page - blog post links b0rken"
Hey,

While going through the team pages in order to add people to the corresponding RailsGirlsSoC Twitter lists, I discovered that on the [organizers team page](http://teams.railsgirlssummerofcode.org/teams/12), the links to some blog posts are broken.

All the links seem to display as .. **railsgirlssummerofcode.org//blog** .. but while most redirect to railsgirlssummerofcode.org/blog, some do n

[2013-07-20 19:46] kerstin opened #33 "Team pages of "internal" teams: link to Twitter lists"
Suggestion:

For these teams, replace the Twitter handle @railsgirlssoc on their team page with their corresponding Twitter list:

* [Team Helpdesk](http://teams.railsgirlssummerofcode.org/teams/16): railsgirlssoc -> railsgirlssoc/rgsoc13-helpdesk ([link](https://twitter.com/railsgirlssoc/rgsoc13-helpdesk))
* [Team Organizers](http://teams.railsgirlssummerofcode.org/teams/12): railsgirlssoc -> rai

[2013-07-24 08:10] anikalindtner opened #35 "redesign and re-organize teams app"
heyhej,

here are some ideas i collected for the teams app:

make the user overview a little bit nicer:
->give every participant a little box with infos like this:
![screen shot 2013-07-17 at 12 45 55 pm](https://f.cloud.github.com/assets/1711357/811249/1b60aa74-eece-11e2-947b-21b3ef818e26.png)

include a twitterstream, that shows the latest tweets from every team

on the team-site, rank the teams

[2013-07-24 08:11] anikalindtner opened #36 "add #irc - handle and location to teams overview"
just without news fancy design and stuff, just as an info for all the supervisors. until the news, fancy design is out, a simple text field should be enough :)

[2013-07-24 20:25] #24 closed, assigned to nobody

[2013-07-29 11:56] sakshi-keepworks opened #37 "Contact Us block is overlapping the Help block."
http://teams.railsgirlssummerofcode.org/pages/help

[2013-08-01 11:10] #10 closed, assigned to nobody

[2013-08-02 14:43] #30 closed, assigned to nobody

[2013-08-03 07:58] anikalindtner opened #40 "add time display to teams-overview"
to see what time it is in the team's time zone, this would be a super cool feature

[2013-08-03 12:25] #37 closed, assigned to nobody

[2013-08-03 17:20] #3 closed, assigned to nobody

[2013-08-04 09:46] #32 closed, assigned to nobody

[2013-08-06 00:52] #36 closed, assigned to nobody

[2013-08-06 19:59] anikalindtner opened #45 "mailings need to go out to addresses.uniq"
so that people won't get spammed! :)

[2013-08-06 20:00] anikalindtner opened #46 "mailings: cc needs to go out only once"
the address put in cc should only get one email. not be in cc for all the mails to the different people.
maybe you could build it like this: that the person in cc is just added to all the other recipients?

[2013-08-27 16:13] pxlpnk opened #49 "/users is incredibly slow, heroku kills the unicorns ):"
2013-08-27T16:10:25.513588+00:00 app[web.1]: Started GET "/users" for xxx.xxx.xxx.xxx at 2013-08-27 16:10:25 +0000
2013-08-27T16:10:37.244807+00:00 heroku[router]: at=error code=H12 desc="Request timeout" method=GET path=/users?sort=&direction=&role= host=teams.railsgirlssummerofcode.org fwd="xxx.xxx.xxx.xxx" dyno=web.1 connect=65ms service=30008ms status=503 bytes=0
2013-08-27T16:10:55.432836+00:

[2013-09-05 17:04] #49 closed, assigned to nobody

[2013-09-08 19:10] beanieboi opened #53 "remove _secret_ keys from repository"
the Rails session secret and the devise secret are public, they have to be private to protect the session of a user.

https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/config/initializers/secret_token.rb#L7
https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/config/initializers/devise.rb#L9

[2013-09-08 20:24] #53 closed, assigned to nobody

[2013-09-08 21:49] anikalindtner opened #55 "change profile pictures back to normal size"
- i think it was 50 px?

[2013-09-09 15:43] #46 closed, assigned to nobody

[2013-12-23 06:06] ghost opened #56 "unify dates of rgsoc announcements and conferences into a calendar page"
Hi!

I'd like to propose a feature for the http://teams.railsgirlssummerofcode.org/ website. It would be ideal to have a calendar page which displays events viewable by public and editable by some team members. On this calendar we can mark events of the current "Conferences" [1] page. Perhaps even give a drop down menu that filters events in the calendar based on selected location. I did some rese

[2014-02-21 20:20] anikalindtner opened #59 "move the current site to new domain"
-to 2013.teams... maybe

[2014-02-22 11:31] katrin-k opened #60 "create student dashboard"
Arne came up with the idea to have a dashboard providing a fast look at the latest acitvities in all coached/mentored/supervised teams to help realise when a team gets stuck.

Below's a first sketch on how a dashboard could look like:

![draft rgsoc teams app dashboard](https://cloud.githubusercontent.com/assets/164400/16706834/af5f7362-45bb-11e6-839d-1fb073743e35.png)

[2014-02-23 17:06] svenfuchs opened #61 "Implement application process"
We've managed our applications (data imported from Google forms) in our campaign app last year. We should move this to the teams app and collect applications right there.

Basically just a form where students can submit their application, and get an email confirmation.

Here's last year's application form: https://docs.google.com/a/svenfuchs.com/forms/d/158MlfRepVVZh9NjskR7-fuNJz5EsgzRnhrmTD94HXwY

[2014-02-23 17:32] #59 closed, assigned to pxlpnk

[2014-02-25 20:55] #56 closed, assigned to nobody

[2014-03-10 16:37] svenfuchs opened #63 "Add a student/coach/project/company form"
Just discussed the idea to replace this list from last year with a form that collects data within our own app: https://docs.google.com/a/svenfuchs.com/spreadsheet/ccc?key=0AjmbYjwdIlFZdHdMcERKVWxaVkVNX1BYRnlPVkV1bFE&usp=drive_web#gid=0

That could be a fairly simple form for now, and an index page that just lists stuff.

Then we could ask people to add themselves.

The general idea is to expand ou

[2014-03-10 20:53] #40 closed, assigned to nobody

[2014-03-19 22:41] anikalindtner opened #67 "application confirmation css is buggy"
![screen shot 2014-03-19 at 11 37 00 pm](https://f.cloud.github.com/assets/1711357/2466971/75e76532-afb7-11e3-98cd-f718b5913824.png)

you can scrollllllll to the right until it's only white space

[2014-03-19 22:49] anikalindtner opened #68 "Improve landing page"
for people who want to join as coaches or are looking for sth. or coaching companies...

[2014-03-19 22:51] anikalindtner opened #69 "add option to be a coaching company/ offer space"
in here:

![screen shot 2014-03-19 at 11 50 11 pm](https://f.cloud.github.com/assets/1711357/2467087/e6dd6312-afb8-11e3-9cbb-08ddf4aa62bf.png)

[2014-03-20 16:40] carpodaster opened #72 "Filter interest in community overviews"
"I am looking for … "
- a coach
- a pair
- some work space

Filtered with a radio button, interest in column stays as it is

[2014-03-20 16:41] carpodaster opened #73 "Filter community overview by country"
- Ask user for their country
- Filter by country

[2014-03-20 16:42] #69 closed, assigned to carpodaster

[2014-03-20 21:31] carpodaster opened #74 "Community members need to be able to contact each other"
Two options:
1. Display their email address if user is logged
2. Provide a very simple contact form and let us send mail in the background

No. 1 would require the explicit permission that we'll make the email addresss  "public" (if only for signed-in users)

No. 2 would leave the email addresses private but means a bit more work on our side. The sender would give away their email address first (i

[2014-03-20 22:50] anikalindtner opened #75 "make "location" a required field for profiles"
that would make me and the list so happy.

[2014-03-22 10:19] anikalindtner opened #76 "add company to teams.app"
so this is the problem:

only individuals can say "offer space", but students can't see what kind of space, where is the office, etc. So i'd say we

-> make it possible to register as a company. We could have a profile a little bit altered than for the individuals, but provide more info on where the office is, how much space (e.g. 2-6 teams)

Technically maybe we could do it like the "teams", peop

[2014-03-23 19:51] #74 closed, assigned to carpodaster

[2014-03-23 20:15] svenfuchs opened #78 "Fix auto-deployment"
After this build https://travis-ci.org/rails-girls-summer-of-code/rgsoc-teams/builds/21379927 I have just found the application returning 500.

I have `heroku run rake db:migrate -rproduction && heroku restart -rproduction`, which brought it back.

Not sure why the auto deployment doesn't do that itself, but I guess we should fix that.

[2014-03-24 15:13] #78 closed, assigned to nobody

[2014-03-26 17:48] #61 closed, assigned to pxlpnk

[2014-03-26 17:59] #67 closed, assigned to nobody

[2014-03-26 18:45] pxlpnk opened #81 "Sorting on index page not working"
I assign @cypher here as he already volunteered for this.

![screen shot 2014-03-26 at 19 43 24](https://f.cloud.github.com/assets/164718/2529059/a497edac-b516-11e3-93be-1cef94776d27.png)

[2014-03-26 18:50] #72 closed, assigned to nobody

[2014-03-27 03:31] #63 closed, assigned to nobody

[2014-03-28 07:34] carpodaster opened #83 "Improve / consolidate / condense information displayed on users#index"
- [x] Remove common prefixes from `interested_in`'s human readable form (e.g. "Helping as a: coach, mentor, remote coach") and transform it into a nice + short text block
- [x] Display cityand location as "Germany/Buxtehude" (depends on #82)
- [x] Add company name? Should also have a custom link if we add this.

Related question: what shall we do with `users#show`? Right now it's a bit of an unlov

[2014-03-28 08:02] carpodaster opened #84 "Add a CommunityController"
Currently `UsersController` behaves differently for the RGSoC ramp up phase than it will once the summer has begun. There's lots of commented code.

I'm thinking bringing `users#index` to a CommunityController that displays what we have now. Launching the summer is then a matter of editing the routes file instead of commenting out / in everything (which we'll have to do for 2015 all over again).

[2014-03-28 13:20] #73 closed, assigned to nobody

[2014-03-28 13:20] #75 closed, assigned to carpodaster

[2014-03-29 22:49] anikalindtner opened #87 "add "mentor" as a filter that can be applied to the community list"
because we are collecting that info, but students can't filter the list looking for mentors who offer projects.

[2014-03-30 09:58] #87 closed, assigned to nobody

[2014-04-10 19:04] ashumz opened #90 "Try out waffle.io for managing issues"
Check out what the board looks like on Waffle:
https://waffle.io/rails-girls-summer-of-code/rgsoc-teams

Add a badge to show how many issues are Ready to Be Worked On in your README. Works great for organizing projects with a simple visualization layer on top of GH Issues. You don't even have to use it for it to just _work_ (ie: you can continue your workflow in GitHub Issues and the board will up

[2014-04-11 17:58] #81 closed, assigned to cypher

[2014-04-12 13:05] #90 closed, assigned to nobody

[2014-05-27 05:47] katrin-k opened #97 "Change roles of participants"
These roles can be deleted or -> changed to:
- [ ] "Looking for a pair" ->  applicant (so as to not delete/make invisible all the students tht didn't make it)
- [ ] "Offering desk space" -> ?

And these need to go back into the app:
- [ ] Student
- [ ] Supervisor
- [ ] Helpdesk
- [ ] Developer

PLUS, make it possible for ppl already registered, to change their role.

[2014-05-29 10:09] bastilian opened #98 "Restore Links"
This should bring back all the links to make all functionality of the app accessible again

[2014-05-30 08:46] bastilian opened #99 "Update Help-section"
A minor change exchange IRC for Campfire.

[2014-05-30 08:51] bastilian opened #100 "Team creation"
I was thinking of limiting the creation of teams to users with the "Organizer"-role.
In addition also limit adding team-members to members with roles other than student.

What do you think?

/cc @svenfuchs

[2014-05-30 10:03] bastilian opened #101 "Change the Users overview"
In #84 it has been discussed to introduce a new `CommunityController`, i'd like to avoid that for now, but instead change the `Users#index` to display all Users and add a "participating"-filter (if a User has a role) which is selected by default.

[2014-05-30 21:00] #98 closed, assigned to nobody

[2014-06-02 09:58] bastilian opened #102 "Introduce Event-Model"
As briefly discussed in #100 we will introduce a `Event`-Model to reflect the yearly incarnation of RGSoC, without setting up a new install of the teams-app.

I think `Event` is a proper and fitting name for the model. If someone has another idea for a name, just shoot.

In the first step the event will be used to identify teams that are in this years edition of RGSoC.
Through this we can also ide

[2014-06-02 09:59] #100 closed, assigned to nobody

[2014-06-05 08:40] #99 closed, assigned to nobody

[2014-06-05 08:40] #102 closed, assigned to nobody

[2014-06-19 08:20] bastilian opened #104 "Add coaches and mentors to team-overview"

[2014-06-19 08:21] bastilian opened #105 "Add JSON as output format for Teams#index"

[2014-06-19 08:23] bastilian opened #106 "Check snapito.com integration"
Currently generating images is failing we us an API key which is according to the docks only necessary if you have a paid account.

[2014-06-19 08:35] bastilian opened #107 "Switch to SSL"
Should we get a cert on https://www.globalsign.com/ssl/ssl-open-source/

/cc @svenfuchs

[2014-06-19 21:51] #105 closed, assigned to carpodaster

[2014-06-22 10:51] #104 closed, assigned to bastilian

[2014-06-23 15:59] anikalindtner opened #108 "weird view"
when I look at the overview of the teams (logged in), it looks like this:
![screen shot 2014-06-23 at 17 49 24](https://cloud.githubusercontent.com/assets/1711357/3360105/541aa31e-faef-11e3-8036-e26d72c96c80.png)

[2014-06-25 16:01] bastilian opened #109 "Supervisor Dashboard"

[2014-06-25 16:01] bastilian opened #110 "Add location selection on mailings"

[2014-07-01 10:43] anikalindtner opened #111 "hide private infos"
for now, the private infos are available to organizers and supervisors, when they are logged in. we are looking for a way to hide the details, but show a status for us, that tells us that the students have provided the info or not. like "missing / available".

[2014-07-01 12:44] carpodaster opened #112 "Funny offset for t-shirt size radio buttons"

[2014-07-02 09:36] #97 closed, assigned to nobody

[2014-07-02 21:58] #101 closed, assigned to nobody

[2014-07-02 21:58] #111 closed, assigned to nobody

[2014-07-02 21:58] #112 closed, assigned to nobody

[2014-07-03 08:51] #106 closed, assigned to bastilian

[2014-07-13 08:11] FloorD opened #114 "add 'conference functionality' to teams app"
As the conference raffle-out did not prove to work last year around - the teams didn’t understand they had to tweet the conferences with the hashtag we provided, causing a lot of work checking all Twitter accounts - we thought of a different way. In the teams app participants can add a list of the conferences they would like to visit (min. 3 max. 10) - maybe drop-down select? All conferences shoul

[2014-07-14 20:54] carpodaster opened #115 "mailings#index is publicly visible. Is it intended?"
Heya,
I can view http://teams.railsgirlssummerofcode.org/mailings/1 as an anonymous user. Is this WAI?

[2014-07-15 21:53] #55 closed, assigned to nobody

[2014-08-06 08:47] anikalindtner opened #119 "Mailings are broken"
can someone have a looksie here? This feature is really important..

![screen shot 2014-08-06 at 10 46 18](https://cloud.githubusercontent.com/assets/1711357/3824356/28b35544-1d46-11e4-8862-1f94d1d4e619.png)

@bastilian @carpodaster @lucaspinto @svenfuchs @plexus @lislis ?

[2014-08-06 22:52] #119 closed, assigned to nobody

[2014-08-15 20:07] carpodaster opened #120 "Remove mailings from activity stream?"
This is a follow-up to #115

Mailings sent our through the teams app are now only visible to their respective recipients. However, a mailing will be copied over into the activity stream where it's not feasible to restrict access to the original recipients.

I would like to remove the mailings from the activities list. Please object *now* :hammer: :wink:

[2014-08-15 20:07] #115 closed, assigned to carpodaster

[2014-09-19 10:52] sareg0 opened #122 "Add 'Jobs' section to team app"
Here is the issue to discuss the 'Jobs' area, and advocate for any added functionality/improvements.

http://teams.railsgirlssummerofcode.org/job_offers/

Thank you for getting it up and running @carpodaster

[2014-10-07 09:49] #122 closed, assigned to nobody

[2015-01-29 19:11] carpodaster commented on #107
@svenfuchs @bastilian has there been any progress on aquiring / installing the SSL certificate?

[2015-01-29 19:17] carpodaster opened #124 "Use a mail interceptor that works w/o Mailtrap"
* Mailtrap must be set up in `.(zsh|bash)rc`, lets move it to something like dotenv
* Fallback on a blackhole mail interceptor if Mailtrap is not configured

[2015-01-29 19:19] carpodaster opened #125 "Add "draft" attribute to Application"
See #123.

* Disambiguate `FormApplication` and `ApplicationForm`
* Add a draft flag to `Application` and remove seperate AR model

[2015-01-29 19:23] carpodaster opened #126 "Check and fix bootstrap forms"
Looks weird and messy, at least in FF.

[2015-01-31 12:52] carpodaster opened #127 "Implement a mini log engine"
Similar to https://idonethis.com/

* [x] Students' backend
* [x] Link to students/status_updates_controller from somewhere
* [x] Create `Activity` record
* [x] Updating/destroying a status update must also update/destroy the activity
* [ ] What photo should be used?
* [x] Allow quick access to a team's activity stream

[2015-01-31 13:29] carpodaster opened #128 "Upgrade RSpec"

[2015-01-31 14:19] anikalindtner opened #129 "Only allow applications from people with a complete profile"
To make sure that students have a completely filled out profile page, it  should be mandatory to fill out their profile page first, before they have the ability to access the application forms.

[2015-01-31 14:20] anikalindtner commented on #129
@carpodaster is this doable? How much time would we need for this?

[2015-01-31 14:23] anikalindtner opened #130 "update user profile"
these fields should be mandatory:

* [ ] Name
* [x] Githubname
* [x] email
* [ ] location
* [ ] t-shirt-size
* [ ] address

[2015-02-01 15:15] carpodaster opened #131 "Query GH for a list of approved projects"
* Background worker to check for new projects
* Creates project in teams app w/ GH Issue No. + name

[2015-02-01 23:06] #128 closed

[2015-02-12 09:14] carpodaster commented on #107
@svenfuchs has GlobalSign gotten back to you already? If not: shall we just go for the wildcard cert?

[2015-02-13 09:44] svenfuchs commented on #107
@carpodaster actually, yes, they did. except that it ended up in my local spam folder. i have forwarded it to you.

[2015-02-18 16:22] anikalindtner opened #132 "fix 2013 login bug"
The login menu isn't shown in the 2013 app and thus we can't log in and access the data stored in ther over the UI. Would be awesome to finally fix this! maybe @plexus @pxlpnk or @carpodaster ?

[2015-02-18 17:06] carpodaster commented on #132
That's a tricky one. I don't think we have the code running the archived app readily available: unlike the gh-pages for the public blog, we didn't fork the codebase but only the Heroku app instead. Sadly, I don't have access to the Heroku application, either :sob:

[2015-02-18 20:26] pxlpnk commented on #132
@carpodaster I just pulled the repo from heroku. Where can I put it to you? As I have no idea what data there might be stored in I don't want to post it public.

[2015-02-18 20:32] pxlpnk commented on #132
I think there was reason though why this was disabled.
One of them being that we need to setup new oauth credentials. Another that people sign up for it I guess.

You could run a local version of the app with the db dump from heroku and just disable the auth part?

[2015-02-18 20:47] carpodaster commented on #132
@pxlpnk Checking it out locally with the prod dump sounds good! Can you
 send it via email? My gpg-key is at https://aegisnet.de/pgp.txt

[2015-02-18 21:02] pxlpnk commented on #132
Mail is on its way.

Carsten Zimmermann <notifications@github.com> writes:

[2015-02-19 10:17] anikalindtner commented on #132
\o/ awesome @pxlpnk!

[2015-02-19 18:18] anikalindtner opened #133 "Fix weird check box"
I have no idea what this check box does? Does anyone know?

![screen shot 2015-02-19 at 19 16 45](https://cloud.githubusercontent.com/assets/1711357/6272982/146f2f38-b86c-11e4-9f39-6e256e5b37d9.png)

[2015-02-19 18:20] anikalindtner commented on #133
WEIRD CHECKBOX BEING WEIRD

![](http://1.bp.blogspot.com/-Y1qwLqBttb0/UGRZoAYh97I/AAAAAAAACMs/tovFf31xLWA/s1600/Light+Switch+2.jpg)

[2015-02-19 18:24] alicetragedy commented on #133
haven't looked at the code yet, but from the text below it, it looks like it might be something to show/hide the email address..?

[2015-02-19 18:27] anikalindtner commented on #133
yeah.. i also think so. but it's neither near the email field, nor does it say so ;D

[2015-02-19 18:32] alicetragedy commented on #133
okay, found it - it's exactly what we thought it would be ;)

[2015-02-19 19:54] alicetragedy commented on #133
Sooo I took a quick look at it (it's actually driving me crazy now) and I don't know where the problem is. or, actually I do: seems like `inline_label` is not recognised anymore for whatever reason. I'm not sure if it's a nested_form problem, because I had a rails 4.0.5 project with simple_form 3.0.2 and `inline_label` worked there with no problem, and `inline_label` doesn't seem to have changed m

[2015-02-19 22:05] carpodaster commented on #133
Bootstrap and simple_form seem to be at each others' throats. This is one of the many facets of #126 :sob:

[2015-02-19 22:05] #133 closed

[2015-02-19 22:07] carpodaster commented on #132
I re-introduced the GH login and made sure it doesn't create new users (ie. only registered users can login). The code is pushed, awaiting a deployment.

[2015-02-19 22:32] alicetragedy commented on #133
yeah, it's pretty terrifying.
should I add those changes above though @carpodaster so we at least don't have floating checkboxes? ;)

[2015-02-19 22:33] carpodaster commented on #133
I'm sorry @alicetragedy I only skimmed your comment :blush: Yes sure, go fo' it!

[2015-02-20 00:34] anikalindtner opened #135 "add a disclaimer that prevents people to sign up"
saying "you can sign up here from march 1st" as long as the app is still under construction.

[2015-02-20 09:11] sareg0 commented on #132
+1

[2015-02-20 09:24] pxlpnk commented on #132
I just pushed the code to heroku.

[2015-02-20 09:44] carpodaster commented on #132
¡Muchas gracias! Solved then.

[2015-02-20 09:44] #132 closed

[2015-02-20 11:19] anikalindtner commented on #132
@carpodaster I tried it and clicked the "login with github"-link, but nothing happens O.o am i doing anything wrong?

[2015-02-20 13:19] carpodaster commented on #132
Probably yeah, can't log in either but it worked locally :( I'll check tonight.

@svenfuchs can you add me as collaborator on Heroku?

[2015-02-20 13:31] svenfuchs commented on #132
@carpodaster added you on all the appz :)

[2015-02-21 00:06] carpodaster commented on #132
@svenfuchs Thank ye! :)

@anikalindtner Login is possible now. The github oauth secret id thingy was out of date. Fixed! :confetti_ball:

[2015-02-24 18:13] carpodaster commented on #60
Possible duplicate of #109 ?

[2015-02-24 18:18] carpodaster opened #136 "Move admin/organisation/supervisor-related content into separate namespace"
Rationale: we will eventually forget tossing in a cancan directive. Having a namespaced base controller with a pre-defined `before_action` puts us on the safer side in terms of a possible privilege escalation.

An `orga/` namespace already exists.

**Edit**: As of late June, a `students/` namespace now also exists.

[2015-02-24 18:21] carpodaster commented on #35
Hey @anikalindtner – is this still a thing?

[2015-02-24 18:27] carpodaster commented on #107
@svenfuchs We're almost there, certificate has been issued! :tada: I just need you as the app owner to add the ssl endpoint on Heroku: `heroku addons:add ssl:endpoint -r production`

[2015-02-24 20:23] alicetragedy commented on #136
:+1:
also, sorry for changing the title of the issue.. did not realise that it would show up here.. but there was a tiny typo that I had to fix. :p

[2015-02-24 20:43] carpodaster commented on #136
hehe, no worries – thank you! :smile:

[2015-02-25 08:09] carpodaster commented on #135
Signing up and creating teams is possible. Applications will automatically open at March 1st.

[2015-02-25 08:09] #135 closed

[2015-02-25 20:54] carpodaster opened #137 "Application form: Provide examples for skill-level self-assessment"
Working on the new application form I just remembered  that we wanted to turn the more or less meaningless 1..5 skill range into something related to concrete examples (like »I am comfortable solving a merge conflict with git«).

We don't have that list of examples yet :scream: We don't necessarily have 5 discrete states, maybe 3 or 4 are sufficient. Wdyt?

[2015-02-25 20:57] alicetragedy commented on #137
hmm... yes, I think we need that. I've been replying to a couple of emails this week about possible applicants being *really* confused about which skill-level we are looking for and whether they should apply at all.. Needless to say, I think we really need to assess their skills differently in the application because, well, self-assessment really doesn't work. Can I help out in any way?

[2015-02-25 20:59] alicetragedy commented on #137
and I think we would need either 3 or 5 out of these (strongly agree, agree, neither agree nor disagree, disagree, strongly disagree)

[2015-02-25 21:01] carpodaster commented on #137
Yes :)  What I would need is a mapping of Skill Level 1 -> *I can do this, I can do that*, Skill Level 2 -> *I can do that other thing, I can do a handstand w/o hands*, … I will continue to just store the numbers, we would need some real world examples for what they represent.

[2015-02-25 21:07] alicetragedy commented on #137
:+1: you got it! consider it done

[2015-02-25 21:08] carpodaster commented on #137
Whohooo! :kissing_cat:  But don't stress yourself: I don't need it NAO. Friday is alright.

[2015-02-25 21:09] alicetragedy commented on #137
Friday was just what I was thinking - I will give it a thought, and I am off work on Friday so I got some time :tada:

[2015-02-25 21:16] carpodaster opened #138 "Ensure a student can only be student in one team (per season) at a time"
See [this commented validation](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/app/models/team.rb#L101) (`must_have_unique_students`)

[2015-02-25 21:50] carpodaster commented on #126
http://teams.railsgirlssummerofcode.org/teams/new will be hit quite often in the coming days and that one looks particularly evil. I mean it *works*, but it ain't pretty. If there is someone who could at least make the radio buttons + their labels look passable, that would be greatly appreciated :smile:

[2015-02-25 22:16] alicetragedy commented on #137
First few thoughts(definitely not done). I'm not sure about the open source one, and I think we could definitely add some more and move some skills around, happy about input.

*Skill Level 1*
- I understand and can explain the difference between data types (strings, booleans, integers)
- I have heard of the MVC (Model View Controller) pattern.
- I am comfortable creating and deleting files from th

[2015-02-26 11:17] sareg0 commented on #137
These are really terrific examples. I was thinking about rearranging them, but I do think they actually make a lot of sense where they are :) I was going to say something along the lines of including 'i have attended a Rails Girls or equivalent workshop' in Skill Level 1, and Skill Level 2 'I have been attending a study group for at least three months'... But these are very subjective and unclear.

[2015-02-26 11:34] anikalindtner commented on #137
great work, laura! I'm not the best person to judge about the levels, but I really love the examples. the last one could even be "I have already contributed original code to an Open Source project"

[2015-02-26 15:39] sareg0 commented on #126
Hey, it seems like something I could handle. Is there any way in particular they **_should_** look?

[2015-02-26 15:48] alicetragedy commented on #126
to answer your question @sareg0, I think the alignment is the most important (and what makes it look pretty ugly)
eg.
- the radio buttons under type should align with "Sponsored" and "Voluntary"
- the Source URL field should be either aligned with its label or under it
- the github handle label should be aligned with its field
- the "Role" radio buttons should be aligned with their respective valu

[2015-02-26 15:59] sareg0 commented on #126
aha! I think when I logged in I was not on the right page, now I see the ugliness. Thanks so much, I'll give it a work over.

[2015-02-26 16:00] carpodaster commented on #126
Yay, thanks @sareg0 :balloon:

[2015-02-26 16:32] carpodaster opened #139 "Upgrade to Rails v4.2"
* Upgrade to latest 4.1.x first
* Upgrade from 4.1.x to 4.2.0

Tools: railsdiff.org

* [ ] Remove monkey patch from `config/initializers/monkey_patch_mail.rb`

[2015-02-26 16:33] carpodaster commented on #110
@anikalindtner (or anyone else): Do you remember what this was about? If yes, could you sketch the feature here so that we might work on this as part of the SoC? Merci! :smile:

[2015-02-26 16:39] alicetragedy commented on #137
@sareg0 yeah, I know what you mean but I'm worried that adding those would make it, as you said, very subjective. (also because being there does not necessarily reflect any of your actual skills, and I'm guessing we have that somewhere else in the application, though I haven't looked) - but feel free to add some more examples! I'm still thinking about some more :)
@anikalindtner great, thank you f

[2015-02-26 16:40] anikalindtner commented on #110
@carpodaster I think it was a feature, so that we could email people in specific locations. Say, if we have a party in Vienna, let all the viennese people know via email and don't bother the onces living in L.A.

The feature should be available to organizers writing an email in /mailings. So that next to choosing who to address (students/ teams/ coaches), you can also choose a location filter for

[2015-02-26 16:44] carpodaster commented on #107
:lock: :tada: :balloon:

![SSL at laaaast!](http://1.bp.blogspot.com/-xDy_zx18R5g/UPwwTsdyRVI/AAAAAAAAGa4/elrNYEiZPLg/s1600/its-working-its-working.gif)

[2015-02-26 16:44] #107 closed

[2015-02-26 16:47] anikalindtner commented on #107
AWESOME ![](http://www.reactiongifs.com/wp-content/uploads/2012/01/haters1.gif)

[2015-02-26 16:48] carpodaster commented on #137
That's an awesome list already, Laura!

Here at Absolventa, @BerliNinja suggested something related to TDD. Like _I am able to write a unit test_ or something. No idea what skill level that means, though.

[2015-02-26 16:51] alicetragedy commented on #137
good tip! I would say that it would be a skill level 3 or above; complete beginners literally do not touch testing (I don't think) and people who have recently gotten started are usually not super comfortable with writing tests either, as I think writing tests requires you to be very very comfortable with code already.

[2015-02-26 16:58] alicetragedy commented on #107
I believe it's time for the dancing cat to do the closed issue dance:

![dancingcat](https://cloud.githubusercontent.com/assets/3143348/6396818/ffdb5fa4-bde0-11e4-9e8a-62a434cd3a8d.gif)

[2015-02-27 07:25] carpodaster opened #140 "Team creation: Remove sponsored / voluntary radio box"
It's important after teams are accepted but it shouldn't be accessible to non-organisers

[2015-02-27 07:35] carpodaster commented on #138
Already done in 493fed3c and 1f985dba

[2015-02-27 07:35] #138 closed

[2015-02-27 08:29] #140 closed

[2015-02-27 10:40] alicetragedy commented on #140
this means that we are not asking the team if they want to apply voluntarily or only funded, right?

[2015-02-27 10:40] carpodaster commented on #140
Not when they create a team. I will add a check box to the application form

[2015-02-27 10:42] alicetragedy commented on #140
great, thanks! :tada:  I'll keep that in mind when answering emails then.

[2015-02-27 10:46] carpodaster commented on #140
@alicetragedy Oh sorry, I wasn't thinking about its implications on support emails! I shall keep _that_ in mind when making changes to the app

[2015-02-27 10:49] alicetragedy commented on #140
@carpodaster no worries, no one has brought it up until yesterday, and I waited to answer that email until I had a clearer idea of how we would handle possible volunteers in the application process :) so it's all good. Also of course good to know that they can choose to apply as both with the checkbox. thank you for doing all this great work on the teams app!!!

[2015-02-27 15:12] sareg0 opened #141 "Remove 'Offering Desk Space' option"
After a discussion on hangout, and with Sven we are going to strike the option for companies to just provide deskspace.

We feel it's a little unneccessary, and don't really want companies providing desk space but not coaching support anyway. Students may as well stay at home or find some free desk space anywhere, and the companies that offer it may not be taken up on it, so best not to offer that

[2015-02-27 15:46] #141 closed

[2015-02-27 16:29] sareg0 commented on #141
thanks @carpodaster

[2015-02-27 16:30] carpodaster commented on #141
:bow:

[2015-02-27 17:00] alicetragedy commented on #137
@carpodaster I've added some stuff to the list and think I've covered most areas; could you please check when you have a minute? I believe that's actually enough, unless you think we need to add more. (but I wouldn't want to overdo it)
Maybe I could add something about setting up/configuring servers for production, or deploying an app?

[2015-03-01 13:49] anikalindtner commented on #130
+ delete: Irc handle
----

**Name**

*Email**

-Don’t show my email address to other users
hint: Only signed-in users will see your email address. If you don’t show your email address, others will have trouble contacting you.

**Github handle**
github.com/_______

**Twitter handle**(optional)
@______

**Homepage** (optional)

**Country**

**Timezone**(optional)

**City**

+ [ ] **I represent a com

[2015-03-01 16:17] sareg0 commented on #126
I have lodge the PR for this one, so just see if it is up to scratch. I hope it is. That was harder than I thought it would be ;D

[2015-03-01 16:59] #126 closed

[2015-03-01 17:00] alicetragedy commented on #137
we can close this, right @carpodaster?

[2015-03-01 17:02] carpodaster commented on #137
@alicetragedy We have 'em all in https://github.com/rails-girls-summer-of-code/organization/issues/89, right? If so: case closed :bookmark_tabs: :hammer:   Thanks a lot!

[2015-03-01 17:04] alicetragedy commented on #137
yep :+1:

[2015-03-01 17:04] #137 closed

[2015-03-02 07:29] carpodaster commented on #137
Since styling things takes me a disproportional amount of time: is there anyone able to add the skill level examples to `app/views/users/edit.html.slim` ? I was thinking about a Bootstrap modal popup. @lislis  maybe? :smile_cat:

[2015-03-02 07:33] carpodaster opened #143 "Application form: student_fields partial should know how to address current user"
When you access an application draft as a student of that application's team, it first shows your information and then your pair's after it. However, the form renders the same partial, `app/application_forms/_student_fields.html.slim`. The partial should not use »you« and »your« in the partial that holds info about the pair.

[2015-03-02 07:35] carpodaster opened #144 "Application form: ping coaches and mentors"
* [x] Send an email when added to a team
* [x] Add `application_drafts/index` listing all applications that they are part of
* [x] Mentors: add `PUT application_drafts#signoff` (irreversible!)

[2015-03-02 07:36] carpodaster opened #145 "Application form: define ready state for a draft"
-> validation context, see also #129 / #130

[2015-03-02 10:57] sareg0 commented on #137
I would love to help @lislis with this :) for funz and learningz

[2015-03-02 13:29] anikalindtner opened #146 "Update Teams/New"
okay, so I think it would be great if we could distinguish between accepted teams and applying teams, since some of the features (such as team twitter account, github, blog url) really don't apply unless you are accepted as a team.

+ [x] Name-> "Team name"
hint: e.g. Anna & Jolanda, Team Unicorns etc.  You can also change this later.

+ [x] Description
hint: Summary of your project(s) -> tell us

[2015-03-02 13:35] anikalindtner opened #147 ""Apply now""
If you click "apply now", there should come a site that shows the things you can do:

+ Read the [application guide](http://railsgirlssummerofcode.org/students/application/) first
+ Only teams can send applications. [Create a team](https://teams.railsgirlssummerofcode.org/teams/new) now (if they don't have created a team yet)
+ [Apply now](LINK) (if they already have a team)

[2015-03-02 13:38] anikalindtner opened #148 ""Apply now""
If you click "apply now", there should come a site that shows the things you can do:

+ Read the [application guide](http://railsgirlssummerofcode.org/students/application/) first
+ Only teams can send applications. [Create a team](https://teams.railsgirlssummerofcode.org/teams/new) now (if they don't have created a team yet)
+ [Apply now](LINK) (if they already have a team)

[2015-03-02 13:40] anikalindtner opened #149 "Teams-Visibility"
Also, in order to protect their privacy (e.g. from current bosses or whoever), I'd not show the teams that aren't accepted under /teams.

[2015-03-02 13:41] #148 closed

[2015-03-02 13:49] anikalindtner commented on #146
also, I'd leave out the Supervisors here:

![screen shot 2015-03-02 at 14 48 41](https://cloud.githubusercontent.com/assets/1711357/6441783/49ef253c-c0eb-11e4-9eba-152fbd9eeb2d.png)

Since the students can't do anything about that and it might look as though they should, if it's shown as empty.

[2015-03-02 14:02] anikalindtner opened #150 "Update Application"
+ [x] this field is missing in the profile:

![screen shot 2015-03-02 at 14 54 18](https://cloud.githubusercontent.com/assets/1711357/6441977/820ac092-c0ec-11e4-9857-a9c30976a68b.png)

---------------

+ [x] broken?
![screen shot 2015-03-02 at 14 53 06](https://cloud.githubusercontent.com/assets/1711357/6441982/8e4210ae-c0ec-11e4-9a86-120eb09642e9.png)
Also: the text is still missing the option of

[2015-03-02 14:13] anikalindtner commented on #130
![screen shot 2015-03-02 at 15 10 03](https://cloud.githubusercontent.com/assets/1711357/6442191/3d5cb390-c0ee-11e4-94f6-65d2ca7764a1.png)

this needs to be clearer, I think. Either

+ make it a link saying [Show Application specific questions] that reveals then the fields
+ or make the title even bigger saying
++++++ONLY ++++ FOR APPLICANTS++++ APPLICATION SPECIFIC QUESTIONS+++++++++

[2015-03-02 14:17] carpodaster commented on #130
It *does* say »Application-specific information« though…

[2015-03-02 14:19] carpodaster commented on #130
@anikalindtner  Sorry, your screenshot didn't load until now. I think hiding them by default is an excellent idea. Ideally, it should be open when the page is accessed with the '#application_specific' anchor. That can be done with JS/client-side

[2015-03-02 14:20] anikalindtner commented on #130
cool, sounds super good!

[2015-03-02 14:25] carpodaster commented on #149
Maybe make it optional to remain invisible? Just like we have an option not to show a user's email address even for logged-in users.

[2015-03-02 14:25] anikalindtner commented on #149
I'm fine with whatever solution is easier to implement :)

[2015-03-02 14:28] carpodaster commented on #146
@anikalindtner Your view as an organizeress differes from that of a normal user. Do you have access to a locally running app where your user account is not an admin? If not, I can setup the staging-area tonight so that we may access it as normal applicants w/o admin superpowerz

[2015-03-02 14:58] anikalindtner commented on #146
@carpodaster i set myself to student for this case. not organizer. so this was, what students see

[2015-03-02 15:02] carpodaster commented on #146
@anikalindtner Was that on the production app? If so, you are still an organizer and that has a global effect.

[2015-03-02 15:13] anikalindtner commented on #146
@carpodaster sara removed me as an organizer and i did have a different view on the teams. i couldn't e.g. add a supervisor to the team anymore. but i could still see the supervisor - empty field once it was created.

[2015-03-02 16:29] #147 closed

[2015-03-02 16:58] anikalindtner commented on #147
whoop! @lislis
![](http://media1.giphy.com/media/iCh8iLOteYr0Q/giphy.gif)

[2015-03-02 22:02] carpodaster commented on #150
That is not true. Everyone in the team, that's including coaches and mentors, can also read that.

[2015-03-02 22:56] carpodaster commented on #150
See comment <elsewhere> (I don't know where :smile: ): Don't we insist on the project being listed (and even accepted) on the projects repo?

[2015-03-03 21:53] alicetragedy commented on #150
I've fixed number 2 here https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/151
the field with no placeholder is for the project name :)

[2015-03-03 21:54] alicetragedy commented on #150
and yeah, what @carpodaster said - the plan was to not have them be able to add their own project, but have them ping the mentor of a project they're interested in if the project wasn't submitted....

[2015-03-03 22:38] carpodaster commented on #150
I've added a link in the success flash message after creation (fixes number 4)

I've left out the »*They are only visible to organizers.*« (number 3) bit since the whole team can access the application.

[2015-03-03 22:38] #150 closed

[2015-03-03 22:42] carpodaster commented on #130
@lislis a direct link to `teams.railsgirlssummerofcode.org/users/<myid>/edit#application_specific` doesn't work anymore. Can you add some JS magic that detects whether the page was accessed with that anchor and start our with the folded input fields visible? (Uhm… does that make sense?)

[2015-03-03 22:50] carpodaster commented on #146
@anikalindtner Can you add GH's magic issue check boxes so that we can track which of these items are done?

[2015-03-04 09:47] lislis commented on #130
Sure!

[2015-03-04 10:16] anikalindtner commented on #146
@carpodaster magic's done! :sparkles:

[2015-03-04 10:45] lislis commented on #130
Here you go b1730722c2e4eee606fe085646e9cd60fd514889

[2015-03-04 15:20] sareg0 commented on #137
I have made a commit that @carpodaster is reviewing for the last piont mentioned... thanks for @lislis and her guidance :)

[2015-03-04 23:02] carpodaster commented on #130
@lislis Awesome, thank you! :star2:

[2015-03-04 23:20] carpodaster commented on #146
Supervisor listing looks like that now:

![screen shot 2015-03-05 at 00 18 55](https://cloud.githubusercontent.com/assets/164400/6495772/6985651c-c2cd-11e4-80ac-4288620a89c5.png)

[2015-03-04 23:30] carpodaster commented on #137
@sareg0 I've cherry-picked your skill level explanation. Good stuff – ¡muchas gracias!

[2015-03-04 23:36] anikalindtner commented on #146
AWESOME! :+1:

[2015-03-04 23:47] carpodaster opened #152 "Team form: Adding roles / sources"
* [x] teams form: roles
* [x] teams form: soures
* [ ] user editing: roles

Some nested form elements could need some styling, @lislis maybe? :smile_cat:

--------------------

**teams/new: editing roles**
![screen shot 2015-03-05 at 00 23 56](https://cloud.githubusercontent.com/assets/164400/6496156/da659ae2-c2d0-11e4-8910-f7dd25d57cc3.png)

--------------------

**teams/new: editing sources** (c

[2015-03-04 23:50] carpodaster opened #153 "Remove Event and event_id references"
It got replaced by `Season`

[2015-03-04 23:50] sareg0 commented on #137
Sweeeeet! Thank you!

On Thursday, 5 March 2015, Carsten Zimmermann <notifications@github.com>
wrote:

[2015-03-05 07:17] alicetragedy commented on #146
great!!!! :heart:

[2015-03-05 10:40] lislis commented on #152
I'see what I can do, but probably in the afternoon. Thanks for the helpful hints :)

[2015-03-06 23:25] carpodaster opened #154 "users/edit: A role will not be destroyed when you 'remove' + submit"
Computer says no when I try to remove @alicetragedy from Team Origami

![](http://wowalt.com/wp-content/uploads/2014/07/computer-says-no.png)

[2015-03-07 06:36] alicetragedy commented on #154
Okay. I just tried it, and it works if I remove myself (obviously not the point, right?)

[2015-03-09 12:08] carpodaster commented on #129
Dup of #130

[2015-03-09 12:08] #129 closed

[2015-03-09 12:12] carpodaster opened #155 "Meta: Finalize New-New Application Process"
* [x] @sareg0: Add remaining fields from rails-girls-summer-of-code/organization#89
Pull Request #157
* [x] @carpodaster: Allow students to lodge a second application (2 is the absolute max)
* [x] @marcgreenstock: Add an application_drafts#index controller action that lists all application drafts of all teams that I am part of (as either student, coach or mentor).  (see #144 + #162)
* [x] @carpoda

[2015-03-10 00:54] marcgreenstock commented on #155
hey @carpodaster feel free to assign me to the rest of https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/144. I'm not sure either where to put the link to `application_drafts#index` but I'll go ahead and implement the functionality and leave it up to someone with more UX skills than I do to put the link in.

[2015-03-10 07:59] carpodaster commented on #124
Also, only configure Mailtrap in [config/environments/development.rb ](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/config/environments/development.rb) if the required env-variables are setup.

[2015-03-10 10:27] carpodaster commented on #124
Almost done due to the awesome work of @marcgreenstock in #159. Just need a blackhole interceptor to prevent mails from being sent in development should sendmail be configured to fire incoming mails into space (it is on my machine)

[2015-03-10 17:24] sareg0 commented on #155
Hey guys
@ramonh would love to get in on the action of this awesome task list.
@carpodaster he was hoping to take the 'validations' task, but are you mittendrin statt nur dabei on that one?
Is there one the lovely @ramonh could take that won't require too much onboarding?

[2015-03-10 17:43] carpodaster commented on #155
@sareg0 @ramonh no, no – I haven't started yet. By all means, go for it :horse_racing: Thanks!

[2015-03-10 18:22] ramonh commented on #155
Hiya! Thanks for letting me help. :+1:

I've downloaded the repo and started familiarizing myself with everything.

[2015-03-10 20:57] sareg0 commented on #155
AWESOME! Welcome @ramonh will get you on the Slack channel asap.

[2015-03-10 21:51] carpodaster opened #163 "Application form: create an application from a valid draft"
See also ~~#145~~ 

[2015-03-10 23:54] carpodaster commented on #155
@marcgreenstock I've added the link to `application_drafts#index` in cb84f50ae91d1e2de33770b90bfcfc184726c407. It shows a different link depending on who's looking at it. I think it'll do, but if anyone want to beautify it, by all means do :flags:

[2015-03-11 10:57] ramonh commented on #155
Hey! So I'm on issue #130 at the moment. Just wondering - We need to add emails as a required field for the user model. Is this correct?

Thanks in advance!

[2015-03-11 11:00] carpodaster commented on #155
Hey @ramonh. I believe the reason why User#email is not required is because users can be added as part of a team just by their github handle. At that stage, we don't know anything about the user yet and can't require an email. It should be a requirement for the `ApplicationDraft` instance though.

[2015-03-11 11:01] ramonh commented on #155
Ah! Makes sense. Thank you @carpodaster for your lightning-fast reply.

I'm on it!

[2015-03-11 11:03] alicetragedy commented on #155
thank you so much @carpodaster @marcgreenstock @ramonh for all your hard work so far! :heart:

[2015-03-11 12:22] ramonh commented on #155
Hey @carpodaster, I noticed that the ApplicationDraft model doesn't have an `email` field, so I'll go ahead and add that too.

[2015-03-11 13:16] carpodaster commented on #155
@ramonh can you add method proxies for it? It's stored on the user (as are several other of the application-specific fields). The draft has a reference to the users (`students`) so the validations should just make sure the users have their corresponding attributes set.

[2015-03-11 13:18] ramonh commented on #155
Right! I think that makes sense. Will look into it.

[2015-03-11 13:20] carpodaster commented on #155
@ramonh cool. And thanks! Don't hesitate do ping me if you have further questions :smile:

[2015-03-11 13:21] ramonh commented on #155
No, thank you for bearing with me, @carpodaster! I'm happy to help in any way I can :+1:

[2015-03-11 14:09] ramonh commented on #155
I hope that this is what you had in mind! ramonh/rgsoc-teams@0d21551e79d24438e7e85f87f1fecc04a9f87630

[2015-03-11 17:34] sareg0 commented on #144
Mentors will sign off AFTER close of applications. We will give teams a week after the closing of applications to get the mentor to sign off
This will save building extra functionality, and also make sure that there is a set period Mentors and Students know about to get the signoff

[2015-03-11 22:13] carpodaster commented on #155
Note: @ramonh and I will pair up on the validations (and probably #163 as well) this Sunday

[2015-03-12 21:25] marcgreenstock commented on #124
@carpodaster how about [Letter Opener](https://github.com/ryanb/letter_opener)?

[2015-03-13 18:27] carpodaster commented on #124
@marcgreenstock nah, I was just thinking about someting that would avoid emails being send in in the background. Something like this:

[code]
(Disclaimer: not tested)

[2015-03-16 23:36] carpodaster commented on #155
Students can now hand in a 2nd application.

[2015-03-16 23:39] carpodaster commented on #152
Thanks @lislis, looks great! Could you add the same styling to the `users/edit` template as well? The editing of roles I mean.

[2015-03-17 08:19] alicetragedy commented on #155
:tada: that's awesome @carpodaster!

[2015-03-17 17:03] carpodaster opened #166 "Prevent an application draft from being modified after it was submitted"

[2015-03-17 17:09] lislis commented on #152
@carpodaster not sure what you mean. When I go to `/users/1/edit` I can't see an edit role section. Am I looking in the right place?

[2015-03-17 17:25] carpodaster commented on #152
@lislis you probably are :smile:  … only you're probably missing some access rights to have it displayed. If you temp. change line 93 from `- if admin?` to `- if true`, it should appear.

[2015-03-17 17:28] carpodaster commented on #145
Hey @ramonh, have you had a chance to continue Sunday's work on this one?

[2015-03-17 17:29] ramonh commented on #145
Not yet, sorry, I plan on getting this done today, though! Hope that's okay

[2015-03-17 17:37] sareg0 commented on #155
So great! Thank you you two!

On Tuesday, 17 March 2015, Laura <notifications@github.com> wrote:

[2015-03-17 17:53] #125 closed

[2015-03-17 19:41] ramonh commented on #145
Hey @carpodaster! Should be done now. Not sure how to best have you check it out, but please see ramonh/rgsoc-teams in the branch we started

[2015-03-17 19:42] carpodaster commented on #145
@ramonh Awesome! Can you create a PR for it?

[2015-03-17 19:42] ramonh commented on #145
Sure! Will do

[2015-03-17 20:08] #152 closed

[2015-03-17 22:14] carpodaster commented on #145
@ramonh validation branch merged! :confetti_ball: I just noticed that we need a way to tell users about possible validation errors. I have an idea but that will have to wait for tomorr :sleeping:

[2015-03-17 22:19] ramonh commented on #145
YAY! 🎉 Okeydokey! Let me know how I can help. Really enjoyed working on this. I'll have a think about it too.

[2015-03-18 19:37] #124 closed

[2015-03-18 21:34] #145 closed

[2015-03-18 21:39] carpodaster opened #168 "Multiple Applications: Prioritize which one is the preferred one"
Student can hand in two applications, but it would be nice if they could state which of the two is their preferred one.

Any takers?

I mentally label this a nice-to-have one. :smile:

[2015-03-18 21:43] carpodaster opened #169 "Call for a wording check: error messages on an incomplete application draft"
The validity of an open application draft can be checked as of 32c7d39156e0a1f7e514b899ccbdddd66828a606 . (Go to the botton and click the 'Check' button). You'll get a number of error messages that are defined in [config/locales/en.yml](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/config/locales/en.yml#L12).

I think the wording of some of these could be better so I am ope

[2015-03-19 22:18] #166 closed

[2015-03-19 22:19] alicetragedy commented on #166
:tada: :sunny: thank you @carpodaster!

[2015-03-21 17:01] alicetragedy opened #170 "a student should not be able to edit her pair's learning period"
When editing her application and viewing her pair's information, a student should not be able to select one of the radio buttons (Learning Period) from her pair's application.

![screen shot 2015-03-21 at 17 57 16](https://cloud.githubusercontent.com/assets/3143348/6765947/05ccb1f4-cff4-11e4-8e33-565ba3517844.png)

[2015-03-24 09:38] carpodaster commented on #170
We identified this as Chrome-related. The fields are properly `disabled` for Firefox.

The severity is very low, though: it's only the UI element, the corresponding attribute on the pair's profile will **not** be overwritten. We should still find a way to fix it, of course.

[2015-03-25 17:52] ramonh commented on #163
Hey @carpodaster :)

I've enabled the apply state validation for an `ApplicationDraft` in #173.

I'll begin investigating how we can create an `Application` from said draft.

[2015-03-25 19:17] #170 closed

[2015-03-25 20:33] cypher commented on #163
@ramonh I've converted `ApplicationDraft` to use a state machine in https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/171, and have started on working #144 to implement the mentor signoff, which in turn would then trigger the conversion of an `ApplicationDraft` to an `Application`. Maybe you'd like to collaborate on that?

[2015-03-25 20:43] carpodaster commented on #163
@ramonh @cypher Thinking about the mentor-signoff triggering the conversion: we have the not-entirely theoretical option that a mentor is not available to sign off an application draft in time. The selection committee might still decide on one such application on a case-by-case basis or contact the mentor themselves / ping them but in any case, there would be an application record to work on. Mayb

[2015-03-25 20:47] carpodaster commented on #163
^-  Edit: should **not** make the mentor-signoff a mandatory state
![Doh](https://rafinhaea7arte.files.wordpress.com/2010/04/homer-doh.gif)

[2015-03-25 21:45] #149 closed

[2015-03-25 23:35] ramonh commented on #163
Hey @carpodaster and @cypher. Sounds good. I'll take a look at this PR and see how I can help. :+1:

In the meantime, I've also implementation the `ApplicationDrafts#apply` controller action here: ramonh@91d4f4bfd391b3aa5a2972cadaff1cd722ab8fe5

[2015-03-27 13:07] alicetragedy commented on #169
I've taken a look at the wording and it all sounds fine to me – there's not really anything I would change. :+1:

[2015-03-27 13:11] carpodaster commented on #169
@alicetragedy thank you for looking into this! I'll close this issue then.

[2015-03-27 13:11] #169 closed

[2015-03-31 01:21] jasnow opened #177 "Upgrade Ruby from 2.1.5 to latest version."
As of March 30, 2015, Ruby version is 2.2.1.
  * Change version in all config files, such as .ruby-version, .travis.yml, etc.
  * Run **bundle** to create new gemset.
  * Clean up warnings and errors.

[2015-03-31 12:53] jasnow commented on #177
Two loose ends:
  * WARNING: Nokogiri was built against LibXML version 2.9.1, but has dynamically loaded 2.8.0
  * One line in slim file. Tagged with "FIXME:". Use **git grep FIXME** to find it.

[2015-03-31 13:29] jasnow commented on #177
Why is **input_html** listed twice in **app/views/application_drafts/new.html.slim** file (line 54)?

[code]
Unclear how to fix it.

[2015-03-31 13:32] carpodaster commented on #177
Ah, that must be a copy/paste error. Thanks for spotting it! Just but the `rows: 4` in the 2nd `input_html` hash.

[2015-03-31 13:34] jasnow commented on #177
Show me the revised line and I will check it in and close this issue. THANKS...

[2015-04-01 00:39] jasnow commented on #177
Too confusing with closed PR so closing.

[2015-04-01 00:39] #177 closed

[2015-04-02 10:42] sareg0 commented on #168
Hey @marcgreenstock do you think you have the time to take a gander at this one?

[2015-04-02 12:20] marcgreenstock commented on #168
sure, sounds simple.

@carpodaster just a `is_preferred` boolean column on the `application_drafts` table?
When updating, it sets the other associated rows to false or a referential column on the teams table?

[2015-04-02 12:25] carpodaster commented on #168
The simple boolean flag sounds good, @marcgreenstock – I was thinking about an integer field and a sorting plugin but since we only only two application, your approach is much better!

[2015-04-02 12:32] marcgreenstock commented on #168
Oh like a `priority` integer. That approach might be more scalable, in case you decide that more than two application drafts can be accepted. Besides we could use `acts_as_list` in this case and wash our hands of having to code up the update ourselves. I like your approach better :) I'll think about it over lunch and take care of it when i get back.

[2015-04-06 07:04] mymai91 opened #182 "Can not submit application form."
In the part "Show application specific information" I checked fields
Please rate your level of programming experience (1 being the 'lowest' and 5 the 'highest').
For how many months have you actively been learning after your first workshop?
But the result doesn't show on our application. I don't know why.
*This is my profile:*
![rails_girls_summer_of_code_-_teams](https://cloud.githubusercontent.c

[2015-04-06 07:05] mymai91 commented on #182
*Currently, I'm using Chrome Version 41.0.2272.104 (64-bit)*

[2015-04-06 11:38] sareg0 commented on #182
Hi @mymai91 we will be opening up submissions soon. Your applications will be saved as a draft in the meantime. We will send an email out to all currently registered teams once we open submissions. I will comment this issue and close it as soon as submissions have opened, ok?

[2015-04-06 13:14] carpodaster opened #183 "Require an ApplicationDraft to have at least one mentor on its team"

[2015-04-06 15:02] mymai91 commented on #182
@sareg0 Yes, Thank you.

[2015-04-06 23:32] carpodaster opened #184 "DRY up student/user fields"
The templates `app/views/users/edit.html.slim` and `app/views/application_drafts/_student_fields.html.slim` duplicate form fields. Let's find a way to [DRY](https://de.wikipedia.org/wiki/Don%E2%80%99t_repeat_yourself) things.

[2015-04-07 12:47] F3PiX commented on #184
Can I fav items I would like to work on in de RGSoC?

[2015-04-07 13:04] carpodaster commented on #184
You can't fav issues I don't think, only the repo. Just provide the link to the issue / the issue no. in the project plan, that's the best way to reference it. Thanks! :ok_hand: :smile:

[2015-04-07 19:06] #183 closed

[2015-04-07 19:16] carpodaster opened #186 "Add upload functionality to application drafts"
Teams may have project plans in greater detail (even including tables and colourful charts) that can't be represented in a text area input. A file upload would be in order.

* [ ] Allow exactly one upload per application form (rationale: the selection committee has to look through them, opening several additional files per application is too much)
* [ ] Require PDF as the file format (rationale: t

[2015-04-07 19:24] carpodaster opened #187 "Discuss: add "join team" button?"
Right now a user (eg. coaches, mentors) can never _join_ a team. You can either create a team or _invite_ people to an existing team that you're a member of.

Should we add a button that basically knocks on the door and ask the team members to be let in?

Who shall be asked? Aall of them? Just the students? The one who created the team (which we don't track yet)?

[2015-04-07 20:05] marcgreenstock commented on #186
Should we upload to S3 directly using the AWS JavaScript SDK?

[2015-04-07 21:04] #168 closed

[2015-04-08 14:53] snjqi188 opened #189 "Adding coaches to application extend capacity"
Hi all. My team has not been able to add more than 3 coaches in the application. I believe there's a max capacity. One of our coaches is left out of the process! Please expand the capacity!

[2015-04-08 18:52] carpodaster opened #190 "Application should catch problems with Github authentication"
if something bad happens on the GH-side (likely because the user didn't authorize the app) and Omniauth redirects back to our app, it (or Devise?) tries to redirect to `new_session_path`. We don't have that since we don't know how to login users other than through GH auth. Instead of a meaningful error ("We couldn't log you in, fix Github!" or something), the user gets a 500 Internal Server Error.

[2015-04-08 19:05] carpodaster commented on #186
I'm afraid I don't know the AWS JavaScript SDK :( I was thinking of [carrierwave](https://github.com/carrierwaveuploader/carrierwave) or paperclip. These would allow ActiveModel validations.

[2015-04-08 19:59] marcgreenstock commented on #186
Using paperclip or friends is fine, however a process will be blocked while a file is being uploaded from the browser. Also if a user has a slow connection and/or a large file heroku will timeout after 30? seconds and will fail the upload.

Want me to take care of this one? All that's needed is an S3 bucket and an AWS IAM key and secret, but i'll set it up with my own account first and make it con

[2015-04-08 21:11] carpodaster commented on #189
Hi @snjqi188 – there is no upper limit for coaches in place. I've just verified it locally and I could easily add a 4th coach to a test team. Can you please describe the exact steps you took to add a coach? Also, can you add a link to your team profile (unless you flagged it as invisble/hidden) ? Thanks!

[2015-04-08 21:15] carpodaster commented on #186
The 30 seconds timeout is definitely a very good reason to upload it directly to S3, yes. Is there a way to easily wed the JS SDK with paperclip/carrierwave?

I don't think we should bother adding the file upload at this stage of the application period. We're only open for another week and I think this is something an RGSoC team could work on over the course of the summer.

That's not to say you I

[2015-04-08 21:19] carpodaster opened #191 "Revisit application scoring for the selection process"
Due to the change in how we lodge applications now, all the scoring logic in Application has to be reviewed and/or adapted. I definitely need help with that! (Re: #188)

The selection process will start April 15th, 2015. I have time to work on this next Monday and Tuesday. Who's down? :smile:

[2015-04-08 21:23] alicetragedy commented on #191
I'd be happy to help, and @sareg0 was down for it as well. Tuesday afternoon-evening-ish would work for me!

[2015-04-08 21:25] carpodaster commented on #144
@marcgreenstock are you working on the last item, the mentor signoff?

#188 has a skipped example that's a placeholder for the mentor ping (some email with a link, stating that they can now sign off that application).

Technically, the sign off isn't a thing on the draft anymore as it's already converted to an application. The controller action may very well be `PUT applications#signoff`. Or we ca

[2015-04-08 21:30] carpodaster commented on #190
Effect:
[code]

Caused by:
[code]

[2015-04-09 01:32] snjqi188 commented on #189
Oh I see. It says 'user has already been taken' when we try to add @link664 as a coach.
Yikes!
https://teams.railsgirlssummerofcode.org/teams/15

[2015-04-09 07:53] carpodaster commented on #189
Are you using the Team > Edit > Members form (the one that has radio boxes) or Team > Add a member?

Just to double check: you select 'coach' as the role, right? Is link664 member of a (hidden) team as a student maybe?

[2015-04-09 09:44] #163 closed

[2015-04-09 15:44] snjqi188 commented on #189
Edit>Members didn't work but Team>Add a Member works just fine!

Thanks for all your help!

[2015-04-09 15:47] carpodaster commented on #189
Glad that solved it :smile:

[2015-04-09 15:47] #189 closed

[2015-04-09 16:44] ramonh commented on #155
Hey @carpodaster, A quick question about the following:

This is what would happen if the application period would close, correct? Does this mean that mentors would be able to edit the application after that?

[2015-04-09 22:25] sareg0 commented on #189
:+1:

[2015-04-10 06:32] carpodaster commented on #155
Morning @ramonh. When the students submit their application, there is no turning back: they cannot modify it any longer. There is a before action in ApplicationDraftsController (`disallow_modifications_after_submission`) that prevents modification after it has been successfully lodged.

[2015-04-10 12:27] ramonh commented on #155
Thank you, @carpodaster! This makes sense to me. What about mentors, then? Can they edit the application?

[2015-04-10 12:31] carpodaster commented on #155
No they can't. They can access it read-only, but not modify it before or after it has been submitted.

[2015-04-10 13:06] ramonh commented on #155
Perfect,thank you!

[2015-04-11 17:43] sareg0 commented on #182
Hi @mymai91 you can now submit your application. Please do check your inbox, however, for a mail we sent regarding submissions. I will now close this issue.
Good luck with your application!

[2015-04-12 00:17] mymai91 commented on #182
@sareg0 How about checked fields? Like I take the pictures above. The result in the application isn't consistent with my profile.

[2015-04-12 00:25] mymai91 opened #192 "Radio buttons in application form do not correspond to user profile data"
In the part "Show application specific information" I checked fields
Please rate your level of programming experience (1 being the 'lowest' and 5 the 'highest').
For how many months have you actively been learning after your first workshop?
But the result doesn't show on our application. I don't know why.
This is my profile:
![my-profile](https://cloud.githubusercontent.com/assets/6791942/7103857/

[2015-04-12 06:44] carpodaster commented on #192
Hello @mymai91 – we are aware that this situation occurs for some applicants. Do the checkboxes show up properly for your pair, or is it just your fields that are not pre-set with values from your user profile.

To assure you: if the values are checked in your user profile, you're all good. It's weird that they don't show up in the application draft, and I have yet to get to the bottom of this, bu

[2015-04-12 16:31] F3PiX commented on #190
Oooh. I want to add this to Team Cheesy's project plan. Looks like a great warmer-upper.

[2015-04-12 16:41] sareg0 commented on #182
Hey @mymai91, @carpodaster has commented on your other issue.
Please take a look under your profile, and hit 'Edit', and take a look at the 'Application Specific Information'. Your Skill Level data should be stored there. It just may not be reflected on your application draft, which is  problem we have not yet gotten to the bottom of.
Many thanks for the understanding

[2015-04-12 16:41] #182 closed

[2015-04-12 16:46] mymai91 commented on #192
@carpodaster: I got it. Thank you.

[2015-04-12 20:54] carpodaster opened #193 "Feature idea: Add minimal collaboration features to application form"
Does it make sense to add a comment box for the team? The new application process now involves several parties (students, coaches, mentors) – commenting would faciliate the collaboration during the application phase.

[2015-04-13 16:34] ShellyCoen opened #194 "Radio Button Error"
I filled out my application and saved my skill level and how many months options.
Up until a couple of days ago that kept the information but now after I save and exit the application, and then return to it, the radio buttons are no longer selected.

To reproduce:
Select radio button and save application
Sign out and then back in

[2015-04-13 16:35] carpodaster commented on #194
hey @ShellyCoen – can you confirm that this is a duplicate of #192 ?

[2015-04-13 16:38] ShellyCoen commented on #194
My apologies, exact same problem! Should have read through the issues list

[2015-04-13 16:39] carpodaster commented on #194
No problem. We have a lot of open issues and no one is expected to read them all :smile: Allow me to close this. I can offer you this reply:

Good luck with your application!

[2015-04-13 16:39] #194 closed

[2015-04-13 16:40] ShellyCoen commented on #194
Thank you! Keeping my fingers crossed!

[2015-04-14 01:05] mixolidia opened #196 "Radio Buttons in application not working"
For questions:
"According to these guidelines, what is your programming level (where 1 is the 'lowest')?"
and
"For how many months have you actively been learning after your first workshop?"
Chosen options are saved. When one student saves as draft the other student choices are erased.

[2015-04-14 08:59] soff22 opened #197 "problem with saving the information in the field for voluntary team"
I have a problem with saving the information in the field for voluntary team.

As a voluntary team, how many hours per week would you be able to work in the project?

The text cannot be saved after I click Save as a draft and when I look again at the field it is empty.

[2015-04-14 09:06] alicetragedy commented on #197
hi @soff22, I believe it should work if you enter an integer only (eg. 20), I've just tried it out locally – however you are right, there is no error message implying that this field should be integer-only. Maybe we can quickly try to fix that! Thank you for pointing it out.

[2015-04-14 09:06] sareg0 commented on #196
Hi Mixolidia,

When you select your skill level, and hit 'Save draft', your 'Skill Level' selection will appear to be empty. However, the data has still been saved. If you want to verify this, navigate to your Profile page, and hit 'Edit'. Navigate to the Application Specific information in that area, and you should see your skill level listed there.

If you hit 'Check Validity', and the Teams App

[2015-04-14 09:06] #196 closed

[2015-04-14 12:31] #197 closed

[2015-04-14 21:06] carpodaster opened #198 "Feature idea: use a sum or bitmask for the skill level"
We provide examples to select one's skill level, yet you can only select one discrete level even though you may want to check individual examples from different skill levels.

Instead you could check each example individually with examples from what we consider a more advanced level being weighted more. The outcome is a sum of weighted values, the higher it is, the better the personal skill level.

[2015-04-14 21:24] carpodaster opened #199 "Application form: confirmation needed before it is submitted"
At least a javascript dialog. Better yet: asking the user to explicitly type 'yes' or something.

[2015-04-14 21:26] carpodaster opened #200 "Application form: touch draft record when updating the student fields"
Since the student fields are saved on the `User` instance, the `ApplicationDraft` instance will not update `updated_at`. That should be changed to avoid confusion.

[2015-04-15 06:39] carpodaster opened #201 "Application form: implement a lock mechanism"
Several people can access and edit data for the application form at the same time. We need a check that warns a user that the draft was modified when they click save.

[2015-04-15 06:43] carpodaster opened #202 "Application form: 'Apply' action should save draft / assign new attributes before converting"
When a user changes data in the form field but doesn't explicitely click 'Save draft' before submitting the application, the most recent updates are lost as the controller action only calls the state machine transition without assigning potentially updated attributes.

[2015-04-16 07:16] carpodaster opened #203 "Application process: Consider explicitely assigning mentors to an application / project"
Right now mentors are part of the students' team – which makes sense if there is only one project (ie. when the team has been accepted for the summer). When a team applies with more than one project, mentors for both teams are in the same team and we have no way of figuring out which application they are supposed to sign off.

[2015-04-16 17:05] carpodaster opened #204 "Team: ensure that only two students can be part of a team, not more"

[2015-04-16 17:09] carpodaster opened #205 "Team: ensure that student-restrictions cannot be tricked by editing a role directly"
There are (or will be) validations for a team's composition on `Team`, but they won't be fired when editing a role:

* [ ] Student must not be part of another team (#138)
* [ ] Team must not have more than two students (#204)

[2015-04-17 16:31] anikalindtner opened #206 "Applications view"
It's been hard to read the applications, especially with the fields not showing the questions we asked, but just some field_name-thingy. I'd love it if we could make it this year a bit more readable and easier to rate in showing the exact question we asked the teams above their answers. For now it looks like this:

![screen shot 2015-04-17 at 18 25 40](https://cloud.githubusercontent.com/assets/17

[2015-04-18 09:20] carpodaster commented on #206
The way the data is presented is super lazy: The view just iterates over whatever field exists in the application and displays its name together with its value. That's actually why there was little to no adaption needed even though we virtually turned the application process upside down.

There is no way of automatically infering the human-readable question without hard-coding and duplicating the

[2015-04-18 09:49] ramonh commented on #206
Thanks, @carpodaster! That was very helpful

[2015-04-18 10:25] ramonh opened #209 "Applications list sorting unresponsive"
It seems we can't sort the applications list by any of the columns shown.

[2015-04-18 10:53] carpodaster commented on #206
Done in #208

[2015-04-18 10:53] #206 closed

[2015-04-20 09:05] carpodaster commented on #209
@svenfuchs this will be fixed in #211 right?

[2015-05-03 10:44] alicetragedy opened #219 "Clicking save in the rating process should always redirect back to /todos"
Right now, every time the second student in a team is rated by a reviewer (according to the workflow team -> application -> student 1 -> student 2), the reviewer is redirected back to /applications. I think it would make more sense not to interrupt the flow and to have the reviewer be automatically sent either a) to the next team or b) to /todos.

[2015-05-03 11:11] alicetragedy opened #220 "Format project plan in the application view (rating process)"
When applying, applicants can enter markdown into the "project plan" application field, however in the application view when rating, the information is shown as simple (and not formatted) text.

[2015-05-06 16:36] sareg0 opened #221 "JUDGING WEEKEND - Extra Points Displayed in Overview"
This is good to have for the weekend for judging purposes.

We would like see the extra points, each judge has given the team. We would like to see this transparently, so that we can address any extremely high/low ratings, if it seems odd.

This is a task for anyone, but happy to answer questions on this.

Not 100% sure if this is a bug, but I'm classing it as such for now.

[2015-05-07 06:24] carpodaster commented on #220
We don't explicitly state that we support markdown for any field in the application draft but it makes sense. I hope it doesn't break formatting for not-really-markdown attempts to format the project plan. If so, we'll just have to revert it.

[2015-05-07 06:33] #220 closed

[2015-05-07 07:06] alicetragedy commented on #220
@carpodaster you're right! It's just in the team form – I was convinced we had that `hint` in the project description field, too. d'oh! https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/app/views/teams/_form.html.slim#L44
and thank you :sparkles:

[2015-05-07 07:17] carpodaster commented on #220
@alicetragedy I added markdown formatting for `project_plan`, but I don't know if it's better now. Decide for yourself :) I can revert the changes if things are messed up.

[2015-05-07 07:20] alicetragedy commented on #220
@carpodaster great, I will check it out later, and I think we'll notice soon enough if things are messed up ;) have a great day :sunny:

[2015-05-07 07:59] carpodaster commented on #219
I'd say b), but I haven't done any reviews :wink:

[2015-05-07 08:28] anikalindtner commented on #219
hmmmm that doesn't seem to happen for me though. i'm just directed to the next student of the next team after I've rated the project

[2015-05-07 08:44] alicetragedy commented on #219
@anikalindtner I think that this was fixed by one of @svenfuchs' recent commits. It does not happen to me anymore, but was happening constantly last week when I first started rating.

[2015-05-07 08:45] anikalindtner commented on #219
aahh coolio. so we can close this?

[2015-05-07 08:52] alicetragedy commented on #219
yes I think so – maybe @svenfuchs can confirm?

[2015-05-07 08:58] carpodaster commented on #219
Yep, seems to be fixed here: 6ec65d8ab432a78d3a1061ce5b1e515287fd0e3f

[2015-05-07 12:53] #219 closed

[2015-05-07 13:28] sareg0 commented on #219
oh yay!! This is awesome :)

[2015-05-18 15:42] ankonym opened #223 "One GitHub account can have two RGSoC users associated with it"
We noticed an issue while setting up our team for the RGSoC application that seems like a bug, assuming that there should only be one RGSoC user per GitHub account:

We ended up with two users in the teams app that had different user IDs, but they both pointed to the same GitHub account.

One of them was "Anni00" (https://teams.railsgirlssummerofcode.org/users/241), the other "anni00" (https://tea

[2015-05-18 15:45] carpodaster commented on #223
Hello @ankonym – thanks for reporting this. That's a bug, the Github handle should be unique and its check for uniqueness mustn't be case-sensitive.

[2015-05-20 17:05] carpodaster opened #224 "Filter the community and teams' list"
It should only display accepted teams after the acceptance letters have been sent

[2015-05-26 14:32] #144 closed

[2015-05-26 19:38] #139 closed

[2015-05-26 20:07] carpodaster opened #225 "Create bogus test data for local development"

[2015-05-26 20:41] #223 closed

[2015-05-26 20:44] carpodaster commented on #223
Hi @ankonym – I've deployed a fix and the error you described shouldn't cause anyone any pain anymore. Thanks for reporting it! :beetle:   Also, I've deleted the empty user record for `anni00` (ID 262)

[2015-05-26 20:52] carpodaster commented on #76
Closed with #94

[2015-05-26 20:52] #76 closed

[2015-05-26 20:54] carpodaster commented on #33
(Related to the 2013 dataset, closing)

[2015-05-26 20:54] #33 closed

[2015-05-27 13:37] marcgreenstock commented on #139
wow, we merged? everything working as expected?

[2015-05-27 14:20] alicetragedy commented on #139
:tada: :tada: :tada: :tada: :tada:

[2015-05-28 07:21] carpodaster commented on #139
I hope so :trollface:   Nah seriously, I'm not seeing any strange behaviour. Thank you for your PR, @marcgreenstock !

[2015-06-03 14:29] alicetragedy commented on #225
+1 on this – it would be amazing, especially when it comes to the application process, and it would make it so much easier for everyone to contribute. yayy! :+1:

[2015-06-03 15:12] sareg0 commented on #225
totes, it's a problem we had in trying to mess about with stuff

[2015-06-05 12:15] carpodaster commented on #224
Needs doing: updating all the teams as being accepted (radio button 'voluntary' / 'sponsored') in the team's edit view. BUG: the value doesn't get saved in the DB, probably a strong parameters bug

[2015-06-05 14:29] alicetragedy commented on #114
I also think this could be useful :+1:

[2015-06-05 14:31] ramonh commented on #114
I'm on it!

[2015-06-05 15:09] alicetragedy commented on #114
@ramonh that's awesome!!!! :confetti_ball:

[2015-06-05 15:15] alicetragedy commented on #155
I guess we can now close this issue, right? :D

[2015-06-05 15:15] carpodaster commented on #155
Yes, keeeel it!

[2015-06-05 15:15] #155 closed

[2015-06-05 15:16] ramonh commented on #155
🎉👍

[2015-06-05 15:19] alicetragedy commented on #120
what's the status of this?
I know that it's possible to view mailings in the stream ("All") now, and that one can select "Feed Entry" or "Mailings" (see attached screenshot).
Can this issue be closed then if the solution was to separate the stream into "feed" and "mailings" or is this still a thing/do we want to remove the mailings completely?

![screen shot 2015-06-05 at 17 17 51](https://cloud.g

[2015-06-05 15:21] alicetragedy commented on #191
we can close this I think. Our pairing session was more or less successful..  ;)

[2015-06-05 15:29] alicetragedy commented on #187
I think this is a tricky question. On one hand, I don't think the students should rely on members adding themselves to the team/I think it should be their responsibility.. on the other hand, however, I know that some of the project mentors were slightly 'frustrated' about having to wait to be added. So I think having the possibility to join a team would be :+1:

As for the second part of the quest

[2015-06-05 15:30] alicetragedy commented on #136
as discussed today on the call, I think this is a great idea :+1:

[2015-06-05 15:34] alicetragedy opened #226 "Mailings are shown in activities stream when signed out"
When a user is not logged in, the main landing page of the teams app shows the mailings which is.. well, not intended. Not a tragedy but definitely something that should be fixed, as the mails are NOT intended to be seen by anyone not from the orga team or intended recipients, and definitely not for anonymous / non-users.

![screen shot 2015-06-05 at 17 31 45](https://cloud.githubusercontent.com/a

[2015-06-05 15:35] alicetragedy commented on #226
this might also be connected to https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/120

[2015-06-05 15:36] sareg0 commented on #224
Hey,
I have update all the teams except for two.

The following two will error though because the mentor is a team member on another team

https://teams.railsgirlssummerofcode.org/teams/18
https://teams.railsgirlssummerofcode.org/teams/28

[2015-06-05 15:39] alicetragedy commented on #68
I know this is sort of old, but I like the idea of a landing page with a short blurb explaining what this is about. I'm happy to write the copy for it :)
And with @anikalindtner's permission, I'd like to change the title of the issue to that.. something like "improve landing page". Later on, if we feel there's a need for it, we could add that "Register" menu point.

[2015-06-05 15:42] anikalindtner commented on #68
@alicetragedy DO EEEET <3

[2015-06-05 15:46] alicetragedy commented on #130
this issue can be closed, right?
the fields are now mandatory, and the changes to the "application-specific" part of the profile have been updated iirc.

[2015-06-05 15:51] #130 closed

[2015-06-05 20:32] carpodaster commented on #224
@sareg0 there is a bug that causes the value of the radio button `kind` to be ignored and so I am afraid none of your updates have been persisted :(

I have just pushed the fix and it should be deployed momentarily. The commits include a new organizer-scoped teams controller https://teams.railsgirlssummerofcode.org/orga/teams where you should be able to update the team's state. Can I ask you (or s

[2015-06-06 08:34] #191 closed

[2015-06-06 08:59] carpodaster commented on #120
If I remember correctly it has only been fixed in a way that you have to be logged in to see the mailings. Everyone who's logged in can see the mailings, regardless of whether they were in the recipients list or not.

I would still like to see it removed from the open activity feed. Maybe we can make the original recipients access the archive of sent mailings from a student dashboard?

[2015-06-06 09:01] carpodaster commented on #120
@alicetragedy I only saw your referenced isse #226 just now – sorry. So yes, I would definitely remove it for the time being, make it available **only for the orga-team** and re-introduce it for the intended audience later. D'accord?

[2015-06-06 11:18] alicetragedy commented on #120
@carpodaster sounds like a plan. as outlined in issue #226 there seems to be a bug as mailings and everything else are still visible to non-logged in users.
I +1 on making it available for orga-team only for now, and reintroducing it for the intended audience later!

[2015-06-08 12:51] anikalindtner opened #227 "Make email required field"
email looks like a required field, but we still have users that don't have an email

![screen shot 2015-06-08 at 12 10 27](https://cloud.githubusercontent.com/assets/1711357/8035073/d01ee5f8-0ded-11e5-890b-7fd03254baae.png)

[2015-06-08 18:37] alicetragedy opened #228 "Hidden teams can not be seen by organizers"
In the teams overview, the teams that have decided to remain hidden are not shown to organizers either.
I think this is a 'conceptual' issue: do we want teams applying and ticking the 'hidden' check box to be visible to organisers anyway?

[2015-06-08 18:49] sareg0 commented on #224
oh, that's a shame
Not a big deal though.  I will go through again.

[2015-06-08 18:53] sareg0 commented on #224
@carpodaster it looks like the radio buttons for 'sponsored' and 'volunteer' are no longer there?

[2015-06-10 10:48] sareg0 commented on #228
I think that we want to be able to still see all teams as organizers, even if that is a 'super' role, that only a select few have, to protect their privacy. I would love to see all the teams, even if they want to be hidden to the wider userbase of the app.

[2015-06-10 15:34] ramonh commented on #114
Finally! I got some time to start taking a look at this. Right off the bat, I noticed that there's already some `conference` pages in the teams app, listing these. There are currently no conferences inserted, as shown below:

![screen shot 2015-06-10 at 17 16 18](https://cloud.githubusercontent.com/assets/656318/8086205/72f6de1e-0f94-11e5-8e9d-b242a31c3b11.png)

If I've understood the issue correc

[2015-06-11 10:09] carpodaster commented on #224
hey @sareg0 - it's no longer there for /teams, make sure you are on /orga/teams, that is: https://teams.railsgirlssummerofcode.org/orga/teams

[2015-06-11 17:01] carpodaster commented on #227
Hey @anikalindtner - this is because a user can be created by adding a GH handle to a team. The app tries to get the email from GH but if that fails for some reason (e.g. misspelled GH handle, no email address available, network error), the user record on the teams app will be left without an email. There is little to nothing we can do about it.

[2015-06-11 17:01] #227 closed

[2015-06-11 17:02] anikalindtner commented on #227
ah okay... but then we have to think about that. because maybe this shouldn't be allowed then? hmmmm have to think about that. since we do need the email addresses desperately for contacting them.. hmmmmm

[2015-06-12 11:29] carpodaster commented on #227
@anikalindtner An  email is required as soon as one tries to edit the user record, just not when it is created from a Github handle. I have no idea how to do it otherwise (but then again, I'm sleep-deprived :smile: )

[2015-06-12 13:43] carpodaster commented on #228
hey @alicetragedy and @sareg0 – please check the new https://teams.railsgirlssummerofcode.org/orga/teams endpoint to get all the orga-access-level info for teams. You can see all teams there, invisible or not.

[2015-06-12 13:43] #228 closed

[2015-06-12 16:49] #120 closed

[2015-06-12 16:49] #226 closed

[2015-06-12 16:53] carpodaster opened #229 "Create a mailings archive"
1. [ ] all mailings in the `orga` namespace, linked from the orga-dashboard
2. [ ] all others can only see archived mailings if their email address / user id is in the recipients' list. Linked from the students' dashboard

See also: discussion at #120

[2015-06-17 16:25] carpodaster opened #231 "Investigate: "source" record got added to several teams by accident"
This is re: #230 – check where the invalid source records come from

[2015-06-18 07:31] alicetragedy commented on #231
@carpodaster in this respect – do you want me to revert the commits made in that pull request, since it was just a one-time need to update the teams? Or should we leave it like that for now?

[2015-06-18 07:43] carpodaster commented on #231
@alicetragedy yes, that'd be great

[2015-06-18 09:09] #224 closed

[2015-06-18 09:15] carpodaster commented on #221
Rating/Selection engine will be rewritten for 2016. Closing.

[2015-06-18 09:15] #221 closed

[2015-06-18 09:15] carpodaster commented on #209
Rating/Selection engine will be rewritten for 2016. Closing.

[2015-06-18 09:15] #209 closed

[2015-06-18 10:22] carpodaster commented on #231
Hi @alicetragedy, I reverted 26a69ff. Also, I couldn't reproduce a way to get the sources into the database without passing a url value (ie. bypassing its validation).

However, removing the misbehaving `Source` record via the team's edit page should repair a stale team.

[2015-06-18 10:27] sareg0 opened #232 "make mailer checkbox available for selected teams only"
This is something requested by @anikalindtner, to make it possible to email just selected teams

Currently there is a 'teams' checkbox in the /mailers area, but this would email all teams; selected AND rejected.

@marcgreenstock has volunteered to take a look at this, but if someone else wants to grab it, that is also fine.

It is time sensitive. We would like it to be implemented as soon as possi

[2015-06-18 20:07] carpodaster commented on #231
I removed 8 stale `Source` records from the DB.

Let's keep our eyes open for when this error occurs again and let's hope that we'll have a means to reproduce it then.

[2015-06-18 20:07] #231 closed

[2015-06-21 10:56] carpodaster commented on #127
Done. The status update activity lacks a pretty photo, but that one is related to #17 and can be done during the Summer of Code by @F3PiX and @roosdebildt :smile:

[2015-06-21 10:56] #127 closed

[2015-06-21 12:18] F3PiX commented on #127
I'll put in on our to do-list! :-) <3

[2015-06-21 13:59] alicetragedy commented on #127
brilliant! :sparkles:

[2015-06-22 11:26] sareg0 opened #233 "test 'checked up on them' feature"
This is just to remind us that we need to check/test this feature of the teams app.

- does it still work?
- does anything need changing?
- can it be made clearer.

Assigning to @alicetragedy first, as she has experience as a supervisor.

[2015-06-23 10:51] sareg0 commented on #127
Hey @carpodaster could you give us a quick 'README' on the log engine? Just so we know how it works, and can talk to our teams about it.

[2015-06-23 22:48] sareg0 commented on #68
I love the idea of improving the landing page. I know that it's not super fancy, but the rorganize.it app sort of tries to onboard people a bit. I'm not saying we have exactly the same thing, but just to give some inspiration.

[2015-06-23 22:50] sareg0 commented on #191
a little later but :tada:

[2015-06-23 22:52] sareg0 commented on #187
I'm really happy to see this as a potential task for the team during the summer, however, as I think it will be a great flow improvement. We could also focus group on this at some point if needed :)

[2015-06-23 22:53] sareg0 commented on #136
Did this recently get implemented? I noticed that there was a change in the /teams page

[2015-06-23 23:32] sareg0 commented on #224
thanks for this @carpodaster and also to @alicetragedy for taking over and gettin' it done :)

[2015-06-24 06:55] carpodaster commented on #136
It's on its way, but I haven't moved existing functionality (with the exception of the teams management) into separate namespaces, only new stuff.

[2015-06-26 10:43] #146 closed

[2015-06-28 18:40] alicetragedy opened #236 "Email address in student profile should be visible to supervisor"
At the moment, it seems the email address of students in their profile (https://teams.railsgirlssummerofcode.org/users/user-id) is only visible to orgas – meaning the supervisor of the team can in no way check whether the student has added their email address.

[2015-06-29 11:44] alicetragedy opened #237 "Checked up on them: comment can also be left by orgas"
If I'm not mistaken, the checked up on them feature should be for the supervisor of a team only – meaning no one from the organisers team should have access to the form (or at least, should not be able to leave a comment). Is that the idea?
I tested the feature yesterday and it seems I could (as an organiser) comment on any team/check up on them. Is that something that needs changing before kick-o

[2015-06-29 13:29] alicetragedy opened #238 "Checked up on them: add summer-of-code email to recipients"
Right now, when a supervisor comments on their team's progress, an email update is sent to all supervisors – but not to orgas. We should change that so the email is also sent to the summer-of-code email address (either as direct recipient or cc).

[2015-06-30 07:24] carpodaster commented on #237
@alicetragedy Orgas assume the role of admins on the teams app so they "overrule" the restrictions. We can change that, but would it not be enough to just leave the text input be as an orga person when they are not supervising a given team?

[2015-06-30 08:12] alicetragedy commented on #237
@carpodaster yep, that's totally fine. wasn't sure if that was meant to be so or not. let's let it be – no need to complicate our lives changing the overriding of the restrictions. I'll close this issue!

[2015-06-30 08:12] #237 closed

[2015-06-30 13:39] sareg0 commented on #236
After a discussion with @anikalindtner it has been determined that, yes, the supervisors should be able to see the student email addresses.

I have create a pull request for review to try and fix this.

This would allow all supervisors to see all user's email contact.

This is how I did it because some supervisors will be filling in for others during the summer, so I felt this is ok.

Please let m

[2015-06-30 13:49] #236 closed

[2015-06-30 14:32] #232 closed

[2015-07-01 09:32] carpodaster commented on #127
@sareg0 As discussed last week, here are some commented screenshots:

Students have a "Status Update" link up top:

![status_update_01](https://cloud.githubusercontent.com/assets/164400/8451554/6d027152-1fe4-11e5-84dc-fb1b7d21424f.png)

----------

It brings up the listing of the team's recent updats. Choose "Create Status Update" to create one:

![status_update_02](https://cloud.githubusercontent

[2015-07-01 14:55] carpodaster opened #241 "Add link to Github source"
We should make it easier for people to contribute to the teams app. What about a [Github ribbon](https://github.com/blog/273-github-ribbons) on the front page? Or just a link to the repo in the footer?

[2015-07-01 15:02] alicetragedy commented on #241
JA! I vote ribbon :ribbon:

[2015-07-01 20:52] alicetragedy commented on #233
Status: A couple of changes with the mailing need doing (https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/238) and pull request submitted for the UI clean-up (https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/242).

[2015-07-02 08:13] carpodaster commented on #17
@roosdebildt do you want to work on this?

Gravatar is probably not a good option since I doubt all teams have a separate email address set up. Maybe grabbing the individual gravatar images of the students and fusing them together client-side with CSS/JS voodoo?

That would remove the requirement to fiddle with file uploads right now.

wdyt?

[2015-07-02 08:40] #238 closed

[2015-07-02 08:43] alicetragedy commented on #233
I think we can close this! :tada:

[2015-07-02 08:44] roosdebildt commented on #17
we'll have a look at it as soon as we're ready! sounds like a great first commit for @F3PiX and me :)

[2015-07-02 08:46] carpodaster opened #244 "Add pagination to users#index"
The users' list at "Community" is growing long.

[2015-07-02 08:55] carpodaster commented on #114
@ramonh can this be closed now that your PR has been merged?

[2015-07-02 09:02] ramonh commented on #114
@carpodaster Yes! Thank you for reminding me :)

[2015-07-02 09:02] #114 closed

[2015-07-02 10:44] carpodaster commented on #241
@F3PiX & @roosdebildt, this could also be a great warm-up

[2015-07-02 14:51] #45 closed

[2015-07-02 16:03] sareg0 commented on #233
okay, let's close it then

[2015-07-02 16:03] #233 closed

[2015-07-02 16:11] sareg0 opened #245 "fix: bullet point markdown formatting not working"
Students have reported that despite trying a few different things they cannot get bullet points to format appropriately in the daily logs.

@carpodaster mentioned that it's a css issue: the list items were globally chopped off their list styling

I will assign to myself, to work on tomorrow, unless someone gets to it first.

[2015-07-05 17:33] #245 closed

[2015-07-06 11:14] sareg0 opened #247 "Feature Request: Make jobs board accessible to all seasons"
This is something that I discussed recently with previous grads, both searching for OR with jobs to offer from their own contacts.

The user story goes like this;

"I as an alumni want to see all jobs for jr devs that are being collected, and also know where to send said job offers if I receive them"

Our process currently works like this.

1. we get word of a job offer from sponsors/supporters of

[2015-07-06 11:30] carpodaster commented on #247
This sounds like a good improvement to the exisiting job board but I would like to see more +1's, indicating that it's a feature we really want to have.

Personally, I am not quite convinced, mostly because "sometimes step 2 gets missed". I don't recall the job board being filled with enough job positions to justify working on that section. It's just not visible enough and in fact I've already bee

[2015-07-06 11:32] sareg0 commented on #247
yes, I think that the jobs board could potentially be separate to the teams app altogether.

I am gonna ping @berlintam who had some great input on this topic of the jobs board.

[2015-07-06 16:05] anikalindtner opened #249 "Contributers json doesn't output all the roles"
On our teams site here: http://railsgirlssummerofcode.org/about/team/

Only a couple of supervisors are listed (3). All the other ones are missing, but they ARE in the teams app: https://teams.railsgirlssummerofcode.org/users?sort=&direction=&role=supervisor

@sareg0 @marcgreenstock

[2015-07-07 08:14] roosdebildt commented on #17
I think I'm first going to try putting both of the individual github avatars of the students next to each other, so no fuzz for the user. In case we want to upgrade this with upload-/fusing-goodies client-side, we can do that later! waddoyousay?

[2015-07-07 08:49] carpodaster commented on #17
Sounds perfect! :+1: :smile:

[2015-07-07 21:13] anikalindtner opened #251 "Checked-up-on-them doesn't work for Team Techylite"
When hitting the "checked up on them" button (either with or without comments) on this team, nothing happens: https://teams.railsgirlssummerofcode.org/teams/28

Ideas? @carpodaster @sareg0 @alicetragedy

[2015-07-07 21:31] anikalindtner opened #252 "/teams/info shows error page"
Clicking on the "Teams organizers info" link (in /teams):
![screen shot 2015-07-07 at 23 30 24](https://cloud.githubusercontent.com/assets/1711357/8557843/36d03bca-2500-11e5-95b8-287dfc4380f9.png)

gives this:
![screen shot 2015-07-07 at 23 26 48](https://cloud.githubusercontent.com/assets/1711357/8557818/106b67a2-2500-11e5-95cb-83b0f7cbfddd.png)

[2015-07-07 21:33] anikalindtner opened #253 "/orga/teams shows all teams, not just the selected ones"
Would be really helpful if we could have the same filter we have for /teams here, since it gets kinda chaotic with ALL teams ever created being shown here.

@carpodaster you tweaked the /teams site so that only selected teams are shown, right? could you do some :sparkles: magic and do it for this site as well?

[2015-07-08 07:38] carpodaster opened #254 "Contributor JSON should only show orga + members of accepted teams, no?"
It currently also shows coaches and mentors of teams that couldn't be accepted. Do we want to filter?

Ping @sareg0 @anikalindtner @alicetragedy

[2015-07-08 07:42] alicetragedy commented on #254
I have to +1 with you on this one :+1:

[2015-07-08 07:44] alicetragedy commented on #252
I can take a look at that in the afternoon/evening and see what the deal is – unless someone else has time before that :)

[2015-07-08 07:47] alicetragedy commented on #251
I will take a look later today – first guess is that something in that team somehow is set to nil somewhere(?), keeping the comment from being saved. We'll figure it out!

[2015-07-08 07:48] anikalindtner commented on #254
yay for filtering them out!

[2015-07-08 07:53] F3PiX commented on #247
I feel for both sides. I agree that SoC-site may not the best place for listing job offers. On the other hand, this could be the place to list job offers for the not-too-experienced Nuby's.
Then again, do company's really need such a place?

[2015-07-08 07:57] #249 closed

[2015-07-08 08:01] berlintam commented on #247
I think that having a job board as part of rgsoc is awesome. I know that after I finished rgsoc I was frantically looking for a job and didn't know where to go, and I looked to rgsoc for support in this b/c they had held my hand throughout the whole summer. In my opinion it makes sense for rgsoc to offer this b/c it's like they're helping students cross the finish line in finding a job. you know w

[2015-07-08 11:43] carpodaster commented on #252
@alicetragedy I bounced an exception message to your email inbox. I think that's the one that's related to this issue here

[2015-07-08 12:25] alicetragedy commented on #252
@carpodaster Tusen takk (as they say in Norway). Will take a lookie later! :tada:

[2015-07-08 16:28] ramonh commented on #253
I'm on it!

[2015-07-08 18:18] carpodaster commented on #253
@ramonh cool! :smile:

Could you add a predefined filter to also display all teams? Otherwise not even the orga is able to look into team data of unaccepted teams once the SoC has started.

[2015-07-08 18:39] carpodaster opened #255 "Feature Request: Add links to team-specific Atom-feeds"
The activity log's feed url https://teams.railsgirlssummerofcode.org/activities.atom can be filtered by appending `?team_id=<ID>`. Everything works, it just has to be made visible.

* Add a Atom-feed icon to the activity listing on teams#show
* Add a Atom-feed icon to the activity listing on status_updates#show
* Add a `<link rel="alternate" type="application/atom+xml" title="Atom Feed" ... >` ele

[2015-07-08 18:48] alicetragedy commented on #255
:+1:

[2015-07-08 18:52] F3PiX commented on #255
A few days ago I already looked into it, because I added the feed to our Slack but it didn;t show updates.  I fed the feed into a feed validator and got all kind of trouble :-)
And then I stopped. :checkered_flag:
http://feedvalidator.org/check.cgi?url=https%3A%2F%2Fteams.railsgirlssummerofcode.org%2Factivities.atom%3Fteam_id%3D38
We'll have to look into that together, maybe Roos knows.

[2015-07-09 07:54] carpodaster commented on #225
Switched assignee as @F3PiX is already hard at work on this.

Maud, if you want to go an extra mile, you can make FactoryGirl work in development (currently only loaded for the test env) and use the defined factories in `seed.rb`.

The good thing: the defined factories are tested, the contents in `seed.rb` are not. Should our schema change or validations be added, logic `seeds.rb` is likely to bre

[2015-07-09 08:28] carpodaster commented on #255
@F3PiX Oh. In that case it would be good to get the feed pass validation first :wink: I recommend using [the W3C validator](http://validator.w3.org/feed/), though; it allows uploading of text as opposed to referencing a website. It makes development much easier (since your localhost cannot be reached by the W3C validator machine).

[2015-07-09 09:59] F3PiX commented on #225
O that sounds interesting. I will look into that.
(The seeding I am doing now is basically to get a feel for the app.)

[2015-07-09 12:04] anikalindtner opened #256 "Automatic reminder for daily log"
As we talked about in our weekly organizer hangout yesterday, a lot of what the supervisors are doing is nagging teams to get stuff done. Which wears them down and shouldn't be the main task of our supervisors. So I thought about how to make at least *some* of the process automated to take it out of their hands. And one thing would be to send an email reminder at hour xy to the team if they haven'

[2015-07-09 14:57] alicetragedy commented on #251
okay, so I knew this was going to come back to bite us in the ass...
Apparently the problem is something we've had problems with before: that the mentor of the team is a mentor that is also a student, so somehow the Comment doesn't save and gives some weird gibberish error message I couldn't really understand :D and I don't know how to fix it. I tried fixing it locally by removing Maren as a mento

[2015-07-09 15:46] alicetragedy commented on #252
I think we can close this issue – I feel like there are a couple of things that can still be fixed on that page, but we can see how to optimize it later ;)

[2015-07-09 15:46] #252 closed

[2015-07-09 21:33] #17 closed

[2015-07-09 21:58] alicetragedy opened #259 "Improve activities feed view"
Since some posts have eg. images, it would be great to improve the formatting of each post on the activities feed.
For example:
- move time and poster information under the title
- show body of the post under the avatar (instead of starting mid-avatar like it is now) which would also fix the problem of the bullet points in a list being "stuck" to the team avatars
- "resize" images so they fit the

[2015-07-10 07:32] roosdebildt commented on #259
me, me, me, me! prettyplease :)?

[2015-07-10 08:22] alicetragedy commented on #259
@roosdebildt hehe, I knew it! actually opened the issue with you in mind ;)

[2015-07-10 08:44] anikalindtner opened #260 "Generate RSS feed for team logs"
So we do have the .json output for all the daily log activities ( for separate teams https://teams.railsgirlssummerofcode.org/activities.json?team_id=84 as well as all teams  https://teams.railsgirlssummerofcode.org/activities.json), but this is not a format RSS readers can use.

We'd need to convert that somehow. This is something that came up not only in the discussion with mentors who want to k

[2015-07-10 08:49] alicetragedy commented on #260
There is apparently already an atom feed, see #255

[2015-07-10 08:51] anikalindtner commented on #260
WOHA!! Awesome! Adding it to slack worked for now <3
I think we can close this then actually :D

[2015-07-10 08:51] #260 closed

[2015-07-10 08:52] alicetragedy commented on #260
:+1:

[2015-07-10 16:36] sareg0 commented on #254
This is in the process of being fixed. Pull request submitted, but not ready for merge til test is written

[2015-07-11 20:17] F3PiX commented on #190
I think I found how to show a "meaningfull error" when github auth errors occur.

But that won't solve the error regarding the new_session_path.
While the underlying explanation you show above, is about a bad verification code:
https://developer.github.com/v3/oauth/#bad-verification-code.
I can't find that the bad verification code and the new_session_path thingy are related. Could it be 2 differe

[2015-07-12 11:41] F3PiX commented on #244
:+1:

[2015-07-12 12:04] carpodaster opened #263 "Q: Do we want engagement features for the activity stream?"
There are so many great status updates and yet there is no way to express my excitement for our teams' achievements. I'm not sure, do we want a comment feature for the activity updates? A 'like button' of our own making? Emoji reactions? :wink:

[2015-07-12 12:10] F3PiX commented on #263
YESYUEYEYEYYSYES +100

[2015-07-12 13:26] carpodaster commented on #251
@alicetragedy It would seem we can only solve this by removing the student-must-only-be-student constraint. I would against it, though, and indeed remove Maren as their mentor on production.

[2015-07-12 13:29] carpodaster commented on #256
Yeah, we have talked about this enhancement to the minilog feature before and I think it's a good one.

Possible gotcha: The reminder should take the team's timezone into account.

[2015-07-12 13:32] carpodaster commented on #190
The `new_session_path` is a side-effect of devise's authentication chain. We don't have a `new_session_path` (not do we want to build one): it is meant as a fallback login mechanism (here: classic username+password). We only support GH authentication. To fix this error, we need to hook into devise's failure handling and intercept the GH callback error before devise tries to fallback to a tradition

[2015-07-12 15:30] roosdebildt commented on #259
almost done :)
<img width="1058" alt="screen shot 2015-07-12 at 17 28 43" src="https://cloud.githubusercontent.com/assets/11146524/8638439/9103a7bc-28bb-11e5-9659-87de55a7162e.png">

few questions for the coaches tomorrow and then I'll do a PR!

[2015-07-12 15:35] roosdebildt commented on #259
@alicetragedy and @carpodaster almost done!

Screenshot with some random pictures in the post:
<img width="1058" alt="screen shot 2015-07-12 at 17 28 43" src="https://cloud.githubusercontent.com/assets/11146524/8638463/5040874e-28bc-11e5-8072-fa8b9dd9c0eb.png">

What do you think?

[2015-07-12 16:05] alicetragedy commented on #251
@carpodaster yeah, it's a little tricky.. I'm just wondering though why, if this is a problem, we've accepted Maren as a student if a student is not supposed to have any other role? :p
I thought maybe we could remove the constraint for this year as well will probably not be adding any more students / roles. But I'm okay with removing her from production, I'll get in touch with her and see if that'

[2015-07-12 16:07] alicetragedy commented on #256
@carpodaster yep, I mentioned the thing with the timezone briefly during the call when this was discussed :) but I also think that it would be a great way to annoy everyone to have them do their log so +1 on this

[2015-07-12 16:10] alicetragedy commented on #263
those new emoji reactions in slack are great, it would be :+1: :+1: :+1: to have something similar.

[2015-07-12 16:20] carpodaster commented on #263
I reckon the Emoji reactions are a lot of work for a relatively minor part of the app :wink:

[2015-07-12 16:25] carpodaster commented on #251
@alicetragedy the constraint is in place so that a student cannot join another team as a student (and thus cannot apply with more than one team). Not allowing them in a different role is probably an undesired side-effect, but I have to say that I have little motivation to program around this one edge-case.

Removing the constraint would mean we risk re-introducting it next year again. There are no

[2015-07-12 16:31] alicetragedy commented on #251
@carpodaster that makes sense! we'll have to try and keep that in mind for next year, so we don't have the same weird mess. I'll remove her as soon as I've talked to her :)

[2015-07-12 16:32] alicetragedy commented on #263
hehe, true. this is just some massive wishlist point for me ;)
anyway, +1 from my side on adding something like likes or so ;)

[2015-07-13 08:25] alicetragedy commented on #251
@carpodaster I just realised that removing her will also mean she will not receive the mentor emails/important communication. is that an ok side-effect we want to have? UGH so complicated..

[2015-07-13 08:49] carpodaster commented on #251
Ah, you're right. IIRC she's not the only mentor, right? Would it be enough to rely on the second mentor to relay these info mailings?

[2015-07-13 08:52] alicetragedy commented on #251
@carpodaster Erik is the second mentor, which is a bit strange – not sure how much he actually reads the mailings, but I could give him a heads up in any case to forward the email to her.. or we do so ourselves (just have to remember it every time).

[2015-07-13 08:55] anikalindtner commented on #251
I think that' still a mistake that Erik is in there.

[2015-07-13 09:04] alicetragedy commented on #251
@anikalindtner @carpodaster I'll replace Erik with Anja and remove Maren. #yolo

[2015-07-13 09:04] carpodaster commented on #251
Could be they applied for a second project where Erik was the mentor. In that case, we need Maren as a mentor, but can we ask her to create a second GH account?

[2015-07-13 09:05] carpodaster commented on #251
Oder so! :smile:

[2015-07-13 09:14] F3PiX commented on #187
I like the way LInkedIn offers pre-approval on invites.
Students could pre-assign coaches before they ask the coach to join, pre-assigned coaches could add themselves to the team without waiting.

[2015-07-13 09:17] F3PiX opened #265 "Link from blog to Activities on teams-site"
If people read the blog, there seems to be no easy way to jump to the Activities stream. Can we add a link on summerofcode.org to the teams.summerofcode.org?
Like a navbar-item, or a banner?

[2015-07-13 09:18] carpodaster commented on #265
Hey @F3PiX, could you create that on the [summer-of-code repo](https://github.com/rails-girls-summer-of-code/summer-of-code/issues)? Thanks! Closing.

[2015-07-13 09:18] #265 closed

[2015-07-13 11:10] roosdebildt opened #266 "General styling & CSS enhancements"
General styling improvements to make the teams app look nicer and more in style with //railsgirls.com/.

- improving style & views
- refactoring CSS
- dividing specific styles per pages into separate stylesheets (f.e. activity page, community etc.)
- making the app more responsive

[2015-07-13 11:34] idengager opened #267 "Supervising area (team profile page) layout error"
So I put in a long long comment together with the first checkup for my team ([Rubyherzlein](https://teams.railsgirlssummerofcode.org/teams/9)) and this happened:
![screen shot 2015-07-13 at 12 07 34](https://cloud.githubusercontent.com/assets/2712383/8647459/628c2eb6-2958-11e5-91a9-35039852a59b.png)

I wouldn't mind it as such, but the comment covers the `Checked up on them button` so that it can'

[2015-07-13 11:36] idengager commented on #256
This is a very good idea. :+1:

[2015-07-13 11:49] carpodaster commented on #259
Looks great, @roosdebildt ! One question: Are the images resized / downscaled in activities#index? There are some rather big images included in some status updates and they kinda wreck the layout.

[2015-07-13 11:54] roosdebildt commented on #259
yes, I took care of that too. I set a max-width and made them float left inside the content area. I'm drying up the code now so you can check it later :)

[2015-07-13 12:18] alicetragedy commented on #267
@idengager thanks for opening the issue! I actually noticed this on the weekend as well and was planning to fix it ;) I'll get that done sometime this week – hopefully sooner rather than later!

[2015-07-13 12:18] alicetragedy commented on #266
:+1:

[2015-07-13 13:44] roosdebildt commented on #241
do we want the ribbon only on the front-page (=activity page) or appearing on all pages...?

[2015-07-13 14:22] carpodaster commented on #241
If it's not too obtrusive, I'd vote for every page

[2015-07-14 09:56] alicetragedy commented on #259
Great work @roosdebildt, I think we can close this.

[2015-07-14 09:56] #259 closed

[2015-07-14 10:18] alicetragedy commented on #251
Fixed!

[2015-07-14 10:18] #251 closed

[2015-07-14 10:47] F3PiX commented on #259
:+1:

[2015-07-14 11:46] carpodaster commented on #259
It looks so pwetty! :bouquet:

[2015-07-15 10:46] roosdebildt commented on #241
Could we also use one of these:
https://dribbble.com/shots/245356-Fork-me-on-GitHub

They're free of use and look way nicer + fit better with the size of the header:

<img width="1242" alt="screen shot 2015-07-15 at 12 45 12" src="https://cloud.githubusercontent.com/assets/11146524/8696760/6e3b8656-2aef-11e5-8d53-f6d5f87be604.png">

[2015-07-15 10:55] alicetragedy commented on #241
I like those too!
Do you think it would be possible to make a greyish one? It doesn't say anything on the dribbble, license-wise, about modifying the existing ribbons. Not sure which color would fit best otherwise, given our bright red header :)

[2015-07-15 10:59] roosdebildt commented on #241
I could make a gray-ish one for sure! But I just found out the quality is superlow :( I e-mailed the guy but I'm looking for other solutions/images, too.

[2015-07-15 11:18] alicetragedy commented on #241
@roosdebildt we have a designer who joined our team and helped me design the stickers (I made the first edition, she made all the rest). Maybe we could ask her to design a ribbon for us :)
I also just found this generator: https://codepo8.github.io/css-fork-on-github-ribbon/
Might be interesting to give it a whirl.

[2015-07-15 13:02] carpodaster commented on #241
I love the CSS-only one!

[2015-07-15 18:49] roosdebildt commented on #241
Since I think this still looks a bit awkward with the header:

<img width="1242" alt="github-ribbon" src="https://cloud.githubusercontent.com/assets/11146524/8706784/e272114c-2b31-11e5-9e4f-b589f3001153.png">

I'm going to try to design my own ribbon as an evening side project :) Based on a vertical one:

![ribbon-vertical](https://cloud.githubusercontent.com/assets/11146524/8706815/1b66c132-2b32-

[2015-07-15 18:52] roosdebildt commented on #241
sidenote @alicetragedy: shall I add you to our fork so we can keep the original workflow of PR's with our fork before merging with upstream?

[2015-07-16 10:00] alicetragedy commented on #241
@roosdebildt I actually have no major opinion on this – I thought maybe the css generator would save you a lot of (design) work. I agree that the vertical ribbon in the example looks a bit big, I'd make it maybe two-thirds of its current size, but I'm sure you can play around with it and see what works best.
I'd love to be added to your fork so I can keep track, if you want. Or feel free to ping m

[2015-07-17 14:21] roosdebildt commented on #255
@carpodaster:

1. I'm presuming you mean the <head> section and not the <header>?
2. The head (and the header for that matter) are only specified generally for the whole app in layouts>applicatoin.html.slim. Do you want us to put it there?

[2015-07-17 14:38] carpodaster commented on #255
@roosdebildt yes, the `<head>` section. The application layout file has a `yield :head if content_for?(:head)` call in line 12. You can read up on `content_for` to inject content from a sub-template into that layout file. That way it's possible to have it in `<head>`, but only on that specific page.

[2015-07-17 14:39] roosdebildt commented on #255
@carpodaster you make new worlds open up to us every day ^^

[2015-07-17 14:54] F3PiX commented on #255
@carpodaster What Roos said :-)
About the second part: adding ...to status_updates#show. Does it mean you want here the activities minus the feed entries = status_updates? (For a specific team).
Wouldn't it be nice for a team if ALL their entries were in the Atom Feed (e.g to add it to their slack channel)?

[2015-07-18 10:01] F3PiX opened #274 "Easy access to New Status Update Button for students"
Very selfish issue :-)
As students, we have a growing list of Status Updates in students\status_updates. The New-button is at the end of the list, while it is the main reason to visit the page.
I was thinking that there are better ways to grant easier access to the button.
E.g. give it a more prominent place above the listing, or even move the new_status_update_form to (the top at) this page and k

[2015-07-18 12:05] alicetragedy commented on #274
@F3PiX I completely agree – see comments in https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/268 ;)

[2015-07-18 12:11] alicetragedy opened #276 "Status Update: Minor visual improvements"
As mentioned in this pull request (https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/268), there are definitely some minor improvements that could be made to the `status_update`, to make it more user-friendly. Here are a couple of things I noticed need work:

- on the `status_updates` new view, the buttons "Create Activity" and "Back" should be aligned. Ideally, "Create" Activity coul

[2015-07-18 12:13] alicetragedy opened #277 "Status Update: Footer is displaced"
the show view for a `status_update` does something funny if the text is too long, see image below.

![screen shot 2015-07-13 at 22 19 52](https://cloud.githubusercontent.com/assets/3143348/8761554/18e46460-2d57-11e5-921d-e9badb2ea324.png)

[2015-07-20 19:18] alicetragedy opened #284 "Conferences area: cannot delete conference"
When wanting to delete a conference from the app, clicking on the delete link in the show view gives a 404 ("The page you were looking for does not exist"). This happened right now in production, I have not tried it out locally or investigated further.
It might just be a pretty easy fix. ;)

[2015-07-20 19:34] anikalindtner opened #285 "Checked-up-on-them button (without comment) needs manual reload to show"
While the Button with a comment works, clicking the button without a comment won't do anything.

https://teams.railsgirlssummerofcode.org/teams/90

https://teams.railsgirlssummerofcode.org/teams/66

Might also have to do something with @alexwllms' profile? there seems to be a issue with his GH avatar not being shown. Maybe some weird underlying issue which prevents him from sending a "checked-up"

[2015-07-20 19:55] anikalindtner commented on #285
any idea @carpodaster @alicetragedy ?

[2015-07-20 19:59] alicetragedy commented on #285
@anikalindtner the thing is that the blue button doesn't show its "result" right away, the page needs to be refreshed in order for one to see that "checked up on them" has been set. could it be that that's the problem? This is something that happens for all teams, and it was always like this – but probably needs fixing.

[2015-07-20 20:08] anikalindtner commented on #285
@alicetragedy huch! you are right! OMG! I tried it myself. (and I saw you did too) And yes, it probably should show up right away, because I also was really confused when nothing happened.

@alexwllms, ^ could you try that as well? Seems it worked for Laura and me. phewwww.. so we don't have a bug after all. wheee \o/ You just have to refresh the page to see the results of the blue button show up.

[2015-07-20 20:10] alicetragedy commented on #285
@anikalindtner well... not sure I would call that "not a bug" but at least we know where it comes from ;)
#bugorfeature

[2015-07-20 21:26] anikalindtner commented on #285
@alicetragedy hehe very true indeed. at least it's not the bug i was expecting it to be, but seems to be one we already know about.

i only now want to get a heads up from @alexwllms though that this indeed also works for him. (not trusting anything from the teams app anymore ;) )

[2015-07-21 07:49] #284 closed

[2015-07-21 08:43] anikalindtner opened #286 "Mailings doesn't show errors / doesn't sent emails"
In the last mailings (after you added the selected/everyone feature to it @sareg0 and @marcgreenstock ) there have been some issues with students not getting the emails.

I don't know why this happens, since all the other ones got them and they are on the receivers-list, but the app doesn't show any errors anymore (and also not the time stamp when the email was sent), so there is no way for me to

[2015-07-21 08:45] anikalindtner commented on #286
after I resend the email to Maud and Roos they got their email now.

[2015-07-21 08:49] roosdebildt commented on #286
The app doesn't like cheese :disappointed:

[2015-07-21 09:19] anikalindtner commented on #286
Also: the sender address is "wrong". should be summer-of-code@railsgirls.com, not summer-of-code-team.

![screen shot 2015-07-21 at 11 18 47](https://cloud.githubusercontent.com/assets/1711357/8797233/5e3aaf2a-2f9a-11e5-869c-0943bfda0b66.png)

[2015-07-21 09:25] anikalindtner opened #287 "Mailings doesn't save everyone/selected teams/ unselected teams setting"
Every time that I wanted to sent an email to just "selected teams" (and not "everyone", which seems to be the default) and I edited the Mailing but not sent it straight away, the app forgets the box that I selected and selects "everyone" again.

For the Students/Organizers/Mentors boxes it works though and shows the right box even when I had to go back and edit the mailing:

![screen shot 2015-07-

[2015-07-21 12:04] sareg0 commented on #256
yeah, I really like this idea :) +1 from me as possible new feature. I think it would be super cool to work on, but if it happens to be something the team would like to work on, that's also cool :)

[2015-07-21 12:26] sareg0 commented on #241
also I feel like the diagonal 'fork me on github' ribbon is sort of more known, and looks less like a bookmark on kindle ;)

[2015-07-21 12:33] carpodaster commented on #286
I've noticed that but the configuration for sending email uses that email address as a username to authenticate against Google Mail. If you can send me the password for the desired email address (via email or Slack or homing pidgin), I can change it.

[2015-07-21 13:07] marcgreenstock commented on #286
Opps, sorry about this, do you want me to take a look at it?

[2015-07-21 15:37] sareg0 commented on #267
ps I'm looking into this

[2015-07-21 16:07] roosdebildt opened #289 "Layout error in header"
Created huge horizontal scrolling area.
All huge styling changes create bugs, right *embarrassed*.... right?

![screen shot 2015-07-21 at 18 05 12](https://cloud.githubusercontent.com/assets/11146524/8805742/34a60edc-2fd3-11e5-9f8e-2e8595b8dff1.png)

+ this:

![screen shot 2015-07-21 at 18 08 18](https://cloud.githubusercontent.com/assets/11146524/8805822/99eea312-2fd3-11e5-9dd9-e8981b3dd209.png)

[2015-07-21 16:19] F3PiX commented on #267
@sareg0 We will be working on the supervisor dashboard from Wednesday on. Just saying... (but you know how fast we are, so if it needs a quick fix ;-)... )

[2015-07-21 16:31] sareg0 commented on #267
believe you me, this is a Quick fix (not the capital Q ;) ), and the supervisor's dashboard needs an overhaul anyway. This fix is just a stopgap, so feel free to chuck it out when you get to the dashboard. It's just so it's not so annoying right now @F3PiX

[2015-07-21 16:37] sareg0 commented on #267
Pull request now lodged

[2015-07-21 17:10] anikalindtner commented on #286
@marcgreenstock yes please! @carpodaster i'll have a look for that password!

[2015-07-21 17:54] alicetragedy commented on #267
closed via https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/291

[2015-07-21 17:54] #267 closed

[2015-07-21 18:45] F3PiX commented on #267
We will do our best to make it a wonderfull dashboard for all SUPERvisors :-)

[2015-07-21 19:08] alexwllms commented on #285
Works if the page is reloaded :)

—
Alex Williams
+44 (0) 7446 975976

On Mon, Jul 20, 2015 at 10:26 PM, Anika <notifications@github.com> wrote:

[2015-07-21 19:09] sareg0 commented on #285
does it have to be reloaded everytime?

[2015-07-21 19:31] F3PiX commented on #285
Can Ajax solve this? I would LOOOOVE to learn some Ajax....

[2015-07-22 06:38] alicetragedy commented on #289
@roosdebildt no worries, tbh I didn't even notice :speak_no_evil:

[2015-07-22 09:49] sareg0 commented on #289
hehe, I noticed, but it was already there, it was just more acute after the layout changes. You didn't cause, you just made it more obvious it needed to be fixed :) Glass half full ;)

[2015-07-22 15:26] carpodaster commented on #241
Done in #292

[2015-07-22 15:26] #241 closed

[2015-07-22 16:48] alicetragedy commented on #289
closed via https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/290

[2015-07-22 16:48] #289 closed

[2015-07-24 13:46] alicetragedy opened #294 "conferences area: lightning talks"
In the conferences area, it would be useful to have a field that shows whether the conference allows/has lightning talk slots or not (a checkbox would be enough) – this would cut down on work when emailing the students selected for the conferences and having to look up manually if the conferences offer lightning talk slots.

[2015-07-24 16:27] cypher opened #295 "Checked-up-on-them comments aren't sorted by date"
The comments posted via the "Check up with Comment" form aren't displayed in reverse chronological order.

E.g., right now, for Team Tessie, the top-most comment is from July 18th, followed by one from July 10th, then July 15th, July 24th, and finally July 6th.

[2015-07-25 08:20] alicetragedy commented on #295
:+1:

[2015-07-27 13:21] F3PiX commented on #295
I'll fix this, no problem :-)

[2015-07-28 09:10] marcgreenstock commented on #286
This should address the problem: https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/296

Sorry for the delay

[2015-07-28 19:57] #295 closed

[2015-07-29 16:28] sareg0 commented on #286
I am closing this, but if it persists then please re-open @anikalindtner

[2015-07-29 16:28] #286 closed

[2015-07-29 22:05] #244 closed

[2015-08-04 08:34] sareg0 commented on #287
hey @marcgreenstock we looked at this this morning. I'm assigning it to you for a fix.

[2015-08-07 12:23] sareg0 commented on #287
hey @marcgreenstock we need to use this feature for a mailing today. Do you think you could fix it today by close of business, or should we find another method to do our mailing?

[2015-08-12 16:45] carpodaster commented on #247
In today's weekly hangout we decided to remove the job board from the teams app. We agreed to forward job offers to our mailinglist(s) (needs checking w/ sponsor perks). We can also direct alumnis to the juniors-in-berlin list at the end of the summer as an inspiration to create similar lists for other regions.

[2015-08-12 16:45] #247 closed

[2015-08-12 16:58] F3PiX commented on #247
Would you mind to leave the job_offers in the code_base for a week or so? It might proof to be a handy transition sandbox for us.

[2015-08-12 17:14] alicetragedy commented on #247
@F3PiX I don't think we will remove it super soon, so worry not – but thanks for letting us know. :)

[2015-08-12 18:50] F3PiX commented on #247
:+1:

[2015-08-20 09:46] carpodaster commented on #274
Closed in #300

[2015-08-20 09:46] #274 closed

[2015-08-21 09:30] F3PiX opened #301 "Handling dates for seasons"
RubyNuby here, so proceed with caution!
I think it works like this:
Orga's can add a Season in orga/seasons/new, including starting and closing dates for applications, the coding summer, etc
But in the code, the dates are hardcoded, AND will always override the input from the new-form (AFAIK).

I was thinking: what if the Season dates will be set only in the orga/seasons/new form? We can add defau

[2015-08-21 10:24] sareg0 commented on #301
Hey F3PiX,

This is a very interesting feature/improvement I'd love to talk further about. In theory, I think it sounds great!

I'm trying to think of any edge cases to account for, as well as more support for why this could be a good idea (in addition to your points above).

Thoughts from other stakeholders welcome :)

[2015-08-21 11:41] carpodaster commented on #301
Hey @F3PiX, can you give me an example where the dates are hardcoded? If they are, _that_ feels like a bug. Do you refer to [app/models/season.rb:28](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/app/models/season.rb#L28)? The default values are only set if we didn't pass something else (ie. via the seasons form). The default values are in place to ensure we always have a w

[2015-08-21 13:11] F3PiX commented on #301
O, it is totally possible that I am confusing two different things.
Yes, I found the default values, but the way I (!!) handled it, my new_seasons data were overridden. Not in the lines you linked, I know, because I stubbed them. And maybe not hardcoded, I start to doubt that now.  But they were overridden.

What happened: I created a new season 2016 in the orga/seasons form, with applications dat

[2015-08-22 16:20] F3PiX commented on #301
No hardcoding to be found! Sorry, my mistake.
What I found is that there are quite a few different places where 'something happens' to the seasons. It is a bit hard to follow, but I'll do my best. I need to ask the coaches if I should solve this first, before I can add the switch. I'll keep you posted.
(And when that is solved: shouldn't we build a state machine for the season's stages? :-) )

[2015-08-24 11:37] carpodaster commented on #301
The _current_ season is always looked up in the year, assuming we won't run two SoCs per year. Creating a 2016 season will still return the 2015 season for `Season.current` (unless you modify your Rails machine's time to next year).

Warping oneself into a different phase / state of the season requires modifying the various datetime values for the _current_ season.

Changing the season would requi

[2015-08-24 11:38] carpodaster commented on #287
@sareg0 This is fixed, yes?

[2015-08-24 11:40] carpodaster commented on #285
@F3PiX I haven't looked at the problem but it seems the form action already _is_ an Ajax one, only the corresponding div isn't updated. Maybe a DOM ID has been renamed?

[2015-08-24 14:14] katrin-k opened #303 "Separate list of confs for the 2nd raffle round"
On page http://teams.railsgirlssummerofcode.org/conferences: For the 2nd round of the conference raffle it would be cool to have a fresh/empty list of conferences while still keeping the results from the 1st round.

Idea: Add a 2nd table on top of the page. The list from the 1st round is somewhere below that. Nice large headline for both :). Might require an additional attribute for the conference

[2015-08-24 14:27] F3PiX commented on #301
@carpodaster
Totally understand now that seeds is a bad option. Thanks for the clear explanation why. WIL: never use seeding to replace code. (Note to self: "DUH!")

I am still working on following the different season settings through the code.

[2015-08-25 10:22] marcgreenstock commented on #287
@carpodaster I believe this was fixed in https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/298. I haven't heard anything more about it so I consider that a success.

[2015-08-25 11:59] sareg0 commented on #287
Ah! I haven't experienced anything else bad with the mailings thus far... So I have my hopes up that it worked. I will close this up.
Thank you @marcgreenstock and @carpodaster for helping us push this fix through :)

[2015-08-25 11:59] #287 closed

[2015-09-23 07:41] F3PiX commented on #285
This one is solved by #311. Shall we close it?

[2015-09-23 08:18] carpodaster commented on #285
I think so :)

[2015-09-23 08:18] #285 closed

[2015-09-23 08:19] carpodaster commented on #303
@sareg0 + @ramonh: has this been done in #310 ?

[2015-09-23 08:20] ramonh commented on #303
@carpodaster That's right! If you go to the Conferences page, you'll see a table for the second round conferences, as well as a link to show those of the first round.

Hope this makes sense!

[2015-09-23 08:51] carpodaster commented on #303
Great, thanks!

[2015-09-23 08:51] #303 closed

[2015-09-23 08:52] ramonh commented on #303
Sure thing!

[2015-09-30 10:55] F3PiX commented on #277
@roosdebildt  this is fixed, right?

[2015-09-30 10:58] F3PiX commented on #276
@alicetragedy @roosdebildt Can we close this, or do we need even better styling?

[2015-09-30 10:59] F3PiX commented on #266
We have responsive!!!!!!! Thanks to @roosdebildt's magic. Can we close this? How about the separate styleheets?

[2015-09-30 11:01] F3PiX commented on #256
I was thinking: with the new Supervisor Dashboard, it would be quite easy to add an automatic mailer function/button. The supervisor would be the one to initiate the action, and the mail itself could be sent with the orga-team as the sender. Ideally, it would count the warnings as well.
Wdyt?

[2015-09-30 11:07] F3PiX commented on #109
![dashboard team cheesy rgsoc 2015](https://cloud.githubusercontent.com/assets/6314687/10191424/23fa9b24-6774-11e5-83e7-c0c00f09605d.png)

[2015-09-30 11:10] alicetragedy commented on #109
:tada: :confetti_ball: :sparkles: :sparkling_heart: :space_invader: :clap:

[2015-09-30 11:10] F3PiX commented on #109
It would be great to add markdown to the notepad, so that supervisors can use it as a to do list as well. That required more Javascript then we acquired this Summer. Anybody?

[2015-09-30 11:10] F3PiX commented on #109
:bow: Thank you Laura!

[2015-09-30 11:12] F3PiX commented on #108
I think we can close this, thanks to the responsive magic by @roosdebildt.

[2015-09-30 11:14] sareg0 commented on #256
it sounds interesting for sure, particularly since the supervisor can have a bit of a running record of how many reminders have been sent.
Re. the warnings though, the orga team makes a decision on sending those, so it feels like a different concern to being in the  supervisor's dashboard.

[2015-09-30 11:15] F3PiX commented on #154
I couldn't remove my own roles. Would be great to solve this, it will make the life of next year's Rails Girls so much easier. Someone want to pair with me on this?

[2015-09-30 11:18] F3PiX commented on #256
Aha, I see: there are reminders and there are warnings. So only the reminder should be sent by the supervisor, cc orga.

[2015-09-30 11:19] F3PiX commented on #136
As of SoC 2015, the supervisor namespace exist as well :tada:
Close this?

[2015-09-30 11:23] roosdebildt commented on #108
nope, this one is still on unfortunately :(

[2015-09-30 11:23] #266 closed

[2015-09-30 20:45] carpodaster commented on #109
Great work, Roos + Maud!!

PS: Adding markdown is pretty easy (see the activity log views), adding a WYSIWYG editor for MD is a bit of work. I wouldn't go the WYSIWYG route but feel free to send a PR for the the markdown rendering :)

[2015-09-30 20:45] #109 closed

[2015-10-01 08:59] #153 closed

[2015-10-01 09:01] carpodaster commented on #301
Hey @F3PiX, your season switch PR solves this problem, I think. It does not warp into a future season, but it achieves the desired effect by modifying the _current_ one. Do you think this one can be closed?

[2015-10-01 09:05] carpodaster commented on #253
@ramonh Are you still working on this? If not, want someone to take over?

[2015-10-01 09:36] ramonh commented on #253
Woops! Completely forgot I had pledged to do this. Sorry, but thank you for the reminder! I'll go ahead and do it if that's cool

[2015-10-01 09:46] carpodaster commented on #253
Yeah sure, and no hurry! I was just going through some of the issues and see if they can be closed

[2015-10-01 10:08] ramonh commented on #253
Sounds good, thank you!

[2015-10-01 22:09] F3PiX commented on #301
Sure! May I have the honor?

[2015-10-01 22:09] #301 closed

[2015-10-01 22:16] F3PiX commented on #109
We found that, and it looked easy, because all the hard work with RedCarpet and the config is already there. But, my problem was: we don't have a show view, because of the find_or_create_by. Do you mean that it still is solvable without JavaScript? Then I'll look at it again.

[2015-11-25 22:33] carpodaster opened #322 ""Submit your Project" (header nav) should be more prominet"
Maybe a text link in the nav bar won't do. What about a big fat red circle somewhere?

[2015-11-25 22:51] carpodaster opened #323 "Setup staging area"

[2015-11-25 22:51] carpodaster opened #324 "Glue season logic onto projects"

[2015-11-25 22:52] carpodaster opened #325 "Add comment section to projects#show"

[2015-11-25 22:52] carpodaster opened #326 "Add orga/projects_controller"
* Access to admins only
* Allow accepting / rejecting the project

[2015-11-25 22:55] carpodaster opened #327 "Create basic CRUD of project"
* Form fields see db/schema.rb
* current_user becomes Project#submitter
* Editing/updating the project for the submitter only

[2015-11-25 22:56] carpodaster opened #328 "Allow markdown input for a project's text data"

[2015-11-26 09:46] ramonh commented on #327
Quick question, if I understood the first point correctly, I need to add missing fields to the `projects` table, correct?

[2015-11-26 12:44] carpodaster commented on #327
Hey Ramon. The columns on the table `projects` have already been added. You can look them up in the `db/schema.rb` file. We need a form for these columns/attributes.

[2015-11-26 13:32] ramonh commented on #327
Right! Gotcha. Thank you for clarifying @carpodaster! I'm on it

[2015-11-26 14:46] carpodaster commented on #327
Cool! Thank @ramonh !

[2015-11-26 23:11] carpodaster commented on #327
Oh btw, you can base your work on the remote branch `feature/project-proposals` and if you want to lodge a PR you can base it against that same branch.

[2015-11-26 23:33] ramonh commented on #327
Awesome, thank you! I did eventually realize that that's where I should start :)

[2015-12-05 20:32] carpodaster commented on #325
@ramonh would you have to tackle this one? I'm still working on the season logic of the project proposal :(

[2015-12-05 20:33] ramonh commented on #325
Hey @carpodaster! I definitely can, but will be time constricted tomorrow (having a long day of flying tomorrow). By when do we need this?

[2015-12-05 20:38] carpodaster commented on #325
In Wednesday's hangout we decided to start testing on Sunday afternoon.

[2015-12-05 20:40] ramonh commented on #325
Ok, Hm. I'll be flying to Japan very early in the morning, so I don't think I'll manage this in time (or if I do I'll likely not have access to WiFi) :(

—
Ramón Huidobro

http://ramonhuidobro.com

On Sat, Dec 5, 2015 at 9:38 PM, Carsten Zimmermann
<notifications@github.com> wrote:

[2015-12-05 20:44] ramonh commented on #325
However, I can start tonight. @carpodaster you mentioned that I could use the `comment` model, correct?

[2015-12-05 20:49] ramonh commented on #327
I think it makes sense to actually delete the project, carrying over from #331

[2015-12-05 22:10] carpodaster commented on #325
Sorry, @ramonh - been in the train w/o internet. It's late now and probably too late to get started, even more so when you have a big voyage tomorrow (Japaaan!? Awesome :) ).

[2015-12-05 22:11] carpodaster commented on #327
You're right. Let's just flush it :)

[2015-12-05 22:11] #324 closed

[2015-12-05 22:14] carpodaster commented on #322
This is what the header looks like. If there are any suggestions on how to make more prominent: feel free to add it to the remote branch (you can check out it out locally with `git checkout origin/feature/project-proposals` (if you have checked out the repo directly, otherwise it's probably `upstream` instead of `origin`)

![bildschirmfoto 2015-12-05 um 23 11 55](https://cloud.githubusercontent.co

[2015-12-05 22:14] carpodaster commented on #322
Ping @alicetragedy ? :art:

[2015-12-05 22:34] ramonh commented on #327
Great! I'm glad you agree :) I just made #332 for it

[2015-12-05 22:39] #327 closed

[2015-12-05 22:39] ramonh commented on #325
No worries! I can relate. Thanks for understanding (Yee! I'm excited and nervous)

[2015-12-05 23:56] carpodaster opened #333 "Add hints to project proposal form"
Little hint texts and/or placeholder attributes for the inputs

[2015-12-06 00:01] carpodaster commented on #323
https://rgsoc-teams-staging.herokuapp.com has a fresh DB dump now

[2015-12-06 00:01] #323 closed

[2015-12-06 00:01] carpodaster opened #334 "Add language labels"

[2015-12-06 09:06] alicetragedy commented on #322
Just saw this @carpodaster – I'm happy to take a look at it today and see what I can come up with :)

[2015-12-06 10:15] alicetragedy commented on #334
awesome if this happens :+1:

[2015-12-06 13:15] alicetragedy opened #335 "Improve header nav (mobile)"
The header nav on mobile definitely needs some :heart: (see screenshot, which is what happens when clicking on the burger menu)
This is a low-priority issue, but still worth noting. I might be able to take a look at this next week but if anyone else wants to jump on this issue, feel free to do so!

<img width="679" alt="screen shot 2015-12-06 at 14 10 19" src="https://cloud.githubusercontent.com/a

[2015-12-06 13:36] #325 closed

[2015-12-06 13:36] #328 closed

[2015-12-06 14:18] #326 closed

[2015-12-06 14:26] #333 closed

[2015-12-06 15:30] alicetragedy opened #337 "Project Submission: bullet points don't render in view"
it appears that lists that are entered in the "project description" or "issues, features, milestones" fields don't render with bullet points in the project "show" view. Since the field accepts Markdown, the bullet points should render properly. This is probably just a small styling/css issue!

[2015-12-06 15:48] alicetragedy opened #338 "Project Submission: error when commenting"
I can't seem to be able to comment on a project. This is independent from project state (I tried commenting on projects that are `accepted`, `rejected` and `pending`) and from project owner (I tried with projects that belong and do not belong to me, just in case).
Current roles of testing user: `organizer`, `reviewer` and `supervisor`.

[2015-12-06 17:06] carpodaster commented on #338
Updated staging, works now

[2015-12-06 17:06] #338 closed

[2015-12-06 18:49] alicetragedy commented on #322
I think we can close this!

[2015-12-06 18:56] #337 closed

[2015-12-06 19:14] #322 closed

[2015-12-06 20:46] carpodaster commented on #334
Allows input of comma-separated values. No fancy jQuery stuff.

[2015-12-06 20:46] #334 closed

[2015-12-06 20:48] alicetragedy commented on #334
Super cool, thank you! :rainbow:

[2015-12-06 21:01] carpodaster opened #342 "Gather mentor data when mentor != submitter"
* Add `mentor` association
* Most of the time, it's the submitter herself

When `submitter.github_handle != mentor_github_handle`:

* see if there a user with that gh handle in the db already
* Otherwise: create user and get data from github api
* Maybe inform recruiter via email?
* Is `mentor_name` still needed then?

[2015-12-06 21:07] carpodaster opened #343 "Fix the nav.actions.ul.list-inline.li styling"
![bildschirmfoto 2015-12-06 um 22 06 34](https://cloud.githubusercontent.com/assets/164400/11615589/b3f465f4-9c65-11e5-9cbd-59227f5b9c6a.png)

See:

- [x] teams#show
- [x] users#show
- [x] projects#show (currently in feature branch)
* ... (probably others as well)

[2015-12-06 21:10] alicetragedy commented on #343
Absolutely. Was thinking about this earlier, and thought maybe we could move the "Signed in as" to the right (it feels more intuitive to me that way) and navigation-related stuff to the left.

[2015-12-06 21:21] carpodaster opened #344 "Project proposals: require a mentor_email"
We cannot rely on retrieving it through the GH API since it may not be publicly available

[2015-12-06 21:23] carpodaster opened #345 "Project comments: no emails are sent. How do we avoid spammy conversations?"
Writing a notification opt-in / opt-out logic for a project proposal's commenting system seems overkill. But lots of comments can get spammy fast. How do we go about it?

[2015-12-06 21:27] carpodaster opened #346 "Refactoring: Make Comment polymorphic"
The Comment model has grown a set of commentable records' foreign keys. We should refactor it into a `belongs_to :commentable, polymorphic: true` instead of listing all types of recods individually.

There's no deadline for this and can be done whenever there's time. @marcgreenstock and @lucaspinto, is this something you could see yourself working on?

[2015-12-07 12:00] alicetragedy opened #347 "Editing/destroying a project as an organizer not owning it returns 404"
As an organiser, I can view the Edit/Destroy buttons on a project that doesn't belong to me (and hence, which I should not be able to delete/edit). See screenshot:

<img width="1239" alt="screen shot 2015-12-07 at 12 57 13" src="https://cloud.githubusercontent.com/assets/3143348/11626336/4444e436-9ce2-11e5-9ca6-c5330152996e.png">

The same happens with the icons in the projects index. Ideally, all

[2015-12-07 12:06] anikalindtner opened #348 "Redirect to /projects/new after signing up"
When I click on "submit your project" and am not logged in:

After people sign up for the teams app (or log in ) they should be redirected to /projects/new and not their profile page (that's how it is for now). This is confusing. But I remember that this is a teams-app thing. The app doesn't 'remember' where I wanted to go before I logged in. Would be great if we can change that.

[2015-12-07 12:12] anikalindtner opened #349 "Edit Sucess-text"
After submitting a project the submission text should read something like:

Thank you for submitting you project for Rails Girls Summer of Code 2016! We will review it in the next days and come back to you with questions or feedback.

If you have any problems or questions, email us at summer-of-code@railsgirls.com.
Cheers!

[2015-12-07 12:14] anikalindtner opened #350 "Add disclaimer above the form"
To make sure, mentors have read our guide, I'd love to have a highlighted text (can be in a box or sth) above the form saying: "Please make sure you have read our mentor guide before you submit your Open Source project for Rails Girls Summer of Code 2016." And then have a link (opening in a new window) to our mentor guides.

[2015-12-07 12:15] carpodaster commented on #347
This is actually a feature: An organizer has admin-powers and can do everything she wants. This is also in line with the Github proposal system where we can edit/delete issues at will, too.

[2015-12-07 12:17] alicetragedy commented on #347
yes, but the problem is that it doesn't let me edit/delete – I get a "Page does not exist" error message

[2015-12-07 12:18] carpodaster commented on #348
I'm afraid this is a general issue and cannot be fixed easily since we don't "own" the login mechanism :disappointed:

[2015-12-07 12:18] #348 closed

[2015-12-07 12:24] carpodaster commented on #347
Ah! Ok, that's a bug then.

[2015-12-07 12:24] carpodaster commented on #347
But do we agree on the fact that we as organizers should be allowed to delete/update things?

[2015-12-07 12:25] alicetragedy commented on #347
I think so, at least deleting. :+1: and at that point, I reckon edit should be ok too

[2015-12-07 12:26] carpodaster commented on #349
You mean instead of the "Project was successfully submitted." flash message? Your proposed text might be a little too long for that, but we can introduce a "receipt" page.

This issue is up for grabs! :smiley_cat:

[2015-12-07 12:28] carpodaster commented on #350
Good point! Can you give me the link to the correct document to link to? Thanks!

[2015-12-07 12:28] alicetragedy commented on #350
:+1:

[2015-12-07 12:38] alicetragedy commented on #347
#bugorfeature ;)

[2015-12-07 12:38] anikalindtner commented on #350
http://railsgirlssummerofcode.org/guide/projects/

[2015-12-07 12:39] anikalindtner commented on #345
I think it's fine that they receive emails about it, after all it's their project and they should know about what's going on. Because if they *don't* get notified, nothing will ever happen.

[2015-12-07 12:43] carpodaster commented on #350
It's on staging now. (I changed the "2016" to "upcoming" though)

[2015-12-07 12:43] #350 closed

[2015-12-07 12:43] carpodaster commented on #344
The database column was there actually, just had to add that to our form.

[2015-12-07 12:43] #344 closed

[2015-12-07 13:47] alicetragedy commented on #344
:+1:

[2015-12-07 13:49] anikalindtner opened #351 "Add a lock for comments"
When we want to close the projects or and signal that the students shouldn't get in contact with the mentor anymore via the comment section, we need to be able to close the comments.

[2015-12-07 13:52] alicetragedy commented on #345
Cool, I like this approach @anikalindtner — it's true that if the students comment to say they want to apply to a particular project, it would be good if the mentor is notified.

[2015-12-07 13:57] carpodaster commented on #351
Should the `rejected` state imply that the comments are locked?

[2015-12-07 14:00] carpodaster commented on #345
:+1:

[2015-12-07 14:01] anikalindtner commented on #351
@carpodaster yes!

[2015-12-07 14:20] alicetragedy opened #352 "Reposition icon beside team name (due to mobile issue)"
On top of the nav issue already mentioned in https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/335, I've noticed a couple of glitches with ie. Headers being cut off when the browser is resized. In the example below, the start is cut off when width of browser is between 992 and 1200px.

<img width="594" alt="screen shot 2015-12-07 at 15 15 13" src="https://cloud.githubusercontent.com

[2015-12-07 15:46] alicetragedy commented on #343
Note to self: don't close yet — I'll add the missing one from the feature branch once we've merged.

[2015-12-07 15:53] alicetragedy commented on #349
Happy to take a look. Probably not today but early tomorrow :)

[2015-12-07 22:02] carpodaster commented on #351
Comments can be locked/unlocked in the orga/projects overview (where you accept/reject them).

[2015-12-07 22:02] #351 closed

[2015-12-07 22:03] carpodaster commented on #345
Notifications for submitter, mentor (if not the same person), and all commenters are now active.

[2015-12-07 22:03] #345 closed

[2015-12-07 22:05] alicetragedy commented on #351
:tada:

[2015-12-07 22:05] alicetragedy commented on #345
brilliant!! \o/

[2015-12-08 08:41] carpodaster commented on #349
You can probably copy the `app/views/applications/create` view and adapt it. The `ProjectsController#create` action would have to be changed so that it doesn't redirect anymore.

To avoid hardcoded years, the year of season can be accessed  with `@project.season.year`

[2015-12-08 09:58] alicetragedy commented on #349
Perfect, thank you for the hints @carpodaster. Haven't done much work on the Teams App so that definitely helps give me a head start. :+1:

[2015-12-08 10:02] alicetragedy commented on #343
project views have been updated as well, see 225914891941463489923bb91e4a68ff0e58eaa4

[2015-12-08 10:02] #343 closed

[2015-12-08 12:23] carpodaster opened #356 "Project Proposals: Don't echo my own comment via email"
The commenter is a subscriber, yes, but should not get notified about the comment they just made. :joy:

[2015-12-10 20:26] #356 closed

[2015-12-10 20:31] #347 closed

[2015-12-10 21:04] carpodaster opened #357 "activities#index: image is too big for blog posts fetched through teams' RSS"
Activities published directly from the Teams App ("Minilog") are fine. However, updates being pulled from a teams' RSS feed will get a screenshot that's too big.

![bildschirmfoto 2015-12-10 um 21 34 05](https://cloud.githubusercontent.com/assets/164400/11728359/b0600a84-9f89-11e5-8fe8-375ed6c082d9.png)

[2015-12-11 23:11] alicetragedy commented on #357
happy to take a look at this sometime next week.. unless you want to practice your CSS skills @carpodaster ;)

[2015-12-11 23:12] carpodaster commented on #357
![Don't make me go that route!](http://2.bp.blogspot.com/-41v6n3Vaf5s/UeRN_XJ0keI/AAAAAAAAN2Y/YxIHhddGiaw/s1600/css.gif)

 :wink:

[2015-12-11 23:13] alicetragedy commented on #357
that gif never gets old 😅

[2015-12-22 12:57] alicetragedy commented on #349
the thank you page was added in 3be24371daefc5a39ac0f00b59f790b6fd02b6cd
closing this! :tada:

[2015-12-22 12:57] #349 closed

[2015-12-24 14:57] F3PiX commented on #335
Hi @alicetragedy ! I have the exact same problem in my current pet project. I surely want to take this one, if you think it is doable for me? And maybe you point me in the right direction?

[2015-12-24 15:13] alicetragedy commented on #335
Hi @F3PiX! For sure, I've assigned you to it as I'm absolutely certain that it's doable for you :+1: I will not be online much in the next few days, but ping me if you're stuck and I will get back to you about it :)

[2016-01-04 17:02] alicetragedy commented on #357
fixed in 619da1bc433fc0f02ce894e2cbff2a861c9aecca
it's an ugly fix, but it will do. YOLO!

[2016-01-04 17:05] carpodaster commented on #357
Yess! Thanks, @alicetragedy !

[2016-01-04 17:05] #357 closed

[2016-01-12 10:13] alicetragedy opened #359 "Projects: accept/reject right from project view"
From a UX point of view, it would make sense to also have the accept/reject buttons in the single project view. When a project is submitted, I first look at the project description, maybe comment on the project and then decide if I want to accept or reject. It seems natural to also be able to do it from the `show` view itself, without having to go back to the project list.
Any thoughts?

[2016-01-12 10:16] alicetragedy opened #360 "Projects: fix back button"
When accessing the project list as orga (`orga/projects`) and clicking on a single project from there to view it, the back button on the single view takes the user back to the "normal" projects list (`/projects`). This should be fixed :)

`javascript:history.back()` might be the easiest way.
Thoughts?

[2016-01-13 17:32] alicetragedy opened #361 "Projects: wrong url for project website"
In the project show view, the `project website` link goes to the project url on the teams app and not the actual url of the website (even though the text for the url link is right).
Should be easily fixable ;)

[2016-01-14 08:14] #361 closed

[2016-01-14 08:20] alicetragedy commented on #361
thank you @carpodaster! I had too many things on my list yesterday but I'm glad you took over this :tada:

[2016-01-18 20:14] lucaspinto commented on #276
Hey @alicetragedy, what's the status here? Is there an easy way to test it?

[2016-01-18 20:14] lucaspinto commented on #277
Hey @alicetragedy, what's the status here? Is there an easy way to test it?

[2016-01-28 22:52] alicetragedy commented on #360
FINALLY fixed in b79150362fb36ffaedf4b48b1e20699dcee16a95

[2016-01-28 22:59] #360 closed

[2016-01-29 08:38] carpodaster commented on #198
We decided to do it this way during our Post-Summer hackday in Vienna, right?

[2016-01-29 08:48] carpodaster commented on #186
@alicetragedy since you're working on some fine tuning for the application process, do we have a use case for this? If not, I'm inclined to close this.

[2016-01-29 09:20] carpodaster commented on #131
Projects are no longer proposed on GH. Closing.

[2016-01-29 09:20] #131 closed

[2016-01-29 13:59] carpodaster commented on #136
I'd like to keep it open until we've sift through the app once more to assert that we've indeed moved everything that can be moved to separate namespaces.

[2016-01-29 14:02] carpodaster commented on #110
@anikalindtner I don't think we can cluster by location as our users' locations will be very diverse. Maybe selecting students/teams with a checkbox individually would solve the problem?

[2016-01-29 15:07] carpodaster commented on #108
The loooong index view could potentially be fixed by displaying different data in the corresponding controller in the orga-namespace.

[2016-01-29 15:10] carpodaster commented on #84
#108 is related.

[2016-02-03 16:12] alicetragedy commented on #186
@carpodaster we can discuss on tonight's call, but since we decided to "kick out" the idea of the project plan, this issue would be obsolete. Should we need this in the future, we can always re-open. +1 on closing it!

[2016-02-03 16:14] carpodaster commented on #186
@alicetragedy you're absolutely right. Cloooooosing tiiime! :musical_note:

[2016-02-03 16:14] #186 closed

[2016-02-03 16:17] alicetragedy commented on #186
:dancers:

[2016-02-03 20:55] carpodaster opened #362 "Collect examples for skill level estimation and assign scores to each item"
Instead of having a radio button that assigns a discrete skill level (from 1 to 5) to a student, we want to build up a sum of different skills, both social and technical, based on a list of selected examples.

The examples have to be programming language agnostic. The score for each item should be between `1` and `3` (1 being "basic" and 3 being more advanced stuff). The score is hidden from the u

[2016-02-03 21:07] carpodaster opened #363 "Rework team-forming process: no mentors, other student and coaches get invite"
Non-orga people can no longer add mentors to their teams.

Coaches added to the team will get an invite notification they can accept. Only then will they appear on the roster.

Idea: Even adding the 2nd student should be done by invite. As long as the "team" doesn't have a 2nd student, it will not be a `confirmed` team (adding a state machine here?) and it will not appear in the list of teams on t

[2016-02-03 21:10] carpodaster opened #364 "Change mentor sign-off to »mentor fav« (mentor pick)"
After the application phase is closed, present the mentors a list of applications referencing their project. They get to pick one team that they favor, maybe because the students have been in contact with them beforehand.

That mentor fav can serve as a soft boon during the review of the applications

[2016-02-03 21:13] carpodaster opened #365 "Application process: Remove requirement of coaches' comments"
Remove 'why successful' field.

Q: Allow students to fill in the »How much time are your coaches packin'?« question or shall we remove it alltogether?

[2016-02-03 21:17] carpodaster opened #366 "Application process: normalize location fields with Google auto-complete"
We request people to answer »Where do you plan to live July-September?« as _City, Country_ which doesn't work so well in all cases. Google provides an autocompleter for location data that could remove some of the randomness in the entered data.

[2016-02-03 21:21] carpodaster opened #367 "Application process: categorize / bundle application form fields for the individual steps"
* [x] Find descriptive "category" names (e.g. "Personal Info", "Programming Background")
* [x] Define which  form fields should go into which step

[2016-02-03 21:23] carpodaster opened #368 "Application process: define which fields should be hidden from the fellow student"
1) Financial info
2) …

Anything else?

[2016-02-03 21:25] carpodaster commented on #203
Mentors will no longer be part of a team in the application phase. Closing.

[2016-02-03 21:25] #203 closed

[2016-02-03 21:26] carpodaster commented on #198
Moved to #362

[2016-02-03 21:26] #198 closed

[2016-02-03 21:29] carpodaster commented on #193
The 2016+ application process will reduce the involved parties to just the two students. Closing.

[2016-02-03 21:29] #193 closed

[2016-02-03 21:30] carpodaster commented on #187
Students will invite coaches. You can't join the other way round. Closing.

[2016-02-03 21:30] #187 closed

[2016-02-05 12:10] F3PiX commented on #365
From my experience, it is a) hard for students to foresee the availability of their coaches , and b) it is hear-say, so it is hard to compare between applications. On the other hand, it may be handy to ask the coaches directly how they see their commitment. We had very committed coaches, but came nevertheless coaching hours short, especially at times when some of the coaches were out of town.

[2016-02-06 08:18] F3PiX commented on #368
Again, from my experience last year: there are no other fields that I would like to hide from my teamie. Based on last years form.
Note: I can't remember it, but in the form it doesn't SAY that the financial info is hidden from the other student, it only mentions the coaches and mentor.

[2016-02-06 08:22] F3PiX commented on #368
And for everybody who wants easy access to the form: we have a time travelling switch, which makes visiting the form easier. Go to http://localhost:3000/orga/seasons. Switch to the Application phase.
After clicking Apply now, you have to add yourself to a team and then you can view and play with the form.

[2016-02-08 16:00] ramonh commented on #365
Tricky indeed. I wonder, would it perhaps be wise to advise coaches before confirming their involvement, perhaps in the form of a checkbox, that they need to be as available as possible? Perhaps this could resolve itself as we make coaches more involved in the overall communication this time around.

In any case, I'll happily handle the removal of this field.

[2016-02-09 14:07] alicetragedy commented on #367
For the tab categories there are three possibilities:
1) Student 1, Student 2, Team (includes project info), Coaches
2) Student 1, Student 2, Team (including coaches) and Project
3) Student 1, Student 2, Team, Coaches, Project

Nr. 2 seems more intuitive, but I don't know what your thoughts are on the topic.
Nr. 3 feels like an overwhelming amount of tabs to me, and I'd like to stick to 4 tabs max

[2016-02-09 21:19] carpodaster commented on #365
Having meditated on this for a while now I'm in favor of leaving coaches out of the application process alltogether, save the fact that they have to accept being part of the team in the first place.

As @F3PiX pointed out, it's very difficult to estimate how much time will be available anyway so whatever is being entered may not be valid anymore come summer. Or could be fake in first place ;)

Ver

[2016-02-09 21:21] ramonh commented on #365
Sounds good! I'll go ahead and remove both fields, then.

[2016-02-09 21:55] alicetragedy commented on #365
@carpodaster does this mean we are not entering any values that refer to the coaches' availability in the form at all? (fine with me, am just checking for guide update purposes)

[2016-02-09 22:05] carpodaster commented on #365
@alicetragedy ah, good that you have The Guides™ in mind. Ooops.

The only bit of information we could us is their general level of support, e.g. having a "coaching company" or some office space. I don't think we explicitely ask for that, or do we?

So my proposal is as follows:

* Do not enable / require to edit the application draft anmore
* Remove "why will this team be successful?"
* Remove "h

[2016-02-09 22:12] alicetragedy commented on #365
:+1: for removing ALL THE THINGS
when you write "Make sure that we gather information about their general support structure" do you mean that the coaches will be entering this somewhere? Or would you see this as the students' job?
I believe this is info which the students/team could provide, if we really want to make the application non-editable by the coaches and have a hands-off approach (ie. we

[2016-02-09 22:23] ramonh commented on #365
I like the sound of both of the above. I'll try and break this down into as many small tasks as possible, starting with the removal of the fields

[2016-02-09 22:25] carpodaster commented on #365
@alicetragedy Yes, I meant this as a students' job.  No coaches' mingling in the application draft form.

[2016-02-11 12:10] F3PiX commented on #225
What seeds do we need most?
[ ] Filled in application forms
[ ] Teams (we do have user seeds, but they are not yet in teams)
[ ] ?

[2016-02-11 12:13] alicetragedy commented on #225
@F3PiX maybe filled in projects as well (the application process now involves selecting an approved project from a dropdown menu, so one or two projects should be available).

[2016-02-11 12:23] F3PiX opened #372 "Increase session timeout for Github logins"
When we were working on the Supervisor Dashboard during SoC2015, some of the supervisors told us about annoyances with Github Authentication:
1 having to authenticate w GitHub "all the time" (which boiled down to: every day or every few days)
2 after auth w GitHub, you are not returning to the page where you came from

#1 Not sure if this managed by GitHub. If not, it can be managed by Devise (AFA

[2016-02-11 12:44] alicetragedy commented on #372
I think Nr. 2 is definitely a huge priority. Thanks for adding this! 👍

[2016-02-11 13:50] anikalindtner commented on #372
AFIAK @carpodaster said that we can't do anything about the redirect to the previous page since that's handled by the GH auth thing? I also find this super annoying and would love to have this different.

[2016-02-11 20:24] carpodaster commented on #14
We have a included a micro blog system into the Teams App last year. While I completely agree that the Github activity would create visibility, I think it would also create a lot of noise. I'm closing this in favor of the Activity Log

[2016-02-11 20:24] #14 closed

[2016-02-11 20:27] alicetragedy commented on #14
I think I can live with that. ;)

[2016-02-11 20:39] carpodaster commented on #372
Ohai. I have may have just fixed no. 2 :relaxed:

If no. 1 was reported as being annoying during the summer we should definitely fix it. It would be super-nice if you could work on that, Maud. Especially because I have no idea about devise's internals :grin:

[2016-02-11 20:40] alicetragedy commented on #372
Carsten's :sparkles: magical dev powers :sparkles:

![tumblr_m9dlcwp2yr1qiyseco3_250](https://cloud.githubusercontent.com/assets/3143348/12989968/085e07d6-d108-11e5-8b14-13e311861614.gif)

[2016-02-11 20:41] anikalindtner commented on #372
WHOAA

[2016-02-11 20:50] F3PiX commented on #372
:bow:

[2016-02-11 21:36] carpodaster commented on #365
With #371 done and 258eff3d2174a4cb67e19acd513b5d7fb84dffa3, coaches can no longer access the draft. Done!

[2016-02-11 21:36] #365 closed

[2016-02-11 21:37] ramonh commented on #365
Nice, thank you @carpodaster!

[2016-02-13 16:16] beanieboi commented on #372
@F3PiX let me know if #373 fixed the issue, hopefully we can close this then :)

[2016-02-13 16:42] beanieboi commented on #335
did #358 fix the issue? i try to lean some CSS so i was looking at the issues tagged with "styling" :)

[2016-02-13 17:01] beanieboi opened #375 "rake db:migrate broken"
hey

i just tried to setup the teams app and the migrations are not running through.

[code]

the problem is that in `20150625085615_add_seasons_to_mailings.rb` we try to access `Season.current` which tried to create a Season with attributes `project_proposals_open_at` that are not present yet in the current point of migrations.

what do you think would be a good fix? i can work on it!
what i usua

[2016-02-13 17:23] beanieboi commented on #375
i can also move the line `Mailing.update_all(seasons: [Season.current.name])` from
`20150625085615_add_seasons_to_mailings.rb` to `20151205133354_add_project_proposal_dates_to_seasons.rb`

it alters the migrations, but i think there is no way to fix this without changing the migrations.

[2016-02-13 17:51] F3PiX commented on #375
Just pulled upstream and run db:migrate. I did not have this migration problem. Does that prove anything at all? :-)

[2016-02-13 17:55] beanieboi commented on #375
hey @F3PiX

did you start with a empty database? when i changed the two files like mentioned above it works for me. it's important that the db is empty and you run all migrations.

[2016-02-13 17:58] F3PiX commented on #375
Aha, no, it probably had to do only the latest migration. Thanks for clarifying.

[2016-02-13 18:34] carpodaster commented on #375
@beanieboi That is indeed a bug! @ramonh ran into this the other day. We "fixed" it by importing a recent dev DB dump but that's obviously a real solution for the problem.

Squashing old migrations sounds like a very good idea! :+1: Thanks for working on this, it's highly appreciated! :confetti_ball:

[2016-02-13 18:37] alicetragedy commented on #335
oops! thanks for asking @beanieboi — #358 did indeed solve the problem so I'm going to close this now. :) feel free to ping me if you want to pair on something css-related with me! :sparkles:

[2016-02-13 18:37] #335 closed

[2016-02-14 19:49] sadiksha commented on #199
To get a basic idea of the project, I would like to work on this issue.

As I understand, the dialog should appear before submitting the project. Is it right?

[2016-02-15 12:04] carpodaster commented on #363
@ramonh @lucaspinto Whould anyone of you have time to work on this this week?

[2016-02-15 12:05] ramonh commented on #363
Sure thing @carpodaster I'll give it a go :)

[2016-02-15 12:07] ramonh commented on #363
What I'll try to do is break this into smaller pieces:

- Remove Mentors
- Remove and add coach 'invite' system
- Remove and invite second student, migrate to state machine

[2016-02-15 12:09] carpodaster commented on #199
Hello @sadiksha ! We're in the process of reworking the application process (again…). This issue is still relevant but we are very likely to move some files around, it's probably best to implement this is as modular as possible. That way we can easily transfer the work / the patch from your branch or Pull Request to the new application process.

As for your question: absolutely right, this would b

[2016-02-15 12:14] carpodaster commented on #363
Cool, @ramonh !

I would implement the other-student-invite first since only after accepting the invitation do we have an actual `confirmed` team (it may be `pending` first, in terms of the state machine).

I would leave the logic of a team to generally contain mentors or any other role (like supervisors later on). We just have to ensure that a team can only ever be created on the public website w

[2016-02-15 12:16] ramonh commented on #363
Makes sense, thank you @carpodaster.

If I understood correctly then, it would be best for the team not to be `confirmed` until both a second student and at least one coach accept their invitations, correct?

[2016-02-15 12:19] carpodaster commented on #363
I would drop the requirement of having at least one coach to have a `confirmed` team. Pure pragmatic reasons: a confirmed team should be able to create an application draft. They can start filling out their stuff without having to wait for a coach to hop on (they may still be in the process of finding any).

[2016-02-15 12:19] ramonh commented on #363
Got it. I'll start having a look today. Thanks for your help! :+1:

[2016-02-15 12:21] carpodaster commented on #363
No, thank _you_, sir :)

[2016-02-15 12:21] ramonh commented on #363
:smile:

[2016-02-15 13:16] lucaspinto commented on #363
Alas, I won't have time before Saturday.

[2016-02-15 18:01] beanieboi commented on #335
@alicetragedy totally! would love to do that! i will look at some CSS issues and try to work on them and try to do as much as i can to learn. when i'm stuck, i'll ping you on slack so we can schedule something? does work for you? :sparkler:

[2016-02-15 18:19] alicetragedy commented on #335
@beanieboi sounds perfect! 👯

[2016-02-15 20:42] carpodaster commented on #375
@beanieboi Just an idea in the middle of something else: can't you get past this error by doing `rake db:create; rake db:schema:load` ?

[2016-02-15 20:55] beanieboi commented on #375
loading the schema works. It's just updating the mailings where we call Season.current that breaks everything.

[2016-02-15 20:56] carpodaster commented on #375
But if you loaded the schema on a fresh DB, you don't have to run the migrations. And there aren't any mailings to update anyway.

[2016-02-15 21:22] beanieboi commented on #375
That's true. But we should fix that bug since beginners can run into it and don't know what do to. db:migrate is part of every rails tutorial and it should work IMHO

As I wrote in the issue we can also just switch the mailing update to a later migration where the Season schema is complete.

[2016-02-15 21:50] F3PiX commented on #372
Hi @beanieboi, I don't know how to check if it is fixed. I never had this issue myself. It _sounds_ like it is solved though ;-)

[2016-02-15 22:07] carpodaster commented on #225
@alicetragedy @F3PiX all of the above :wink:

* An unaccepted team
* An accepted team
* A accepted, but voluntary team
* An application draft, unsubmitted
* An application draft, completed
* A  `proposed` project
* An `accepted` project
* A `rejected` project

[2016-02-15 22:19] F3PiX commented on #225
:sparkles: Thnx

[2016-02-18 13:18] alicetragedy commented on #367
Categories:

- Requirements
- Personal Information
- Financial Information (could go into personal?)
- Programming skills
- Teamwork
- Goals & Motivations

Step 0: Requirements (read and understood application guide, identifying as a woman/non-binary, team member location is the same)
Step 1: Personal information (includes basics like name, location, and background information text. if needed also

[2016-02-18 13:21] alicetragedy commented on #368
thanks for the heads up @F3PiX!
about the hidden info: maybe I'd also hide the "essay" they're planning to write, but I think that's about it.

[2016-02-18 13:27] alicetragedy commented on #362
- [ ] I can use the command line for every day tasks (moving and deleting files, changing directories) {`1`}
- [ ] I am used to working independently and managing my own tasks {`1`}
- [ ] I have heard of agile project management before {`2`}
- [ ] I have done pair-programming in the past {`2`}
- [ ] I have gotten used to refactoring code {`3`}

some more ideas not so sure about the 'rating' though

[2016-02-18 14:03] F3PiX commented on #368
Great, they have to write an essay? I would definitively want to share that with my teamie, so I don't see the need to hide that from eachother. 1) I would reckon: IF we write non-compatible opinions, that would hamper our chances to get in. 2) If we indeed HAVE uncompatible opinions, we better know that before than during summer.

[2016-02-25 21:21] alicetragedy opened #379 "Feature request: SEARCH!"
The community area (/users) tends to become quite full every year. Even though we have pagination in place, finding someone in there is not 100% user friendly. I'd love for us to have a search in there in order to find someone quickly (mostly by name/username).

[2016-02-25 21:49] mkalininait opened #380 "Navigation bar on teams.railsgirlssummerofcode.org"
It seems to me that certain links are missing on the navigation bar:
1. Link to the 'Projects' page https://teams.railsgirlssummerofcode.org/projects
2. Link to the 'Activities' page https://teams.railsgirlssummerofcode.org/ (yes, you can get there by clicking on the logo, but this is not super transparent)

I think that the navigation bar should somehow reflect the structure of the website.

[2016-02-26 08:39] carpodaster commented on #380
Hello @mkalininait - thanks a lot for the suggestion. Yes, the navigation bar needs some love! The problem is that we have too many potential menu items and too little space.

There are some menu items that pop up during different phases of the RGSoC season (like project proposal phase,  application phase, actual coding phase, post summer …), too, which makes it even more difficult to "plan" what

[2016-02-26 08:41] carpodaster commented on #379
Morning @alicetragedy! Agreed, a search would be very helpful. I'm not too sure about searching for a (user)name, though. Ideally, you'd search for people in your vicinity, but that requires geocoding all users based on their location and may yield funny results if someone could not be geocoded (e.g. because they decided not to give any location info).

[2016-02-26 16:38] F3PiX commented on #380
@alicetragedy and I briefly discussed the possibility of changing the header into a 'real' bootstrap navbar. I suppose that would be the first step. Wdyt @alicetragedy ?

[2016-02-26 17:20] alicetragedy commented on #380
@F3PiX I think the teams app might need some restructuring anyway, and the navbar should reflect that :) as Carsten pointed out it's difficult when the menu items change throughout the summer according to the different phases, however I think we could definitely change it into a 'real' bootstrap navbar. :+1:

[2016-02-26 17:25] F3PiX commented on #379
I thought that I was able to do that, so I tried and I COULD :tada:
@carpodaster: I know it is not the BEST reason to add a feature :-) . WDYT?
See PR #382

[2016-02-29 20:52] alicetragedy commented on #276
update: the table / index looks acceptable. the styling can always be improved later on but I'd vote on closing this :)

[2016-02-29 20:53] #276 closed

[2016-02-29 20:55] alicetragedy commented on #277
this particular problem is fixed. closing :+1:

[2016-02-29 20:55] #277 closed

[2016-03-05 19:43] klappradla commented on #205
I'd love to look into this (and related) if noone is on it right now.
Would also suggest to, while on it, hide the `+ New Team` button in the team's index view for students already being part of a team. This button tricked me at first.

[2016-03-06 11:21] alicetragedy commented on #205
as far as I know @klappradla no one is on it. ( @ramonh @carpodaster correct me if I'm wrong ) so please go ahead :) +1 on hiding the `New Team` button, I think it's sensible. In fact, I believe there are quite a few UX things we could be fixing on the teams app ;) thank you!!

[2016-03-06 11:31] alicetragedy commented on #379
thanks @F3PiX! :sparkles:
@carpodaster you're right, for a lot of users, searching by location would make a lot of sense. In my case though, I often look up if people already exist in our community list and do so by name. Anyhow, I'm leaving this open, as I think we might want to think about ways to improve the search that Maud has already added (ie. adding location).

[2016-03-06 11:41] ramonh commented on #205
All :+1: from me!

[2016-03-06 13:03] alicetragedy opened #385 "Hide conferences and status updates from navigation during application phase"
The conferences and status updates should not necessarily be visible during the application phase, as it would only confuse users imho. this is related to issue https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/380

[2016-03-06 16:08] ramonh commented on #363
This probably has been answered elsewhere, but I can't seem to find it.

I've just about wrapped up the team revamping (#386), and have only the mentors to remove.

What are the consequences of coaches not being confirmed? Should students be blocked from finalizing the application? This makes sense to me.

@alicetragedy or @carpodaster, what are your thoughts?

[2016-03-06 16:12] alicetragedy commented on #363
@ramonh yes, I'd say that's how it should work. Maybe it sucks a bit for last-minute applications, but I don't really see any other way — other than a way of still submitting the application and `flagging` it, but we have no time for this right now. After all, this is in the requirements, so they should not be able to submit an application without.

[2016-03-06 16:29] ramonh commented on #363
Sounds good, thank you for getting back to me so swiftly @alicetragedy! I'll get on it, then

[2016-03-06 19:34] Nattivolk opened #387 "DB migration is failing on fresh database setup"
bundle exec rake db:drop db:create db:migrate is not working on fresh database setup.

Reason is:
- 20150625085615_add_seasons_to_mailings.rb is calling Mailing.update_all
- which calls Season.current
- which is depending on database column created in 20151205133354_add_project_proposal_dates_to_seasons.rb

This is not failing on travisCI, because we don't call db:drop here.

Workaround: Comment o

[2016-03-06 19:39] klappradla commented on #387
Try to run `bundle exec rake db:drop db:setup` instead, this should work. I have a PR including this almost ready 😉

[2016-03-06 19:41] Nattivolk commented on #387
ok, that works as well :)
Are you updating the readme?

[2016-03-06 19:44] klappradla commented on #387
I can update it later, yes.
You may also want to change the activities from the seed data to have a `published_at` value if you want to look at the start page as far as I can recall.

[2016-03-06 21:48] alicetragedy commented on #387
I think this is a duplicate of https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/375 and it looks like there are some open PRs which are taking care of solving this problem already, which Carsten is in the process of reviewing. Sorry for the hassle :disappointed:
@klappradla if you get a chance to update the readme, please feel free to do so. After the above mentioned PRs are merged

[2016-03-06 22:02] F3PiX commented on #379
In that case: maybe searching team names is also a nice future improvement.

[2016-03-06 23:45] klappradla commented on #205
I added the requested validation process in this PR: https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/389
It includes some rather subjective thoughts on the UX I would be totally fine to withdraw again. As the issue addresses more model-level stuff, I didn't really want to make any view- and UX-related decisions and therefore did not hide the `New Team` button yet.

If someone could

[2016-03-07 13:01] #204 closed

[2016-03-07 13:49] carpodaster commented on #363
@ramonh @alicetragedy What do you think about displaying an error box at the top of the application form when there aren't any confirmed coaches? Something like "Attention: there are currently no (confirmed) coaches on your team."

[2016-03-07 13:50] ramonh commented on #363
I like the sound of this, @carpodaster! Are you suggesting though that we allow students to apply without confirmed coaches?

[2016-03-07 13:55] carpodaster commented on #363
They shouldn't be able to _apply_ I don't think, but they should be able to start filling out the application form (draft). I was thinking about the alert box to avoid any last minute surprises as @alicetragedy mentioned.

[2016-03-07 13:56] ramonh commented on #363
Ah good, yes, make sense to me. Thanks for clarifying! I'm on it.

[2016-03-07 15:55] alicetragedy commented on #368
@F3PiX thanks for your input, it was really helpful.

[2016-03-07 15:56] alicetragedy commented on #367
I believe that as soon as https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/390 is merged we can close this.

[2016-03-07 20:27] Nattivolk commented on #385
![issue385](https://cloud.githubusercontent.com/assets/1571562/13582173/0b6cc988-e4ab-11e5-985a-7e6a2f0f9c14.png)

Should it look like the picture? And we just hide the conference and last activity column for now?

[2016-03-07 21:07] alicetragedy commented on #385
Hey @Nattivolk thank you for taking a look at this!
Sorry, I think my issue was not explicit enough — I wanted to remove / hide the "Status Updates" and "Conferences" menu points from the navigation only. It's okay if they are still shown in the teams list as columns, that's not such a big deal, but I think it's unnecessary as a menu point.
Feel free to ping me more if you have questions :)

[2016-03-08 19:15] ramonh commented on #363
@alicetragedy, @carpodaster: I added the above suggestion about warning applicants when not all coaches have confirmed. You can find this in #386

[2016-03-08 19:40] ramonh commented on #363
I also added the requirement that all coaches confirm their membership when submitting the application!

[2016-03-08 20:35] alicetragedy commented on #363
awesome, thanks @ramonh. had a pretty full day and will not be able to take a look before tomorrow-ish..

[2016-03-09 09:06] anyangocynthia opened #391 "Cannot edit team github and twitter accounts"

[2016-03-09 09:19] alicetragedy commented on #391
Hi @anyangocynthia, could you give us more information about this? What's the team id (or your user name, team name, or anything we can find the team by), and which steps did you go through that led up to this error? Are you getting any error message?

[2016-03-09 09:24] anyangocynthia commented on #391
I had created a team profile last year but did not apply for RGSOC , I was editing the same team since i am applying this year . So the team profile had a different github organization and twitter accounts , once i press the edit team section , I get all the other options for editing the team members , name etc but not the github and twitter accounts .

Unfortunately I destroyed that team and crea

[2016-03-09 09:24] #391 closed

[2016-03-09 09:41] klappradla commented on #205
I'll try to submit the UX changes (hide `New Team` and remove `Add Member` button) tonight if I'm not to sore from work (will be Saturday otherwise).

@alicetragedy since you're changing quite a lot around the forms, is it still reasonable for me to start from **`master`** for this?

[2016-03-09 09:50] alicetragedy commented on #205
@klappradla absolutely. I'm not dealing with anything in the `teams` views, just `application_drafts`, so we won't run into any problems if you start from **`master`**. go ahead and — thank you! :sparkles:

[2016-03-09 09:58] alicetragedy commented on #391
@anyangocynthia so, I just looked into it. This is not an error — the github and twitter account for the team can only be added after the team has been officially accepted. We don't expect students to provide that info before that. hope that helps!

[2016-03-09 10:00] alicetragedy commented on #253
@ramonh can we still have you on this task? I don't expect this to be an issue again until the beginning of the program starts, but it would be awesome to have by then. :)

[2016-03-09 10:06] ramonh commented on #253
Whoa, I have no idea how this completely went past twice! Sorry about this. I'd be happy to take care of it. This time for realz. :sweat_smile:

[2016-03-09 10:09] alicetragedy commented on #253
haha, no worries @ramonh. I believe it wasn't completely urgent, even though I can foresee problems/annoyances if we start to see teams from last year (selected and non) in our orga teams view. :joy:

[2016-03-09 10:11] ramonh commented on #253
Thanks for understanding. That makes sense to me. I'll start looking into it this week.

Thanks again for the reminder, @alicetragedy! I must say this is the first time I have embarrassing evidence staring me in the face. :laughing:

[2016-03-09 10:55] anyangocynthia commented on #391
Yes it does . Thanks!

[2016-03-09 20:12] carpodaster opened #392 "Help page is no help at all"
https://teams.railsgirlssummerofcode.org/pages/help

[2016-03-09 20:14] alicetragedy commented on #392
![post-124-0-24949000-1317876733](https://cloud.githubusercontent.com/assets/3143348/13649033/ea41debe-e63b-11e5-9af0-97b182be3899.gif)

[2016-03-09 20:14] carpodaster commented on #392
Ok, »no help« is a bit too harsh ;)

We should remove everything that's likely to change and keep it to the bare minimum on how to use the site. And where to get further assistence.

[2016-03-09 21:29] alicetragedy commented on #392
I'm happy to take this on if no one volunteers, but I think it's also a nice issue for newcomers, so I'd love to see if maybe @Nattivolk or Vi are interested in doing this.

[2016-03-09 21:30] #367 closed

[2016-03-09 21:31] alicetragedy commented on #363
this is done and we can close, right @carpodaster @ramonh?

[2016-03-09 21:33] alicetragedy commented on #385
Hi @Nattivolk, just checking up on you to see how far you are and if you need any help. It'd be great to have this on the weekend, as we're planning to open applications next week!

[2016-03-09 21:35] alicetragedy commented on #362
since we didn't really get any more input on this, I've left it as-is in the current form. I'll gladly change it if we get more ideas on things to select..

[2016-03-09 21:41] alicetragedy commented on #68
I know that we now have the "activities" as a landing page, which is quite nice — however in-between "seasons", we have an activity view of old teams .. so maybe a quick explanation of what the RGSoC Teams app is for might be better suited for that time of year when everything is quiet. Not sure how much work would go into that — but since I'm going through old issues, if this isn't a thing anymor

[2016-03-09 22:08] carpodaster commented on #68
I kinda like the news stream, even if it's six months old now, but I agree that it may be odd to look at all the old activities. Otoh, people who visit the teams app probably know what they're looking at. In the unlikely event that they don't: wdyt about adding a box on top of the activity log giving a tiny bit of info what this is about but otherwise directing stranded internet citizens to the rg

[2016-03-09 22:16] alicetragedy commented on #68
@carpodaster yeah, it's just that we had that conversation above apparently and I can see why there was the idea of adding a bit of information (a lot of people seem to be still confused about the use of the almighty monster teams app). Would love to take this on with, as you said, a box that gives some information about the app and redirects to rgsoc.org if needed.

[2016-03-09 22:51] carpodaster commented on #363
I wanna leave this open as a reminder that I have to remove the mentor-email-ping still

[2016-03-09 22:56] carpodaster commented on #363
Also @ramonh I reckon we skip the invite-system for the 2nd student, right? Not only is it yet more work to actually program it, but it also adds another level of testing it (with our group of volunteers I mean)

[2016-03-10 08:08] Nattivolk commented on #392
I can do this today after work. I'm just not sure, what is likely to change.
Will write a draft and then it would be nice to get some feedback first. Are there some questions which come frequently and we should have answered there additionally?

[2016-03-10 08:25] alicetragedy commented on #392
Hey @Nattivolk, great, thanks for jumping on this one :)
We get a lot of questions that are often team-specific (and which, in theory, are often answered in the guides..) so I wouldn't turn the Help page into a FAQ.
But info regarding filling out the information about the teams might be good. I will take a look at what we might need exactly in the afternoon and post it here.