[2017-01-23 22:55] mkalininait commented on #430
@bitboxer
Regarding the **error messages**.

Thanks for clarifying why they look this way at the moment. That's interesting.

We can definitely start the error messages with *"Roles"* (or *"Role"*, whatever the name of this attribute is). If we want to change individual messages, we could also change them in a way that they start with a colon, couldn't we? :) Anyway, I don't really have a strong o

[2017-01-23 23:02] mkalininait opened #629 "Bug: can't save an application draft"
When I try to save an application draft, I get this error:
"Validation failed: Country can't be blank"

![save-app-draft](https://cloud.githubusercontent.com/assets/1745735/22226888/aa051292-e1c8-11e6-8d14-c1acc1f83c4d.png)

This happened because the Location field in my User Profile was not filled out (it was not required before https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/593

[2017-01-24 00:16] mkalininait opened #630 "Bug: can't add a new user to a team on Staging"
Each time I try to add a user, which doesn't exist in our DB, to a team, I get Error 500. Adding existing users works fine.

This bug reproduces only on staging, locally everything is fine.

[2017-01-24 10:33] mkalininait commented on #434
@carpodaster
We still can add a role without a github handle. It's not a huge deal, and we could live with this.
But I'm not sure who on the RGSoC orga team makes (is eligible to make) decisions about product features and bugs.

[2017-01-24 12:36] mkalininait commented on #614
Oh yes! I had to google to find it on the website :D
I think the link should be on the Nav bar.

[2017-01-26 23:47] mkalininait opened #632 "Bug: can't add an email address to my profile"
**On Staging:**
Open profile -> Add email address -> Save -> Get confirmation email -> Click the link -> Error

![add-email](https://cloud.githubusercontent.com/assets/1745735/22355240/e42e2e00-e429-11e6-895f-e0dd907e529c.gif)

[2017-01-27 00:25] mkalininait commented on #632
Not a bug. The confirmation link was pointing not to staging, but to production. Once I changed the base url, everything worked out fine.

[2017-01-27 00:26] #632 closed

[2017-01-27 00:33] mkalininait commented on #621
@Nada1996 I've just noticed the following thing: in my application draft, on the "About your pair" tab, I see my partner from 2016, not the current one, too. Will the currently submitted PR resolve this issue, too?

[2017-01-27 11:52] mkalininait commented on #630
Can't reproduce it on Staging anymore. Closing.

[2017-01-27 11:52] #630 closed

[2017-01-29 17:39] klappradla commented on #380
Hey @ramonh, I'm taking a look at these things. I need to add a navigation item for things related to #581 - so I'll see if I can clean up the navbar to actually make this possible :v:

Fine?

[2017-01-30 10:41] ramonh commented on #380
That's totally cool, thank you @klappradla ! :bowing_woman:

[2017-01-30 11:16] alicetragedy commented on #629
I think the biggest problem, as a user/student filling out the application, is that I don't have this information (some fields are missing!) before filling out the draft, and may risk losing information I've added to the application form.
I think there are two ways in which we could solve this:
- force all users that have a profile not filled out correctly to fill it out before they can even creat

[2017-01-30 15:54] carpodaster commented on #591
Fixed in #631

[2017-01-30 15:54] #591 closed

[2017-01-30 17:20] alicetragedy opened #633 "[feature request] add new tag “in review” to projects overview"
Currently, when reviewing projects we only have 3 states available: “proposed”, “accepted” and “rejected”. Usually reviewing projects is pretty straight forward and we can make decisions right away, but in some cases, I found myself needing to check something with the maintainers (it usually takes a couple of days) or asking for feedback from the rest of the team, and then moving on. As I usually

[2017-01-30 22:35] carpodaster commented on #629
Another possible option could be to only validate the country when an application is submitted. This has he implication that we only require this for students / applicants, not mentors and coaches. The pro side would be that it's the least obtrusive approach.

[2017-01-30 22:51] klappradla commented on #563
Accidentally doing this as part of the navigation things around #581 and #380.

[2017-01-30 23:07] mkalininait commented on #591
Tested locally. Looks good!

[2017-01-30 23:18] mkalininait commented on #420
Tested issue 1 locally, it is fixed.

[2017-01-30 23:27] mkalininait commented on #629
Just to make it accurate, this bug applies to the following User Profile fields: Email, Country, City.

![screen shot 2017-01-31 at 00 22 42](https://cloud.githubusercontent.com/assets/1745735/22446202/b84e56c8-e74b-11e6-9e61-2f64794c5e69.png)

[2017-01-30 23:39] mkalininait commented on #592
Tested locally, looks good.

[2017-01-30 23:40] mkalininait commented on #588
Tested locally, looks good.

[2017-01-30 23:41] mkalininait commented on #587
Tested locally, looks good.

[2017-01-30 23:43] mkalininait commented on #583
Tested locally, looks good.

[2017-01-30 23:44] mkalininait commented on #582
Tested locally, looks good.

[2017-01-30 23:45] mkalininait commented on #366
Tested, looks good.

[2017-01-31 00:55] mkalininait commented on #593
Testing results:

1\. "If the window is closed and the profile is not fully filled out, the user will be able to view things a normal user can view, but not be able to e.g. create teams"  <- **seems to work if I create my account myself by signing in with Github**
 * **BUT!! If someone creates my account in the Teams app by adding me to a team, then I can sign in and edit my team and fill out my a

[2017-01-31 09:44] klappradla commented on #366
Any news on the Google account @alicetragedy ? Or did you already change it?

[2017-01-31 09:46] alicetragedy commented on #366
@klappradla thanks for pinging me about this. with everything else that was going on, I had decided to move setting up a google account for RGSoC until later. But if you think it's more wise to do that before we open up applications, I can still get that done today!

[2017-01-31 09:52] klappradla commented on #366
No worries, fine to do it later. I cannot really estimate the load on the Google API. But I'll just verify my keys with my own creditcard - that will give us enough.

[2017-01-31 09:56] alicetragedy commented on #366
Sure, I understand. If this is any problem at all I can still set it up later today though — just didn't seem like a huge priority compared to everything else. just ping me and I can take care of it. thank you Max!

[2017-01-31 09:58] #579 closed

[2017-01-31 09:58] #581 closed

[2017-01-31 10:00] alicetragedy commented on #629
@carpodaster if I understood correctly, this is not consistent with the changes made to force users to fill out their user profiles. (all users are asked to fill out their location and other fields upon registering). Do you see value in changing this though?
One other point: we **need** to have the locations of coaches when the application is submitted, as this is part of what we rate applications

[2017-01-31 10:08] carpodaster commented on #629
@alicetragedy yeah, you're right.

I fiddled with the validation error locally yesterday night after my comment on this issue. I am more in favor of either redirecting to the user profile directly (the unpolite, but easiest approach) or add an intermediate step where an applicant can edit their profile in-place (the more convenient, but also slightly hackier way).

[2017-01-31 10:49] alicetragedy opened #634 "Application opening placeholder page shows two timezones"
The current placeholder page for `/apply` shows the date and time on which applications will open. The system is smart enough to translate that into the user's set timezone (which can be set in the user profile by the user), but we've hardcoded “UTC” into the sentence, which leads to showing two timezones instead of just one. Example:

message with my original timezone (timezone set to Europe/Vien

[2017-01-31 10:55] #634 closed

[2017-01-31 13:47] hobarrera opened #635 ""You have to confirm your account before continuing.""
I'm not entirely sure if this is a valid place to report this, but there seems to be no other channel anyway.

I'm trying to submit my project, but when clicking sign in, I get the following messages:

However, I haven't received any confirmation email, and if I click sign in again, it's an infinite loop. Looks like a bug, though I may be missing someting.

Here's a screenshot just in case:

![201

[2017-01-31 14:05] alicetragedy commented on #635
Hey @hobarrera, thanks for this — we're looking into it now. Just to make sure — you're not able to sign in at all, which means you can't access your profile, right? It seems like there's a bit of an issue in the user confirming workflow. As a quick fix I should be able to fill out the missing information in your profile to confirm it and we will look into the bug later...

[2017-01-31 14:59] alicetragedy commented on #635
@hobarrera right now I've fixed your issue manually, so that you can submit your project on time.  You should have received an email for confirmation. Let me know if this doesn't come in for some reason! And thanks for reporting, it's really useful.

[2017-01-31 15:03] alicetragedy commented on #629
Connected: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/635

[2017-01-31 15:10] alicetragedy commented on #635
For documentation's sake, I've looked into this briefly and this is what seems to be happening here: when the profile is created, the location (pulled from github?) is added to the “city” field in the profile, but the country is left blank. This causes a validation error (user can't be saved because country is blank) causing some impossible-logging-in-loop-of-doom. Because the profile isn't saved,

[2017-01-31 17:43] hobarrera commented on #635
I got the confirmation email now (I guess you manually triggered it), but I get 500:

![2017-01-31t14 43 16 914966105-03 00](https://cloud.githubusercontent.com/assets/730811/22477112/c38a2134-e7dc-11e6-98c0-3eef25ac4bfc.png)

[2017-01-31 18:44] carpodaster commented on #635
@hobarrera where does that happen? When you click on the link in the confirmation email?

[2017-01-31 22:05] klappradla commented on #380
Just to make sure: non signed in users can look at both, `teams` and `conferences`?

[2017-01-31 22:10] alicetragedy commented on #593
@mkalininait not sure if this will still be relevant after Carsten's upcoming PR, but yeah, I think for 3a it would make a lot of sense to have a general notice at the top of the profile page maybe to show that the profile is still missing something — or anywhere where a filled out profile is required to do something? I'm not sure about the difficulty of implementation there. :(

[2017-01-31 23:08] hobarrera commented on #635
Immediately after clicking the confirmation link on the email.

[2017-01-31 23:09] hobarrera commented on #635
@alicetragedy Out of curiosity, how has registration worked so far? I don't see any alternative mean to register/log in, so how did other users get a country?

[2017-02-01 00:12] hobarrera commented on #635
I managed to sign in, but looks like I can no longer apply (it's probably past the deadline already in UTC time).

Any change of getting some sort of extension for applying due to bumping into an app error?

[2017-02-01 07:53] #629 closed

[2017-02-01 08:56] alicetragedy commented on #635
@hobarrera to be honest, I'm puzzled because this (and another email we got at the same time) is the first report of this issue, no other users seem to have had that problem, but we're looking into it. are you still seeing the 500 though? you said you managed to sign in?
Getting an extension would not be a problem, I get the frustration and issue there, and don't want this to hinder anyone submitt

[2017-02-01 09:15] alicetragedy commented on #380
@klappradla sorry, completely overlooked your comment. Yes, non signed in users can look at both `teams` and `conferences`. 👍
can't wait to see the new pretty nav bar 🎉 🎊 🎈 :party_parrot:

[2017-02-02 08:42] carpodaster commented on #593
Thank you, @mkalininait, for your excessive testing! I took the liberty of tossing in a few headlines to be better visualize the different items.

[2017-02-02 08:43] carpodaster commented on #611
@F3PiX I'm thinking of importing a fresh production DB dump to staging just to see if the error was not due to some messing around with existing teams.

[2017-02-02 09:37] carpodaster commented on #609
I'm not so much in favor of adding more required fields. Even more so as the "coaching experience" may take some time to fill out – with meaningful data, anyway; you can always get past the validation by entering "I have coached before", effectively providing zero value for us.

I also find it a bit harsh for a person showing their _interest_ in coaching. On the other hand, making it a required fi

[2017-02-02 09:38] #380 closed

[2017-02-02 09:38] #563 closed

[2017-02-02 09:52] carpodaster commented on #621
@mkalininait that sounds like a different problem. This sounds like one of the problems that Maud described in #611

[2017-02-02 09:55] carpodaster commented on #621
As for the original bug report: what is our expected behaviour for the "My Team" button, considering one can be part of more than one team (past and present)?

Can we just remove it or a "My Team(s)" item to the nav bar that leads to a filtered `teams#index` with only those teams I am part of?

[2017-02-02 12:58] thibaudcolas commented on #635
I got the same problem as https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/635#issuecomment-276436456 when clicking on the link in the confirmation email (that I received right after signing in with my GitHub account).

[2017-02-02 13:28] carpodaster commented on #580
@ramonh @mkalininait @alicetragedy can we close this?

[2017-02-02 13:29] carpodaster commented on #614
I'm closing this. The help page looks waaaay more informative now and the link to it is more prominently positioned.

[2017-02-02 13:31] #580 closed

[2017-02-02 13:31] alicetragedy commented on #580
yes :D

[2017-02-03 09:32] carpodaster commented on #205
I fear we have to completly rething and rebuild the team creation / editing process.

[2017-02-03 11:23] alicetragedy commented on #205
yep, looks that way unfortunately. :(

[2017-02-03 21:04] mkalininait commented on #635
I had the same issue with the broken confirmation link a few days ago, but I can't reproduce it anymore.

[2017-02-03 22:20] thibaudcolas commented on #635
Clicking on that same email link still produces the same error page, although it doesn't seem to affect what I can and cannot do on the site.

[2017-02-05 15:42] alicetragedy opened #642 "Issue with user confirming workflow: clicking on confirmation link in email throws an error"
This bug is probably related to https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/635; we've had a couple of reports of people being unable to:
- receive a confirmation email and
- confirm their account once the confirmation email was triggered manually

When clicking on the token in the confirmation link, users are directed to a page that throws an internal server error (500). It s

[2017-02-05 15:46] alicetragedy commented on #635
Another use case that triggered this same issue:
- User had filled out his fields completely, but didn't receive an email (only me “editing” his profile and saving it triggered the mail).

So this is clearly in issue in how the profile is saved / what triggers the confirmation email.

[2017-02-05 18:42] F3PiX opened #643 "Sore thumbnail :-)"
I use the github avatar and this happens with the thumbnail in the navbar

![schermafbeelding 2017-02-05 om 19 40 47](https://cloud.githubusercontent.com/assets/6314687/22628820/3c530854-ebdb-11e6-9e7b-7e0fd7ab9a87.png)

[2017-02-06 12:13] alicetragedy commented on #611
I'm getting this super weird 500 on staging when I access the Mentor Dashboard. The weird thing is that I can access it once, but if I navigate away from it and then click on the “mentor dashboard” in the link again, I get that error.

Other info which might be relevant:
- I access the dashboard as a mentor
- Clicking on the application I see in my dashboard also fails

The error can be found in R

[2017-02-06 17:12] untitaker opened #644 "GitHub ribbon causes vertical overflow of body"
On Firefox 51, the GitHub ribbon causes a vertical scrollbar for the entire page. After scrolling sideways to the right:

![2017-02-06-181144_280x298_scrot](https://cloud.githubusercontent.com/assets/837573/22657737/ce4fa4da-ec97-11e6-8750-e81d079a317d.png)

[2017-02-06 18:54] carpodaster commented on #644
Thanks, @untitaker, for reporting this.

@klappradla @alicetragedy could this be a side-effect of the new navigation bar?

[2017-02-06 18:55] untitaker commented on #644
If I delete the `.ribbon` element this issue is gone, IIRC the problem has been there before too.

[2017-02-06 19:17] klappradla commented on #644
Oh thanx @untitaker 💚  - that has to to with the new navigation, you're right @carpodaster. I had to adapt some of the styling, since the old ribbon was not *"bootstrap-confirm*". I'll get Firefox and take care of this *(unless it's super urgent)*.

[2017-02-06 19:50] alicetragedy commented on #643
Ouch.

[2017-02-06 19:51] alicetragedy commented on #643
@F3PiX can you give any other details, e.g. if this happens in a specific browser or in all of them, is this on staging, production, locally... or everywhere?
I'm sorry you have to see this, it's a little big 😂😳

[2017-02-06 22:52] klappradla commented on #644
Hm, to be honest, I'd prefer to fix this issue by just replacing the current approach with an adapted version of [this one](https://github.com/simonwhitaker/github-fork-ribbon-css) - it's simply the best 💚
The one we currently have uses an approach [like this](https://codepen.io/hmps/pen/kiFum), which results in overflowing edges and is way harder to fix than just using a single `a` tag.

I'm way

[2017-02-07 07:00] alicetragedy commented on #644
Sounds good @klappradla. Thanks for looking into it!

[2017-02-07 12:24] mkalininait commented on #621
@carpodaster Sorry for not replying earlier, I've missed this comment somehow.

The initial idea was that the "My team" button opens my team in the current season. You are right that some people can be part of multiple teams, for example coaches. Although it's not a very popular case, we should take it into account, too.

Your solution sounds good to me. Maybe we can even add this filter to the te

[2017-02-07 12:38] mkalininait commented on #643
I had the same bug :) MacOS Sierra 10.12.3, Google Chrome Version 55.0.2883.95 (64-bit).

![screen shot 2017-02-06 at 12 17 15](https://cloud.githubusercontent.com/assets/1745735/22691203/93933454-ed39-11e6-95e6-16f58114d51c.png)

How it happens:
 1. I added **@mkalininait-test** to my team; this user didn't exist in the DB yet.
 2. **Then** I logged in as  **@mkalininait-test** and got this sore

[2017-02-07 23:23] mkalininait opened #646 "Can't sign in"
Today we got a message from a student on Slack: "Hi. My team member is trying to log in with her GitHub account for the first time on RGSoC website. However, she is not receiving any activation email or getting signed in."
 * [Team Pixelate](https://teams.railsgirlssummerofcode.org/teams/299)
 * [User Aqsa Ahmed](https://teams.railsgirlssummerofcode.org/users/1554)

------
I faced the same issue t

[2017-02-08 10:52] mkalininait-test commented on #635
New cases of this bug: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/646

[2017-02-08 10:53] mkalininait commented on #646
Closing as a duplicate

[2017-02-08 10:53] #646 closed

[2017-02-08 11:09] alicetragedy opened #647 "Add link to user (mentor) in single project overview"
As we discussed some time ago with @carpodaster, it would be useful to have a link to the teams app user who submitted the project (i.e. mentor) on the overview of each project (right now we just show a link to the github profile of the mentor) so that interested students/teams are able to contact them.

Note: mentors have been informed that they can provide additional / preferred ways of contact,

[2017-02-08 11:19] alicetragedy opened #648 "Update mentor dashboard to be visible to all submitters of a project"
Right now the mentor dashboard is only visible to mentors who **have been added to a team as mentors**.
Since we are not particularly explicit to applicants or coaches about adding mentors to their teams anywhere, it might be that some teams do so and some don't (or alternatively, that some teams add one mentor only when they've applied for two projects... basically, a lot could go wrong).
To avoi

[2017-02-08 14:53] alicetragedy opened #649 "Application form: Mark fields containing info which will be provided to mentors"
For some reason, I thought this was already done, but it's not.
The application form should show which fields will be visible to mentors:

- Why did you select this project?
- Which features are you planning to work on?
- What is your programming level?
- Provide examples of your code
- What you have been doing to learn programming
- How did you get into programming?
- Short summary of your progra

[2017-02-08 17:36] mkalininait commented on #647
While working on this task I discovered that `@project.mentor` is always null, as long as it is not equal to `@project.submitter`. As we discussed in the dev channel in Slack, we could implement Issue #342 or choose an easier solution and state that project mentors must submit their projects themselves (meaning that we would always count project submitters for primary mentors).

**FYI:** This year

[2017-02-08 18:13] mkalininait commented on #647
Or, we can ignore my previous comment for the moment and just implement a super quick solution for this task:
 * show links to the Teams app for those projects where `submitter.github_handle = mentor_github_handle` (95% of all projects)
 * leave everything as is (no links) for those projects where `submitter.github_handle != mentor_github_handle` (5% of all projects)

![joxi_screenshot_14865762218

[2017-02-09 00:35] mkalininait commented on #649
@alicetragedy Do we really show "How did you get into programming?" (it was not on the list [here](https://github.com/rails-girls-summer-of-code/organization/wiki/Processes:-Application-Process-2017-(design)#other-changes), that's why I'm clarifying).
Do we not show "For how many months have you been learning the language of your primary project?"?

[2017-02-09 00:43] mkalininait commented on #649
Maybe we can add notices for the blocks of fields?
 * "Your programming skills"
 * "Your 1st/2nd project choice"

And I'd probably **not** put them in the yellow/blue box (we already have plenty of notes and warnings!), but rather write as a normal text under the title.

[2017-02-09 00:52] mkalininait commented on #643
With a different user @unknownuser365 I get a huuuuge thumbnail whatever way I sign in... just as F3PiX describes. So weird.

[2017-02-09 07:30] alicetragedy commented on #649
I've taken the list from the current existing mentor view, we can also make changes to this if needed (but then it has to happen now). I'm also not sure about the “for how many months”, I also feel like we wanted to actually remove that field entirely from the application...? Anyway it's in there now, so we should probably keep it that way and fix the mentor view accordingly.

I think if we manage

[2017-02-09 07:43] alicetragedy commented on #649
@mkalininait I had created an issue for the mentor view originally, and I took the list of fields from the doc you linked to — but it could very well be that I missed some or added one accidentally that we didn't want to have in there. Anyway, I'll look at this later today and can make whatever changes are required :)

[2017-02-09 10:22] alicetragedy commented on #647
@mkalininait I think the latter is a good compromise. Besides, two out of the three projects (Processing and Wikimedia) have offered their preferred ways of being contacted in the project overview anyway, so the only one that doesn't offer information on contacting the mentor is OpenDF. I will get in touch with them (OpenDF submitter and mentor) and ask which information we should provide in the p

[2017-02-09 10:28] mkalininait commented on #647
@alicetragedy Ok.

[2017-02-09 11:40] mkalininait commented on #649
@alicetragedy
**"I'm also not sure about the “for how many months”..."** – there were 2 fields: "For how many months have you been learning since your first workshop" and  "For how many months have you been learning the language of your primary project". We removed the first and left the second.
And the thing is that now we show mentors all the fields from the "Your programming skills" section wit

[2017-02-09 12:01] alicetragedy commented on #649
good point. I will add the former and remove the latter then 👍

[2017-02-09 21:15] carpodaster opened #655 "Create a favicon"
Rollbar is full of warnings á la `No route matches [GET] "/favicon.ico"`

Anyone willing to play with a favicon? Personally, I would vote for one that's already rainbow-heart-schemed 😮 `#sneaky` 😉

[2017-02-09 21:43] alicetragedy commented on #655
@carpodaster omg yes! finally someone addresses this, I've been thinking about it forever everytime I see the Rollbar warning. We **do** have a favicon.ico already though and it's in `public/images/favicon.ico`. Sorry to rain on your (rainbow) parade 😂

Not sure why or how it's not being found. Any ideas?

[2017-02-10 07:55] carpodaster commented on #655
@alicetragedy oh cool! There is a .png one, the .ico, sadly, is only 0 bytes. The png is very small (16x) and I was told by @axlwaii that you offer several sizes for different devices nowadays. Does anyone have an SVG version of the Rails Girls pixel heart? Or will it be a rainbow parade after all? 😉

[2017-02-10 07:59] alicetragedy commented on #655
@carpodaster in that case, it makes sense to create one, apologies! 🙈
we do have the heart logo as an illustrator file I think ([link](https://github.com/rails-girls-summer-of-code/design/tree/master/logo)); I can look into making it an svg and pushing it so that whoever is interested in this task can take it :)

[2017-02-10 10:02] axlwaii commented on #655
http://www.favicon-generator.org/ does a great job creating all favicons you need :)

[2017-02-10 10:30] #644 closed

[2017-02-10 10:46] alicetragedy commented on #647
Quick note: We should probably check that/if email addresses are visible for students, because right now, user addresses are **not** visible for users that are not logged in. 🙈

[2017-02-10 10:46] alicetragedy commented on #643
This should have been fixed with https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/654 🎉
@F3PiX, can you confirm and close the issue if it's fixed? thank you!

[2017-02-10 10:54] mkalininait opened #657 "Orga dashboard: link to rating dashboard is missing"
It's a bit tricky though.
The orga role has access to the orga dashboard.
The reviewer role has access to the rating dashboard (/rating).
A person who is a reviewer but not an orga won't see the orga dashboard and thus the link to the rating dashboard.
We could create a separate reviewer dashboard and show it on the nav bar (is it a bit excessive?). Or we could give reviewers access to the orga da

[2017-02-10 11:14] mkalininait commented on #647
@alicetragedy you are right, the emails are not visible to users, even if they are signed in and confirmed 😂 🙈 I'll look into it.

[2017-02-10 11:18] alicetragedy commented on #647
![crying-pikachu](https://cloud.githubusercontent.com/assets/3143348/22825007/08c912cc-ef8b-11e6-845e-38b6c2a6be13.gif)

[2017-02-10 11:49] carpodaster commented on #647
Hm. They _should_ be visible unless a user has explicitely checked the "I don't want my email address to be published EVA!" option.

[2017-02-10 12:01] mkalininait commented on #647
@carpodaster Hmmm... As a *confirmed* teams app user (**@unknownuser365**, id 1613) I don't see any emails, even those of the users who didn't hide their emails (e.g., **@mkalininait**, id 622).

![screen shot 2017-02-10 at 12 56 36](https://cloud.githubusercontent.com/assets/1745735/22826025/86b98504-ef90-11e6-98d0-3936c41e7f4d.png)
![screen shot 2017-02-10 at 12 56 46](https://cloud.githubuserco

[2017-02-10 12:18] mkalininait opened #658 "Hide the “Submit a Project” button on the projects list"
We should probably show this button only during the Project Submission phase. The same applies to the "Submit your Project" link on the Nab Bar.

![screen shot 2017-02-10 at 13 21 11](https://cloud.githubusercontent.com/assets/1745735/22826691/ed5951b0-ef93-11e6-8115-9f89f1dbd366.png)

[2017-02-10 12:21] alicetragedy commented on #658
@mkalininait the “Submit Your Project” link in the navigation bar only shows during the project submission phase, so it should be alright as is.
+1 on removing the other button.

[2017-02-10 12:21] mkalininait commented on #658
@alicetragedy Ah, ok, thanks, I wasn't sure about it.

[2017-02-10 12:22] alicetragedy commented on #655
Update: an SVG of our current logo can be found [here](https://github.com/rails-girls-summer-of-code/design/blob/master/logo/rg_heart_logo.svg); @carpodaster feel free to add this in your original comment for anyone who wants to take over this task :)

[2017-02-10 13:44] mkalininait commented on #621
When I make a status update (daily log), it also assigns to my last year's team. Writing it here just in case all these things are related; will write the same in #611.

[2017-02-10 13:46] mkalininait commented on #611
When I make a status update (daily log), it also assigns to my last year's team. Writing it here just in case all these things are related; will write the same in #621.

PS: it looks like there might be more bugs of that sort, when things are being applied to last year's object :/

[2017-02-10 15:41] F3PiX commented on #643
🎉

[2017-02-10 15:41] #643 closed

[2017-02-10 17:07] daminisatya opened #659 ""Fork me on Github" badge overlaps with "Sign in""
![image](https://cloud.githubusercontent.com/assets/6227784/22836214/791095fe-efe1-11e6-81ed-2358f5dbd79c.png)

[2017-02-10 21:13] anikalindtner opened #660 "update help text in application"
add "preferably in the language of the project you're applying for" to the coding examples help text.

<3

[2017-02-10 21:39] bitboxer commented on #635
@alicetragedy I think the email not sent out could be a separate issue. But I am not sure what it was. Will look into the validation error.

[2017-02-11 16:31] alicetragedy commented on #659
could you give more details, e.g. which browser you're using, which device, your resolution, etc.. thanks!

[2017-02-11 16:33] daminisatya commented on #659
@alicetragedy Chrome browser, on HP laptop 13inch screen!

[2017-02-11 16:38] alicetragedy commented on #659
we will look into it! thanks for reporting this

[2017-02-12 11:08] mkalininait commented on #647
I looked into the code. How it works now:
 * Only users with the roles Admin and Supervisor can see emails and timezones of other users.
 * The checkbox "Never show my email address" doesn't do anything (probably because there is no need in it, see the previous statement).

When easiest thing I could do it to show emails and timezones to *all* confirmed users, if the checkbox "Never show" is false

[2017-02-12 11:13] alicetragedy commented on #647
I think emails should be visible to admins and orgas regardless. :)

otherwise, the rest of the solution you outlined (showing emails to all other confirmed users unless the checkbox is checked) makes a lot of sense. 👍
About the supervisors: I would probably think it through a bit more and then decide if they should be added to the list of people who can view emails regardless of what the checkbox

[2017-02-12 12:46] mkalininait commented on #647
@alicetragedy Btw, do you know why we hide timezones together with emails? I can't think of a reason. Can we display the Timezone field like all other normal fields?

[2017-02-12 18:05] bitboxer commented on #635
Okay, I tried to reproduce it. My findings

* This is a 2 step system, after the user clicked on sign in, that person is redirected to
  a profile edit page where more details need to be filled out
* The system only sends a mail if the profile is filled out completely. This is as specified in the
  ticket. So it is totally okay that the stuff is not mailed. We only send the mail when the person

[2017-02-13 12:41] alicetragedy commented on #635
@bitboxer I think the problem is that some users don't get to the edit profile page at all. These are the reports we usually have incoming — it's not that they wrongly save their profile with missing information, it's that they don't see the “Edit Profile” screen.
+1 on the mail — it makes sense not to receive it if the profile is not filled out, so I don't think there is a problem there. I have m

[2017-02-13 13:14] alicetragedy commented on #647
@mkalininait I'm not sure really.. I think it's ok to show this as well. 👍

[2017-02-13 13:20] bitboxer commented on #635
Sorry, but I don't think so. They see the edit page. There is no way around it. But they don't understand it and click on something else in the navigation and leave that page :wink:

[2017-02-13 13:21] bitboxer commented on #635
The user *must* click on the save button on that form, but some users don't understand that.

[2017-02-13 13:25] alicetragedy commented on #635
thanks for clarifying this. I was just getting reports from “I tried logging in and got this message” but in that case you are right and it makes a lot of sense to make the message clearer so that they understand they must click on save. I'll take a look and see if I can improve that somehow. :)

[2017-02-13 14:01] alicetragedy commented on #614
Also: add instructions about how to add coaching company info to application form (i.e. needs to be added to the “Anything else to add?” field, cannot be named, can also be added to coach profiles and named there if necessary)

[2017-02-13 15:02] #660 closed

[2017-02-13 19:22] #648 closed

[2017-02-13 21:44] bitboxer commented on #635
I would vote for:

* remove all navigation header stuff on the profile edit view until the user has filled it out correctly and pressed save
* redirect to the profile edit page when a user logs in or opens the page with a not correctly saved user that is already logged in.
* adding a banner on the top saying "one last step till you finish your registration"

[2017-02-13 21:44] mkalininait commented on #635
@bitboxer Unfortunately, it doesn't always work as you say. I had this problem with one of my test users too.
What happens is that:
1. I press the "Sign in" link.
2. I get error messages immediately, on the same page. I don't see the edit profile form.

There is a gif in the issue #646. In case it's not clear, at first I try to log in with the test user and then switch to another user (with the "o

[2017-02-13 21:45] bitboxer commented on #635
I cannot reproduce that here @mkalininait . I tried. Have no idea what goes on there. And I think we are now mixing 2 issues here. One is a UX issue, the other might be a bug that I don't understand yet.

[2017-02-13 21:46] bitboxer commented on #635
@mkalininait was that user already in the database when you pressed the sign in link? If yes, it is still the same problem as I mentioned. If it was not in the database but a completely new user, I have no idea what went wrong and someone needs to check that.

[2017-02-13 21:57] mkalininait commented on #635
@bitboxer The problem is that I also couldn't reproduce this issue with other users :/
This user, which could not log in, was already in the database. I think she was added there by another user, who added her to a team. I looked in the DB and didn't notice anything strange in her record.

[2017-02-14 00:57] mkalininait commented on #635
@bitboxer Ok, anyway, you are right that this happens because users don't fill out their profiles.
They ignore the edit form once they logged in for the first time, and then, after some magic actions, they can't sign in anymore (such a strict punishment!). I'm just not sure about those UI workarounds which you proposed, because then it would mean that an unconfirmed user has less permissions in th

[2017-02-14 08:33] #658 closed

[2017-02-14 14:43] mweitzel commented on #659
I have the same issue on an 11" Macbook Pro.

[2017-02-15 18:02] Aastha23 commented on #646
I am also facing a similar issue. I haven't received a confirmation mail yet.

[2017-02-17 18:13] chhavip commented on #635
Hello! I was trying to sign in on the Teams App as a mentor, but am unable to do so and even if my team tries to add me as a coach, I do not receive a confirmation. Must have something to do with leaving the profile un-filled at the beginning. Please let me know if there is a workaround to this? This is the message displayed every time I try to login with no confirmation email being received.
[
![

[2017-02-17 22:48] mkalininait commented on #635
Hi @chhavip Please tell me an email address you want to be associated with your Teams app profile. I'll fix your account. You can send your email address here: contact@rgsoc.org

[2017-02-17 23:03] mkalininait commented on #646
Hi @Aastha23 I've fixed your account on the Teams app. Please check your mailbox, you should get an email to confirm your email address.

[2017-02-18 08:29] Aastha23 commented on #646
Thanks a lot!!!

[2017-02-22 01:00] mkalininait commented on #635
I've extended the period of unconfirmed access to the Teams app from 2 to 30 days: https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/666

[2017-02-22 23:54] mkalininait commented on #649
I've tested this task on production. It seems to be working.
One little issue:

![screen shot 2017-02-23 at 00 50 37](https://cloud.githubusercontent.com/assets/1745735/23238436/3c9cee4e-f962-11e6-9a08-2e7fcb946890.png)

It's not entirely clear what the unit of measurement is. Maybe rename it to "For how many months have you been learning the language of your primary project?"

[2017-02-23 07:42] klappradla commented on #649
Ah thanx @mkalininait !
The view actually pulls all its labels straight from the translation file - so the labels should be identical with the ones in the students' application. Seems there is either a mismatch or some value missing.
I'll reopen and reassign this issue. I'm pretty packed with work at the moment and would forget otherwise...

[2017-02-24 13:22] mkalininait opened #669 "Bug: data disappeared from the team"
One applicant reported the following problem:

*"I am applying for RGSoC 2017 and had created my team [team_name] and received confirmation from both my coaches as well. My teammate and I had started filling out our application too, saving drafts periodically.

However, we are suddenly finding ourselves unable to see any information listed for our team and our application draft is unavailable too.

[2017-02-24 13:39] mkalininait opened #670 "Bug: data disappeared from the application draft"
We got two support requests:

1. "I am facing some trouble locating the saved draft of my application form for RGSoC 2017. I began to fill the application form this evening and saved the draft after completing the first section by clicking the 'Save Draft' option at the end of the page. However, when I opened 'My Application' on the website again, the answers previously entered were not visible. K

[2017-02-25 14:17] mkalininait opened #673 "User confirmation: the "Resend" button"
When user email address is not confirmed, we should display a warning about this with the “Re-send confirmation” button which triggers sending an email with a confirmation token.
**UPD from Bodo:** "we can add that to all pages to the top right below the navbar. that way no user can say that they haven’t seen it :slightly_smiling_face:"

**Context:** many users don’t get confirmation emails. In so

[2017-02-25 14:41] mkalininait opened #674 "It's possible to submit an application with unconfirmed users in the team"
**QUESTION:** Should we implement it before we close applications? It might cause troubles to users and to us. On the other hand, we will have complete profiles for all  who applied.

1. We should restrict submitting an application with unconfirmed users in the team. Now one can apply with unconfirmed coaches on board, which partially defeats the benefits of implementing this feature: https://gith

[2017-02-25 15:52] bitboxer commented on #673
I added a PR for this. In that I also change that if a user has a incomplete Profile, that user is automatically redirected to the profile edit form. Just to be sure.

[2017-02-25 22:17] mkalininait commented on #673
Hey @bodo, thanks for your work! A couple of comments from my side:

1) I think you sent your PR to bitboxer/rgsoc-teams, not to rails-girls-summer-of-code/rgsoc-teams

2) Just to clear this up: do we redirect a user to the profile edit if she filled out her profile, but didn't confirm her email address?

[2017-02-26 11:46] bitboxer commented on #673
For 1: this is fixed now.
For 2: No. We only redirect if the user is not valid or was just imported using the github data import.

[2017-02-26 12:19] alicetragedy commented on #633
Hey @techchic, sorry for not getting back to you on this one — I was about to reply with some clarifications on the feature last Friday, but then I saw the PR :) @carpodaster has already reviewed it, so once you make the necessary changes, I can take a look at it as well. Thank you for your interest and for your contribution! 👍

[2017-02-26 22:56] mkalininait commented on #673
@bitboxer That's clear, thank you!

[2017-02-27 07:20] techchic commented on #633
@alicetragedy Thanks for the response @carpodaster thank you for your feedback.Lemme work on the changes and send another pull request.

[2017-02-27 07:25] alicetragedy commented on #633
@techchic quick tip: if you stay on the branch you created to make the first pull request (`pending-tag` in your fork), you should be able to make the changes there and push — that way, you won't have to create a new PR, the changes will be added automatically to your current PR ( #668 )
Let me know if you need any help with that :)

[2017-02-27 09:55] alicetragedy opened #676 "Show all info about a season on season's “show” page"
Currently, the season's show view looks like this:
<img width="1192" alt="screen shot 2017-02-27 at 10 42 32" src="https://cloud.githubusercontent.com/assets/3143348/23356277/84fbad22-fcd9-11e6-98d8-e6034d55dd3d.png">

In order to view all information about a season's application opening and closing dates, we need to go into the edit view (see below), which is unpractical.

<img width="1409" alt="

[2017-02-27 12:35] amrtanair commented on #676
Heyy, I'd love to work on this. I am applying for this years RGSoC, this seems to be a good task :)

[2017-02-27 15:31] alicetragedy commented on #614
@mkalininait taking over this, as discussed this morning — if there is any work you've already done and/or committed, let me know, you can maybe push it to a branch so that I can take over easily?

[2017-02-27 22:50] mkalininait commented on #670
The third case:

3. "We're still facing a lot of issues in our application. Somehow, in spite of saving our application draft, our response are not being recorded in the application. Even if they're being displayed for some time (a few minutes at most), the draft is repeatedly being restored to a previous revision. [...] Fields like our team information (the answer to the question of how we plan t

[2017-02-27 22:57] mkalininait opened #678 "Selection: you can't rate an application of a team without a name"
https://teams.railsgirlssummerofcode.org/rating/todos

There is no link to an application without team's name

![joxi_screenshot_1488236110469](https://cloud.githubusercontent.com/assets/1745735/23383773/593d357e-fd48-11e6-8787-98bd1ab823a2.png)

[2017-02-27 23:06] mkalininait opened #679 "Team's name can't be blank"
NOTE: I thought we had this issue from the last years, but I can't find it anymore; sorry if this issue is a duplicate.

Now one can create a team without a name. We should make the Name field required.

This is not only confusing, but also can cause bugs, e.g.:
 * https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/678
 * https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull

[2017-02-27 23:30] #649 closed

[2017-02-28 16:02] alicetragedy commented on #678
Maybe as a quick fix (since some applications might have been submitted with no team name already) we could concatenate the word “Team” with the team name to produce “Team [Team Name]” when the name is present and “Team” when the team name is missing? Just a thought 😅 I'm not sure if there is a better way to do this, we could of course force team names to not be blank and “fix” the already submitt

[2017-02-28 20:56] mkalininait commented on #678
@alicetragedy I was thinking of the same solution (adding 'Team' to the team names).

[2017-02-28 21:22] carpodaster commented on #678
@alicetragedy @mkalininait I'll tackle this real quick

[2017-03-01 14:52] daiyi opened #682 "Bug: github handle is case sensitive"
To reproduce: add a coach to a team. their github username must be capitalised to match, or else the app saves it as blank.

[2017-03-01 15:03] #678 closed

[2017-03-01 15:10] carpodaster commented on #679
Done in #681

[2017-03-01 15:10] #679 closed

[2017-03-01 21:15] carpodaster commented on #682
Thanks @daiyi. A fix is underway.

[2017-03-01 22:26] #657 closed

[2017-03-02 13:28] mkalininait opened #685 "Github handles are case sensitive"
One of our students couldn't add a coach to her team. She added the github handle in lowercase (e.g, `super_coach`), while in GitHub and in the Teams app DB that coach's github handle was written with uppercase letters (e.g., `SuPeR_CoAcH`).

As a result, the Teams app created an empty coach role in the team.

[2017-03-02 13:30] mkalininait commented on #685
Oops, the bug has been already added. Sorry, my bad.

https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/682

[2017-03-02 13:31] #685 closed

[2017-03-02 13:35] mkalininait commented on #670
A relevant thought: maybe we should let users export/import their application draft data. It won't solve the problem of simultaneous editing, but will help in other cases of data loss (if they exist) and will make users feel more secure.

[2017-03-02 13:58] carpodaster commented on #670
@mkalininait do you have Team IDs where that happens? Can you send them to me via Slack?

[2017-03-02 15:47] alicetragedy commented on #366
@klappradla the new Google account for RGSoC has been set up, what would be the next steps? do I have to create a new API key linked to that account, add our Foundation CC info, and update the environment variables? That's one of the few items left on the checklist to consolidate access to accounts: https://github.com/rails-girls-summer-of-code/organization/issues/179

[2017-03-02 15:57] alicetragedy commented on #366
thank you!!!

[2017-03-02 16:07] alicetragedy opened #686 "Show a better error page during outages or maintenance"
Heroku gives you [the possibility](https://devcenter.heroku.com/articles/error-pages#customize-pages) to create custom error and maintenance pages. While I've never done that, maybe we could look into doing it? With the recent AWS outage, the site was down for a while and showed a page that was not particularly informative. We also [got a tweet](https://twitter.com/untitaker/status/836696176657330

[2017-03-02 21:20] carpodaster commented on #686
Ironically, the howto illustrates uploading the custom error page to … wait for it … Amazon S3 😂 It wouldn't have done us any good during the recent outage.

I wouldn't bother. Sure, if anyone wants to get their hands dirty with this (dirty is meant in a positive fashion I might add), we can upload a custom one. The application error one is probably what we need, I don't recall having switched on

[2017-03-02 21:21] #682 closed

[2017-03-05 09:30] amrtanair commented on #676
Sent another PR with the requested changes. Please let me know if I should change anything else :')

[2017-03-06 01:20] amrtanair commented on #199
Heyy I am applying for RGSoC2017 and I wanted to get a feel of the project, so I have been solving a few issues :) This seems to be an interesting one.  I wanted to use the [data-confirm-modal gem](https://github.com/ifad/data-confirm-modal) to resolve this. Should I go ahead with it?
@carpodaster

[2017-03-06 07:33] amrtanair commented on #619
hey I, along with my partner am applying for RGSoC 2017 this year. I would like to try my hand at this issue :) I'll try solving it :)

[2017-03-06 12:17] alicetragedy commented on #199
Hi @amrtanair, I think we'd like to avoid adding an extra gem just for this purpose. Could you hold off on working on this just yet, until we've sorted it out? Thanks!

[2017-03-06 12:20] alicetragedy commented on #686
@carpodaster it seems like during the outage Heroku was showing a “maintenance” page (which is a bit confusing). I understand your reasons, so we can close this issue if no one wants to pick up this task and work on it. I know how you feel about long issue lists ;)

[2017-03-06 13:41] mkalininait commented on #670
@carpodaster Done.

[2017-03-07 07:56] amrtanair commented on #199
Okay @alicetragedy I'll try searching for a way I can solve this issue without using any further gems. :)

[2017-03-07 09:03] alicetragedy commented on #199
Would be great! Note: this is not time-sensitive, as we are closing applications tomorrow already. Take your time thinking about different options and feel free to pop in here to ask questions if you're unsure about anything.

[2017-03-07 09:51] #614 closed

[2017-03-08 10:30] rehrumesh opened #687 "Send automatic email updates to mentors when a student upload a proposal"
It will be really great to have this feature so that the mentors get real time updates whenever a student uploads a proposal to the teams app.

[2017-03-08 10:38] carpodaster commented on #687
Hi @rehrumesh – what do you mean by »proposal«?

[2017-03-08 10:39] rehrumesh commented on #687
I meant student application. Sorry for the misunderstanding =.

[2017-03-08 10:41] rehrumesh commented on #687
@carpodaster I rephrased the issue title.

[2017-03-08 10:42] carpodaster commented on #687
@rehrumesh ah, makes sense. Thanks for clearing this up :)

[2017-03-08 13:45] #676 closed

[2017-03-08 14:28] amrtanair commented on #19
When you say "links to the participating teams", do you mean the ones that got selected for that project or the ones that have applied for it?  @carpodaster @ellenkoenig

[2017-03-08 14:29] alicetragedy commented on #19
@amrtanair the ones that got selected to participate.

[2017-03-08 15:25] 28Ritu commented on #618
my partner is facing a problem an hasn't received any confirmation mail. Please resolve this asap.

[2017-03-08 15:32] alicetragedy commented on #618
hey @28Ritu, please send us an email to our support email address (contact@rgsoc.org) to handle this. thanks

[2017-03-08 15:44] 28Ritu commented on #618
Please resolve this asap. She is still facing the problem.

[2017-03-08 15:45] 28Ritu commented on #618
I have already sent the mail to (contact@rgsoc.org).

[2017-03-09 12:47] Anagha22 commented on #612
Hey, we are team Bundledore, we would like to work on this issue.

[2017-03-09 13:58] F3PiX opened #689 "Add validation for mentor actions"
Follow up for #688
- mentor can fav an application that is not signed off
- mentor can fav all her teams.

[2017-03-09 14:00] carpodaster commented on #689
@F3PiX I really wouldn't handle the "all teams fav'ed" case. I can see a lot of checks and flash notifications for very little gain.

[2017-03-09 15:02] F3PiX commented on #689
Aha, okay. I just copied that from the comments without thinking about it. 🙈 Thanks for the warning.

[2017-03-09 21:07] #364 closed

[2017-03-09 21:10] carpodaster commented on #659
I cannot reproduce this on a MBP 13". Has this secretly been fixed already?

[2017-03-09 21:12] carpodaster commented on #544
Closing this. I doubt this will be an issue anytime soon.

[2017-03-09 21:12] #544 closed

[2017-03-09 21:23] alicetragedy commented on #659
@carpodaster no, it hasn't been secretly fixed 😭 I wanted to look into it because I saw it in a couple of other screenshots from applicants. Also not reproduceable on my MBP 13".

[2017-03-09 22:31] mkalininait opened #690 "Export of applications 2017 doesn't work"
https://teams.railsgirlssummerofcode.org/orga/exports

 * Exporters::Applications#applications_2017
 * Exporters::Applications#applications_current

Error 500

[2017-03-09 22:39] carpodaster commented on #690
@mkalininait it's a deleted team again 😢  I've pushed a changed that should fix it. Can you verify it once it's deployed?

[2017-03-09 23:07] mkalininait commented on #690
@carpodaster It works now, thank you!

[2017-03-09 23:07] #690 closed

[2017-03-12 13:45] Anagha22 commented on #612
I have submitted a PR for this issue . Please suggest changes if any.

[2017-03-14 08:41] mkalininait opened #693 "Link to All Projects on the project page"
1. Open a project from the list `/projects/`
2. The link 'All projects' leads to `/orga/projects` (which is unavailable for everyone but the organizers)

![joxi_screenshot_1489480426269](https://cloud.githubusercontent.com/assets/1745735/23892316/5599be62-089a-11e7-9eb6-079c3c2da8c2.png)

[2017-03-14 08:44] carpodaster commented on #693
The link's target is based on the user's role. It was an explicit feature request and was added in 144c4487

[2017-03-14 08:44] #693 closed

[2017-03-14 08:51] mkalininait commented on #693
Thank you for the link @carpodaster
This logic still looks a bit non-transparent to me. As a user, I'd expect to return back to the list where I came from. Especially because those two lists contain very different information about the projects.
Maybe one day we can make breadcrumbs everywhere.

[2017-03-14 08:55] carpodaster commented on #693
@mkalininait I totally agree, Maria. I prefer to have all admin-related stuff in the admin namespace and ideally have every role see the same thing – or don't allow access altogether. We've had this confuse us before.

@alicetragedy wdyt?

[2017-03-14 09:01] alicetragedy commented on #693
@carpodaster @mkalininait I'm ok with making this change. At the time, we didn't have a place from where orgas could access all their different links, and during the project reviewing phase, it was easiest to deal with getting back to the main project page that way :)
Also +1 on the breadcrumbs.

[2017-03-14 09:04] carpodaster commented on #693
You are absolutely right, @alicetragedy  – we didn't have our shiny dashboards at that time. I've reverted the change in 7afdbd78559f0629334579580284fbdc65f1b827

[2017-03-15 14:07] mkalininait opened #695 "Users info: add a filter by season"
`/users/info`

Add the third filter by season: either a checkbox "In current season" or radiobuttons for all ever existed seasons.

Motivation: we want to send an email to all students who applied this year about the crowdfunding campaign.

[2017-03-17 06:09] Anagha22 commented on #612
I have submitted the PR with all the changes mentioned. Please review it.

[2017-03-17 06:50] Anagha22 commented on #695
@mkalininait Hello, we the team Bundledore would like to work on this issue.

[2017-03-17 16:10] mkalininait commented on #695
Hey @Anagha22, sounds like a good idea. Please ping me if you need details on the requirements.

[2017-03-18 00:08] anasofiapinho commented on #655
Hey everyone! I did the favicons of our logo in red and also rainbow colors because I was confused about what you wanted. Thanks @axlwaii for your tip about that website!

### Red logo favicon
The folder is [here](https://github.com/rails-girls-summer-of-code/design/blob/master/logo/favicon-rgsoc-logo-red.ico.zip).

### Rainbow logo favicon

The folder is [here](https://github.com/rails-girls-summ

[2017-03-18 20:47] klappradla commented on #655
Hey @anasofiapinho I already submitted a PR updating the favicons _(using the red one)_. But I just realized I totally mixed up branch names and issue number with those from work 🙈

I'll clean up the mess and then add you to the PR so that you can have a look.

[2017-03-21 12:37] #655 closed

[2017-03-21 13:56] mkalininait commented on #612
Hi @Anagha22 Both of your PRs are closed. Are you going to make another one? I'm confused.

[2017-03-21 14:41] Anagha22 commented on #612
@mkalininait Yeah, sorry for the delay, I got some technical issues. It's fixed now. Will send a PR soon.

[2017-03-21 15:37] Anagha22 commented on #695
Hi @mkalininait I have added a filter with a radio button for "current season" and added filters like
"Applied " and  "Selected".Applied lists out the teams in current season and selected lists out none. Is this the changes that you were expecting? Please give me your suggestions.

[2017-03-21 19:58] mkalininait commented on #695
@Anagha22 Could you please upload a screenshot here in case it's possible to make one?

[2017-03-23 13:59] Anagha22 commented on #695
Hey @mkalininait  I have attached the screenshot here. Please help me with this.
![user_info](https://cloud.githubusercontent.com/assets/9162231/24251033/cde05456-0ffe-11e7-8178-90943e1b5d71.png)

[2017-03-24 12:39] mkalininait commented on #695
Hi @Anagha22
Thank you! It looks good to me. One suggestion: is it possible to make a checkbox instead of the radiobutton for the season filter?

I can't judge if your filters work correctly or not without seeing the code and testing it.
I'd say that the "Applied" filter should list **all** teams that applied from **all** seasons. If the "Current season" filter is on, then, of course, we should se

[2017-03-24 14:29] Anagha22 commented on #695
@mkalininait Yeah, I will work on that and will send the PR as soon as possible :)

[2017-03-24 16:51] mkalininait commented on #695
@Anagha22 Thank you, no rush! :)

[2017-03-26 04:06] amrtanair opened #711 "Locations in the list of teams is in duplicates"
For example, if the students are from the same place and have entered the location in a different fashion(say, one has entered it in capitals while the other has not).

Image attached below:
![whatsapp image 2017-03-26 at 9 34 55 am](https://cloud.githubusercontent.com/assets/16919437/24328451/9a90e772-1207-11e7-9126-b42742b9b576.jpeg)

[2017-03-30 21:59] mkalininait opened #723 "Setup Sentry for the Teams app"

[2017-03-30 22:00] mkalininait commented on #723
Actually, I should have probably created this issue in the orga repo. Not sure.

[2017-03-31 15:15] beanieboi opened #726 "Cleanup Rating - Application reference"
Right now the ratings tables has 2 possibilities to reference an application.

you can reference an application using the polymorphic `rateable` association (`rateable_type` and `rateable_id`) or you can use `application_id` directly.

We should settle on one style of connecting applications and ratings, either via `rateable`  or `application_id`

[2017-03-31 15:16] klappradla commented on #726
Yes, voting for `application_id` - this will however mean, that last / this season's ratings aren't compatible with the schema any more. But I don't think this should be a problem, the whole process changes over time anyways.

[2017-04-04 11:07] #673 closed

[2017-04-06 09:45] #723 closed

[2017-04-06 11:24] mkalininait commented on #642
May be this error: https://sentry.io/rgsoc/rgsoc-teams/issues/247596626/
(based on what user 2458 wrote to our support).

[2017-04-09 20:34] #199 closed

[2017-04-12 20:18] carpodaster commented on #726
I stumbled over this inconsistency today myself. I also +1 `application_id` – we probably only ever rate applications, no other model.

[2017-04-12 20:20] carpodaster commented on #647
Is this done now that PR #684 is merged?

[2017-04-12 20:23] carpodaster commented on #686
Maybe they changed their plattform during the S3 outage to show a Heroku-provided maintenance page since they knew no custom S3 error pages would load?

`/shrug`

I'm voting to close this. Is that ok with you, @alicetragedy ?

[2017-04-12 20:31] mkalininait commented on #647
Yes!

[2017-04-12 20:31] #647 closed

[2017-04-12 21:49] alicetragedy commented on #686
👍

[2017-04-12 21:49] #686 closed

[2017-05-11 11:48] amrtanair commented on #711
Can I try tackling this issue?

[2017-05-12 08:47] beanieboi commented on #711
@amrtanair that would be really cool! I'm happy to help if you have questions.

[2017-05-18 08:40] F3PiX commented on #184
Can we close this one? Maybe create a new issue for the ideal solution?

[2017-05-18 08:52] F3PiX commented on #611
@carpodaster Did you ever tried the db dump? https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/611#issuecomment-276898963
And/or: Can we make this issue actionable?

[2017-05-19 19:13] #503 closed

[2017-05-19 19:16] F3PiX commented on #503
YAY. Last bullet solved. Thanks to @carpodaster and @klappradla for all the support 💯

[2017-05-22 06:56] carpodaster commented on #611
@F3PiX I _believe_ there had been one or two fresh imports, but I've never tried to reproduce this bug after that.

[2017-05-22 06:58] carpodaster commented on #184
You're right, Maud, let's close it!

[2017-05-22 06:58] #184 closed

[2017-05-22 08:01] F3PiX commented on #611
I tried to check my application form, but I can't even log in in the staging app (nor in the teams app). https://rgsoc-teams-staging.herokuapp.com

[2017-05-26 08:16] F3PiX opened #751 "Replace Raffle Rounds with upgraded Conferences functionality"
Conferences have a `round` attribute, that indicates if they are in the first, second (or more?) raffle rounds where participants can win a ticket.

### Problem
As I understand it, this feature is not fully implemented.
- In the dropdown menu (in users/:id/edit) where users can choose their fav conference, all the [conferences in the current season](https://github.com/rails-girls-summer-of-code/rg

[2017-05-27 15:24] F3PiX commented on #751
@anikalindtner Can you shed some light on the conference raffle operations and how we can improve that?  ^

[2017-05-28 11:22] carpodaster commented on #751
@F3PiX can we make the conference raffle round an attribute of `Season`? Not that it has to switch automatically by date, but at least that way an organizer can update the global state of the app's behaviour without us having to trigger a `git commit` + deployment.

[2017-05-28 21:54] F3PiX opened #752 "Migrations not running"
Problem:
Since the upgrade to rails 5.1 in #749  , `rails db:migrate` results in an error, as reported by @michaelem https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/749#issuecomment-304333342
[code]

I had to run `rails db:schema:load` instead, so I could still use the app.

Solution:
How should this be solved?

@michaelem @carpodaster @klappradla

[2017-05-29 09:46] klappradla commented on #752
Hey @F3PiX,

thanx for reporting 🙏

For "resetting" the database, or setting up the project from scratch, I usually do the following:
[code]

But yeah, we'll need to come up with a solution for the old migrations as well...

[2017-05-29 12:23] F3PiX commented on #752
👍
I usually do `bundle exec rails db:reset`. Which is db:drop and db:setup in one. Is `rails db:drop`  a different drop than `dropdb` ?

But still: any ideas for a solution for the old migrations?

[2017-05-29 12:30] klappradla commented on #752
`dropdb` is a Postgres command, but probably what `rails db:drop` does under the hood anyways.

For the old migrations, I could either update all of them to no longer directly inherit from `ActiveRecord::Migration` or just remove them. I would personally vote for the latter, since in my opinion the migration files **should not be** the source of truth for a Rails app's database schema. There is th

[2017-05-29 12:35] F3PiX commented on #752
( PR to squash migrations from last year: https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/381 )

[2017-05-31 22:33] acnagy commented on #606
I'm new, but I'd really like to help document the teams app. Partly because documentation is awesome and important, and partly because there's no better way to get up to speed. :) What can I do to jump in?

[2017-05-31 22:54] F3PiX commented on #606
Hi @acnagy! Welcome aboard!!

A first step would be to follow the [Quick Start Guide](https://github.com/rails-girls-summer-of-code/rgsoc-teams#quick-start) in the Readme. See if you can set up the app if you follow the steps, and if not: what and where was different. For example with setting up the database, with signing in, etc.
Maybe take screenshots of each step. Also: what happens when you ma

[2017-06-01 14:48] alicetragedy commented on #606
@acnagy I think Maud's comment is a great way to get started and see if you encounter any issues there.

[2017-06-01 21:18] mkalininait commented on #695
Hi @Anagha22 Do you still want to send your PR or should we take this issue over?

[2017-06-03 07:56] beanieboi commented on #606
@acnagy thanks for taking care of this! <3

[2017-06-03 11:04] #752 closed

[2017-06-03 14:01] F3PiX commented on #752
🌟 🎉

[2017-06-03 20:16] mkalininait commented on #751
@F3PiX @carpodaster The thing is that we don't do raffles anymore. We pick up friendly conferences, ask for students' preferences within that list and then just try to get them tickets to the preferred conference(s). Last year we used this new process and it worked out well (imo), but we didn't use the Teams App at all. I would really love to see how we can change the Teams app this year to fit th

[2017-06-03 20:30] F3PiX commented on #751
Aha! That _is_ different from what I envisioned. I don't have access. Can you share it with me, one way or another?

[2017-06-05 13:00] F3PiX opened #754 "Star legend disappeared from team page"
On the teams page, sponsored teams have a red star, volunteers teams have a white star.
At the bottom of the table, the red star has vanished.
![schermafbeelding 2017-06-05 om 14 56 15](https://cloud.githubusercontent.com/assets/6314687/26784787/a13c7c28-49ff-11e7-9007-9f3af0978422.png)

[2017-06-05 16:05] F3PiX commented on #695
Looking at the goal:

Wouldn't it make more sense to add the filter to the Mailer view (or even the Exporters)?
If that would solve the problem, I'd vote for that. (Because I am not a big fan of stapling filters in the view. I consider adding a third filter a 'design smell', and a sign that we should rethink the filtering options.)
AFAIK you can't DO anything with the filtered students in the `stu

[2017-06-06 22:02] mkalininait commented on #751
@F3PiX I've sent you the document on Slack; you can also ping me here and there regarding any details!

[2017-06-07 12:06] mkalininait commented on #695
@F3PiX

You probably mean `users/info`, right? You can't do anything directly in the Teams App. What we would do is: a) copy email addresses to send emails from HelpScout (small groups, e.g. accepted teams); b) copy email addresses to send emails from MailChimp (large groups, e.g. all students who applied in the current season); c) copy/print addresses to send swag (accepted teams); d) copy a view

[2017-06-07 12:10] mkalininait commented on #695
Oh, btw, I've just discovered another page `teams/info`, and it looks pretty useless, too.

[2017-06-07 12:29] F3PiX commented on #695
Yes, users/info.

How do you copy them now? One by one?

[2017-06-07 22:01] mkalininait commented on #695
@F3PiX
There are a few use cases:
1) We need contacts of all students who applied in the current season. What I did this year:
 - I got the export Teams#current; it gives you contacts of all teams ever existed;
 - I got the export Applications#current; it gives you all applications of the current season, but without contacts;
 - I wrote a simple script, that filters the list of teams based on the

[2017-06-08 01:26] acnagy commented on #606
@F3PiX Can do! I'm working on it... - will post notes + relevant screenshots 👍

[2017-06-08 11:33] acnagy commented on #606
Hiya again @F3PiX! I decided to try setup twice, so I knew when to get screenshots... that first time through was unexpectedly confusion 😅 - I found myself jumping all over the README for information... that said, some general notes from Testing Round 1:

1. I'm not totally clear how much background info/ability to infer we assume new contributors have. For example, we give instructions on how to

[2017-06-08 14:30] F3PiX commented on #606
Interesting adventures :-) So, you are creating ONE doc that feature all the steps in the right sequence, right? And maybe with links to the wiki for background info for special cases? I love that.
About the details: I think in docs where we give detailed steps, we need to include where and how to start the server. Otherwise the detailed steps make no sense.
Great that you are working on this!

[2017-06-08 21:24] F3PiX commented on #695
a) So, you don't use the mailing functionality? (.../mailings/new). Is anybody using that at all?

b) Re use case 1) You happy when we start with adding a filter with the Applications#current including the email addresses? (Or what do you need as 'contacts'?)

c) Re: use case 2) and 3) : Are they relevant _before_ the start of the current season?

[2017-06-09 13:00] mkalininait commented on #695
@F3PiX

a) OMG, I didn't even know about this feature 🙈  It looks useful, but I never heard of anyone in the team using it in 2016-2017. What about you @alicetragedy @anikalindtner ?

b) I think that having names and emails of students and coaches in the export of current applications would help a lot. It will actually solve the use cases 2) and 3) as well.

**NOTE 1:** We actually use this export

[2017-06-09 13:58] F3PiX commented on #695
@mkalininait
:-) There are many jewels hidden in the teams app.
I am looking for the Smallest Change with Biggest Impact. Because the season starts shortly. So let's take it step by step.

Two more questions:
1.
As I understand it now, if you can download an csv with
- [ ] names and email addresses of the coaches
- [ ] names and email addresses of  all the students who applied: excepted, volunteer

[2017-06-09 16:23] alicetragedy commented on #695
I used it a few times this year already (to ask past participants what they are up to and to send reminders about the project submission deadlines to past mentors); we also used it a lot in 2016: reminders regarding all the feedback forms, an info email about the video, and info about the RGSoC celebration events around the world.

So, to make a long story short I think it's a very useful feature

[2017-06-09 16:27] F3PiX commented on #695
@alicetragedy Cool! And it is only orga's who should use the mailer, right? Or do you want to have it available for supervisors, for instance? And maybe other non-orga users?
If it is only for orga's, it would make sense to move it to the orga namespace.

[2017-06-09 16:32] alicetragedy commented on #695
@F3PiX I don't think it makes sense for anyone other than orgas to use it in its current state (the email comes from our orga email address, which is where all replies to the email will go).
In order for it to be useful for supervisors, for example to get in touch with their own team, quite a lot has to happen on the filter side of things — and all mails sent are visible to everyone, which makes “

[2017-06-09 16:56] F3PiX opened #757 "Move mailer into orga namespace"
Orga users can send email to targeted groups via `.../mailings/new` . The use of this feature is suboptimal. Especially because the mailer is not suited (yet) to play a part in more complicate workflows.

As only orga users use the email functionality, it should live in the orga namespace.

[2017-06-12 09:53] acnagy commented on #606
@F3PiX That's the plan - yes! Updates to the README for getting started, with break out information on the wiki. I should have a PR with the README changes incoming soon :)

[2017-06-12 12:57] F3PiX opened #760 "Remove 'event' views"
We have a directory with views for events, but there is no model and no controller.

Can we remove the views? Or should we add the backend?

[2017-06-12 13:06] alicetragedy commented on #760
+1 for removing it; it's an old thing that was put in place to have the different seasons (see [here](https://github.com/rails-girls-summer-of-code/rgsoc-teams/commit/3d2298a8f4b6945a3112a9be2ff182ad3a770383)) but was later [removed](https://github.com/rails-girls-summer-of-code/rgsoc-teams/commit/e14322e421d3ab2b540db9170894182de2120177). I can only assume the view was accidentally left there. :)

[2017-06-12 13:08] alicetragedy commented on #757
I totally approve of this! +1

[2017-06-12 13:10] F3PiX commented on #760
I am collecting some beginner friendly issues. Not hard to do, but nice starters to see how our PR and code reviews work. :-)

[2017-06-12 13:11] carpodaster commented on #760
That is most awesome, @F3PiX ! 🌷

[2017-06-12 13:12] alicetragedy commented on #760
yeah that's perfect @F3PiX! Was going to add the `beginner-friendly` label but I saw that you beat me to it ;)

[2017-06-12 13:12] carpodaster commented on #760
It would seem that [someone](https://github.com/carpodaster) didn't do their job properly when [deleting code](https://github.com/rails-girls-summer-of-code/rgsoc-teams/commit/e14322e421d3ab2b540db9170894182de2120177).

![](https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fstarecat.com%2Fcontent%2Fwp-content%2Fuploads%2Fwhen-you-delete-a-block-of-code-that-you-thought-was-useless-pink-panther-gif-a

[2017-06-12 21:08] mkalininait commented on #695
@F3PiX

2\) Regarding `Exporters::Teams#current`. I've tested it again. You are right, I was mistaken that it gives you all teams ever existed, BUT it looks like it gives you all teams of the current season **regardless** if they applied or not. At least I think this is how it works. I see 294 teams in the exported list, while we got only ~189 applications this year.

1\) Almost. Would it be one c

[2017-06-12 21:49] F3PiX commented on #695
LOL yes, accepted, not excepted, sorry.
Thanks for testing!!
It makes sense to have an exporter for the current_teams who actually applied. And also add  their 'status'.
But I am getting confused. Isn't the application phase over? I so understand that the Exporters are not fully optimized yet for all the use cases, but let's take it step by step. I am looking to make all of this actionable.
I _exp

[2017-06-13 20:40] mkalininait commented on #695
@F3PiX

+1

Oh, it looks like I confused you. The application and selection phases are over indeed. We don't need any exports with email addresses this year anymore, because we already have them. But we will **definitely** need them next year. What we still need this year is the list of *postal* addresses of the accepted teams. I think the best would be having the list of all team members (incl. c

[2017-06-13 22:09] F3PiX commented on #695
Well, let's focus on this year first. (I want to start working on the conferences in time for this season, so I don't want to take on things for next year right now.) If @alicetragedy agrees, we'll go for the "swag exporter" first.

[2017-06-14 22:20] mkalininait commented on #751
@F3PiX Just found this issue: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/517 Did you see it?

Here is my thinking on how we could handle conferences in the Teams app (and it basically repeats the ideas expressed in that conference document I sent to you).
1) Use the Teams app to communicate with the students:
 - Get conferences of their preference;
 - Get confirmation of thei

[2017-06-15 08:39] F3PiX commented on #751
@mkalininait  Thanks for the overview.
So, the conf database stays in Google docs.

For the part 'Communicating with the students':  How about we split the thing up in a kind of 'user stories', so we can differentiate between implementation details, design and functionality. Also, we can easily make the user stories actionable, and we can work in iterations.
Are you okay with that?

Let's collect

[2017-06-16 09:53] mkalininait commented on #751
@F3PiX Sounds like a good idea! I'll prepare the user stories and put them here.

[2017-06-16 10:42] F3PiX opened #762 "[Conferences] #1: Import a longlist of conferences"
Goal:
Orga user wants to show the students a 'long-list' of the conferences. The conferences are currently managed with a Google Doc.
Later on, students will interact with the list, to choose their preferences, suggest other conferences etc. The scope of this issue is only uploading the file.

- Add a file importer, so that an orga can upload a csv-file. The contents will be shown in the existing

[2017-06-16 11:05] F3PiX commented on #751
Cool! Now we are going all scrumm-y ;-)
To speed up things, I think we don't need to have more than two user stories upfront. I'll start with adding an issue for story #1.

[2017-06-16 11:19] F3PiX opened #763 "DRY up conferences controllers"
There are currently two conferences controller, controllers/orga/conferences_controller.rb and controllers/conferences_controller.rb.
They share a few methods, like the methods for sorting the columns.

- [x] Propose a solution to make those methods shared by the two controllers.
- [x] Make it happen 🚀

[2017-06-16 21:01] mkalininait commented on #762
Hey @F3PiX Thanks for creating this issue.

The set of fields looks reasonable to me. We didn't use any 'notes' last year, and I'm not sure we will do this year. Usually conference's purpose is clear from it's name.

I think it shouldn't be a problem to export only the columns we want in the Teams app.

[2017-06-16 21:29] mkalininait commented on #751
@F3PiX Here are the user stories:

1. As a RGSoC orga, I want to import a 'long-list' of the conferences we want to suggest to the teams. (Timeline: Around the start of the season.)

1. As a student, I can choose my team's primary and secondary choices from the conferences longlist.

1. As a student, I can add a cool conference which is missing in the longlist; I can choose it as my team's primary

[2017-06-22 11:51] acnagy commented on #606
I opened up a WIP PR over in https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/764 - still quite a few "interesting" behaviors to investigate/document, but that's the structure of the readme I've written so far :) I anticipate that some of this content will turn to wiki pages soon, but I'd like to get everything written before I go moving it around. Contributions to the `refresh-docs`

[2017-06-22 11:55] alicetragedy commented on #606
Awesome @acnagy! ✨  I've added myself as a reviewer, I should have time to look at it tomorrow or early next week — but of course I encourage anyone (@F3PiX ?) to make comments on and review the PR as well :)

[2017-06-22 21:08] F3PiX commented on #762
(@carpodaster or @klappradla or whom it may concern 🎯 )
I am working on an importer for the conferences.
Is it okay if I start with an #import action in the admin/conferences_controller? I'd rather start with that simpler solution, instead of the elegant and more complicated setup like for the Exporters. WDYT?

[2017-06-23 12:04] alicetragedy opened #765 "[feature request] send copy of application to applicants after submission"
When applicants submit their application, they don't get a confirmation that the application has gone through. Furthermore, after the application deadline, applicants don't have access to their application anymore.

I think a solid way to solve both problems at once would be to send a “copy” of the application data to both applicants. This would allow them to have a basic confirmation of the appli

[2017-06-24 13:27] mkalininait opened #766 "[Conferences] #3: Adding a new conference"
The idea: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/751#issuecomment-308574743
Full list of conference user stories: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/751#issuecomment-309138513

**User Story:**
As a student, I can add a cool conference which is missing in the longlist; I can choose it as my team's primary or secondary conference then.

**Thing

[2017-06-24 13:29] mkalininait opened #767 "[Conferences] #2: Students' preferences"
The idea: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/751#issuecomment-308574743
Full list of conference user stories: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/751#issuecomment-309138513

**User Story:**
As a student, I can choose my team's primary and secondary choices from the conferences longlist.

**Things to do:**
1. Move the Conference block from

[2017-06-24 13:29] mkalininait opened #768 "[Conferences] #4: Additional info about about chosen conferences"
The idea: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/751#issuecomment-308574743
Full list of conference user stories: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/751#issuecomment-309138513

**User Story:**
As a student, I want to provide additional information to my team's conference choices: conditions / limitations / wishes etc., as well as our potentia

[2017-06-24 13:29] mkalininait opened #769 "[Conferences] #5: Terms and conditions"
The idea: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/751#issuecomment-308574743
Full list of conference user stories: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/751#issuecomment-309138513

**User Story:**
As an RGSoC orga, I want the students to be aware of the terms on which we hand out free conference tickets and confirm their (students') obedience.

*

[2017-06-24 13:29] mkalininait opened #770 "[Conferences] #6: Export of students' preferences"
The idea: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/751#issuecomment-308574743
Full list of conference user stories: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/751#issuecomment-309138513

**User Story:**
As an RGSoC orga, I want to export teams' conference preferences as a csv.

**Things to do:**
1. Permissions:
 - Orga
2. Format: csv
3. Available from:

[2017-06-24 13:29] mkalininait opened #771 "[Conferences] #7: Assigning a conference"
The idea: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/751#issuecomment-308574743
Full list of conference user stories: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/751#issuecomment-309138513

**User Story:**
As an RGSoC orga, I want to see team's conference preferences and assign one or multiple conferences from the longlist which are actually willing to gi

[2017-06-24 13:29] mkalininait opened #772 "[Conferences] #8: Accepting/rejecting a conference"
The idea: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/751#issuecomment-308574743
Full list of conference user stories: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/751#issuecomment-309138513

**User Story:**
As an RGSoC orga, I want to know if the students accept our offer or not.

**Things to do:**
1. Who can edit a conf status:
 - Students of the team
2.

[2017-06-24 13:39] F3PiX commented on #751
Ooops. I thought we agreed to make the issues after the previous user stories are done.

[2017-06-25 10:31] F3PiX commented on #762
@mkalininait Could you send me an empty csv file, please, exactly like it is when you do 'save as csv' in your Google Doc? Some example data would come in handy, or I will create them.
You don't need to filter the columns that we need to import, the importer will filter them out.

[2017-06-25 13:01] mkalininait commented on #751
@F3PiX Sorry, I understood it as you wanted to start asap, not as you actively don't want the issues to be in GH.
I talked to @carpodaster , he said that he would take a little task. I'm also thinking of taking a task myself. The thing is that we will start working on the conferences soon (~ mid-July), and it would be great to have the conference features then. And thus, I created the issues. If i

[2017-06-25 13:20] mkalininait commented on #762
@F3PiX Hey, I've sent you the file via Slack. Hope it's useful.

[2017-06-25 17:25] F3PiX commented on #762
Hi @mkalininait Thanks for the file. Very useful!
It leads to the following questions.
- [ ] It looks useful for the students to see the csv's City and Country fields in the Teams app table (instead of the venue, as it is currently showing.) Okay?
- [ ] Do the students need to see the csv's Region as well? Or is that only in use for orga's.
- [ ]  I made it so that every import updates the confere

[2017-06-25 18:39] klappradla commented on #762
For your question on controller action vs. service objects @F3PiX (I suppose the exporters are service objects - I tbh don't know them in detail): starting with the controller action is obviously the best approach. Why **start** things complex? **BUT**: if the corresponding action turns too big *(will probably happen if you parse and validate a CSV file)* I'd highly recommend to move this business

[2017-06-26 09:37] F3PiX commented on #762
@mkalininait The main issue is that I need a column with a unique field to identify conferences. The title of the conference is not suitable for that. (Because you won't be allowed to change the title at all.) Do you mind to add a column to the Google Docs with a uniq code? For instance : 2017001, 2017002 . I think you should be able to let Google do the counting. The '2017' part would be the `sea

[2017-06-26 10:20] F3PiX commented on #184
I removed the label because the issue is closed. If I am wrong, please put it back.

[2017-06-26 13:56] mkalininait commented on #762
@F3PiX Sure, I can add a uid to the spreadsheet.

To the questions from yesterday:
1) I think it doesn't matter much how we show location: in one field or two. We started splitting country and city this year, and I can't say if it will be useful or not. But we can try.
2) I actually think that Region might be very useful for the students, because they can only look for the conferences in their reg

[2017-06-28 07:30] carpodaster commented on #765
👍 very good!

[2017-06-28 10:12] mkalininait commented on #765
I think it's a good idea. Additionally, it would be cool to show applicants their application in the Teams App (even after the applications deadline) with the status "Submitted".

[2017-06-29 10:55] F3PiX commented on #762
I created a preliminary PR in my fork https://github.com/TeamCheesy/rgsoc-teams/pull/49, so you can see the code.
- [ ] Question 1: I created a `Conferences::Importer`.
After I finished it I wondered: shouldn't I instantiate the Importer?
- [ ] Question 2:  I want to add a csv file for the specs. I searched for inspiration in the Webz and in the Teams app, but I can't figure it out yet. Tips?

[2017-06-29 11:29] F3PiX opened #773 "Redirect to user profile after submitting changes"
Problem:
When a user updates their profile, they are redirected to the home page. So they can't see their new and updated profile.

Solution:
Redirect to user profile after update.

[2017-06-30 09:58] mkalininait commented on #773
Oh yes, this is super annoying!

[2017-06-30 13:48] juuh42dias commented on #659
On my laptop Acer 15" has same problem. Reducing Width 70px from class Container would already solve the problem in my case.

![captura de tela de 2017-06-30 10-44-36](https://user-images.githubusercontent.com/1828204/27738233-28ad6cdc-5d81-11e7-84b2-2661b5a29a68.png)
![captura de tela de 2017-06-30 10-43-59](https://user-images.githubusercontent.com/1828204/27738232-28abfc12-5d81-11e7-85d7-a6ed0d

[2017-07-03 05:01] prachi1210 opened #774 "Bug: settings not updated"
I am assuming that the app uses a server-side caching system. Whenever a change in settings is made to the app, the cache should be burst.
For eg: Earlier today, we deleted a source for our team from the teams app and yet, the articles imported from the source are being shown (The articles in question, do not in fact exist at the link now)

If there is a database logging system, I think the log sh

[2017-07-03 11:33] carpodaster commented on #774
Hello @prachi1210 and thank you for this report! While this is not a caching issue per se, but you point out two flaws:

The way external sources work is that the Teams App will periodically crawl the teams' external sources and copy its contents (for the teaser text). This implies:

1. When you delete a source, it doesn't affect the posts that have already been copied. Instead, it will just _stop

[2017-07-03 13:41] prachi1210 commented on #774
About #1, the only reason why we had to remove those sources was because some other blog posts unrelated to RGSoC got imported into the feed and we wanted them to be removed.

As for the time being, can you manually delete those posts?

[2017-07-03 20:53] carpodaster commented on #774
@prachi1210 looking at [your team's profile page](https://teams.railsgirlssummerofcode.org/teams/369), which blog post would you like to see deleted? The ones from January and March?

[2017-07-04 02:45] prachi1210 commented on #774
Yes, those are the ones

[2017-07-04 07:50] alicetragedy commented on #633
Hey @branquinhoaa, I think you expressed interest in working on this with your team mate Juliana. Please go ahead if you're interested, your mentor @carpodaster should be able to answer any questions you might have :)

[2017-07-05 14:00] juuh42dias commented on #659
Hey @carpodaster , @alicetragedy , the problem persists :( i want sign that issue...

[2017-07-05 14:01] branquinhoaa commented on #773
I can solve this issue!

[2017-07-05 14:09] juuh42dias commented on #754
Hey, @F3PiX can assign for me? :)

[2017-07-05 14:18] F3PiX commented on #754
Hey @juuh42dias Done!
I think you have the access rights to assign yourself. See in the menu on the right. You can assign yourself there.

[2017-07-05 14:23] juuh42dias commented on #754
Oh yeah, i have :+1:

[2017-07-05 15:09] F3PiX commented on #762
Shouldn't this close on :merge?

[2017-07-05 18:36] juuh42dias commented on #754
Was it supposed to show like this? The red star icon
![rgsoc teams app 4](https://user-images.githubusercontent.com/1828204/27879354-b14da308-6197-11e7-968c-0a7e4f9e566b.png)

[2017-07-05 19:35] juuh42dias commented on #763
Has any possibility for work together on this issue? Me and @branquinhoaa

[2017-07-05 20:25] carpodaster commented on #659
@juuh42dias very cool, can you send a PR?

[2017-07-05 21:03] carpodaster commented on #773
Done in #777

[2017-07-05 21:03] #773 closed

[2017-07-05 23:11] F3PiX commented on #763
The conferences controllers will change dramatically after #775
I'd suggest to wait for that one, or be sure to check with your coaches/mentors.

[2017-07-05 23:13] F3PiX commented on #754
I think so, yes! 💯

[2017-07-05 23:34] juuh42dias commented on #754
@F3PiX, @carpodaster what do you think?
![rgsoc teams app 5](https://user-images.githubusercontent.com/1828204/27889196-3437d9b8-61c1-11e7-8193-e13427a117dd.png)

[2017-07-06 07:15] carpodaster commented on #754
Looks good! As for the wording: I would name it "Sponsored team" and "Volunteering team"

[2017-07-06 12:21] juuh42dias commented on #754
That's ok? (Let's PR?)

![rgsoc teams app 6](https://user-images.githubusercontent.com/1828204/27910639-6896f35e-622c-11e7-8c3d-f6b30be600b8.png)

[2017-07-06 12:25] carpodaster commented on #754
Yes! 🎈

[2017-07-06 13:19] alicetragedy commented on #754
awesomeeeee! 🎉

[2017-07-06 13:37] juuh42dias commented on #619
Let's do it @branquinhoaa ?

[2017-07-06 14:42] F3PiX commented on #762
@maria
Hey! Would you mind to change the year format in the Google Doc from `17` to `2017` ?
The date formatter now reads the date as '17 jan 0013' instead of '13/1 17'.
I can change it in the code, but that is bound to be error prone. So I'd rather rely on the formatter.

[2017-07-06 15:42] branquinhoaa commented on #767
I want to do this one, but we will need the previously story ready, right? We will need the list to choose the options. Or maybe not, we can put fake data on the two dropdown and start from there.

[2017-07-06 20:49] mkalininait commented on #767
Hi @branquinhoaa Yes, you are right, in order to complete this task, we need to have the list of conferences finished. But I agree that it should be possible to start with the things you listed. Plus you can implement permissions: only students who belong to a team can see and edit the entire Conference block  on the team's page. Unfortunately we can't provide conference tickets to coaches.

I'm n

[2017-07-06 21:03] juuh42dias commented on #201
Sounds good for me... Maybe create a callback action for verify this action before save.

[2017-07-06 21:09] #760 closed

[2017-07-06 21:11] #633 closed

[2017-07-07 06:30] carpodaster commented on #754
Done by #779

[2017-07-07 06:30] #754 closed

[2017-07-07 11:01] mkalininait opened #781 "Can't update user avatar"
There is a problem that users can't update their avatars in the Teams app. If you didn't have an avatar in your GH profile once you signed up in the Team app, you can't add it to the Teams app later. We already had 3 or 4 requests this year to update students' avatars, and I had to manually add the urls in the DB.

I wonder if we could make an "Update avatar from GH" button or just implement a "Ad

[2017-07-07 11:11] carpodaster commented on #781
I'm curious why [`lib/github/user.rb:19`](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/lib/github/user.rb#L19) does not return a valid URL that always returns the current avatar. Apparently the URL changes when an upload is made. Maybe there is non-changing URL in the returned datastructure or there is an update for omniauth.

If not, I'd vote for the "Update avatar from G

[2017-07-07 15:34] F3PiX opened #782 "Show Off the Projects! Page"
@anikalindtner requested a page that shows all the accepted projects with their tags.

I pushed a preliminary PR  #783 , with just the name, the url and the tags.
This is the minimal form, it surely has possibilities.
- [ ] Find a suitable icon (instead of the current 'users' icon)
- [ ] Check (with @anikalindtner) if it makes sense to add more info like:
  - [ ] the teams that works on a project

[2017-07-08 22:42] F3PiX commented on #782
This was premature. Closing until we know more.

[2017-07-08 22:42] #782 closed

[2017-07-10 13:00] F3PiX opened #784 "Sustainable solution for Projects Page (#783)"
#783 provides a quick fix projects page.
Make it sustainable!

- [ ] Either move the application query to the application model or remove it and add a project_id to the teams table.
- [ ] Add tests
- [ ] Check if the 'seasonal' filter should stay, if not provide a different solution .

[2017-07-10 16:23] F3PiX commented on #784
Max said:

The project_id was removed with the introduction of the Projects Proposal feature, here:
https://github.com/rails-girls-summer-of-code/rgsoc-teams/commit/7bcef84b42c13858a4cb106a8cab22f42dab6a59.

[2017-07-11 12:32] mkalininait commented on #621
Ok, the team ProdyoGEEKY (Padawans in 2016) have the problem mentioned in the comment above :( They can't write daily logs.

[2017-07-11 13:46] juuh42dias commented on #621
@mkalininait button disabled too? I'll see this problem...

[2017-07-11 16:14] klappradla commented on #784
Thanx for researching where the `project_id` got lost @F3PiX 🙏

If it's really no longer used, I'd vote for a) either renaming the column to `deprecated_project_id` and then removing it later or b) straight away removing it *(in favor)*. This can in my opinion even be done within the scope of this issue - it's just a tiny migration after all.

The way it is set up now, it's only confusing people 🙈

[2017-07-11 20:52] F3PiX commented on #784
Maybe the `project_id` do exits for older applications in the db. (From before the projects proposal feature was implemented.) Wouldn't that be a problem?

[2017-07-11 21:02] klappradla commented on #784
Well, I personally don't consider it a problem. Previous seasons' data model don't work with the current schema and app anyways - we have snapshots of all previous years for this.

[2017-07-12 10:11] mkalininait commented on #621
@juuh42dias No, there is actually another problem. The students have two team, because they applied twice: in 2016 and 2017. They have been accepted this year. Now when they try to write daily logs, the logs get associated with their team of 2016.

[2017-07-12 16:40] mkalininait opened #788 "Add T-Shirt cut to User profile"
Next to "T-Shirt size" we need another dropdown "T-Shirt cut" with possible values:
 - [blank]
 - Straight cut
 - Fitted cut

[2017-07-12 16:40] mkalininait commented on #788
@alicetragedy Are you ok with it?

[2017-07-13 07:27] alicetragedy commented on #788
👍

[2017-07-13 13:43] mkalininait opened #790 ""My team" button for users with multiple teams"
This task derives from this issue and comment: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/621#issuecomment-276913772

There is the button "My team" on the Teams page. It was supposed to open user's current team's page. The problem is that some users have multiple current teams, e.g. coaches.

Possible solutions:
1) "Can we just remove it [the button] or add a "My Team(s)" ite

[2017-07-13 13:44] mkalininait commented on #621
The issue is fixed for the moment. I've also created a related issue #790.
Closing this one.

[2017-07-13 13:44] #621 closed

[2017-07-13 20:17] #762 closed

[2017-07-13 21:12] F3PiX commented on #762
@mkalininait Hi Maria, You can use the Importer now. See note ^ about the date format in the Google Doc. Enjoy!

[2017-07-14 19:37] F3PiX opened #792 "In conferences table: handle empty url's in views"
Conference are imported by csv. If the url field in the csv file is empty, the teams app shows a useless url, like `orga/conferences`.

Find out how the url is set in the index and show views, and show something usefull (maybe an empty field?).
Make sure that `sanitizing` imported url's stays in place, if needed.

[2017-07-15 19:02] klappradla commented on #771
Hey @mkalininait ,

I'm pretty late to the party, but @F3PiX brought this up and I think it would make sense to at least consider it before we this issue is picked up.

In order to implement the "assigning conferences" feature you describe here, it could make sense to migrate the current `Attendance` model to a `ConferencePreference` model. The way this is currently set up and being implemented in

[2017-07-16 10:48] F3PiX commented on #757
@carpodaster WDYT?

[2017-07-16 11:52] carpodaster commented on #757
Sure, moving it makes sense!

[2017-07-17 19:58] juuh42dias opened #794 "Github Handle saving empty fields"
GithubHandle returning false or nil class when edit/update your team.

![erro](https://user-images.githubusercontent.com/1828204/28287152-febb46ae-6b10-11e7-9f35-015d10026a2e.png)

[2017-07-17 20:07] branquinhoaa commented on #771
In fact, I am a little bit confused about this. Now have 2 attendances for each team - first and second options preferences. But we also have to confirm it (what sounds more like an attendance). So, in this case, the attendance model has two meanings: Confirm attendance and save team preferences.

[2017-07-17 20:14] branquinhoaa commented on #792
:+1:  what about the other empty fields? that will be allowed?

[2017-07-17 22:28] klappradla commented on #771
Yep @branquinhoaa exactly 🙈 that's also the problem I see.

I'd love to have another opinion by maybe @mkalininait or @carpodaster about this *(also due to the fact that I'm not too familiar with the whole conferences feature)*.

In my opinion it would be most obvious if we would distinguish between three things:
1. `Conference`
2. `ConferencePreference`
3. `ConferenceAttendance`

On the other han

[2017-07-18 07:56] carpodaster commented on #794
Hey @juuh42dias – good call. I've seen this error around but never really looked into it.

The problem is line 9: it does not return / assign the `user` instance variable. This causes the error in the following line (it tries to call a method on `false`).

Can you transform line 9 to something that safely returns a user instance and/or guards against illegal values for `github_handle` alltogether?

[2017-07-18 12:06] juuh42dias commented on #794
I believe that method first_or_initialize (return find or new) should return an instance to save(blank or not). I think github_handle.present? maybe don't necessary. What do you think?

[2017-07-18 16:20] #792 closed

[2017-07-18 17:39] branquinhoaa commented on #766
@mkalininait we would like to do this, but I am almost sure that the previous issue has to be merged before I start this one. Am I right?

[2017-07-18 18:04] branquinhoaa commented on #790
What if we change from a button to a dropdown button with all the teams that you have? when you choose the team in the list we redirect for that team page.

[2017-07-18 18:04] branquinhoaa commented on #790
@mkalininait What if we change from a button to a dropdown button with all the teams that you have? when a you choose the team in the list we redirect for that team page.

[2017-07-18 19:21] mkalininait commented on #762
@F3PiX Thank you so much!!
I've tested it and found one minor issue which I already reported to you on Slack.
Google exports csv's with the `,` separator, while in the code you suggest the `;` separator. Other than that the feature looks great to me! <3

[2017-07-19 09:24] F3PiX commented on #762
@mkalininait
Yes, exports are comma separated, the `col_sep` option is not about what Google exports.

I can't reproduce the issue. Your .csv test file does upload here locally, and don't when I change the `col_sep`.
Can you please try to upload the _first_  test file that you sent to me? (Without changing the code/`col_sep`).  And please use the exported version, i.e. exactly what you sent to me.

[2017-07-19 09:46] F3PiX commented on #762
@mkalininait  ^ edited

[2017-07-19 11:09] F3PiX commented on #762
I'd like to hear Carsten's opinion first, then report back to you 👍

[2017-07-19 19:32] branquinhoaa commented on #766
@klappradla Could you take a look too? we have changed the things you asked for

[2017-07-19 22:23] mkalininait commented on #771
Hey @klappradla Thanks for bringing this up. I absolutely agree with you. I think it makes sense to distinguish those three things you listed. In fact, I was thinking of the same model initially.
I didn't provide details to this task yet, because the previous conf tasks (2-6) were not done yet, so I thought there was no rush :) I will add more info in the task description asap.

[2017-07-20 08:26] carpodaster commented on #788
Closes in #797

[2017-07-20 08:26] #788 closed

[2017-07-20 08:47] mkalininait commented on #788
Tested on prod, works well. Thank you @branquinhoaa and @carpodaster !

[2017-07-20 09:18] carpodaster commented on #762
@mkalininait @F3PiX we need to find a way how to make Google export its data in a deterministic format. If it's format A today and format B tomorrow (or same day, but different computer), we'll never find a reliable CSV col_sep setting

[2017-07-20 10:02] F3PiX commented on #762
.csv is not a standardized format, so some apps use comma, the more modern way is to use semicolon.
Google, same as for example Numbers, don't allow to set export settings. Only import settings.
That is why I proposed to use the .tsv, that is for all OS's, apps, computer settings and dates ;-) the same.
Starting point was that Maria needs GoogleDocs for the conferences management, and that has lim

[2017-07-20 10:43] carpodaster commented on #762
@F3PiX I'm not so much concerned about which format we go for (I've never heard of .tsv before, but that doesn't mean anything 🙃 ). I took it from your conversation that Google Docs exported the same data with different column seperators, once with semicolon (that you used for implementing the feature) and now with comma. Or was the first one (with semicolon) not exported from Google Docs?

[2017-07-20 11:05] F3PiX commented on #762
As I know now: Google docs always exports comma. I can't recall exactly what happened, but I probably opened it on my Mac, and then it gets saved with semicolon. That is why the .csv format is not solid enough; this can happen to any user, who wants to check the exported .csv file before uploading.
.tsv solves all that. (As I understand it, it is the same as you get when you open a .csv file in a

[2017-07-20 11:10] mkalininait commented on #762
Hey @F3PiX I tried uploading the first csv file I sent to you and I got the same error with the separator.
It confuses me so much. From what I see and understand, Google always exports csv with the `,` separator; both files I sent to you have the `,` separator for me. I never edit/save these exported csv files in any editors, I just import what I exported from Google.
Did you use any editors to ma

[2017-07-20 11:16] carpodaster commented on #762
So when Google is unable to configure the export format, how do we tell it to use tabs instead of `,` ? Does `.tsv` get us anywhere?

Does Google deterministically  enclose fields (=table values) in `"` quotation marks?

[2017-07-20 11:22] mkalininait commented on #762
@F3PiX @carpodaster As per the tsv format I'm a bit concerned about it. It's not very well-known; many applications can't export to tsv (e.g. Numbers). It will probably work for now, but I don't know if it will be convenient for future generations.

[2017-07-20 11:24] mkalininait commented on #762
@carpodaster You can tell Google to export either to csv or tsv, but can't set options.
If there is a `,` symbol in a cell, Google Sheets will put `"` around the value.
E.g. `2017002,JSFoo 2017,"Sep 15, 2017","Sep 16, 2017",Bangalore,India,Asia Pacific,https://jsfoo.in/2017/,,,`

[2017-07-20 11:34] F3PiX commented on #762
@carpodaster Misunderstanding: you can configure to export to .tsv, you just can set export settings for individual files. So, we tell it to use tab separators by telling to export to .tsv
AFAIK in .tsv, we don't care about the quotation marks, because it will never interprets `Aug 17, 2017` as two columns.
I added a tsv test file to PR #798.
How about the YOLO way: merge the PR and let Maria test

[2017-07-20 11:59] mkalininait commented on #762
@F3PiX Yes, but in order to import a tsv, we need to export it from somewhere :) Now it's Google Sheets, but I don't know if it will stay this way when someone else starts working with conferences.

[2017-07-20 12:07] mkalininait commented on #762
I still don't get the issue with csv :/ Google exports csv with the `,` separator; it also wraps values containing `,` in double quotes. The current importer processes such files perfectly, if we change the separator from `;` to `,` in the code. The only limitation is that we shouldn't open/edit/save exported files locally (in some editors) before importing them in the Teams app. But why would we

[2017-07-20 12:26] mkalininait commented on #766
@branquinhoaa Hm.. Do you mean this PR? https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/789 This task looks independent to me. I *think* you can start working on it.

[2017-07-20 12:31] mkalininait commented on #790
@branquinhoaa This is an option, but I think it may be a bit weird to have two lists (and two ways of opening a team page) on one page...  I'm not a UX expert though.

[2017-07-20 17:41] branquinhoaa commented on #771
@mkalininait We are changing the Attendance model to ConferencePreference in pr #789 . The ConferenceAttendance model will be created just on this issue right?

[2017-07-20 21:21] klappradla commented on #771
Perfect @mkalininait 💚

And yes @branquinhoaa totally agree with what you're saying. I'd prefer to have #789 merged and cleaned up before introducing yet another model. The first step in this would probably be: renaming the current `Attendance` model to `ConferencePreference`. This could be done in the current PR, but it's not super necessary. I'd personally prefer a 2nd PR, since smaller ones are

[2017-07-21 07:39] mkalininait commented on #771
@branquinhoaa Yes, this is how I see it, too.

[2017-07-21 13:17] F3PiX commented on #784
@anikalindtner
At the new 💥 projects page, we display the 'active' projects (= accepted projects, with teams working on them during SoC) during the 'active' season (that is: from the day the application confirmations are sent, until the last day of the coding summer.)
The rest of the year, we show the accepted and proposed projects.
Can we keep it that way?
If so, I'll close this issue.

[2017-07-22 06:45] carpodaster commented on #762
@mkalininait I agree. I thought the problem with Google's `,` CSV was that it doesn't quote the `,` in its field values. If it does, Ruby's [CSV lib](http://ruby-doc.org/stdlib-2.4.1/libdoc/csv/rdoc/CSV.html#method-c-new) should handle this without problems: the `:quote_char` option is set to `"` by default.

[2017-07-22 09:36] F3PiX commented on #762
Okay, let's do it the YOLO way and test it in production :-)

[2017-07-23 16:13] F3PiX commented on #711
Hi @amrtanair ! I take it you are not working on this, so I assigned myself. If you do want to take this on, please unassign me and assign yourself!

[2017-07-24 11:40] mitsuhiko commented on #762
@carpodaster it does for me:

| | A  | B | C |
| - | ---- | ---- | ---- |
| *1* | a | b,c | d |

Gets exported as

[code]

[2017-07-25 12:24] amrtanair commented on #711
Hi @F3PiX  ! I am sorry I took so long to reply. I am currently working on another project for RGSoC'17 and I would love to solve this issue. it kinda was on the back of my head, but I never got around to working on it :( If you want to, do go ahead, else just notify me and I will make it a point to resolve it :')

[2017-07-25 13:23] branquinhoaa commented on #770
@mkalininait this export button can be in the conference/index, like this:
![export_btn](https://user-images.githubusercontent.com/15239141/28574103-3c5f8a2a-7123-11e7-9b93-65c8dc448c06.png)

[2017-07-25 13:37] mkalininait commented on #770
@branquinhoaa Good suggestion! And we should also add it here: `/orga/exports`

[2017-07-25 14:02] #767 closed

[2017-07-25 14:30] mkalininait commented on #770
@branquinhoaa I've updated the description of this task ☝️

[2017-07-25 18:07] branquinhoaa commented on #770
@mkalininait What about the additional info about chosen conferences #768? Will it be exported too?

[2017-07-26 08:47] mkalininait commented on #770
@branquinhoaa Goooood point, thank you! Yes, it will. I've updated the task description.

[2017-07-26 08:51] #757 closed

[2017-07-26 20:55] troubalex commented on #790
I don't think I have access to the team app any longer, so I can't check what the current navigation looks like. A top-level navigation item sounds like a smart, pretty straight forward solution though. It's discoverable, gives people a feeling of location within the app, and probably yields the least surprises. So I'd go with that.

But then again, I am shooting from the hip here. A screenshot of

[2017-07-27 09:31] mkalininait opened #803 "Bug in export of current students"
There is a bug in the exporter of current students. It adds not only current students to the list, but also users, who have a student role (e.g. were students in past) and are a part of a current season team (e.g. supervise a team).

The same issue we have when we export students of the previous RGSoC editions.

Example: a person was a student in 2015, supervised a team in 2016 and two teams in 20

[2017-07-27 12:39] carpodaster commented on #803
Thanks @mkalininait – this must an error on how the different team-related scopes are joined. If that is the case, this error will probably show up elsewhere, too. I'll look into it!

[2017-07-27 13:03] alicetragedy commented on #790
A top-level navigation item makes the most sense to me as well.
@troubalex I've pasted some screenshots of the current navigation and its sub-level items :)
<img width="414" alt="screen shot 2017-07-27 at 15 02 12" src="https://user-images.githubusercontent.com/3143348/28671344-9e86e7ce-72dc-11e7-9280-0909307f5d11.png">
<img width="384" alt="screen shot 2017-07-27 at 15 02 22" src="https://user-im

[2017-07-28 11:06] #803 closed

[2017-07-28 11:11] carpodaster commented on #803
@mkalininait I pushed a fix. Could you please check if it indeed fixed the thing?

[2017-07-28 12:03] mkalininait commented on #803
@carpodaster It did! Thank you!! 🎉

[2017-07-28 22:13] mkalininait opened #806 "Conference preferences: NONE option"
I think we should add the 'None' option to the conference preference dropdowns, in case a team doesn't want to attend any conference. Now it's impossible to set this option after a conference has been already selected and saved.

[2017-07-29 09:34] carpodaster commented on #763
I think the conference controller has undergone its heavy-weight changes now. It would be ready for refactoring.

[2017-07-29 09:35] carpodaster commented on #766
@mkalininait is this solved by #802 ?

[2017-07-29 10:01] F3PiX commented on #711
@carpodaster I'd like to add the very cool [geocoder gem](https://github.com/alexreisner/geocoder) as a starting point for solving this. Is that okay?

[2017-07-29 18:38] carpodaster commented on #711
@F3PiX Why do you think we need exact geocoords? I'm not against geocoder, but I don't currently see why we would need it to de-duplicate locations. Your solution in #807 seems like the better approach to me.

[2017-07-29 20:46] F3PiX commented on #711
Apart from  all the cool things we can do with it...
The solution on #807 works, given the user input is correct. If someone enters a city incorrect, or one student calls their city "Beijing" and the second student "Peking", we can't catch that now. With geocoding we get one unique name.
(We do not need the geocoder gem for that, Max already introduced geocoding for the application forms, but the

[2017-07-31 15:18] F3PiX commented on #711
Hmmm either way, it is probably a bad idea to do this mid-season.
Closing this, and I'll check back in after summer.

[2017-07-31 15:18] #711 closed

[2017-07-31 21:52] mkalininait opened #809 "Conference preferences: adding new conference UX"
Team edit view, conference preferences

This issue derives from here: https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/802#issuecomment-318490848

It would be great to add a new conference in an in-place edit or a popup form instead of opening a new page.

[2017-07-31 21:53] mkalininait commented on #766
@carpodaster jup!

[2017-07-31 21:53] #766 closed

[2017-08-02 22:02] F3PiX commented on #229
Surprise! nr. 1 is done in #793.
For nr 2:

- [ ] Restrict mails in list
- Currently, everybody can see the _list_ of emails, but they are not allowed to click and read the content. So, we agree that a user should see only their own mails in the list, right?
If so, I'll take this on.
- To be sure: by 'mailings' do you mean: the mailings sent from the mailing functionality (as currently listed in t

[2017-08-02 22:08] F3PiX commented on #19
Surprise! This one is done in #791 .
There is also a follow-up issue #784.
I think we can close this? (@carpodaster)

[2017-08-02 23:01] branquinhoaa commented on #770
Hi, @mkalininait!
this one is done, but considering that the PR #810 change the conference preference model structure, we will need to wait for it to be merged (I get all the export data from Conference preference new model, so I need it).

There is just one field that I couldn't find: project technologies. Each team has a column named project_name, but no fields or relation with other models that

[2017-08-03 11:58] mkalininait commented on #770
Hi @branquinhoaa Great news!

Sorry, I was not accurate enough. By project technologies I meant project tags (the "Tags" column in the "Projects" table).

[2017-08-03 14:24] branquinhoaa commented on #771
@mkalininait and @klappradla
I was thinking about the models and maybe instead of a ConferenceAttendance model, it will make more sense to build a ConferenceOffer model.
Each team will have one (or many?) ConferenceOffer with conference_id, team_id, orga_comment, and attendance(boolean).
We have here the same issue that we had in ConferencePreferences (a table with some data for the relationship -

[2017-08-03 21:51] klappradla commented on #771
I'm not sure if the issue is entirely the same as with `ConferencePreferences` @branquinhoaa ? The only attribute that is kind of _"interfering"_ with a simple solution (one `ConferenceOffer` for one `Conference`) is the orga comment.

But for me there are still some open questions:
1. What's the orga comment for? (cc @mkalininait)
1. Who can see the orga comment? I suppose the team will see it la

[2017-08-04 09:07] alicetragedy commented on #19
@F3PiX I'm not sure about this — where are the participating teams shown on the project list? I still think it would be great to see the teams + associated projects somehow, not sure if the project page is the best place for it though. wdyt?

[2017-08-04 09:10] alicetragedy commented on #784
@F3PiX may I jump in with some thoughts?
I like the idea of still showing all projects that have been submitted, regardless of whether they are participating with a team or not. I'm not sure if in this case making it
I could imagine using the `status` tag for this and letting the user / visitor filter/order the list. This would mean for example adding an extra tag (right now we just use `rejected`

[2017-08-04 11:01] mkalininait commented on #771
Hey @klappradla @branquinhoaa

There indeed can be a situation when we offer a conference which hasn't been selected as a team preference. It's not a super rare case. Not all the conferences want to support RGSoC. Thus we need to choose our offer from the full list of conferences.

On the other hand, some conferences offer more than 2 tickets. This means that we can offer one conference to several

[2017-08-05 06:38] F3PiX commented on #784
I have no strong feelings either way. Although I rather go with preventing information overload, and rather show less than more. It depends on the use case. Anika wanted a page to show the active projects to sponsors and the like; that makes perfect sense and has a clear use case.
Also, during the period (or from a month or so before that) that maintainers can propose their project, showing all pr

[2017-08-05 07:50] F3PiX commented on #19
Oops, good catch! That was done in my dreams....  ;-) I'd really like to add a column with a link to the team working on the project, preferably their activity stream.
When we are showing the 'active projects' (= accepted and with a team working on it), I'd really like to see what team is associated - preferably with a link to their activity stream. I'd say that is the most useful team information

[2017-08-06 12:37] klappradla commented on #771
Thanx for explaining @mkalininait 💚

I knew a `Conference` could be part of many `ConferenceOffers`, sorry if that wasn't clear enough in my previous comment.

So, just to illustrate things, I thought it would look like this:
![untitled diagram 3](https://user-images.githubusercontent.com/3491815/29003266-d85f06fa-7ab3-11e7-8048-af1fe1fd7fa5.png)

Which means: one `ConferenceOffer` for a `Conferen

[2017-08-06 18:27] mkalininait commented on #771
@klappradla Great diagrams, Max! They make thigs clear.
I think both of them make sense from different angles of view. The Conference Offers are similar to the Conference Preferences, because they have one comment for all assigned (offered or prefered) conferences (at least in my mind :)). However the difference is that while students usually choose two preferences, they usually get only one offer

[2017-08-06 21:35] klappradla commented on #771
Hm, if a team getting offered 2 conferences is the rarer, more exceptional case, we should probably build things with this as the main scenario in mind and don't treat the comment as such an important part of the whole workflow _(especially if it's optional)_

So what about this:
We take the first approach (one `ConferenceOffer` per `Conference`)  at let a `Team` have `0..*` of them (this would al

[2017-08-07 10:13] alicetragedy commented on #19
@F3PiX haha :D Yeah, I agree with you — adding that column with a link to the team working on the project makes a lot of sense. Would love to see this happen <3

[2017-08-07 10:17] alicetragedy commented on #19
@F3PiX haha :D Yeah, I agree with you — adding that column with a link to the team working on the project makes a lot of sense. Would love to see this happen <3

[2017-08-07 12:51] branquinhoaa commented on #771
@mkalininait what do you think? Can we use this approach?

[2017-08-07 12:56] mkalininait commented on #771
@klappradla @branquinhoaa Yes! Let's do this!

[2017-08-07 17:47] branquinhoaa commented on #771
@mkalininait I have one more question:

- Just an orga member can assign a conference for a team.  Is it necessary to put the fields to assign conference into teams/form? or just into orga/teams/form is enough?

[2017-08-07 19:53] F3PiX commented on #19
Okay, let's do it!

[2017-08-07 20:01] klappradla commented on #771
Hey @branquinhoaa this should ideally live in the `orga` namespace. And it does not need to be a `team`-form after all - it can simply be a `ConferenceAttendance` form.
The controller you're using for this can inherit from the `OrgaBaseController` (don't know the exact name now), which already makes sure that the user has the required role for all the actions he or she want to perform.

Does that

[2017-08-07 20:20] branquinhoaa commented on #771
I thought it would be done in the team's controller. I'm going to change it.

[2017-08-07 20:29] klappradla commented on #771
Oh @branquinhoaa no, do as you think it makes sense.
I just wanted to point out: it should ideally be in the orga namespace - can therefore also be the teams controller in the orga namespace.

[2017-08-07 20:33] branquinhoaa commented on #771
I reopened the PR for you to see how I did it. If it is better to move to another controller, fine, I can fix that in the same PR.

[2017-08-07 20:37] klappradla commented on #771
Alright, thanx 🙏
I don't think I'll find the time to review it today - already too 😴 - so feel free to just request a review by me and I'll have a look tomorrow / as soon as I can get to it.

[2017-08-08 13:09] juuh42dias commented on #806
@mkalininait  in my PR was included `include_blank: 'Conference' ` on Dropdown of Conferences.

[2017-08-08 21:15] klappradla commented on #806
Yes, should already be fixed with #810 , you're right @juuh42dias 🎉  _(closing this @mkalininait , feel free to reopen if it the workflow does not cover all your use cases)_

[2017-08-09 09:46] mkalininait commented on #768
Resolved with https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/810

[2017-08-09 09:46] mkalininait commented on #769
Resolved with https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/810

[2017-08-09 09:47] #769 closed

[2017-08-09 09:49] #768 closed

[2017-08-09 10:02] mkalininait commented on #806
@klappradla @juuh42dias Can we please rename it to "None"? Other than that it looks good to me.

[2017-08-10 14:46] branquinhoaa commented on #502
Hello! what do you people think about this layout for this issue?
It is /teams index, as suggested by Ines.
![past_teams](https://user-images.githubusercontent.com/15239141/29176144-66920bba-7dc1-11e7-9bed-2f8465f3c2cf.png)

[2017-08-10 21:48] klappradla commented on #806
Should be resolved now via #812

[2017-08-10 21:48] #806 closed

[2017-08-10 22:25] mkalininait commented on #806
@klappradla YAP!

[2017-08-13 09:28] mkalininait commented on #19
It would be also great to show the team's project on the team's page.
I wonder if it will require changing the way we assign projects to teams and the team model.

[2017-08-13 12:55] m-gb commented on #763
Is this project open to pull requests?

[2017-08-14 21:47] #771 closed

[2017-08-15 13:03] F3PiX opened #818 "Do cool stuff with `team <-> project`"
Blocked by #816
Once the production db is updated with the `team.project_id`, we can use the team <->  project association for things like:

- [ ] 1 Orga Team edit page: assign project with dropdown select
- [ ] 2 Use the association in the query Projects#index
- [ ] 3 Turn the project_name in `team#display_name` into a link to the project show view.
- [ ] 4 Change relevant references to the `team

[2017-08-15 14:24] branquinhoaa commented on #772
@mkalininait How do you think that we can display the conf. status?
I did like this:

![conf-attendance](https://user-images.githubusercontent.com/15239141/29319856-d0dc25bc-81ab-11e7-87e7-ec7687d9aa3d.png)

Will we change the links style after the team had clicked on attend link?

Also, I think we need to merge the PR  #813 in order to finish this one (the export change part).

[2017-08-15 21:54] klappradla commented on #772
Just a short note to your screenshot above ☝️ @branquinhoaa: I think it would increase the readability if you'd always add a whitespace 🏳️ between the link and the label.
And for the orga comment, I guess it would make sense to add a linebreak and make the comment a [blockquote](https://getbootstrap.com/docs/3.3/css/#default-blockquote)

For the conference-links: I'd suggest to use a normal [list]

[2017-08-15 22:01] klappradla commented on #763
Sure it is @m-gb 🤗
Please check our [Readme](https://github.com/rails-girls-summer-of-code/rgsoc-teams) for all general information and especially our [contribution guide](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/CONTRIBUTING.md) on how to get involved 📚

**Before doing anything**, please be sure you have read and understood our [code of conduct](https://github.com/rai

[2017-08-16 10:18] mkalininait opened #819 "Conference import: error when a file is not chosen"
`/orga/conferences`

If I don't choose a csv file and press the "Import csv file" button, I get this error:
![screen shot 2017-08-16 at 12 16 58](https://user-images.githubusercontent.com/1745735/29358845-d8197ccc-827c-11e7-84a6-da4c3d0cdc18.png)

It would be great to show a user friendly error message instead.

[2017-08-16 12:20] mkalininait commented on #772
@klappradla We don't set a limit in the Teams app currently. I'm not sure we should make this too complicated. In real life we will probably ask the students to accept or decline the offer until a certain deadline; we don't care what they set in the Teams app after the deadline basically. This is how I see it.

@branquinhoaa In addition to what Max said: please remove the dot from the label "I wil

[2017-08-16 12:22] klappradla commented on #772
👍  for the deadline stuff. Makes sense @mkalininait.

[2017-08-16 13:12] mkalininait commented on #818
In addition to 1:
I think we should remove the `project_name` from the non-orga team edit page.

And this comment, too: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/19#issuecomment-322031515

[2017-08-16 13:23] mkalininait opened #820 "Orga team edit page: season dropdown"
I've just noticed that we have the `Season` dropdown in the "Sources" block of the Orga team edit form:
![screen shot 2017-08-16 at 15 18 55](https://user-images.githubusercontent.com/1745735/29365242-91a0ce8e-8296-11e7-9d6e-81325ce4444f.png)

Does anyone know where it comes from? It looks misplaced in the "Sources" block.

[2017-08-16 13:32] mkalininait opened #821 "Conferences: show for accepted teams only"
I think we should show the 'Conference' block (incl. 'Conference preferences' and 'Conference offers') on the team view/edit pages only for accepted teams. Conference settings are absolutely useless for the teams who are applying for example.

I think such solution is better than showing the 'Conference' block depending on the current season/phase. We may want to see in which conferences the teams

[2017-08-16 18:25] branquinhoaa commented on #772
Hey guys, thank you for all suggestions.
What do you think about it?

![notdecided](https://user-images.githubusercontent.com/15239141/29378832-e784cfb2-8296-11e7-95b1-cc862615c7cc.png)
![attend](https://user-images.githubusercontent.com/15239141/29378830-e77ccd3a-8296-11e7-9414-3c7038947a81.png)
![notattend](https://user-images.githubusercontent.com/15239141/29378831-e7817a24-8296-11e7-9423-c793f

[2017-08-16 20:38] klappradla opened #823 "Test ConferencePreference scopes and ConferencePreferences exporter"
As said in #813, it would be nice to have a dedicated test for the `current_teams` scope in the `ConferencePreference` model specs. If that is properly tested, we can rely on this contract with the conference_preference exporter. This means: we stub out this method and make the test there less heavy on the database. It is enough for us to know **that `current_teams` get's called**, the internals o

[2017-08-16 20:51] klappradla commented on #772
Yay, looks solid 🎉

Just came to my mind now: how about adding a tiny paragraph about that both, a `ConferenPreference` and a `ConferenceOffer` is right under each headline? Or is this already "explained" to the students elsewhere (meaning in another view).

I imagine it being something like

and maybe

_(wording is totally not final, just came up with this right on the spot)_

[2017-08-16 21:37] klappradla commented on #821
Perfect @mkalininait 💚

[2017-08-16 21:54] klappradla commented on #820
It has been there since _"forever"_ (as in: 2 years 😂 ), but you're right @mkalininait it just does not have its own headline, that's why it looks slightly misplaced.

It could probably go up somewhere around the name field. The form looks a bit as if it was directly moved over from the "normal" namespace, it still has some obsolete checks for whether or not the user is admin and the wording is ta

[2017-08-17 10:38] #770 closed

[2017-08-17 12:35] mkalininait commented on #772
@klappradla @branquinhoaa Adding more info is a good idea! I'd actually add more info to both view and edit pages.

Maybe something like:

**Conference preferences (edit form):**

**Adding a new conference:**

**Conference preferences (view form):**

@klappradla I'd emphasise *interest* here, because we don't guarantee anything to the students. As much as I tried to make it clear last year, there

[2017-08-17 12:43] mkalininait commented on #772
@branquinhoaa @klappradla Regarding the orga comments to the conference offers. Tbh, the quote format looks a bit comic to me :) It looks as if it was a wisdom quote or something :) I'd probably vote for the previous version (plain text).

[2017-08-17 20:05] klappradla commented on #772
Huuuuge plus 1 for the texts @mkalininait 💚  We need to make things way more clearer upfront. These large forms hardly speak for themselves without any hints to them... 😞

And for the comment: yes, I looks kinda god-like 😹  also plus 1 for solving this in a not so weird way 😉

[2017-08-18 00:53] branquinhoaa commented on #772
What about these?

![teams_edit_orga](https://user-images.githubusercontent.com/15239141/29439760-58015e04-8396-11e7-934e-c7fdd53ff449.png)
![teams_show2](https://user-images.githubusercontent.com/15239141/29439773-6d06a34a-8396-11e7-8ad1-a554703098de.png)
![teams_show](https://user-images.githubusercontent.com/15239141/29439777-6ee9f680-8396-11e7-9633-2262ac53f3ee.png)

[2017-08-18 12:56] mkalininait commented on #772
Thank you @branquinhoaa ! <3 I would merge it!
And we can always improve the UI later if someone has good ideas.

[2017-08-18 13:29] branquinhoaa commented on #772
I just love to work with this kind of things xD

[2017-08-18 17:17] klappradla commented on #772
☝️ looks awesome @branquinhoaa 👍

[2017-08-19 13:30] mkalininait commented on #820
@klappradla Ugh. Yeah, the form is chaotic. It would be great to put it in a order.

For both non-orga and orga views: I don't understand why we show all these fields in the "Members" section:

![screen shot 2017-08-19 at 15 15 47](https://user-images.githubusercontent.com/1745735/29486915-735158d8-84f1-11e7-9a01-7e1ec71116dc.png)

In my opinion "Introduction", "Twitter handle", "Github handle" an

[2017-08-19 13:34] mkalininait commented on #820
@klappradla I'm sorry, my previous comment goes soooo much beyond the original issue title :D

[2017-08-20 13:04] klappradla commented on #820
No worries @mkalininait 😉

What you say about the structure pretty much all makes sense. But another question upfront: why would admins *either* use the normal form *or* the orga form? In my opinion they should not be able to use the normal one and just have the orga-form as their place to edit teams.

I'm make this an `enhancement`, since I think the "question" part was answered, right?
I'm a bit

[2017-08-20 14:07] klappradla commented on #594
Moving this into the [Community Page(s)](https://github.com/rails-girls-summer-of-code/rgsoc-teams/milestone/13) milestone, the next project @juuh42dias and @branquinhoaa will tackle 💪

Let's take this discussion as a starting point to come up with the necessary tickets for this feature. Once the smaller sized tickets are created, we can close this issue right here.

Summing up the so far "decided

[2017-08-20 14:21] klappradla commented on #84
It seems this can be solved on the way to the new community page 👉  moving this into the [community page milestone](https://github.com/rails-girls-summer-of-code/rgsoc-teams/milestone/13)

[2017-08-20 14:31] klappradla commented on #576
I think this is solved by having the new `ConferencePreference` model with only two possible associations to `Confereces`
<img width="1035" alt="screen shot 2017-08-20 at 16 30 10" src="https://user-images.githubusercontent.com/3491815/29495712-f37a702a-85c4-11e7-87ae-379165046d8c.png">

[2017-08-20 14:31] #576 closed

[2017-08-20 14:33] klappradla commented on #472
Isn't this already part of the conferences milestone @mkalininait ?

[2017-08-20 14:34] klappradla commented on #414
Closing this as this is solved via introducing the `ConferencePreference` model.

<img width="1035" alt="screen shot 2017-08-20 at 16 30 10" src="https://user-images.githubusercontent.com/3491815/29495750-7d829cf2-85c5-11e7-9d31-cc4d5615d296.png">

[2017-08-20 14:34] #414 closed

[2017-08-20 14:38] klappradla commented on #83
Moving this into the [Community Page](https://github.com/rails-girls-summer-of-code/rgsoc-teams/milestone/13) milestone, since this is an integral part of the whole "community page" project 😉

We will need some redefinitions for this though.

[2017-08-20 18:34] LuisaAPF commented on #434
I was not able to reproduce this issue. If I try to assign a role to an empty github handle, I get a 500 error and no role is created on the database. I can work instead on fixing the validations.

[2017-08-21 11:01] mkalininait opened #825 "Conferences: adding a new conf from the list of confs"
It would be convenient to have a possibility to add a new conference from the list of conferences here: `/conferences`.

Add a button "+ New Conference" on the conference page (maybe the same way as it's done for `/teams`?). The button should open the "Create a new conference" form.

Who should see the button:
 - orga
 - students of accepted teams

[2017-08-21 12:33] mkalininait opened #826 "Can't add a new conference in UI"
When I try to add a new conference I get Error 500 on production.
This is how the error looks locally:

![screen shot 2017-08-21 at 14 31 21](https://user-images.githubusercontent.com/1745735/29519404-a8e606f0-867d-11e7-8e39-3111aa1e23e6.png)

[2017-08-21 12:34] mkalininait commented on #826
Hey @branquinhoaa I assigned you to this bug, but if it's not your area of responsibility, feel free to "unassign" yourself.

[2017-08-21 14:30] branquinhoaa commented on #826
When you tried to add the conference, are you logged as an organizer? that error is because we use team id to generate the gid, if you are logged as an orga you have no team.

[2017-08-21 18:11] klappradla commented on #825
Any obligations in putting this into the `conferences` milestone @mkalininait ? I think it would make sense, now that @juuh42dias and @branquinhoaa are already touching this area of the app, not to leave any "holes".

[2017-08-21 21:20] mkalininait commented on #826
@branquinhoaa Ah, I see :) Yep, I am an orga without a team. Would be great to have a possibility to add a conference in this case, too.

If it works for the students, the bug becomes of a lower priority, I guess :)

[2017-08-21 21:49] mkalininait commented on #820
@klappradla Thanks for the comment!

You are right that the orga should use only the orga view. When I was talking about the normal view, I was thinking about the students. When our students get accepted to the program and want to edit their team, they see this chaotic form, too: not the 'status' fields, but the ones which should ideally fall in the 'about the team' section. Thus I think we should

[2017-08-21 21:55] mkalininait commented on #472
@klappradla Yes! And it's already implemented <3
I'm closing this issue. Feel free to reopen it, if you think that something still needs to be done.

[2017-08-21 21:55] #472 closed

[2017-08-21 21:58] klappradla commented on #820
Sure, I'd also straight look at both forms.

Was just curious about the use cases. If the orga form is "just" one that orga users shel out to if the "normal" form is not capable of everything the want to do or if it's the go to point of they want to edit a team (as said elsewhere, I think the latter sounds more reasonalbe to me)

[2017-08-21 22:00] mkalininait commented on #825
@klappradla I'm fine with anything you decide :)

[2017-08-21 22:16] mkalininait commented on #820
@klappradla I agree, the latter sounds better (more consistent) in the currently implemented system.

[2017-08-22 05:52] carpodaster commented on #434
@LuisaAPF thank you for offering to fix this issue! There is an open PR (#796) that could be related. Let's wait until it is merged and see if the problem persists.

[2017-08-22 05:53] carpodaster commented on #414
🎊

[2017-08-22 08:48] mkalininait opened #833 "Conference preferences: none vs. not selected"
**Where:** Team edit forms, 'Conference preferences' section, 'Primary choice' and 'Secondary choice' fields

While using the conference features I faced the following issue: there is no way to distinguish two cases: 1) when a team didn't select their preferences (e.g. they didn't have time); 2) when a team doesn't want to attend any conference.

The solution can be the following:
 - have two opti

[2017-08-22 10:49] LuisaAPF commented on #434
Ok!

[2017-08-22 11:08] F3PiX commented on #434
@LuisaAPF I happen to notice that you picked one of the few issues that are labeled `beginner friendly`, and not `rgsoc17`. You are very welcome to pick issues with the `rgsoc17` label as well. As far as I know, they are not exclusive for the RGSoC team. Am I right, @carpodaster ?

[2017-08-22 12:21] F3PiX opened #834 "Add projects to nav bar"
There is not currently a link in the nav bar to the projects index page.
Add a link to projects#index in the dropdown in `Summer of Code`, under `Conferences`

<img width="524" alt="screen shot 2017-08-22 at 14 19 18" src="https://user-images.githubusercontent.com/6314687/29565170-21842a70-8745-11e7-9e5a-77685259bc21.png">

[2017-08-22 12:24] carpodaster commented on #434
@F3PiX @LuisaAPF definitely – everything that's not been assigned (or being commented on that someone's working on it) is up for grabs

[2017-08-22 13:51] branquinhoaa commented on #826
Yeah, I submitted a PR fixing it. In cases where the user does not have a team, I'm using her user id to generate the GID.

[2017-08-22 14:21] LuisaAPF commented on #434
Thanks for the tip, @F3PiX. I wasn't sure I could work on those.

[2017-08-22 20:07] #819 closed

[2017-08-22 21:35] #821 closed

[2017-08-22 22:08] klappradla commented on #833
Hm, difficult edge case @mkalininait 🙈

Really "choosing" something like `none` does not really work, since it's not a valid conference ID and in fact not even an integer 😉  So it's `NULL` in the DB which of course cannot be distinguished from "not selected".

If I recall correctly how this was implemented, I think for the latter case of "not selected", there should not be a `ConferencePreference`

[2017-08-23 14:07] F3PiX opened #836 "JavaScript: Export conferences button freezes in 'clicked mode'"
/orga/conferences
After clicking the download button, the button is disabled, and that is a good thing.  After the download is completed, the button doesn't jump back to enabled state. That is not so good...

This looks related to the javascript, so you can solve the js, OR use the submit button option `disable_with` instead.
Whatever you think is best or easiest :-)

[2017-08-23 14:59] F3PiX commented on #836
Closing. It is not a bug, it is a feature!!

[2017-08-23 14:59] #836 closed

[2017-08-23 15:42] F3PiX commented on #434
@LuisaAPF If you have questions, want to check for suitable issues, or could use some help with the setup or anything else that may hold you back, please don't hesitate to ask!! You can put a question in an issue, and someone will answer, and/or 'ping' me ( i.e. add ` @F3PiX` to your comment).

[2017-08-24 11:15] mkalininait commented on #833
@klappradla That's right, when nothing is selected, a `ConferencePreference` record is not being created. In order to create a `ConferencePreference` record with `NULL` in both preferences, the students should choose random conferences, save the form, edit it again and then set "None" to both preferences. Nobody does it, of course. In both use cases, whether a team doesn't want to attend any confe

[2017-08-25 19:38] juuh42dias commented on #6
@carpodaster  what is the status of this task?

[2017-08-25 19:51] carpodaster commented on #6
@juuh42dias still a valid one, although this could probably also mean checking which setting in `ability.rb` we still need – quite a few authorization hooks should be obsolete by our different namespaces.

[2017-08-26 10:14] klappradla commented on #833
Yes, sounds like a good plan @mkalininait 👍

So @juuh42dias some more things I would suggest to take into consideration here:
* the "none"-conference (maybe we could call it `NullConference`, since it behaves a bit like a null-object) should be created as part of the application's seed data, since it's a crucial piece of data to have the app working
  * create it as part of the `seeds.rb` file
  *

[2017-08-26 10:30] klappradla opened #840 "Restrict access to conference controller actions"
As mentioned in #829, restrict the access to the `conferences#new` (and related `create` etc.) actions to those users who have the ability to do this. Use `cancancan` to ensure this on the controller level.

[2017-08-26 17:35] carpodaster commented on #833
(`NullConference` :heart:  I love null objects)

[2017-08-27 18:00] m-gb commented on #763
Hi @klappradla, I've created PR #842 to address the issue, let e know what you think!

[2017-08-27 19:39] LuisaAPF commented on #642
I get an error if I click on the confirmation link while logged out. I could solve this by redirecting to the root path, instead of the sign in path. The difference is that now the user is not automatically signed in. I don't think this might be a problem, as this is the default behavior of devise and is the recommended procedure in terms of security https://stackoverflow.com/questions/18655334/av

[2017-08-28 17:46] branquinhoaa commented on #594
We want to start it right now!
Before that, I have some questions:

- Enhance coach's profile information belongs to another milestone (Application Process 2017). Will the issue #593 be included in the community milestone?  @mkalininait

- We are not sure if there was a decision regarding the way to search by coach's availability (apparently you guys are divided :joy: )

- Are we allowed to create

[2017-08-28 17:49] alicetragedy commented on #594
hey @branquinhoaa, yeah I think we are still divided on that and no real decision has been made.. 🙈

[2017-08-28 19:14] branquinhoaa commented on #84
@carpodaster we are discussing this issue and we have some questions:
Since /community will be responsible for listing and searching users, we are wondering if it is useful to have an action /users. Can we simply remove it?
Besides the community link in the header, the path to /users is used when someone calls the 'impersonate' method. The person is redirected to /users. We can change this behavio

[2017-08-29 19:07] carpodaster commented on #84
@branquinhoaa you are right, I also think we don't need the `UsersController#index` action anymore (the rest of the actions are). Redirecting to `UsersController#show` after impersonation a user makes sense, too! :ok_hand:

[2017-08-30 06:58] carpodaster commented on #642
Would someone find the time to check if this error has been solved by #843? Merci beaucoup!

[2017-08-30 08:08] klappradla commented on #763
Closed via https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/842

[2017-08-30 08:08] #763 closed

[2017-08-30 08:11] F3PiX commented on #763
@m-gb 👏  🎉  🥇
Great to see this solved, and chapeau for the way you solved it. 🙇

[2017-08-30 08:16] F3PiX commented on #763
@m-gb Just to confirm:  I noticed that you picked one of the few issues that are labeled beginner friendly, and not rgsoc17. You are very welcome to pick issues with the rgsoc17 label as well. Just check if someone is assigned, or ask in the Issue if it is available.

[2017-08-30 19:57] carpodaster opened #845 "Discussion: static code analysis via Rubocop / Codeclimate"
Even though we currently state in our [CONTRIBUTION.md](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/CONTRIBUTING.md) that we don't automatically lint code, it has been suggested by @F3PiX that we consider adding a couple of simple rules.

This issue exists to discuss how everyone is feeling about this and what kind of static code analysis would make sense.

[2017-08-30 20:27] carpodaster commented on #845
I always thought that rubocop rules aren't very inviting for people new to the Ruby programming language. I may be wrong on this one, but I would still like to keep the linting rules to a minimum.

Things that come to mind (opinionated):

* Indentation rules: 2 whitespaces, no extra indentation for private methods
* New hash syntax (`{ foo: :bar }` instead of `{ :foo => :bar }`)
* Aligning `case`

[2017-08-30 21:04] F3PiX commented on #845
FYI : Why I suggested Rubocop:
As discussed on Slack, I OTOH think that rubocop rules can be very accommodating for RubyNubies.
It helps me to avoid easily avoidable mistakes like indentations. It helps me delivering the best PR I can offer. And it helps with consistency between code reviews.

[2017-08-30 21:13] F3PiX commented on #845
Great list!!! 🎯

[2017-08-30 21:18] carpodaster commented on #794
I'm closing this one, I'm positive it has been fixed with the referenced PR

[2017-08-30 21:18] #794 closed

[2017-08-30 22:35] klappradla commented on #845
👍 for adding a `rubocop` step to our CI pipeline with some small and basic rules like the ones you described @carpodaster 💚
From my experience, it helps to reduce some efforts on keeping code consistent and I **hugely** agree with @F3PiX, it's an awesome resource for learning some best practises _(the docs are really great)_ - I really liked it when I started out with Ruby.

I would volunteer to s

[2017-08-30 22:36] klappradla commented on #845
Small note on

Ben just moved everything over to the opposite 😹 - maybe a sign we should have a automated guideline for things like this.

[2017-08-31 04:53] carpodaster commented on #845
Haha, oh well. Nevermind, I'm not very invested in that rule

[2017-08-31 12:49] branquinhoaa commented on #845
I think rubocop could help us! I agree about include it in CI :dancer:

[2017-08-31 15:52] carpodaster commented on #823
Done in #839

[2017-08-31 15:52] #823 closed

[2017-08-31 19:45] klappradla commented on #594
Ok, so the question which channel (email vs. social media vs. whatever) should be used to ping the coaches again to update their profile and availability can be postponed in my opinion - not super necessary to have this in place right away.

For the open question

I would say, there's no huge difference on the technical side. So if we start with **the available approach™** and find out later that

[2017-09-01 06:46] carpodaster commented on #84
@klappradla @mkalininait we don't really have a Definition of Done for this item, do we? I'm inclined to close this (very old) issue now that #844 has been merged. Subsequent changes (e.g. filters) should be covered by other issues. What do you think?

[2017-09-01 08:12] klappradla commented on #84
Yep, would have suggested the same 💚

[2017-09-01 09:31] LuisaAPF commented on #809
Hi! I'd like to work on this.

[2017-09-01 10:10] klappradla commented on #809
Yay @LuisaAPF 🎉

I'll go ahead an assign it to you. Do you need any more information upfront?

[2017-09-01 11:37] LuisaAPF commented on #809
Hi... I'm confused.  You can or cannot assign me this issue?

[2017-09-01 11:41] klappradla commented on #809
I cannot for technical reasons (Github doesn't allow me to).

Sorry for causing confusion, I could have skipped the whole assign-topic 😉

[2017-09-01 11:46] LuisaAPF commented on #809
That's odd.. Do you think this might be some configuration on my site? Can I work on it anyway?

[2017-09-01 11:48] klappradla commented on #809
No, it's simply the way Github works. **But yeah, of course you can work on it** 💚

[2017-09-01 15:14] mkalininait commented on #84
Sounds good!

[2017-09-01 15:51] mkalininait commented on #833
@klappradla Could you please specify your question? I thought that if we create a `NullConference`, it will automatically show up in the Conference Offer dropdown. Is it not so?

[2017-09-01 16:21] mkalininait commented on #642
@carpodaster @LuisaAPF

I can't reproduce this anymore. If this is the only use case when we get the error described in the issue, then we can probably close it 👍

[2017-09-01 17:11] branquinhoaa commented on #594
Are all the users allowed to set her availability or just the coaches?

[2017-09-01 18:20] #84 closed

[2017-09-01 18:21] carpodaster commented on #642
I have never been able to reproduce the error deterministically

[2017-09-01 19:05] #642 closed

[2017-09-01 19:28] carpodaster commented on #594
@branquinhoaa I would say all users, since a user only becomes a coach when they have been assigned that role in a team in a year. Showing interest in something (coach, supervisor, …) should be regardless of whether or not one has previously assumed that role in RGSoC.

[2017-09-01 19:36] mkalininait commented on #593
I guess we still need to discuss the "To be discussed" part of the issue? :)

[2017-09-01 19:46] mkalininait commented on #593
I'd like to close this task. All the issues from it have been either implemented or moved to separate issues (#609, #612, #618, #619). Any objections?
On another note, I remember that we wanted to rework the entire sign up / sign in system before the next season. Is it still the plan @carpodaster ?

[2017-09-01 19:52] mkalininait commented on #594
@branquinhoaa

The tasks related to enhancing coach's profile were actually moved here: #609, #612. We still want to discuss them probably. I'm not sure who created the community milestone; whoever did it may consider adding #609 and #612 there :)
Regarding #593: I'd actually like to close it.

I think it makes sense only for coaches.

[2017-09-01 19:57] mkalininait commented on #594
@carpodaster

True, but a user can say that they are interested in "Helping as a coach" in their profile. And this is how we find them on the community page when we filter it by the role = "Coach".
So theoretically we could assign some fields to users who are interested in being coaches I guess.

[2017-09-01 20:08] carpodaster commented on #772
Is this done with the PR merged?

[2017-09-01 20:13] mkalininait commented on #772
@carpodaster Yes!
And I think we can also close this one: #751

[2017-09-01 20:17] #772 closed

[2017-09-01 20:17] #751 closed

[2017-09-01 20:33] carpodaster commented on #594
@mkalininait agreed, I buy that 😄

[2017-09-03 11:46] michaelem opened #847 "Yarn and Webpacker?"
Last week I did spend a while migrating some projects to Webpacker 3.0 and I have to say it's pretty much as simple to use as the asset pipeline now.
Should we move the project to those two?
This would also allow us to use modern javascript and babel for backwards compatibility.

[2017-09-04 09:02] F3PiX commented on #847
Can I start whispering  "React" 😍  now?

[2017-09-04 09:05] carpodaster commented on #847
👍  for keeping the asset pipeline clean

[2017-09-04 09:10] michaelem commented on #847
@F3PiX trying to keep js as much confined to the frontend as possible here 😂

I think the biggest upside is that one can get rid of using gems that just wrap javascript code and just use npm packages instead. Of course the implication also is that people then have to learn to use yarn which might be a new hurdle (but a rather small one imho).

[2017-09-04 12:10] F3PiX commented on #847
I suppose going to yarn is not a big deal for Rails devs, because they are used to the gemfile.
(TBH I never used npm; now that I am learning React, I went straight to yarn.)
Can you add a short 'How to' to the wiki, with what is changing for this repo?

[2017-09-05 06:32] carpodaster commented on #593
@mkalininait yes, that is still the plan. Haven't poured any further thoughts into this, though, and it's probably more of a UX thing than actual programming.

But aye, let's close the task. Will you do the honours, Marias? :)

[2017-09-05 10:41] mkalininait commented on #593
@carpodaster My pleasure! :)

[2017-09-05 10:41] #593 closed

[2017-09-05 12:56] carpodaster commented on #847
I thought webpacker was shipped with Rails v5.1 by default now? If that is so, this is definitely not too much to ask of a dev. And in any event, we need a line or two in our README anyway, so people should be able to just copy/paste it into the terminal.

[2017-09-05 13:03] michaelem commented on #847
@carpodaster it ships but it is not the default. If you want to use it on a new project you run `rails new --webpack`.
But it ships with rails, integrates well and it might very well be default in the next release.

[2017-09-05 13:05] michaelem commented on #847
@F3PiX if it's fine I'd write create a pull request and add fitting sections to the readme, I think the wiki is somewhat too detached for this kind of thing.

[2017-09-05 13:10] F3PiX commented on #847
@michaelem 👍 for the readme and the initial setup. I was thinking that the wiki is a nice place for a short notice on how to add new JS libraries. But no fuzz, just an idea.

[2017-09-05 13:13] F3PiX commented on #847
@michaelem @caprodaster I don't know if everyone but me uses Foreman to start the app? We can add webpack to Foreman, right? Saves the very hard and painful process 😂  of starting up two processes before you can start...

[2017-09-05 13:19] michaelem commented on #847
@F3PiX with webpacker 3.0 webpack is anyway automatically started in the background if it's not running - so no need to start it manually unless you want live-reloading of javascript code: http://weblog.rubyonrails.org/2017/8/30/webpacker-3-0/

[2017-09-05 13:23] F3PiX commented on #847
COOL!!!! I didn't know that! (And that while it is almost 5 days old news!! 😉 )

[2017-09-05 17:53] carpodaster commented on #659
@juuh42dias I've assigned you to this issue as you said you already have a working fix. Feel free to unassign yourself of course

[2017-09-05 19:53] branquinhoaa commented on #594
@klappradla in the

1.  What do you mean by better general overview? Do you want us to change the way user search? like the layout?

2. It is not possible to filter user by language/fields of knowledge because the user does not have this information linked in her profile. The project has tags that we could get if the user was linked to one project, but as @mkalininait has explained in a past issue

[2017-09-06 18:01] branquinhoaa commented on #612
I'm not sure if this will be done by @Anagha22 or if I can take it. It is part of the community milestone, I would like to do if she won't. :smile:

[2017-09-06 18:18] branquinhoaa commented on #83
Hey guys, @carpodaster @klappradla

obs.:
The page is no longer users#index, but community instead.

I would like to confirm that you still want the same things. I also have some doubts about it.
## Changes you guys want to do:

1. Remove "Interested In" field and replace it with a short text block (same column name?). That will include a small addition into users model (add an extra field for int

[2017-09-07 16:47] klappradla commented on #833
Sorry a) for the late response and b) for being so sloppy with my question @mkalininait 🙈

What I meant was: do we need a similar distinction for creating `ConferencePreference` records. But after rethinking it again, I can answer it myself: no

[2017-09-07 16:55] klappradla commented on #642
I at the time forgot to comment it on #843, but I could reproduce the problem locally and then have the new code fix it @carpodaster. So I guess it's fine 🙈

[2017-09-07 17:10] klappradla commented on #847
➕ on moving to "modern JS"™
Being familiar with these tools seems to be part of getting started with Rails anyways nowadays. So even given the slight plus on overhead for getting started with setting up the Teams App, I think it's a good thing to have 👍

[2017-09-07 17:44] klappradla commented on #83
`1` and `3` still make sense I'd say (can you 👍/👎 @carpodaster?)
For `2`: I'm pretty sure this is only out how city + country should be displayed in the view, not about changes to the datamodel :v:

[2017-09-07 20:29] carpodaster commented on #83
I would not swap the interested in for a text field. Maybe an _additional_ text field would make sense to give a bit more detail, but the predefined values for interested-in allow for better searching / categorizing (see also my comment on https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/849#pullrequestreview-61043457 about interested vs. coach role)

Other than that, I do not recall

[2017-09-08 12:33] mkalininait commented on #609
@alicetragedy What do you think about this task? We have two different opinions here :)

[2017-09-08 16:40] branquinhoaa commented on #83
@klappradla I'm sorry I did not express myself very well. The column I said is not the model column, but the column of the table displayed in the view.  I will start working on this issue :dancer:

[2017-09-09 12:13] LuisaAPF opened #851 "Improve client side validations on conference form"
I noticed that the client side validations for the conference form are not stopping the submit action. I'm not sure why this is happening.

[2017-09-09 15:02] F3PiX commented on #847
@michaelem Did you mean that you would like to take this on?

[2017-09-11 14:07] michaelem commented on #847
@F3PiX yes, hopefully I'll get around to finish #846 today, then I can embark on this.

[2017-09-11 17:56] klappradla commented on #502
Closing this via #814

[2017-09-11 17:56] #502 closed

[2017-09-11 18:15] klappradla commented on #825
Closing this via #829

[2017-09-11 18:15] #825 closed

[2017-09-11 18:25] klappradla commented on #851
Thanx for reporting @LuisaAPF 💚

I'm afraid I don't exactly get what you're describing here - could you eventually point me to the respective code, add a screenshot or a gif? From what I remember, we do not have client-side validations anywhere (yet) 🐒

[2017-09-11 20:16] LuisaAPF commented on #851
I meant the presence of the attribute "required"

2017-09-11 20:25 GMT+02:00 Max Mulatz <notifications@github.com>:

[2017-09-11 20:32] klappradla commented on #851
Oh good point 👍

Seems it was not regarded a necessary feature some years ago: see [this line](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/config/initializers/simple_form.rb#L121) in our config 🙈

I would be totally up for having it though 🎉

Do you wanna update the configuration while you're already working on these forms anyways?

[2017-09-12 08:27] LuisaAPF commented on #851
Sure!

2017-09-11 22:32 GMT+02:00 Max Mulatz <notifications@github.com>:

[2017-09-12 08:58] klappradla commented on #840
Hey @juuh42dias & @branquinhoaa, I think we totally forgot this one _(it was a follow up for PR #829 )_ - can you please check if this is still valid and then take care of it? It should only be a tiny task :v:

[2017-09-12 16:24] branquinhoaa commented on #840
Ok @klappradla. We will take care of this.

[2017-09-12 16:30] linberg opened #853 "Blog posts uploaded as daily logs in supervisor dashboard for team_id 338"
In the supervisor dashboard (id: 1306) for team_id 338, blog posts from other teams have been uploaded as daily logs on 7 occasions (11.08., 15.08., 04.09., 06.09., 08.09., 09.09. and 11.09.) always at 02:00 CEST. Please see screenshot.
![screen shot 2017-09-12 at 17 31 27](https://user-images.githubusercontent.com/16653138/30337384-6aa8cebe-97e8-11e7-81d4-a484c44da2b4.png)

EDIT (Maud) In the scr

[2017-09-12 16:47] juuh42dias commented on #840
@klappradla current ability:

`can :crud, Conference if user.admin? || user.current_student?`

That's right?

[2017-09-12 17:06] F3PiX commented on #853
Thanks for reporting this @linberg. I'll look into it.

[2017-09-12 18:13] klappradla commented on #840
Yep, as far as I remember you changed it to this yourself @juuh42dias ✌️

[2017-09-12 18:33] juuh42dias commented on #840
@klappradla
"...changed it to this yourself"
'-' Sorry, I don't understand

[2017-09-12 18:34] klappradla commented on #840
😹  no worries. Just wanted to confirm: yes, that's the current ability and it should be right.

[2017-09-12 18:47] juuh42dias commented on #840
:+1:

[2017-09-12 20:27] klappradla commented on #83
Hm, reading @carpodaster's comment above ☝️
I think it should look like this:
* we keep the `interested_in` string field with predefined values for better searchability (coach, etc.)
* we add an additional text for a short bio

I did not yet read up everything in your PR, but I think this should still be the way to go.

[2017-09-13 09:03] alicetragedy commented on #609
I think we have to differentiate two things:
- the user profile of a coach offering to help coach a team (in the same way that a coaching company would offer a space), findable through the community page
- the information of a coach attached to a team and an application

unfortunately, these things don't necessarily overlap. Sure, a coach will have the same experience regardless, but objectively,

[2017-09-13 14:56] juuh42dias commented on #83
@klappradla  "with predefined values for better searchability" with autocomplete?

[2017-09-13 16:53] klappradla commented on #83
Hm, I'm not sure if we're talking about the same thing here @branquinhoaa 🤔

In the current user edit form, picking the interests looks like this:
<img width="479" alt="screen shot 2017-09-13 at 18 52 18" src="https://user-images.githubusercontent.com/3491815/30389959-cf5a41a4-98b4-11e7-9c28-9b49e27c3adc.png">

[2017-09-13 16:55] branquinhoaa commented on #83
@klappradla yeah, we will keep this info in the interest_in and add a short text that will explain better about the user interests. We are talking about the same thing... We are working on that and we will submit the PR soon. :+1:

[2017-09-13 16:57] klappradla commented on #83
Ok, all good 💚
Sorry, my brain is kinda slow today, craving sleep and cookies ✌️

[2017-09-13 17:10] branquinhoaa commented on #612
@klappradla  do you think this issue can be part of our community milestone?

[2017-09-13 17:59] klappradla commented on #612
Sure 👍  Good point!

[2017-09-13 18:41] F3PiX commented on #853
The supervisor dashboard redirects to the activity page to show the status updates of the team.
The problem occurs with the activity page.

It looks like there are two problems here.
1) The feed entries are trying to load pictures on AWS S3 and don't get access.
![feed entry aws](https://user-images.githubusercontent.com/6314687/30393728-4d761dd6-98c1-11e7-9154-a9306e399a15.png)

 2) Team id 338 i

[2017-09-13 18:44] F3PiX commented on #853
@linberg Do you recall if this problem existed before last week? Or did the post from Sept 8 and Sept 9 appear at once this week?

[2017-09-13 19:12] carpodaster commented on #851
I'm not sure if we should go for client-side (ie. browser-native) validations. I have no 1st hand experience, but I think I remember a frontend dev ranting about how it doesn't always work as advertised and that one is at the browser vendor's mercy with it.

[2017-09-13 20:06] carpodaster commented on #83
Thanks for clarifying, @branquinhoaa. I, too, thought it would be replaced

[2017-09-13 21:25] juuh42dias commented on #83
With aditional text

![rgsoc teams app 20](https://user-images.githubusercontent.com/1828204/30401492-d54ba87c-98b0-11e7-8f97-5c6555b006f7.png)

[2017-09-14 07:15] LuisaAPF commented on #851
I think we should give it a try. It definitely improves UX and if for some reason it does not work, we still have server side validations as a backup.

[2017-09-14 07:19] linberg commented on #853
First time this issue occurred was with the first blog post, so August 11th. There was another bug with this team as well during the application process, their application had showed up under their last year's team name (as they had also applied then). Also at the beginning of the program their daily logs were also going under their last year's team name, I unfortunately don't know the ID, but I t

[2017-09-14 07:56] F3PiX commented on #851
+1 for client side validations (at least 'required' validations) backed up by model validations.

[2017-09-14 08:14] klappradla commented on #853
I don't have time to look into this right now @F3PiX, but the S3 issue may have something to do with me updating the gem...? It's the only touchpoint recent commits had with S3 as far as I remember.
I can just revert the commit and see if we're back at normal with this.

[2017-09-14 08:16] F3PiX commented on #853
Thanks, @klappradla, I thought of that but Linda reports that it occurred long before the gem update. Let me look into it to see if I find something else first. Thanks a lot!

[2017-09-14 08:19] klappradla commented on #853
Fine. I by the time read the migration guide for updating the gem from v2 to v3, having only the dedicated library gems instead of the whole package, etc. and it all seemed to be straight forward (as in no changes in the code required).

Still, if it's likely to be the cause of the issue:
[code]

I can then later on look into the details of updating the gem.

[2017-09-14 08:55] carpodaster commented on #851
Alright, let's give it a bash :)

[2017-09-14 14:18] F3PiX commented on #853
@klappradla I can't find any trace of AWS libraries in my External Libraries folder. So yes, I think there is a problem. I am going to revert the commit. 👾

[2017-09-14 21:56] klappradla commented on #845
FYI: I started on [this branch](https://github.com/rails-girls-summer-of-code/rgsoc-teams/tree/feature/845-discussion-static-code-analysis-via-rubocop-codeclimate) if someone's curious.

[2017-09-16 12:28] F3PiX commented on #853
@klappradla After reverting the aws gem, the same access errors occur.
Could it be that the credentials need to be updated after gem changes?

[2017-09-16 19:38] klappradla commented on #853
I haven't seen anything pointing in that direction @F3PiX. The [upgrade guide](https://github.com/aws/aws-sdk-ruby/blob/master/V3_UPGRADING_GUIDE.md) for v3 does not have anything regarding credentials in it. And the guide for [upgrading within the v2 versions](https://github.com/aws/aws-sdk-ruby/blob/master/UPGRADING.md) has some bits around credentials, but nothing should be "current" enough for

[2017-09-16 20:33] F3PiX commented on #853
Okay, Thanks!!!! So, it seems highly unlikely that is has to do with AWS api. Must be something in the team, then. I'll try something else.

[2017-09-16 21:47] mkalininait commented on #826
@branquinhoaa
Still getting an error when trying to create a new conf as an orga :/

UPD: my test conf (https://teams.railsgirlssummerofcode.org/conferences/110) has been created with a correct gid, so maybe this error is related to the redirect.

UPD 2: I created this conf from `/conferences`, not `/orga/conferences`, which is a valid use case IMO.

[2017-09-16 21:48] mkalininait commented on #826
@branquinhoaa Am I getting this right that some confs will have a team id in their gids, and some a user id?

[2017-09-18 08:36] carpodaster commented on #826
@mkalininait I got the error on Sentry. It's indeed the redirect. As an orga person, what's your expected/desired redirection target? Students get redirected to their team's edit form which doesn't work for organisers.

[2017-09-18 09:34] F3PiX opened #858 "How to Rubocop: CodeClimate, Travis or ...?"
Dev happiness!

As of #857, we have Rubocop for static code analysis. 🎁

We can run the analysis locally, with `bundle exec rubocop`, to solve issues before pushing a PR.

With the current implementation, the analysis is part of the CI build. That means that the build will fail if there are Rubocop issues ( is this correct, @klappradla?)

Another option is using CodeClimate. It has a very easy and

[2017-09-18 11:40] carpodaster commented on #858
I'm also very much in favor of using CC for Rubocop.

[2017-09-18 11:56] klappradla commented on #858
Yes, that's correct.

Some questions on the Code Climate thing (also related to ☝️ ): I don't understand the point of shelling out to a different service for two of the 4 steps in our CI pipeline 🙈  How can Code Climate prevent Travis from deploying to Heroku if a build does not comply to Rubocop or JSHint?

It's true, that things would be more readable if Travis would add a separate link on Githu

[2017-09-18 13:36] mkalininait commented on #826
@carpodaster In all cases I'd prefer to get redirected to the same page, where I pressed the "New conference" button (regardless of my roles):
 - team edit page
 - conferences
 - orga/conferences

[2017-09-18 14:52] F3PiX commented on #847
@michaelem Is it correct that ES lint is a better choice for working with ES6 than JSlint?
Because we use currently JS lint.

[2017-09-18 14:54] F3PiX commented on #847
Edit: we are currently using jsHint. 🙈

[2017-09-18 15:11] F3PiX commented on #858
CodeClimate is a different way of using Rubocop. It will do a separate check, and we set it up so that you can't _merge_ a PR without CC's ✅ .

Would you mind giving it a try and evaluate in a month or so?

[2017-09-18 17:50] branquinhoaa commented on #826
I will fix the redirect, we had a lot of changes related to this but now I think I can work properly on this issue. Just a minute.

[2017-09-18 20:27] klappradla commented on #858
Sure, go for it!

I may also on the side give Travis' pipelines a shot - it's something I'm really interested for further usage in other projects 😉

[2017-09-18 20:43] #845 closed

[2017-09-18 20:57] F3PiX commented on #858
👍  I think it is better to have them both, because you and Carsten and some other do not always go through a PR !

[2017-09-18 20:59] branquinhoaa commented on #826
@mkalininait PR #860 I think this will work!

[2017-09-19 11:41] #851 closed

[2017-09-19 15:00] Benjaminpjacobs commented on #834
HI @F3PiX, I notice that no one is assigned to this issue. If it is still available I'd love to take it on. Otherwise I'm happy to help out elsewhere.

[2017-09-19 15:01] F3PiX commented on #834
Hi @Benjaminpjacobs You are very welcome to take this on! Thanks!

[2017-09-19 15:03] Benjaminpjacobs commented on #834
Great! I'll get started on it and hit you back soon.

[2017-09-19 16:08] Benjaminpjacobs commented on #834
@F3PiX I added the link in the nav bar section. I had a small issue regarding ruby '2.4.2'. I changed the gemfile just to work locally, and changed it back before pushing but it appears to still have recorded the change. Please let me know if this is a problem and I can scrap this branch and do it again without changing the gemfile.

[2017-09-19 17:17] klappradla commented on #834
Hey @Benjaminpjacobs thanx for jumping on this 🎉

There are some "featurish" specs for the navigation in [requests/navigation_spec.rb](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/spec/requests/navigation_spec.rb) - probably makes most sense to look there for some additions.

[2017-09-19 17:26] Benjaminpjacobs commented on #834
Thanks @klappradla! I've added a couple lines to include the projects_path in the appropriate request tests.

[2017-09-19 18:03] branquinhoaa commented on #612
@mkalininait do you want to show the technologies fields in the user page? or this info will be there just for search?

[2017-09-20 21:36] klappradla commented on #612
Regarding the layout I already left some comments in #863

For whether or not the fields should be mandatory:
I see some difficulties here...
1. From a technical perspective: it would make all existing user profiles invalid 🙈. I know we had something similar with the "city" or "country" field one, but I don't remember how we solved it...
2. From a human perspective: we may eventually insult or sca

[2017-09-21 08:28] klappradla commented on #834
Closed via #862

[2017-09-21 08:28] #834 closed

[2017-10-03 10:26] klappradla commented on #612
Closed via #863

[2017-10-03 10:26] #612 closed

[2017-10-04 11:19] mkalininait commented on #809
I've just tested this issue and noticed the following: while the "We want to suggest another conference!" button works absolutely great for students on their team's page here `/teams/NNN`, it doesn't work at all for the admins in the orga space: `/orga/teams/NNN`. I think we should either make it work or delete it from there.

[2017-10-04 13:26] mkalininait commented on #609
Thanks for your opinion @alicetragedy

I was thinking that it could be useful for the students when they look for a coach on the community page. Maybe the info about how much time a coach can dedicate to RGSoC can help them make a decision whether to contact her/him or not (together with the info if this coach is already involved in another team or not). What do you think about this use case?

I t

[2017-10-05 09:50] #826 closed

[2017-10-06 08:26] alicetragedy commented on #609
As @carpodaster already wrote, “we removed the "hours per week" last year since it is too hard to estimate anyway and it won't save them from life that happens” — so I'd be in favour of sticking to that, and not adding the hours/week again as it's often not really a good indicator of how much time they will ultimately spend on the program helping a team.
I'd suggest to close this issue then, since

[2017-10-06 10:11] mkalininait commented on #609
Ok, closing the issue @alicetragedy

[2017-10-06 10:11] #609 closed

[2017-10-10 10:33] mkalininait opened #868 "User profile: postal addresses"
RGSoC is an international program, and it's sometimes hard to parse postal addresses of people from other countries.

**Suggestion:**

User profile, edit form: instead of one input field "Postal address" implement several (* are required):
 - Recipient's name*
 - Company
 - Address Line 1*
 - Address Line 2
 - City*
 - State/Province/Other
 - Postal code*
 - Country*
 - Phone number

[2017-10-10 11:07] nerdyvaishali commented on #868
I think Phone number should be a mandatory field as the whole point of asking this infromation is to send packages. For the privacy issues, may be this fields should be only visible to organizers [or a person who handles swag packaging].

[2017-10-10 21:54] klappradla commented on #809
Closed via #867

[2017-10-10 21:54] #809 closed

[2017-10-31 13:43] alicetragedy commented on #462
It's unclear whether or not this is still a WIP or if it's been dropped (or implemented). @carpodaster do you have any idea about this?

[2017-11-07 19:10] MikelSage commented on #143
Hi there! I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2017-11-07 20:42] katiekeel commented on #659
@carpodaster Hi there! I'm a first time contributor. I've written a solution based on @juuh42dias' screenshot and I'd be happy to submit it here.

[2017-11-08 14:45] LuisaAPF opened #869 "Locked out of account"
It's been a month since I last signed in to my account (locally). It happens that I forgot to confirm my email and that is an active option that forbids my access after 30 days. Is there a way to overcome this?

[2017-11-09 07:30] carpodaster commented on #659
Hi @katiekeel – that's great! Could you do a pull request with your change?

Also: a very warm welcome 👋  😄

[2017-11-09 07:34] carpodaster commented on #869
@LuisaAPF agreed, if that happens in production, that does seem like a bug. To verify if I got it right: you encounter this problem on your development machine only right now?

If you don't have much data, the easiest way would probably to drop and re-create your development database:

    bundle exec rake db:reset

Let me know if that fixed the problem locally. Would you like to work on some form

[2017-11-09 09:21] LuisaAPF commented on #869
Hi @carpodaster, I could solve the problem locally. But is it really necessary to forbid the user from accessing her/his account if the email address is not confirmed? I think it would be better to allow access at least to the profile page, in case a change in email is needed. What do you think?

[2017-11-09 09:31] carpodaster commented on #869
@LuisaAPF yes, you are absolutely right, access to the profile page should be possible. Maybe the app should even auto-redirect to the profile page after a login with an unconfirmed account whose grace period has expired? I don't have a way of testing out myself right now: can you log in at all with an unconfirmed-expired account? And if so, are you shown a flash notification that prompts you to v

[2017-11-09 10:34] LuisaAPF commented on #869
When my account was expired, I wasn't able to login. I got a 401 unauthorized status. There was no notification asking me to validate my email address. But this wouldn't have solved the problem if my email was wrong or inactive. So I think we should give the user the chance to update the email before re-sending the confirmation request.

In my opinion, the best way would be to never block the acce

[2017-11-09 10:38] F3PiX commented on #869
Lately, I have been thinking about pulling the account-part out of the User model, and into a separate UserAccount. I expect that it would be easier to handle all devise-functions in the UserAccount functionality. Is that something to consider? (@carsten, @max)

[2017-11-09 21:57] F3PiX commented on #869
Sorry, I mean @carpodaster , @klappradla ^

[2017-11-09 23:00] klappradla commented on #869
I personally wouldn't consider it @F3PiX, don't really see the pay-off (but you can of course always give it a try 👍 ). Is there actually much business logic tied to "accounts"? Isn't it all in the devise gem? We're also only using very very few features of devise 😉

Requiring a verified email to sign in is actually a feature™ @LuisaAPF 😉. User can be assigned as coaches which would e.g. require a

[2017-11-10 12:57] LuisaAPF commented on #869
Hey @klappradla,
1 - I agree, it is a feature, not a bug :grinning:
2 - Regarding your comment about motivating the user to do it later, I don't think it would make a difference, because now the user doesn't know that her/his account will expire anyway
3 - I don't really see the purpose of blocking a user's account for not validating the email. In principle, during the 30 days in which they are al

[2017-11-10 13:52] klappradla commented on #869
Will stick to the number thing 🤓

**2** - You're right.
**3** - indeed interesting @LuisaAPF - we should of course prevent any of these actions for unconfirmed users and somehow remind them to confirm their email.
**4** - including Devise's `confirmable` module should in theory give us a page where users can request a new token:

The routes are theoretically there, but I don't think there's anythi

[2017-11-10 15:10] LuisaAPF commented on #869
Exactly! More important than blocking an account would be making sure a user can't do anything interesting with an unconfirmed email, from day 1.

[2017-11-10 23:39] klappradla commented on #869
👍
So should we turn this issue into

Submitting an application without having one's account is not possible, so that's a ✅
From what I remember the only "problem" where coaches with unconfirmed email addresses - see #618.

But I guess we could add:
- [ ] reminder / warning for Teams that coach's account is not confirmed
- [ ] enable the routes / views for resending a token (needs some adaptions du

[2017-11-11 09:05] klappradla commented on #869
Sure @F3PiX - I'll assign the issue to you.

I'll also remove the `bug` label, because technically speaking the "buggy" part of this has been discussed away into a "feature" and it makes it move obvious from the outside.

[2017-11-11 12:07] LuisaAPF commented on #869
Hey @klappradla , @F3PiX . I think it is a way of solving the problem. If we want to lock the account, the user should be able to unlock it, to avoid overwhelming the support. But honestly, I think it is an unnecessary piece of extra work. Say a user creates an account today, but forgets to validate the email. She cannot do any harm, because all important actions require a valid email. One week la

[2017-11-11 12:17] carpodaster commented on #869
I don't recall the initial motivation for having this grace period. I would vote for not allowing an unformed user anything but updating their profile. And confirming their email address of course. This is very strict, yes. But browsing projects, the community and teams page as well as the activity stream doesn't require a user account.

[2017-11-11 12:22] carpodaster commented on #143
@MikelSage welcome and thanks for considering to help out 😄  This is still open and I am not aware of anyone working on this. Ping me if you have questions.

[2017-11-13 14:05] alicetragedy opened #874 "Improve UI of “Past teams” dropdown"
The [list of teams](https://teams.railsgirlssummerofcode.org/teams) currently has a dropdown that allows you to view past teams, which is great! However the styling of the dropdown could be improved with the following:
1) Text and button shouldn't be grey/greyed out, as it gives the impression that it's disabled
2) some left padding for the content of the dropdown list would be great, right now th

[2017-11-19 20:25] mbrien12 commented on #874
PR for this here https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/877

[2017-11-21 12:28] carpodaster commented on #847
Hey @michaelem – just wanted to ping you if you were able to advance this. Anything one can help you with?

[2017-11-21 12:53] F3PiX opened #878 "Move error messages to translation file"
We have some custom error messages, for example here.
https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/db178cfe9d65c5c9f4c58e4bcf0d33148a221177/app/models/application_draft.rb#L141-L145

We want to move these custom error messages to the translation file `en.yml`. In [this commit ](https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/875/commits/acbd0b55a8a6661bd467c182a525

[2017-11-22 10:14] klappradla commented on #726
Closing via https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/875

[2017-11-22 10:14] #726 closed

[2017-11-26 17:16] michaelem commented on #847
Hey, as signified by my response time I did not really manage to carve out time for this, although I think I can actually give it another try next week, since that should be a bit more quiet.

[2017-12-06 17:13] klappradla commented on #847
Only 65% related to this ticket but I didn't want to open up a new one 🙈

Looking at this PR  👉 #877, seeing how changing a single line in a view template fully decouples its necessary Javascript functionality made me question if we should do something about the general structure of JS in the app as well. Right now it's just randomly placed, named and formatted files - all untested which makes it

[2017-12-07 05:42] nerdyvaishali opened #882 "Limiting the number of coaches per team"
Often we see that participants end up adding multiple coaches and not all of them are quite involved during the program. So, as discussed in the offsite meeting how about adding a feature in teams app which puts a limitation on adding a number of coaches per team [ideally 4 I assume]?

One of the other thing, which is slightly related to this is we want to allow project maintainers to add coaches

[2017-12-07 12:04] carpodaster commented on #35
I'm closing this. A redesign is certainly required but it's also a big project and probably ties into the rebranding, anyway.

[2017-12-07 12:04] #35 closed

[2017-12-07 12:06] carpodaster commented on #68
@alicetragedy you assigned yourself to this issue … 1.5 years ago ;)  Is this still relevant for us?

[2017-12-07 12:08] carpodaster commented on #108
I'm inclined to close this. @klappradla, do you think this will be solved by Project Admin Mode™ ?

[2017-12-07 12:12] carpodaster commented on #110
I'm closing this. It's unclear how "by location" would be implemented. Feel free to re-open!

[2017-12-07 12:12] #110 closed

[2017-12-07 12:13] carpodaster commented on #136
Closing this. I think we're 98% there.

[2017-12-07 12:13] #136 closed

[2017-12-07 12:15] carpodaster commented on #430
Hey @mkalininait do you find the time to triage your list in the issue description and see what's left? Ideally, we'll take the remainders into new, atomic issues as this one is difficult to manage due to its amount of comments

[2017-12-07 12:19] carpodaster opened #884 "Chore: Re-label rgsoc-2017 issue with rgsoc-2018"
**Q**: Why not just rename the label?
**A**: It would also change closed issues and it is nice to have an archive of past years' accomplishments

What does it entail?

From the [list of **open** issues tagged with rgsoc-2017](https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues?q=is%3Aissue+is%3Aopen+label%3Argsoc-2017)…
* remove the `rgsoc-2017` label
* add the `rgsoc-2018` one

Yes,

[2017-12-07 12:28] carpodaster commented on #263
@F3PiX @katrin-k I still think it's a good idea. Do you think want to do it (no pressure) or shall we unassign you two to make it available to RGSOC participants next year?

[2017-12-07 12:30] F3PiX commented on #263
Let's close it!! (We can reopen in prep for 2018)

[2017-12-07 12:37] carpodaster commented on #868
That's why I would think that a multi-line textarea is better than having individual fields. Every country formats postal address differently. If a user puts their address exactly the way how it must appear on the envelope, shouldn't we be fine?

[2017-12-07 12:48] klappradla commented on #108
Looked at this yesterday night as well 😹

I think it's already closed via redoing the navigation (did this last year I think).

[2017-12-07 12:48] #108 closed

[2017-12-07 16:45] katrin-k commented on #263
Fine by me. You all got a better overview :).

[2017-12-07 17:06] klappradla commented on #882
Thanx for reporting this 💡

**Limit number of coaches**
I get the problem of coaches not being involved enough into the program, but I don't understand how limiting the number of coaches solves or at least touches this problem 🙈
Let's say a team picks 10 coaches and only 1 of them does actual *"work"*. If we now limit the number of coaches to 4, the team may pick 4 out of the 9 non-involved once a

[2017-12-07 17:44] F3PiX commented on #413
Can we extract a new issue, with only the first checkbox? @carpodaster

[2017-12-07 17:49] F3PiX commented on #205
Can we make this a bit more actionable? Sounds like a really good thing to do _before_ Summer of 18, si?
@klappradla You still in?

[2017-12-07 17:54] F3PiX commented on #201
Hi @juuh42dias ! Are you still interested in working on this? No pressure :-) Else, we save it for the next RG team...

[2017-12-07 18:04] F3PiX commented on #19
I'll close this one, there is a follow-up issue, #784  where we can collect the discussions. Feel free to reopen if there is something that needs discussing.

[2017-12-07 18:04] #19 closed

[2017-12-07 18:23] carpodaster commented on #413
@f3pix let‘s do it!

[2017-12-07 19:21] juuh42dias commented on #201
@F3PiX  not for now. I'm very busy with my current work.

[2017-12-07 19:22] F3PiX commented on #201
Sounds cool! Have fun!

[2017-12-07 20:19] F3PiX opened #885 "Add validation on email address on user#update"
Extracted from #413
"Github handle and Email address have a star for indicating a mandatory field, but can be saved without an email address. This happened, because I deleted the email. Might happen, if a candidate wants a different email, deletes it and then forgets to add the new one."

This is partial feature, partial bug ;-)
"The reason behind it is that a User record is indeed created w/o an

[2017-12-07 20:22] F3PiX commented on #413
Closing this. The leftover checkbox nr 1 is moved to #885.

[2017-12-07 20:22] #413 closed

[2017-12-07 20:32] F3PiX commented on #462
I'll close this and open a fresh new issue for Summer of 18.

[2017-12-07 20:32] #462 closed

[2017-12-07 20:39] F3PiX opened #886 "Next step in Student Dashboard"
Sequel of RGSoC 2017 Team RailsGyn #462 💝

Now that we have a Student Dashboard, we want moooooore!
Step 1: inventarisation of most wanted/needed features
Step 2: make it happen!

InsidersTip: It is very rewarding to work on a feature that all the participants are using during their Summer of Code.

[2017-12-07 20:40] F3PiX commented on #884
✅  🎈

[2017-12-07 20:40] #884 closed

[2017-12-07 22:08] carpodaster commented on #884
Thanks a lot, Maud!

[2017-12-08 13:09] nerdyvaishali commented on #882
**Limit number of coaches**
Well, I agree that the idea itself doesn't actually solve our issue of the involvement from coaches but this is basically a 1st step in the direction I believe. Few other things which we have been discussing or I have been thinking to implement is as follows:

- Communicate to a applicants in a way so that they choose coaches responsibly [students-guide?]. I believed th

[2017-12-08 13:27] alicetragedy commented on #68
I think it's still relevant, because the news stream is a bit weird to see as first thing, when it's outside of the summer months. I could either un-assign myself and see if anyone is interested in giving it a shot, or we could close this issue entirely and see that more critical things are dealt with first, and revisit later?

[2017-12-08 13:28] alicetragedy commented on #205
+1 from me

[2017-12-08 13:54] F3PiX commented on #882
Hmmm I agree with @klappradla. Adding new inputs to the form or limiting coaches in code wouldn't be my first choices for solving the problem.

[2017-12-08 17:25] katiekeel commented on #659
@carpodaster Certainly! Sorry I forgot about this for a bit.

[2017-12-08 17:29] klappradla commented on #882
☝️ that's a very good point @nerdyvaishali and would already be enough reason to limit the number of coaches ✅

For project-bound coaches:
The "problem" with your idea is, that it breaks with some key mechanisms of the application process. Right now, coaches commit to a team **before** the team applies, is accepted and a project for them is chosen. A coach basically says:

What you want to introdu

[2017-12-08 19:08] nerdyvaishali commented on #882
`I'll be in if you make it and I can help you on either projects`

Hmm, as far as I've seen/observed, there are basically 2 problems with the above approach which basically somehow also results into teams adding so many coaches and coaches not being active during the program.

- As we offer 2 project choices but coaches are common, most of the time it is very unlikely that every coach is well-vers

[2017-12-09 12:13] #858 closed

[2017-12-09 15:58] klappradla commented on #68
I'd keep it.
The "box on top of the activity stream" for instance that Carsten mentioned would be relatively fast and easy to add.

[2017-12-09 16:11] klappradla commented on #882
No worries, that's perfect - I at least understand everything.

So wrapping this up, my "proposal" for now would be:
- [ ] In the Teams App, limit the number of coaches per Team to e.g. 4
- [ ] Update the students's guide to reflect ☝️
- [ ] Update the mentors' form descriptions to tell them it's possible to suggest coaches with links to their profiles in the Teams App
- [ ] Update the students' *

[2017-12-09 19:18] F3PiX opened #892 "Migrate `team.project_name` to `team.project_id`"
Related to #816 Add team to projects page

#816 restored the association between team and the project they are working on.
There is one task left: running the [rake task](  desc '2017-08-15: Change project_name to project_id') to migrate  the old `team.project_name` to the new `team.project_id`.

I am having cold feet for my first encounter with the production database. Who wants to pair with me?

[2017-12-10 05:46] nerdyvaishali commented on #882
This sounds perfcet to me. Thanks. :+1:

Ok, I think this idea also requires some more thinking. But let's keep it for the next edition [2019]. :)

[2017-12-10 11:32] F3PiX commented on #882
Re: limit number of coaches

Hmm. I see how the Proposal can be a solution for the described use cases, and I can think of quite a few use cases where it is not. From my own experience alone:
- We had a mixed frontend/backend team, with 2 frontend coaches (at the office location) and 3  backend coaches (outside). That were not enough backend coaching contact hours.
- During summer, the frontend co

[2017-12-10 17:12] klappradla commented on #882
Valid point @F3PiX! For this I would go with better wording and explanations in both the coaches' guide and the place inside the app where they set themselves to "available". I don't see how more app logic could help to prevent this scenario, it's more something to deal with during the summer inside the team itself.

Again for finding a replacement for some weeks, maybe the community page or slack

[2017-12-10 21:04] carpodaster commented on #882
Sorry for chiming in at this late stage of the discussion.

**Pre-acceptance vs. post-acceptance coaches list**
I have been asked to coach teams a couple of times and it was never about the actual project. As in: I haven't worked with the project the team was applying for before. I did state, however, that I can coach in `$LIST_OF_TECHNOLOGIES` and `$OTHER_AREA_OF_EXPERTISE` and I checked that the

[2017-12-11 06:39] nerdyvaishali commented on #882
Hmm, I have been also thinking about using word 'coaches' for this supporting group as well and I agree with @carpodaster 's point. But I think lot of the time project mentors wants to bring in people who can share the responsibilities. For ex, one the team I was supervising this year didn't have any coach who can help them with the project they were selected for, so in that case project mentor go

[2017-12-14 13:36] #874 closed

[2017-12-14 13:42] F3PiX opened #895 "Finetuning team selector on teams page"
Thanks to @mbrien12, we do have a nicely formatted dropdown selector #877 🎉

Follow up:
- display the years in order;
- do not display the `succeeding` year in the dropdown list, unless the succeeding year is the current year (see convo here);
- Change the text on the button to 'Select by year'

[2017-12-14 13:44] mbrien12 opened #896 "Display date in order on Teams dropdown"
## Issue

Currently the years in the Teams dropdown are not in date order...
![screen shot 2017-12-14 at 10 41 34](https://user-images.githubusercontent.com/22551831/33995031-636c5190-e0bb-11e7-99a4-b879561b1e35.png)

## Solution

1. Re-phrase label to 'By Year' or 'Teams by year' instead of 'Past Teams'
2. Display the years in date order

Linked to #877

[2017-12-14 13:45] mbrien12 commented on #896
Closing because duplicate of #895

[2017-12-14 13:45] #896 closed

[2017-12-14 13:46] mbrien12 commented on #895
Can I have a go this week? ✋

[2017-12-14 13:48] F3PiX commented on #895
It's yours! We'll add you to the contributors, so we can assign the issue to you in the GH list.)
Thanks :-)))

[2017-12-14 15:31] alicetragedy commented on #882
How about “project coaches” since we often refer to the mentors as “project mentors” (because there's often this confusion between mentors and coaches)? It's kind of an easy way out in a way, I know... but at least we'd have a very straight-forward name :D

[2017-12-15 03:39] mbrien12 commented on #895
Will take a look over the weekend 👍

[2017-12-16 10:02] F3PiX commented on #847
@klappradla I stumbled upon this: https://evilmartians.com/chronicles/evil-front-part-1
I like the general idea, although it's propably one step to much for us...

[2017-12-16 14:50] inescoelho commented on #659
Can I report here that, on my Ubuntu, I don't even see the ribbon?! 🙈🤣

![screenshot from 2017-12-16 14 43 08](https://user-images.githubusercontent.com/3616894/34071555-9e3f9196-e26f-11e7-9982-9b1b4e28d7ab.png)
![screenshot from 2017-12-16 14 46 55](https://user-images.githubusercontent.com/3616894/34071594-097b1cdc-e270-11e7-9515-b5af0a6608a5.png)

[2017-12-16 15:33] klappradla commented on #659
What's your screen resolution @inescoelho ? The badge is hidden for smaller widths than 1360px.

[2017-12-16 17:20] inescoelho commented on #659
You are right, @klappradla! My screen resolution is 1366 x 768, but since I have a lateral menu on ubuntu, the browser resolution is smaller and the badge is hidden. On my windows partition, the browser opens full length and I can see the badge! That's why I was confused and thought it was a ubuntu specific problem! :rofl:

[2017-12-17 19:24] klappradla commented on #847
Yes, fully agree @F3PiX ✌️ I know this tutorial and I also really like what they're doing. But as you wrote, especially putting the HTML files into what is normally called `app/javascript` in a default Webpacker setup is one step too far for us 😉

Having a `app/javascript`, a `app/services` directory etc. is fine and pretty much standard for a modern Rails 5+ application. But introducing this rath

[2017-12-19 16:38] mbrien12 commented on #895
Apologies haven't had time to look at this yet and now travelling over the Christmas break. Am back 10th of Jan so feel free to assign to somebody else over that time, otherwise can look at when I get back in the new year

[2017-12-19 18:24] F3PiX commented on #895
Thanks for the heads up and have a nice trip!

[2017-12-22 08:12] aSquare14 commented on #892
I'd like to pair !

[2017-12-22 08:18] F3PiX commented on #892
Hi @aSquare14 Welcome here! That is great to hear!
However, in this case the call for a pair is for someone who has access to the production database :-)
You are very welcome to take another issue!! Ping me if you have questions,  or need help finding an issue.