[2016-03-10 08:27] alicetragedy commented on #392
one thing that comes to mind: information that needs to be filled out is dependent on the stage the application is in (and on whether the team has been accepted or not) ie. I think ( @carpodaster please correct me if I'm wrong) teams cannot fill out their team github handle and team twitter account and, possibly, team info, until the application has been sent off and they've been selected.
This in

[2016-03-10 09:12] ramonh commented on #363
Yes, I think that's a good idea for now, @carpodaster. We have that requirement in place that two students need to be in a team.

[2016-03-10 22:23] michaelem commented on #202
Same thing happens when I change something and click 'Check Validity'. I guess this is not the desired behavior as well?

[2016-03-11 08:51] carpodaster opened #397 "List projects"
* [x] A link to `/projects` (projects#index) should be displayed during the application phase
* [x] Projects should list how many applications (1st and 2nd choice) already reference them

[2016-03-11 09:24] michaelem commented on #397
I'll take a stab at this tonight.

[2016-03-11 09:48] carpodaster commented on #397
Cool, thank you @michaelem. I forgot to mention: please base your work on the `application-process-2016` remote branch. Only that branch has the foreign keys `project1_id` and `project2_id` (or some such) on `ApplicationDraft`.

[2016-03-11 20:24] carpodaster commented on #202
Ah, good catch! Sure, this appies (tehehe…) to `Apply` as well.

I'm not sure I understand the show view idea, but I fully agree that students shouldn't guess which button does save and which one doesn't. Maybe just have all buttons save stuff?

[2016-03-11 20:52] carpodaster commented on #392
@alicetragedy I haven't digged through the code base to check whether or not editing their social accounts is possible. I don't remember having coded it, but maybe it was already there.

The help page is of more help now thanks to @Nattivolk and #395.

[2016-03-11 20:52] #392 closed

[2016-03-11 21:15] alicetragedy commented on #392
@carpodaster just noticed it because we got a question about this from an applicant :)
I just double-checked and the github/twitter stuff for teams can be edited under the `if f.object.accepted?` condition, so updated the help page accordingly. :+1:

[2016-03-11 21:18] alicetragedy commented on #385
fixed in https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/394 & https://github.com/rails-girls-summer-of-code/rgsoc-teams/commit/43962da942183b4218423b5bb3b7faba99a48fda <3

[2016-03-11 21:18] #385 closed

[2016-03-11 22:24] carpodaster opened #399 "Attendance must be "seasoned""
The `Attendance` (conference feature) does not yet have a reference to the `Season` it is valid for.

[2016-03-11 22:30] carpodaster commented on #397
@michaelem I've merged the current state of `application-process-2016` into `master` just now. I plan to keep the feature/integration branch, though: it's set to auto-deploy to staging so it's probably still better to base everything against `application-process-2016`

[2016-03-11 22:57] michaelem commented on #397
Ok, I'll use application-process-2016 then!

[2016-03-12 00:51] carpodaster commented on #397
This is done, thanks @michaelem

[2016-03-12 00:51] #397 closed

[2016-03-12 00:56] carpodaster opened #401 "Application process: Check if draft-to-application transformation still works"
Basically everything that happens after clicking 'Apply'. -> `CreatesApplicationFromDraft`

[2016-03-12 00:57] carpodaster opened #402 "Application process: Check validations for new (and removed) fields"
As discussed on Slack: there is a validation context called `:apply`.

[2016-03-12 01:00] carpodaster commented on #205
I've stuffed a few "security" holes in a85416d but I noticed another: When you from a new team, your own user is preset as the first role but you can choose freely between being a coach or a student. It makes no sense for other roles than a student to form a team, hence this shouldn't be possible. Any takers?

[2016-03-12 01:06] carpodaster commented on #368
@alicetragedy this is done, right?

[2016-03-12 07:19] alicetragedy opened #403 "Clicking "Apply now" fails even when I have a partner"
This is something I only just noticed after pulling in the new changes onto my local / dev setup and it might be something that we will not necessarily be able to reproduce in the production environment.. but better be safe than sorry, since teams have already started forming for this year.

I have a current team (consisting of me and Sara) which I use for testing the UI and such; first and foremo

[2016-03-12 09:18] carpodaster commented on #403
This sounds interesting. I'm thinking this is related to seasons. Can you check in the rails console which season is referenced by your Unicorn team? It's probably the 2015 season so I guess we're missing a season scope … _somewhere_

[2016-03-12 10:42] ramonh commented on #403
Hm, that error message is one I added for confirming teams. It seems that although you have two members, the state of the team never transitioned to `confirmed`.

Is it possible that you built the team before pulling in the new changes? This tells me in any case that older teams will run into this issue.

Maybe having a state machine is overkill and we need to just check that two students are pres

[2016-03-12 12:08] klappradla commented on #205
I think I could also prevent this through CanCan abilities. Then disable the radios like in https://github.com/rails-girls-summer-of-code/rgsoc-teams/commit/a85416d72d8c45a82f0111a8e15a11c123cd2940? Or just not show them at all?

It it's not super urgent, I'll look at it, but might not find the time today.

[2016-03-12 20:02] alicetragedy commented on #403
@ramonh yes, I did build the team before pulling in the changes (as outlined above already, hehe). And that's why I thought it would be significant for us maybe — as we already have teams that were created before you added the team confirmation, meaning they will run into this same problem.
@carpodaster the season that was referenced was first another, older, season (which, by the way, I wasn't fi

[2016-03-12 20:05] ramonh commented on #403
Ah sorry @alicetragedy I misunderstood the above. Yeah I think it makes sense to keep this open. I'll be looking into fixing this confirmation issue.

[2016-03-12 20:07] alicetragedy commented on #403
@ramonh no worries, maybe my issue wasn't so clear — it was early this morning :p

[2016-03-12 20:08] ramonh commented on #403
Hehe I doubt it, looking back, it was well clear :)

[2016-03-12 20:19] alicetragedy opened #405 "Change deadline for submitting the applications"
Before deploying to production, we should change the deadline for submitting the applications. According to our timeline, if we open applications on Monday, we will close on April 10th — suggested time 17:59:59 UTC?

[2016-03-12 20:20] alicetragedy commented on #368
@carpodaster as of now, the financial info is visible to the other student — do we want to change that? other than that, yeah, technically, this would be done.

[2016-03-13 07:15] izuroxx commented on #380
Hi! I'm a newbie here but this issue seems very interesting. Is it possible for you to precise if it should be done by 1) adding two links to existing solution (as stated in original task description) 2) adding some drop down list (as suggest @carpodaster) 3) changing menu into bootstrap navbar (as suggest @alicetragedy) or you want to decide on this this during the summer of RGSoC (possibly chang

[2016-03-13 12:06] alicetragedy commented on #380
Hi @izuroxx,

We have not quite discussed it/made a decision yet, but I believe we will not just be adding those two links (as pointed out after that, some of the links are dependent on the program phase) so we will probably change the menu to a bootstrap navbar, and add dropdowns there where deemed necessary, with some of the single menu points inside the dropdown will appear/be hidden depending

[2016-03-13 18:29] anikalindtner opened #407 "Bugs/Errors found during testing"
## MUST FIX

+ [x] can't submit a completely filled out application, get an error that the team should have at least one mentor
+ [x] cost of living link-> faulty
+ [X] ~~add buttons "next" and "back" to bottom of page, so indicate that you have to go through the next tabs in order to go through application~~ 
+ [x] check validity (assigned to @michaelem, improved in https://github.com/rails-girls

[2016-03-13 18:33] alicetragedy commented on #407
cost of living fixed: https://github.com/rails-girls-summer-of-code/rgsoc-teams/commit/49da743b8968fa55db267b327e1c79b33d4ca0e0
error messages: removed banking info, added money, achieve, how did you get into programming https://github.com/rails-girls-summer-of-code/rgsoc-teams/commit/f2a2115d863aac0a49c28f63fd1eb9c9984a8f6c

[2016-03-13 19:03] anikalindtner opened #408 "UI: Rework Error Message"
The error messages should not be a huge text field as it is now, but just show how many errors you have and where. All error messages should be shown directly in the fields where the error accurs (this is already the case for *some* errors).

### My proposal:

+ [ ] all errors need to be shown directly in the field where the error occurs
+ [ ] error messages should tell you **where**, that means *

[2016-03-13 19:11] michaelem commented on #408
I'm probably at least touching these while fixing #202.

[2016-03-13 19:12] anikalindtner commented on #408
@michaelem awesome! so for now we'll wait until you are finished and then see what's left, right?

[2016-03-13 19:13] michaelem commented on #408
yepp, since everything else probably will end in merge-conflict hell :see_no_evil:

[2016-03-13 20:13] alicetragedy commented on #407
@anikalindtner this -> https://github.com/rails-girls-summer-of-code/rgsoc-teams/commit/8ab7e5e4a4c8a7dd7fa9a8a15177ba27be449b9c should at least make the flash messages (the "pretty" error or info boxes) more bearable by adding a small button that can be used to dismiss the message.

[2016-03-13 20:41] michaelem commented on #407
is 'add buttons "next" and "back" to bottom of page, so indicate that you have to go through the next tabs in order to go through application' meant for the application draft form?

[2016-03-13 21:25] anikalindtner opened #410 "Add these markdown docs to the help section"
I wrote an application how-to, but I can't get the app run locally, so I need some help by someone who can add this content to the help section:

+ https://gist.github.com/anikalindtner/759af72999f2c9a2e46f
+ https://gist.github.com/anikalindtner/eb66868711c6d4183e05#file-fill-out-your-application-md

Who can take this on? :sparkling_heart:

[2016-03-13 21:28] anikalindtner commented on #410
When this is done we should add "The how-to-apply guide you'll find in our [help](https://teams.railsgirlssummerofcode.org/pages/help) section." After "Please read our Student Application Guide"

![screen shot 2016-03-13 at 22 28 02](https://cloud.githubusercontent.com/assets/1711357/13731506/e9c493be-e96a-11e5-9cc5-ae1c3316e9d1.png)

[2016-03-13 21:28] alicetragedy commented on #410
this is AWESOME!!!! thanks! <3
(we might have to change a couple of screenshots in the future if we add a fifth tab, so I might ping you about this again)

[2016-03-13 21:29] anikalindtner commented on #410
sure! ping away! :)

[2016-03-13 21:34] alicetragedy commented on #410
If no one grabs this task by tomorrow, please ping me about it — happy to deal with it then. :)

[2016-03-13 21:36] anasofiapinho commented on #407
Nice to have:
1. Can students edit other students information?
2. The order in which the errors are listed is not the same as the form and that causes a bit of confusion.

[2016-03-13 22:11] alicetragedy opened #411 "Remove conferences from edit profile info"
They just shouldn't be there right now; until https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/399 is handled, we have to yolofix this.

[2016-03-13 22:12] alicetragedy opened #412 "Update Application info in edit profile"
I noticed earlier today that there is a mismatch between the fields in the application form fields in the edit profile page, and the ones in the application. I am in the process of getting it fixed! :muscle:

[2016-03-13 22:48] Nattivolk opened #413 "Information pulled from github should not be editable/deleted"
- [ ] github handle and email have a star i guess for indicating a mandatory field, but i can save without an email address. This happend, because I deleted the email. Might happen, if a candidate wants a different email, deletes it and then forgets to add the new one.
- [x] I'm not sure, if this is wanted, but I can also change the github handle. As I signed in with a specific account I don't kno

[2016-03-13 22:52] Nattivolk opened #414 "Applicants should not be able to add more than 3 conferences"
Conferences, it says an applicant should only add max 3 conferences. I could add many more conferences. If 3 is a hard limit, maybe we should not allow adding more?

[2016-03-13 22:52] Nattivolk commented on #414
Probably on hold due to https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/411
But important as soon as we open the conferences again afterwards

[2016-03-13 23:01] alicetragedy commented on #414
:+1:

[2016-03-13 23:06] alicetragedy commented on #411
done in https://github.com/rails-girls-summer-of-code/rgsoc-teams/commit/fb1f4e9744918a62bd855683812c71da17fc3fa9

[2016-03-13 23:06] #411 closed

[2016-03-13 23:08] alicetragedy commented on #414
For now I've set it so that editing the conference stuff in the profile is not visible until the season starts (July 1st) so we have a little bit of time to get it fixed. thanks for noticing & creating the issue!

[2016-03-13 23:51] michaelem commented on #202
I think we can probably close this since the buttons now simply disable when the form is changed.

[2016-03-13 23:52] alicetragedy commented on #202
:+1:

[2016-03-14 00:03] #202 closed

[2016-03-14 08:04] carpodaster commented on #410
I'm thinking: is it better to have this on the public website instead of the Teams App? The teams app is not exactly the please where we think about updating copy. E.g. the help section lay there orphaned for quite a while and I fear that will happen again.

[2016-03-14 08:08] carpodaster commented on #413
Hey @Nattivolk - thanks!

The reason behind 1) is that a `User` record is indeed created w/o an email address at first: the rest gets pull from the GH API asynchronously. We should improve that, though. A validation context should fix that: the easy win would be to allow a `User` to _created_ w/o an email address, just not _updated_

2) Making the GH-handle of a created `User` immutable is sounds

[2016-03-14 08:14] carpodaster commented on #407
That is WAI and is/was part of #205 + a85416d72d8c45a82f0111a8e15a11c123cd2940; the radio buttons are disabled.

[2016-03-14 08:16] carpodaster commented on #407
The skill level does get saved, it just doesn't pre-select the radio buttons. At least I can reproduce this problem locally now (which wasn't the case last year when we got all the bug reports). I'm still at a loss why that is so.

[2016-03-14 08:33] alicetragedy commented on #410
@carpodaster yes and no. Since this is quite specific to the teams app, I feel like info that is relevant to the use of the teams app (how to log in, how to look for a partner using our app, how to fill out the application form properly, how to edit your profile) should be in there somewhere. You're right in pointing out that we hardly ever update copy on the teams app — maybe this is something we

[2016-03-14 08:42] carpodaster commented on #410
@alicetragedy Those were convincing arguments – let's keep it on the teams app! I really only fear for outdated (and thus: outright _wrong_ ) information since I know I for one don't have static website copy on my mind when I'm working on the teams app; the code just changes so much faster than I think we can keep up with on-page help :cry:

[2016-03-14 08:47] alicetragedy commented on #410
@carpodaster yes, I know. it's very frustrating, for devs and orgas as well as students 😖For example, the help page said that you could change team github and twitter info on your edit profile page, but as it turns out, this cannot be done until you are a selected team. Small issues like this do slow us down, so maybe this is a good point for why we might want to try to have better documentation f

[2016-03-14 10:42] carpodaster commented on #202
Excellent work, @michaelem – thank you!

[2016-03-14 11:04] carpodaster commented on #368
This is what it looks like for the pair now:

![bildschirmfoto 2016-03-14 um 12 04 09](https://cloud.githubusercontent.com/assets/164400/13742591/e3bc45f8-e9dc-11e5-8e77-61afa3b9226d.png)

[2016-03-14 11:04] #368 closed

[2016-03-14 11:06] carpodaster commented on #412
@alicetragedy this is done now that PR #416 has been merged, right?

[2016-03-14 11:13] alicetragedy commented on #412
yes @carpodaster! :+1:

[2016-03-14 11:13] #412 closed

[2016-03-14 11:14] alicetragedy commented on #368
wheeee! :tada:

[2016-03-14 12:04] ramonh commented on #402
The above PR took care of the `:working_together` and `:why_selected_project` fields, which I found were new and untested in the schema. @carpodaster or @alicetragedy do you know which ones I might be missing? I went over them but didn't find any missing ones

[2016-03-14 12:05] ramonh commented on #363
Hey @carpodaster, if you like I can look into removing the mentor-email-ping :)

[2016-03-14 12:55] carpodaster commented on #405
I've modified the form for `/orga/seasons` in 793653728040ba280cf13dfb8c5769b2fe8f8142 and updated the deadline for the 2016 season. Feel free to edit the deadlines.

Note: It's not available on staging … yet.

[2016-03-14 12:55] #405 closed

[2016-03-14 12:57] carpodaster commented on #407
This, too, is subject to #380

[2016-03-14 12:59] alicetragedy commented on #402
@ramonh if this also takes into account application fields that are part of the student model, you can find all the added ones here: https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/390/files
(check the `application_drafts_controller.rb`, the fields that have been added in the `params[:student]` bit)
hope that helps :)

[2016-03-14 13:00] carpodaster commented on #407
This is quite a task and also quite brittle in respect to future changes. I wouldn't want to assign resources to it right now.

[2016-03-14 13:00] carpodaster commented on #407
I think I need a more concrete example for that

[2016-03-14 13:03] ramonh commented on #402
Ah super, thank you @alicetragedy! I'll look into that.

[2016-03-14 14:20] carpodaster commented on #407
I don't think we can add this. For example the 2nd tab is not really a "next" tab since a student cannot edit the fields of their pair.

[2016-03-14 14:34] anikalindtner commented on #407
@carpodaster: if you click on "edit" you can see people added to your team that you didn't add. Like:

![screen shot 2016-03-14 at 15 30 03](https://cloud.githubusercontent.com/assets/1711357/13747697/ca8b88a6-e9f9-11e5-8a89-6037715b2a80.png)

I know that this looks a bit different for me, since I'm also an organizer, but my pair (who's a friend of mine and not an organizer) could also see this.

[2016-03-14 15:13] carpodaster commented on #407
@anikalindtner skill level issue: What I meant is that the underlying database record gets saved. The form just doesn't pre-select the value present in de DB

[2016-03-14 15:14] carpodaster commented on #407
@anikalindtner Can you give me the ID of the team in question please? Or its direct URL?

[2016-03-14 15:14] alicetragedy commented on #407
@carpodaster @anikalindtner it's weird, because for me, locally, it works.

[2016-03-14 16:08] anikalindtner commented on #407
@carpodaster https://rgsoc-teams-staging.herokuapp.com/teams/1/edit

[2016-03-14 17:45] ramonh commented on #402
Hey @alicetragedy! Just dug into it, and I think these are already validated. They were added to the required fields for students [here](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/application-process-2016/app/models/student.rb#L8), which are then validated and tested by the `ApplicationDraft`s [here](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/application-pro

[2016-03-14 18:11] anikalindtner commented on #410
@alicetragedy I've updated the gist and added the fifth tab in the screenshots and the text.

[2016-03-14 18:36] alicetragedy commented on #402
you're right — then I guess the issue can be closed, right? :)

[2016-03-14 18:41] ramonh commented on #402
I think so, yes!

[2016-03-14 20:15] ramonh commented on #403
Hey @alicetragedy! I've taken a stab at fixing this in #417 by removing the state and dynamically checking if a team is confirmed by its number of students.

Could you please give it a try and see if the issue persists?

[2016-03-14 20:39] alicetragedy commented on #410
@anikalindtner strange, I can't access the images. sadface :(

[2016-03-14 21:08] alicetragedy commented on #407
@anikalindtner I just double-checked the info regarding your team in staging, and it seems like your team wasn't created yesterday, but it was created last year. So, I'm guessing that's why you have those roles in there — they were added last year to your team, and when you logged into the app you didn't create a new team but just added a student to your currently existing team. Could that be it?

[2016-03-14 21:10] alicetragedy commented on #403
@ramonh sorry, looks like I'm late to the party :tada:

[2016-03-14 21:12] ramonh commented on #403
No worries! should hopefully be fixed

[2016-03-14 21:14] #402 closed

[2016-03-14 22:03] carpodaster commented on #363
@ramonh I am thinking to keep the mentor-email-ping: We probably still gonna add a mentor to a team, just only manually when the teams are selected. wdyt?

[2016-03-14 22:04] ramonh commented on #363
I like that. I'll just remove the requirement then, if that works?

[2016-03-14 22:05] ramonh commented on #363
Scratch that, just saw the update. Thanks @carpodaster!

[2016-03-14 22:07] mkalininait commented on #363
@carpodaster I thought that Laura sends emails to mentors herself. Let's see what she says about this. @alicetragedy

[2016-03-14 22:34] mkalininait opened #419 "Application submission fails in a weird way"
If my coaches are not confirmed and I submit an application, I don't get any error messages on the Application form. Instead I get redirected to the page of my team.

![screen shot 2016-03-14 at 23 14 04](https://cloud.githubusercontent.com/assets/1745735/13762101/04787450-ea3d-11e5-8eee-5e3d984fb181.png)

My application is still available for editing and submitting.

Another thing you can see on

[2016-03-14 23:01] anikalindtner commented on #407
@alicetragedy ah yes! exactly! Hat tip ms sherlock <3

[2016-03-14 23:15] anikalindtner commented on #410
@alicetragedy sorry! should work now. could you check pretty please?

[2016-03-14 23:25] mkalininait opened #420 "New Team / Edit Team issues"
1. When an error happens, all my deleted fields come back.
   For example, I have a team with Student X and Student Y. If I delete Student X and add Student Z, who is already a member of another team, and submit the form, I will get an error, and Student X will appear on the form again.
2. I think we should not allow creating empty teams. Now it's possible.

[2016-03-15 07:17] alicetragedy commented on #363
@mkalininait I do send emails to mentors, but they're usually updates about the program and their next steps — I don't email them about being added to a team or anything like that — I'd leave that up to the robots ;)
@carpodaster @ramonh I'm getting a bit confused here about the process and changes so let me just summarize the requirements:
a team of two students apply with min. one project, max.

[2016-03-15 07:36] alicetragedy commented on #410
it works!!

![tumblr_m9dlcwp2yr1qiyseco3_250](https://cloud.githubusercontent.com/assets/3143348/13770664/feb68826-ea88-11e5-8d69-3281b31296ee.gif)

[2016-03-15 08:18] #408 closed

[2016-03-15 08:28] alicetragedy commented on #408
The thing with the fields (first on the list) is still a bit tricky, but we're looking into a fix. :see_no_evil:

[2016-03-15 08:34] carpodaster commented on #363
@alicetragedy All your assumptions on how a team can apply are valid and that's how we implemented it (barring existing bugs of course).

You are absolutely right that we can infer a team's mentor from their 1-2 appications. However, we currently do not auto-assign a mentor and my idea was that we assign the mentor the old-school way (i.e. by adding the role mentor to the team as an organizer) for

[2016-03-15 08:36] alicetragedy commented on #363
:+1:

[2016-03-15 08:37] alicetragedy commented on #363
is a team, though, still required to have a mentor to apply? If so, this should probably be changed (if we auto-assign mentors after a team has been selected only).
Other than that, I give my approval for closing this issue!!

[2016-03-15 08:39] carpodaster commented on #363
@alicetragedy aye, the mentor requirement was removed in 6f1c1e58bb4406c56778f50d4335043721faaf4d

[2016-03-15 08:40] alicetragedy commented on #363
sorry, should have read the backlog. :facepalm:

![2744956](https://cloud.githubusercontent.com/assets/3143348/13771982/e9f2e4e4-ea91-11e5-8cac-865194c6677e.gif)

[2016-03-15 08:41] carpodaster commented on #363
Pff, nah! Too many commits!

[2016-03-15 08:53] ramonh commented on #363
Agreed, I think this is okay to close!

[2016-03-15 09:09] alicetragedy commented on #363
![image](https://cloud.githubusercontent.com/assets/3143348/13772740/0714e6a4-ea96-11e5-9b5e-bb547a364bd5.png)

[2016-03-15 09:11] #363 closed

[2016-03-15 09:15] alicetragedy commented on #419
yep, you are right. I guess this has to do with the student being a coach.

[2016-03-15 09:23] izuroxx commented on #380
Thank You @alicetragedy!

I have a few questions regarding other issues, but i guess i'll put them in one email and send it to you (if that's ok) - i see all of you have a lot of work, hope i'm not bothering you too much :)

[2016-03-15 09:24] alicetragedy commented on #403
okay, I'd suggest closing for now and reopening if we see anything wrong with teams. but you're right, it should be fixed thanks to your PR :)

[2016-03-15 09:24] #403 closed

[2016-03-15 09:25] alicetragedy commented on #380
@izuroxx absolutely, go ahead and do that. :+1:

[2016-03-15 09:36] ramonh commented on #419
Definitely a bug having students be coaches of their own team, thanks for catching this!

I thought it would be helpful for students to see which of their coaches hasn't confirmed yet. Do you think it's better not to redirect to the team's page?

[2016-03-15 09:38] alicetragedy commented on #419
@ramonh maybe an alternative would be an error message "Your coaches have not confirmed their membership" with a link to the specific team in there? so the student can go and check out what the deal is, but only if they want to ;)

[2016-03-15 09:38] ramonh commented on #419
Yeah, that makes more sense! Thank you @alicetragedy

[2016-03-15 09:55] ramonh commented on #419
The above PR should take care of the redirecting. About the second problem, I could restrict students from also being coaches. Of course, if they were students last season and want to be coaches this season, this should be fine. I'll look into whether this is fine.

[2016-03-15 20:30] alicetragedy commented on #419
@ramonh did you get a chance to look into this?

[2016-03-15 21:13] ramonh commented on #419
Hey @alicetragedy, I did start but haven't finished yet! Will have a pr ready for tomorrow, hopefully.

[2016-03-15 23:30] carpodaster opened #424 "Create a form builder for application draft's students fields"
PR #423 intruduces a rather hacky approach to glue the error stylings and explanations to the student fields form partial. This can be improved by writing a custom (simple form) form builder.

[2016-03-15 23:31] carpodaster commented on #184
Things get a lot more interesting (read: difficult) with PR #422

[2016-03-16 09:41] carpodaster commented on #192
This has been fixed for this year's application process! :confetti_ball:

[2016-03-16 09:41] #192 closed

[2016-03-16 18:58] ramonh opened #427 "Add field for mentors to add a link to their project's Code of Conduct"
As discussed, having a field where mentors can add a URL to their project's Code of Conduct would make it a lot easier to find and make it known that those are a criterion for accepted projects.

[2016-03-16 19:26] alicetragedy commented on #205
is this still a thing? or can we close?

[2016-03-16 19:32] carpodaster commented on #410
@alicetragedy This has been closed by #426, right?

[2016-03-16 19:33] carpodaster commented on #387
(I'm closing this as a duplicate in favor of the already existing #375)

[2016-03-16 19:33] #387 closed

[2016-03-16 19:34] alicetragedy commented on #410
yes! <3

[2016-03-16 19:34] #410 closed

[2016-03-16 19:35] carpodaster commented on #205
I fear this is still somewhat of a thing. I would also count the "a student can create a team with them as coaches" as being part of this.

[2016-03-16 19:36] alicetragedy commented on #205
@carpodaster then https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/425 would partly take care of this, at least. :)

[2016-03-16 19:39] alicetragedy commented on #427
+1

[2016-03-16 19:47] carpodaster commented on #419
@ramonh @mkalininait Did the PR  (merged and now live on staging) fix the issue?

[2016-03-16 21:00] #401 closed

[2016-03-16 21:24] mkalininait commented on #427
Do we really want to add it this year? Call for projects will end in 4 days.

[2016-03-16 21:29] alicetragedy commented on #427
I think this is just meant as a quick to-do for a team that might want to work on the teams app in the summer @mkalininait

[2016-03-16 21:35] mkalininait opened #428 "Hide 'Review and Submit' tab for already submitted applications"
Now I can see the tab 'Review and Submit' in the application, which I have already submitted, and this tab is blank.

[2016-03-16 22:48] mkalininait opened #430 "Team issues"
+ [ ] We restrict adding a coach, who is already a student in another team. At the same time I can add a student who is already a could in another team.
+ [ ] When I try to add more than 2 students: "Roles there cannot be more than 2 students on a team." <- weird phrase.
+ [ ] There is also the message "Roles user has already been taken", and I also don't know what it means.
+ [ ] Managed to get 2

[2016-03-16 23:10] anikalindtner opened #431 "Add link to help section in "attention" text"
![screen shot 2016-03-17 at 00 08 02](https://cloud.githubusercontent.com/assets/1711357/13831505/584a5830-ebd4-11e5-9a50-fd5e9129650d.png)

After this sentence I'd love a short "Need [help](https://teams.railsgirlssummerofcode.org/pages/help)?" link to the help section.

[2016-03-17 08:15] klappradla commented on #430
I added the second box in order to make it more user-friendly 🙊 . With only one box, you get a error-message saying:

    2 errors prohibited this role from being saved:
        User has already been taken
        Team is invalid

*Team is invalid* is not really a meaningful error-message for a user not knowing the internal datamodel of the application (anyone basically...), therefore I added what

[2016-03-17 22:50] mkalininait opened #434 "Application support: can't add the second student"
One student writes in Slack:
"Hi, I'm trying to add another student to my team, but get an error
https://teams.railsgirlssummerofcode.org/teams/121
1 error prohibited this team from being saved:
Roles there cannot be more than 2 students on a team.
Although there is currently only one student (me)"

I looked at it, there is one blank student (without a github handle), and I can’t neither add a git

[2016-03-17 22:53] mkalininait opened #435 "Add a 'Tags' column to the list of projects"
This is a wish from one potential student.

[2016-03-18 06:01] #431 closed

[2016-03-18 06:05] alicetragedy commented on #434
I tried it locally again, and was able to add a member to my team without github handle. we should probably fix this. thanks for noticing @mkalininait!

[2016-03-18 06:29] alicetragedy commented on #435
this is already in the /orga/projects, so should be easy to implement. :+1:

[2016-03-18 07:30] carpodaster commented on #407
We are live!

[2016-03-18 08:15] alicetragedy commented on #407
so are the bugs! they've been released into the wild :trollface: :tada:

[2016-03-18 09:32] ramonh commented on #419
It should be fixed, @carpodaster. I've tried adding myself as a student and a coach to my team, and had no luck :)
![screen shot 2016-03-18 at 10 31 25](https://cloud.githubusercontent.com/assets/656318/13873878/a4bc9338-ecf4-11e5-9d19-c5e6a32da235.png)

[2016-03-18 16:57] alicetragedy commented on #434
Update: since validations are in place to ensure that the github handle isn't blank, this wasn't the problem. A user is required for the role (so, to be added to the team) and if the user is not being present in the database it silently fails (and adds an empty role to the team).
Not sure what the fix is, (or if there is one) but we will make extra sure that students know they all have to log in i

[2016-03-18 22:10] The-Compiler opened #437 "Preview function for project proposals"
I just submitted a new project, and it would've been nice to be able to preview the rendered output before doing the submission.

Minor nitpick of course - submitting and editing worked fine as well :wink:

[2016-03-19 13:32] alicetragedy commented on #437
Hey @The-Compiler — that is absolutely right, we had in fact thought about it already, but due to deadlines, we did not implement it for the current submission period. I'd definitely like to keep this in mind for next year and believe it would also be a great task for newcomers to the project. :)
Thanks for the suggestion!

[2016-03-19 13:38] alicetragedy opened #438 "Application process: coach unable to confirm belonging to a team"
According to a student's bug report, the team coaches were unable to confirm themselves through the UI after being added to a team. I investigated a little bit, and it seems that this fails for teams whose coaches were added prior to us introducing the "coach confirmation" (meaning, no `confirmation_token` was created).
I don't think too many teams are affected, but this is something we should kee

[2016-03-20 12:47] alicetragedy commented on #435
this has been solved, but we talked about at least one "extra" thing:
- showing only non-rejected projects (ie. with status accepted, pending)

do you want to add that as a separate issue, or add it to this one? It's up to you :) If you add it as a separate issue, you can close this one, as you've fixed it with your PR.

[2016-03-20 18:59] carpodaster commented on #438
I have added confirmation tokens to all six 2016 coach roles existing prior to us merging the confirmation logic.

[2016-03-20 18:59] #438 closed

[2016-03-20 19:00] alicetragedy commented on #438
:tada:

[2016-03-20 19:55] #435 closed

[2016-03-21 10:12] anikalindtner opened #440 "Change appliaction count in projects view to only count submitted applications"
For now - as I understand it - the applications for a project are counted when someone creates a draft. I'd say we should only count submitted applications.

Reason: last year showed that a lot of drafts are not even going to be sent off and thus a higher count on projects might scare some teams away, but in the end it could turn out that actually no one applied for this project, because it was ju

[2016-03-21 10:22] carpodaster commented on #440
I'm not really in favour of this feature request. We know that most applications will be sent in very close to the deadline. The counter will be very, very for the duration of the application phase, creating a false sense of 'safety' - basically we revert the insecurity that your feature request aims to fix.

[2016-03-21 10:25] alicetragedy commented on #440
I'm wondering if we shouldn't simply hide the counter completely as an in-between solution? I don't know, I also have mixed feelings and felt the same way about the fact that most people will send their application very close to the deadline, and I don't know which way is best. Maybe, we can clarify that these are application drafts?

[2016-03-21 10:28] anikalindtner commented on #440
yeah, if we keep it we definitely have to clarify that these are drafts. maybe we could just show both? submitted and drafts? or is that too overengineered?

[2016-03-21 12:27] anikalindtner opened #441 "Selection App"
We have another monster inside the teams app monster and that is the selection process. What once was a hack based on infos that came in through google forms is now an out-dated app where we don't have any tests or documentation for.

This worked last year, but only with a lot of :see_no_evil: and :speak_no_evil:s. This year we'd love to
+ add a stage of blind selection to the process (meaning hid

[2016-03-21 12:30] anikalindtner commented on #441
Also: If you have questions regarding the code, I can always ping Sven about it. He can help a bit with answering specific questions.

[2016-03-21 14:14] michaelem commented on #441
Yepp, I think I can spend some time this week and go spelunking in the old code.

[2016-03-21 14:16] alicetragedy commented on #441
Awesome, thanks @michaelem. we'll try to discuss some guidelines for the selection that are important to us in one of the next team calls, so I can give you more info after that. :)

[2016-03-21 14:24] anikalindtner commented on #441
yay, thank you @michaelem! :star: :rocket: :sparkles:

[2016-03-21 15:58] anikalindtner commented on #407
I'd love to keep track of this. and if someone has a minute they can fix some of the bugs listed here.

[2016-03-21 16:08] carpodaster commented on #407
@anikalindtner The must haves are fixed. I've commented on some of the others and among them are a few `wontfix`es (because they're not applicable).

For text corrections: suggestions for better wording are most welcome.

If there are items left in this list, please add them as new issues. It's a lot easier to keep track of an atomic issue than aggregate ones like this.

This said: we are currentl

[2016-03-21 16:08] #407 closed

[2016-03-21 16:10] carpodaster commented on #441
yay, thanks @michaelem

[2016-03-21 16:10] alicetragedy commented on #407
will take another look at the text-based fixes and adding the link to the team in the navigation, but I think that's all we will be able to deal with this year (ie. no progress bar, no pagination because it doesn't make sense from a UX point of view).
as @carpodaster said I think immediate items can be added as new issues. the text-based corrections will be fixed today still by me, so no need to a

[2016-03-21 16:12] anikalindtner commented on #407
awesome, laura thank you. feel free to close this then again after today.

[2016-03-21 16:27] alicetragedy commented on #407
Note: "state that all fields are obligatory" is not required anymore because a) not all fields are obligatory and b) we have finally fixed all of the error fields, so everything is showing properly now.

[2016-03-21 19:49] #440 closed

[2016-03-21 20:58] klappradla commented on #441
I'd be happy to help you in April @michaelem if still necessary then.

[2016-03-22 07:47] alicetragedy commented on #372
@carpodaster seems like the "redirect after login" issue is still not fixed — at least it seems like it doesn't work with the https://teams.railsgirlssummerofcode.org/apply link, which is a bummer because I would love to link to the application page directly from ie. the application guide. Right now, the "blogs" as an index page for the teams app (which is the page we link to by default, and the p

[2016-03-23 18:55] ramonh opened #445 "The applications list shows all applications instead of those for the current season"
Going to the list of applications (the path is `applications/todos`) shows a list not just of the current season, but all of them.

[2016-03-24 00:10] ramonh commented on #445
Works great as of #447. Thank you @althaire for your help! :tada:

[2016-03-24 00:10] #445 closed

[2016-03-24 11:28] alicetragedy commented on #419
looks good, I think we can close this.

[2016-03-24 11:28] #419 closed

[2016-03-24 12:27] alicetragedy commented on #372
I think we can close this!!!! :tada: :confetti_ball: :raised_hands:

[2016-03-24 22:01] michaelem commented on #441
Can someone walk me through the current process? I'm kinda guessing how this is all inteded to work by looking at controllers...

[2016-03-25 13:03] alicetragedy commented on #441
@michaelem happy to give you a hand and walk you through it :)

[2016-03-25 18:26] anikalindtner commented on #441
👯

[2016-03-27 15:17] rishiip commented on #346
Steps for make `Comment` model polymorphic:

- Create Migration for make appropriate changes in `comments` table
- Perform modifications within `Comment` model
- Perform modifications within `Team`, 'User', `Application` and `Project` models
- Test the changes and generate PR

@carpodaster : It would be great if you can verify above steps and suggest changes if you find any so that I can start wor

[2016-03-29 18:33] carpodaster commented on #346
Hello @rishiip, sorry for the slow response. It's great that you want to work on this, thank you! The steps you describe are :ok_hand:  :smile:

[2016-03-29 18:34] #372 closed

[2016-03-29 18:40] rishiip commented on #346
@carpodaster : No worries. :blush: I'll start work on it and generate PR on the same.

[2016-03-31 10:38] anikalindtner commented on #441
Okay so looking at the time, we thought pushing for building a new app in 10 days is maybe not the best idea. We'd love to concentrate on making the one we have a bit easier to use (maybe some improvements to the UX and definitely updating the tags - @alicetragedy offered to help).

It's still super important to have ppl who understand the app and can help to make it a bit better and maybe even un

[2016-03-31 10:54] michaelem commented on #441
@anikalindtner : as far as I have seen I would not break this out into a separate app anyway. (It was apparently once a separate app and then got integrated.) Anyway, it does not look super complicated, I would like to sit down with someone who cares and knows about the process and figure out where we want to go. (What to hide in the blind selection and what to change in the existing process.)

[2016-03-31 13:05] anikalindtner commented on #441
@michaelem awesome, that sounds good! i know that @alicetragedy wanted to pair. maybe we can all sit together next week when i'm in vienna? maybe @klappradla is also available?

[2016-03-31 13:11] alicetragedy commented on #441
in-person would be great. I think Max might still be busy then, but let's see what he says. I'm flexible :)

[2016-03-31 13:12] anikalindtner commented on #441
maybe @mkalininait can join too, if she wants! :)

[2016-03-31 13:25] ramonh commented on #441
I could also help, if needed!

[2016-03-31 13:28] anikalindtner commented on #441
help is *always* super appreciated @ramonh :sparkling_heart:

[2016-03-31 13:30] ramonh commented on #441
Count me in, then! :smile_cat:

[2016-03-31 13:55] mkalininait commented on #441
@anikalindtner I'd love to! However I'm not in Vienna next week, so only in remote mode at the moment.

[2016-03-31 19:23] klappradla commented on #441
@alicetragedy joining in there seems sustainably invested time to me as it will prob. fasten my understanding of the whole thing. So I'm in.
I'm *"flexible"* besides meetups and stuff (same as Ramón I guess).

[2016-04-01 06:18] rishiip commented on #346
@carpodaster : It would be great if you can suggest me which main forms/screens I need to verify/check while test the things!

[2016-04-01 12:02] alicetragedy commented on #428
hey @mkalininait do you still want to work on this? if not, I can reassign to someone else, just let me know! It would be cool to have it this/next week, before applications really start flowing in.

[2016-04-01 12:07] alicetragedy commented on #225
Would be great to have this in time for the start of the program this year, so that if there is a team working on the teams app, they can get set up more easily.

[2016-04-01 14:10] mkalininait commented on #428
@alicetragedy Ah damn, l totally forgot about this issue. Let me see if I can do it over the weekend.

[2016-04-01 14:11] alicetragedy commented on #428
I did as well — sometimes repo cleanups help ;)
Great, thank you! :sparkles:

[2016-04-03 12:27] ishishruti opened #449 "Remote Coaches"
I along with my team partner are having difficulty in finding coaches in our own city i.e. Pune . So is it possible that we apply for coaches who are not in the city. We are in contact with people outside India having great skills who can help us. We can always be in contact with them on Skype.
So can we apply for remote coaches?

[2016-04-03 12:36] alicetragedy commented on #449
Hi @ishishruti, this is not the right place to submit support questions for student applications. You can find our email address in the [student application guide](http://railsgirlssummerofcode.org/students/application/#place-application). Thank you!!

[2016-04-03 12:36] #449 closed

[2016-04-09 20:17] carpodaster commented on #427
Done in #450

[2016-04-09 20:17] #427 closed

[2016-04-09 20:37] klappradla commented on #441
Just to make sure: @alicetragedy, a user can only edit her own ratings on a student, team, etc., right?
*(just wondering why only the create is scoped to the current_user and I cannot find any superadmin that might be able to navigate somewhere to edit other user's ratings, that's why I ask)*

[2016-04-09 20:39] alicetragedy commented on #441
@klappradla that's exactly right, a user can only edit their own rating and no one else's. :)

[2016-04-10 14:08] alicetragedy opened #454 "add contributing guidelines"
I'd like to add some contributing guidelines to make it more easy and accessible for newcomers and people outside of the RGSoC team to contribute :)

Things we might want to have:
- guidelines on finding an appropriate issue (ie. the usage of labels and what they mean)
- guidelines on how to call "dibs" on an issue
- guidelines on making pull requests (ie. branches we use, information that should

[2016-04-10 15:58] carpodaster commented on #454
Sounds really good!

[2016-04-10 18:18] sainera commented on #434
My team was trying to submit the application the whole day but even after completing the application process, it was getting saved as the draft, By the time we tried looking for the issue and retry he application process,the application got closed. Please tell me how to submit the application as it got closed now.
Please help.

[2016-04-10 18:51] klappradla commented on #441
As we're getting rid of most of the statistics stuff, we planned to have the table at `/applications` have these columns *(besides the basic ones on student, application etc. of course)*:

| Picks | SumPoints | AvgPoints | Max | Anika | ... |
| --- | --- | --- | --- | --- | --- | --- | ---
| 2 | 300 | 100 | 100 | 100 | ...

| ... | MentorPick | Volunteering | Remote |
| --- | --- | --- | --- | ---

[2016-04-10 18:53] alicetragedy commented on #434
@sainera I'm sorry, but this is not the right place for application support. please get in touch with us by email. You can find the contact information on our [about page](http://railsgirlssummerofcode.org/about/).

[2016-04-11 08:03] carpodaster commented on #454
This may be old news, but Gh automagically provides a link to a `CONTRIBUTING.md` file on every PR made to a repo where such a file exists.

[2016-04-11 08:07] alicetragedy commented on #454
@carpodaster I did not know this :) might even have some time for it this week. I didn't think about how it might be useful to have during the application process :cry:

[2016-04-11 21:55] mkalininait commented on #441
@klappradla thanks Max!
A couple of questions from my side:
* Who fills out the 'MentorPick' and 'Volunteering' columns? I guess the 'Volunteering' flag can be set automatically, and the 'MentorPick' is set by a person who interacts with mentors. Is it so?
* What exactly the 'Remote' column mean? Do we retrieve students' and coaches' locations and check if they are from the same location automatic

[2016-04-11 22:06] klappradla commented on #441
If I as a reviewer viewing an application in the reviewing context, I have a `Edit additional Info` Button, where I can set all these flags, including `Remote`.

For `Gender` and `Age`, I don't know where they come from, and I guess they aren't *flags* in the sense that they can be displayed as `x` or ` `, do they? Should it be both student's gender and age somehow summarized?

Anyways, here's a s

[2016-04-11 22:17] mkalininait commented on #441
@klappradla Oh wow, it's a secret form. I didn't know about it. I wonder who fills it out.
It feels like the field 'Volunteering team' is filled out by applicants, don't see why we fill it out again here. May be we should add 'Gender' here too (it's a text field in the application form).
WRT age, we have several categories to select in the application form. We could just put a flag on those teams

[2016-04-12 13:21] #294 closed

[2016-04-12 20:17] dehvmartins commented on #7
This issue is still available? I'd like to do.

[2016-04-12 22:04] roxxx33 opened #455 "Bugs in the Conferences Area"
@carpodaster
![display_individual_conference](https://cloud.githubusercontent.com/assets/18331427/14476707/13213a7c-0127-11e6-8b50-5a4f4894cb56.png)
* [ ] In the display page for a single conference, the information is shown in an uneven format in cases such as when a field is left blank by a user that made the conference resulting in 2 fields appearing in the same line.
* [x] A new conference can

[2016-04-12 22:58] carpodaster commented on #364
This turns out to be a hard task and I'm not sure if it's worth the trouble. Major blockers:

1.  it’s really not that easy to make out relevant mentors anymore:  they need to be the `mentor_github_handle` on an accepted project of the current season AND there must be actual applications with any of their projects (being mentor for more than one project is possible) listed as either the preferred

[2016-04-13 11:39] carpodaster commented on #364
Unfinished business resides in the `feature/mentor-pick` branch

[2016-04-15 17:05] alicetragedy commented on #428
we can close this issue. thank you @mkalininait! :tada:

[2016-04-15 17:05] #428 closed

[2016-04-18 13:08] klappradla commented on #441
I think all of the needed behavior is in place. Maybe someone could check out out the [ratings branch](https://github.com/rails-girls-summer-of-code/rgsoc-teams/tree/ratings-overhaul) and walk through some of the selection / rating steps.

**Todos**
I updated the todos *(`/rating/todos`)* to only show applications (scoped to the current season). For the sake of time and simplicity, I got rid of th

[2016-04-26 14:28] anikalindtner commented on #441
@klappradla iirc there was no way to navigate to all these parts before. but this https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/456 should hopefully fix this.

[2016-05-02 15:53] alicetragedy opened #458 "User with old role cannot save rated applications"
When trying to rate applications, I was unable to save my ratings.
This happened with an old reviewer role (which existed from before we added state to the `Role` model); because of that, I assumed that changing the state from "pending" to "confirmed" should do the trick, but it doesn't work.
I also tried to delete the old role and created a new one, but this hasn't helped.
I'm not quite sure what

[2016-05-02 22:04] #458 closed

[2016-05-03 14:43] michaelem commented on #441
can we close this now?

[2016-05-03 14:50] klappradla commented on #441
I guess so - there are other issues taking care of the leftovers.

[2016-05-03 14:57] mkalininait commented on #441
I agree with @klappradla , but let's @anikalindtner make this decision since it's her issue.

[2016-05-04 15:34] anikalindtner commented on #441
aaaand CLOSED :D

[2016-05-04 15:34] #441 closed

[2016-05-15 20:46] mkalininait opened #460 "Application page: comments are not ordered"
Comments should be ordered by date, newest on top.

[2016-05-15 20:54] klappradla commented on #460
I think they are actually automatically ordered *(by ID => by time)*. But the other way round, oldest on top - same system as here on Github.
Did you have a timewise jumble of comments?

[2016-05-15 21:11] mkalininait commented on #460
@klappradla plz look here

![screen shot 2016-05-15 at 23 08 58](https://cloud.githubusercontent.com/assets/1745735/15276786/4f57b8f6-1af2-11e6-9269-2fe07732d0f9.png)

[2016-05-15 21:15] klappradla commented on #460
Oh, definitely worth being titled as "bug" - thanx!
I can take a look at it tomorrow morning. Are you fine with sticking to Github-like ordering? I personally find it very intuitive, but may only be me.

[2016-05-15 21:17] mkalininait commented on #460
@klappradla Thank you! I don't mind any order, as long as there is logic behind it :)

[2016-05-16 09:54] #460 closed

[2016-05-18 19:36] carpodaster commented on #7
Hello @dehvmartins and sorry for not getting back to you earlier.

TBH, I don't know if this issue is still valid – I do know that there is no one working on it. It would be of great help if you could verify that we have tests for that.

You can run a code coverage report with `COVERAGE=true rspec spec` if that helps. Other places to look at are `spec/controllers/roles_controller_spec.rb` and `spe

[2016-05-18 19:42] carpodaster opened #462 "Student Dashboard/information hub"
Originally created by @alicetragedy on July 21, 2015. Moved from the orga TODO list. It was discussed at length during the [orga call on July 15th, 2015](https://github.com/rails-girls-summer-of-code/organization/wiki/Weekly-call:-minutes).

---

As of now, we have no specific place where we put information that is relevant to **selected students only** – only a spot (the website) where we have th

[2016-05-18 19:45] carpodaster commented on #359
Do you mean links on `/projects` only visible to admins? That is kinda what I want to move away from as it means sprinkling the views with authorization logic.

[2016-05-18 20:03] carpodaster opened #463 "Move conferences CRUD to orga namespace"

[2016-05-18 20:05] carpodaster opened #464 "Conference must be 'seasoned'"

[2016-05-18 20:10] carpodaster commented on #455
Hi @roxxx33 – thank you for bringing this to our attention! Item no. 2 is done.

[2016-05-18 20:20] carpodaster commented on #346
@rishiip I have checked the codebase only briefly, so this list might not be complete:

* app/views/projects/show.html.slim
* app/views/rating/applications/show.html.slim
* app/views/rating/todos/applications/show.html.slim
* app/views/supervisor/dashboard/index.html.slim

[2016-05-18 21:03] #464 closed

[2016-06-06 18:44] carpodaster commented on #375
(Hopefully) fixed in 1ec0cacd6d26f4e0fd07a68be03d69251c41b7ec

[2016-06-06 18:44] #375 closed

[2016-06-12 19:10] anasofiapinho commented on #380
Just noting that students asked me for the links to their projects but they couldn't find them because there was no link to "Projects".

[2016-06-12 19:16] carpodaster commented on #380
@anasofiapinho we only display the link to `/projects` during the application period. It can be still be accessed as https://teams.railsgirlssummerofcode.org/projects

[2016-06-13 18:05] ramonh commented on #380
As discussed, I'll start taking a stab at this 😄

[2016-06-13 18:56] carpodaster commented on #380
Thank you @ramonh !

In an attempt to summarize what we've just talked about in the call:

* Needs links to dashboards (including the selection sub-app for reviewer-roles)
* Most of season-phase-specific conditionals  are in place to keep the single-line nav bar short. Some may be worth keeping (in order to remove cognitive load), others could be displayed all-year
* We need some kind of secondary

[2016-06-13 19:02] carpodaster opened #467 "CSV exports"
Hej @anasofiapinho and @mkalininait – you mentioned a CSV export feature today. Could you briefly scetch what kind of data you would need exported on a regular basis?

[2016-06-13 19:38] anasofiapinho commented on #467
Hey @carpodaster!
We usually need the contacts and some of profile data for several purposes, such as sending acceptance and rejection emails and afaik we will also need to send the boxes with the merchandise from the sponsors, so we will need their addresses and t-shirt size.

* Name
* Email
* Country
* City
* Address
* T-shirt size

@mkalininait, do you think we need any other field?

[2016-06-13 19:43] anasofiapinho commented on #467
Can you also export the project they are working on?

I was also wondering if we could export the contacts of the coaches and mentors associated with a team. We will probably have to send all of them emails...

[2016-06-13 19:48] carpodaster commented on #359
Hey @alicetragedy, I would like to close this in favor of making the corresponding projects' view in the orga namespace more complete. D'accord?

[2016-06-13 19:49] carpodaster commented on #366
If we add latitude / longitude fields to this we might even calculate the distance to a conference site. But this might be overdoing it?

[2016-06-13 20:05] carpodaster commented on #225
Hello @F3PiX – are you still working on this or do you have a branch that someone else can continue working on? The SoC starts in approx. two weeks and it would be nice to make the setup of a local teams app installation as easy as possible

[2016-06-13 21:05] ramonh commented on #380
Thank you for the summary @carpodaster!

[2016-06-14 07:53] alicetragedy commented on #359
@carpodaster not a problem for me 👍

[2016-06-14 07:53] #359 closed

[2016-06-14 12:29] mkalininait commented on #467
@carpodaster We used this table during the selection process: https://docs.google.com/spreadsheets/d/1bdqjSdLliThNWY3snsU4v_up1j0OP62E7CQcVGlHpOI/edit?usp=sharing
In order to get it, we had to pull emails from the DB, and then add other missing information manually. This was not super efficient.

Now I need the same information about coaches (names, emails, teams at the very least). Is it somethin

[2016-06-14 20:09] carpodaster commented on #467
It looks like we need three different exports:

1. Users
2. Teams (with mentors and coaches)
3. Projects?

All of this just for the current season (to start with).

Is it ok to have teams and users in separate CSV tables? You can join them with a little spreadsheet magic (disclaimer: I'm not good at wielding Excel/OpenOffice magic).

[2016-06-14 20:23] mkalininait commented on #467
@carpodaster Should be fine! We can try :) (I like casting magic in spreadsheets :) )

[2016-06-14 20:43] mkalininait opened #468 "Can't set Team Type back to `nil`"
Here: https://teams.railsgirlssummerofcode.org/orga/teams/%N%/edit

So basically once you made a mistake there is no way to fix it without console magic.

![screen shot 2016-06-14 at 22 25 22](https://cloud.githubusercontent.com/assets/1745735/16058989/5b07d702-3281-11e6-8b79-4e8b0ed37b6a.png)

[2016-06-14 21:40] #468 closed

[2016-06-14 21:53] mkalininait commented on #468
Works, thank you so much! @carpodaster

[2016-06-15 21:32] mkalininait commented on #467
@carpodaster Do you think it can be implemented this week or should I pull contacts from the DB this time again? (jftr: I'm absolutely fine with that too!)

[2016-06-16 06:54] carpodaster commented on #467
@mkalininait I'm on a long-distance train ride this Saturday so I can do it this week. If Saturday is not too late for you.

[2016-06-16 14:15] mkalininait commented on #467
@carpodaster It definitely works, thank you so much!

[2016-06-18 10:37] carpodaster commented on #467
Hey @mkalininait, there are some exports ready for grabs at https://teams.railsgirlssummerofcode.org/orga/exports – Teams#current containts student + coach info. Ping me if you need more data … I won't be able to get to it until tomorrow night though.

[2016-06-19 10:58] anikalindtner commented on #256
@michaelem and i will try to tackle this. would be helpful to have a data dump for that. @alicetragedy could you help on this?

[2016-06-19 12:35] michaelem commented on #256
I would put this in a rake task that could run once a day and checks all the teams, sends emails to those who did not put out an update. Do we already have any tasks that run on a schedule?

Stackoverflow says we should use this: https://elements.heroku.com/addons/scheduler
I have no idea how these things work in heroku, can someone help me with the scheduling part?

[2016-06-19 12:39] michaelem opened #469 "review email setup"
Since we will be adding more notification emails I thought it would be a good idea to review the mail setup. Can someone ( @alicetragedy ?) walk me trough the email setup?
My hunch is that we might be able to improve our delivery rates by adding SPF policies and so on. (And maybe start using a different from address with a domain that we have more easy access to.)

[2016-06-19 12:43] klappradla commented on #256
You can ping me once you're there, I've already used this add-on (it's quite simple).

[2016-06-19 17:56] alicetragedy commented on #256
@anikalindtner @michaelem I will do a new data dump and send it to you :) As far as I know we don't have any tasks that run on a schedule, but I think Carsten might be the most fitting person to answer this question.
Something else that comes to mind: if we want notifications to work for all participants, we probably have to make sure we have all of their email addresses stored + make email a requ

[2016-06-19 17:57] alicetragedy commented on #469
I think that's a great idea @michaelem. I don't have any insight into the email setup, but can maybe look over it with you if @carpodaster is busy. :)

[2016-06-19 18:02] carpodaster commented on #256
@michaelem we don't have any recurring tasks set up at the moment, no. But as @klappradla said, that's no problem.

[2016-06-19 18:04] carpodaster commented on #256
Haha, scratch that. _Of course_ we already have one set up. Just ping me with the rake command that needs to be added once the feature is merged into master.

[2016-06-19 18:15] carpodaster commented on #469
The Teams App sends mail as summer-of-code-team@railsgirls.com via Google Mail.

[2016-06-19 22:07] mkalininait commented on #467
@carpodaster Thank you so much!
I've tested the exports, all work except the users#for_rejection_letter (just to let you know in case you are not aware of it).
I think I will get coaches' emails from the Teams#current export. Is there any way to add coaches' names there?

[2016-06-20 07:17] carpodaster commented on #467
Thanks for the feedback, Maria. I haven't tested `#for_rejection_letter` but I assumed it wouldn't work any more: it's quite old, untested, it even has a comment that it probably breaks at a certain point. I just carried it over because I was too lazy to delete it. It's gone now.

I've added the coaches' names in a separate column.

[2016-06-20 19:04] #467 closed

[2016-06-20 19:05] carpodaster commented on #467
@anasofiapinho I've added the students' export with location + tshirt sizes.

[2016-06-20 19:13] anasofiapinho commented on #467
So awesome @carpodaster! Thank you! <3
This will really make our lives easier! \o/

[2016-06-23 21:33] mkalininait opened #472 "Suggest a conference feature"
Students can choose a conference from our list in their profile. However it's possible, that there is a cool local conference which we don't know about.

![screen shot 2016-06-23 at 23 11 45](https://cloud.githubusercontent.com/assets/1745735/16320648/32647eb2-3999-11e6-96f7-d536125f4926.png)

I think we should add a text field where a student can suggest a conference.
Something like "Here you can

[2016-06-25 00:16] anasofiapinho commented on #472
Are you saying that you would just have a text field and not the checklist nor the button? If that is the case, I agree with you @mkalininait. I like to make things simple and stupid in forms, even though it will be a bit harder for us to process the information afterwards. If this makes any sense, I would suggest we just put a link there to a web page/github issue that had a list of conferences w

[2016-06-25 08:51] carpodaster commented on #472
I'm not too familiar with the conference raffle logic, but I believe we need actual database records, referenced by an ID for it. I can imagine that having just a free-form text input makes things very tedious during conf raffle round 1 + 2

[2016-06-25 10:18] mkalininait commented on #472
@anasofiapinho @carpodaster I didn't actually mean to remove the dropdown. My suggestion was to add a text field *in addition* to the dropdown. Sorry, I probably didn't make it clear enough.

How I understand the current process: 1) we find interesting conferences around the world and in teams' locations; 2) we contact organizers and arrange diversity tickets and lightning talk spots (if possible)

[2016-06-25 11:20] anasofiapinho commented on #472
@mkalininait That is fine too. :) Like I said, I am up for removing the button because I takes away one step from the process.

Let me know if you want me to work on the database of the conferences, with all the fields of the database like @carpodaster spoke about or if there are any other changes.

[2016-06-25 19:56] mkalininait commented on #472
@anasofiapinho I'm not sure I understand you. Why would removing the button take one step from the process away? Could you explain please?
What this button does, it lets you choose yet another conference from the list for the conference raffle.

[2016-06-26 00:52] anasofiapinho commented on #472
Hey @mkalininait, I just didn't understand how it worked. I should have asked to try it before giving my opinion. Sorry for taking your time.

So, this means that there is a "block" containing the dropdown, the link "Remove" and the button "I want to add another conference". Every time you click on that button it will duplicate that block allowing people to add another conference or remove it if t

[2016-06-27 07:59] carpodaster commented on #472
`/conferences` already offers a link to create a new conference for admins. I would rather re-use that … with a bit of tidying up (ie. moving the hardcore conference editing into the orga-namespace).

We can add a `proposed`/`accepted`/`rejected` state-machine to conferences just like we have for projects. That would mean a conference created by an admin (from within the orga namespace) is automat

[2016-06-27 18:27] Althaire opened #473 "Conferences attended by alumni show up on new teams"
I just checked the team I am supervising this year and my conferences from last year as an attendee show up under the conferences section for them:
![screen shot 2016-06-27 at 20 22 00](https://cloud.githubusercontent.com/assets/5068494/16390894/11c6719c-3ca5-11e6-8019-335457233a7d.png)

I'm going to remove them from my profile to avoid any confusion for now.
_EDIT: don't know how to remove them,

[2016-06-27 18:29] carpodaster commented on #473
Thanks @Althaire for reporting this. Yes, that's a solid bug and actually occurs more often than we would think: luckily there are many alumni who stay loyal to the program and find themselves back in RGSoC in roles other than students 😉

[2016-06-28 07:53] anikalindtner commented on #472
@mkalininait I think having a simple text field that then creates a list of conferences for us, might be a good idea. Nothing too complicated to make it work for this year I'd say. Depends on who wants to take this on, though. I'd say: the goal is for the organizers to have a list at the end of the day of conferences that we can contact. That's also possible by them telling their supervisors and t

[2016-06-28 08:58] carpodaster commented on #472
@anikalindtner do you mean the conference feature? Can you elaborate on this a bit? This has some implications on currently open issues.

Other than that: I do have strong feelings against adding it to the `User` model. Yes, it is easy to add a db column, but in my book, suggesting a conference has nothing to do with a user. If we want to go for the least amount of work: why not just send an email

[2016-06-28 10:33] alicetragedy commented on #472
To answer your question @mkalininait, we do two raffles in the summer, that's why we have "conferences (1st round)" and "conferences (2nd round)". This means any conference added to the "1st round" will be visible for the students and will be a conference they can apply to for a free ticket.

I agree with @carpodaster on adding the conference to the `User` model. I don't think that just because it

[2016-06-28 10:42] michaelem commented on #469
Ok, if it's actually sending via gmail it should be fine for now.

[2016-06-28 10:42] #469 closed

[2016-06-28 10:50] carpodaster commented on #469
I've just checked with `dig txt railsgirls.com`: the domain has no SPF data. I don't know how much mail services encorce SPF settings these days, but in any event: we don't control the domain so it's not in our hands. Does anyone know who could add [SPF data to railsgirls.com's DNS](https://support.google.com/a/answer/178723?hl=en) ?

[2016-06-28 10:54] michaelem commented on #469
Yep, that was what I originally noticed: no SPF or dmarc.
It looks like the dns provided by linode.
It would help all email sent from the domain so there would be an advantage for the maintainers of the domain as well.

[2016-06-28 14:29] F3PiX opened #474 "Links to supervisor wiki"
Hi!
I was checking the supervisor's dashboard. The dashboard has 2 links to Supervisor's documentation: the guide and the wike. The links are currently pointing to two non-existent github repo's.
Are there new url's for these guides?
https://github.com/rails-girls-summer-of-code/supervisors/wiki
https://github.com/rails-girls-summer-of-code/supervisors

[2016-06-28 21:31] carpodaster commented on #474
Hey Maud, thanks for filing that issue. The repos do exists but only supervisors have access to it.

[2016-06-28 21:31] #474 closed

[2016-06-28 22:36] mkalininait commented on #472
Thanks for your input @anikalindtner @alicetragedy

You won @carpodaster :) We can make a proper feature. It looks to me though, that it won't be ready for use in this season. WDYT?
If this is the case, would it be possible to ask supervisors ask students about preferred conferences - as a solution for this year? @anikalindtner I can provide a google form or a spreadsheet for that.

[2016-06-29 11:25] F3PiX opened #476 "Mailer content confuses roles"
When I assign myself as a Supervisor, a confirmation mail is sent by the mailer. In the body of the mail it says correctly that I am a Supervisor, but in the second part it adresses me as a coach.
This part of the mail is supposed to show only if role == "coach".
I don't see why it is showing up with the supervisor role as well. Anybody? Could it be misplaced slim syntax?

Mail: "You have been add

[2016-06-29 21:02] mkalininait opened #477 "More CSV exports (applications)"
Hi @carpodaster !
Here is a small follow-up to [Issue #467](https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/467).
Would it be possible for you to add export of the 'applications' table to csv?
I'm collecting statistics on applications 2016. I think this export will be useful next years as well.

Thanks!

[2016-06-30 08:47] michaelem commented on #256
Now that #475 is merged we need configure heroku to run teams:notify_missing_log_updates once per day, I'd say at 23:59 utc if possible?

[2016-06-30 16:06] F3PiX commented on #474
👍

[2016-07-01 20:08] carpodaster commented on #477
@mkalininait will deal with it tomorrow!

[2016-07-01 21:43] mkalininait commented on #472
FYI: I'm going to send an email to students and ask them to suggest a conference for this year.
But may be we need a proper feature for next years.

[2016-07-02 08:10] carpodaster commented on #476
Hello @F3PiX, thanks for reporting this. The email I got had the same error. I just checked the code and couldn't find any apparent errors. I also cannot reproduce it in my local dev setup.

My initial idea was what the roles have mistakingly been added as coach-roles first (which would trigger the after create callback) and then later edited to supervisor or mentor. That's impossible, though, as

[2016-07-02 08:53] carpodaster opened #479 "Activity Stream: Proxy http:// images through camo"
Currently images embedded / referenced to the activity stream ("minilog" feature) that do not use the https protocol scheme cause browsers to display a mixed content warning.

It's more of a nuisance than a real security threat of course, but it still doesn't feel right.

There is a service called [camo](https://github.com/atmos/camo) that proxies insecure assets through a TLS connection. It has t

[2016-07-02 09:16] carpodaster commented on #256
<img width="772" alt="bildschirmfoto 2016-07-02 um 11 14 53" src="https://cloud.githubusercontent.com/assets/164400/16539527/43afa45e-4046-11e6-8c78-9ddc9c5ee9a2.png">

rake task is scheduled now. 23:30 is the closest I can get to 23:59 ;)

[2016-07-02 09:18] carpodaster commented on #477
@mkalininait the exporter is online now. Ping me if you need additional columns or close this issue if it's all good ☀️

[2016-07-02 10:56] F3PiX commented on #476
By "the email you got" you mean the *real* email you received to confirm your *real* mentorship? Bummer. I hoped it only was a Factory-problem. Anyway, after your commit, the issue is still there when I create user seeds with FactoryGirl.

[2016-07-02 11:28] F3PiX commented on #476
Yeah, I hate Slim. I think it was an indentation problem.

[2016-07-02 19:54] #476 closed

[2016-07-05 09:50] mkalininait opened #482 "Remove conferences 2015 from the User profile edit form"
User profile -> Edit

![screen shot 2016-07-05 at 12 48 27](https://cloud.githubusercontent.com/assets/1745735/16580826/f84fc50a-42ae-11e6-885c-bec4e66ccf21.png)

I see conferences from 2015 in the dropdown. Can we show only this year conferences or upcoming conferences?

[2016-07-05 10:02] F3PiX commented on #482
See discussion in #473

[2016-07-05 11:37] mkalininait commented on #482
@F3PiX I've seen it, thanks. I seems to me that this is a different bug. #473 is about conferences 2015 see till displaying for the supervisor who was a student, whereas this issue is about the possibility to select a 2015 conference on the user profile edit form.

[2016-07-05 12:35] F3PiX commented on #482
AHA you are riiiiiight. Sorry

[2016-07-05 15:58] anasofiapinho opened #484 "Remove the database column and all references to bank account info"
This year we don't have the bank account info on the students profile so it's better we remove the database column and all references to bank account info (words by @carpodaster), so that we don't get the "Bank info not filled out" note.

[2016-07-05 19:15] mkalininait commented on #477
@carpodaster I've looked through the resulting csv, looks great, thank you!
Would it be possible to add data from the additional form there, WDYT? Could be handy to retrieve locations, coaching companies, flags.

[2016-07-05 20:08] F3PiX commented on #253
@anikalindtner This is solved it, isn't it? Shall we close?

[2016-07-06 06:45] anikalindtner commented on #253
@F3PiX sure! <3

[2016-07-06 06:45] #253 closed

[2016-07-06 06:48] anikalindtner opened #485 "Only show selected teams in the drop down menu"
Hey all, I've recently added some members to teams and it's really confusing and hard, because we have a seemingly endless list of teams to choose from - not just this year's teams, but also teams from last year and teams who applied but didn't get selected:

![screen shot 2016-07-06 at 08 47 22](https://cloud.githubusercontent.com/assets/1711357/16609690/51eeb8f8-4356-11e6-8fd0-0ed7f6a5ac60.png)

[2016-07-06 07:26] carpodaster commented on #485
It's a valid point! Problem: we need to make the teams list for the select box Season phase-aware.

To get it fixed fast, I suggest we differentiate between "after rejection letters have been sent and coding phase has not yet ended" and "rest of the season" only. In the former case: feed the select box selected teams only.

[2016-07-06 07:38] carpodaster commented on #477
@mkalininait I'll look into it tonight

[2016-07-06 09:05] izuroxx commented on #484
@carpodaster looking into this one, if that's ok :)

[2016-07-06 09:11] izuroxx commented on #455
@carpodaster while looking at this one, I've noticed that new conference saves without filling the tickets value - but it brakes conference/conferences show  (tickets_left method). would you like the tickets field to be required/ with default tickets value set to 0? :)

[2016-07-06 09:13] ramonh commented on #455
0 and required makes sense to me, thank you @izuroxx!

[2016-07-06 09:18] carpodaster commented on #455
Requiring it for new records makes perfect sense, yeah. As for the default value, I'm not so sure about that – mostly because it could obfuscate the presence validation in cases were entering a ticket number was simply forgotten.

The buggy show view for inconsistent records could probably be fixed by calling `to_i` on the the tickets value in the view template. Try entering `nil.to_i`  in `irb` 😉

[2016-07-06 09:21] ramonh commented on #455
Did not know that, cool!

[2016-07-06 10:43] agnik5 commented on #455
I could continue working on this issue, if it's ok for you.

[2016-07-06 11:26] agnik5 commented on #462
@carpodaster This is the second issue I'm thinking of working on if it fits you.

[2016-07-06 19:23] #255 closed

[2016-07-06 20:10] The-Compiler commented on #255
Whoa, awesome! :sparkles:

Planned to open an issue asking for this today, and suddenly I notice it's there :laughing:

[2016-07-06 20:36] carpodaster commented on #477
@mkalininait I've added a couple more fields. Please check if you need more :)

[2016-07-06 21:20] carpodaster commented on #346
I've started working on this now (because I desperately want to [comment on status updates](https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/263)), but I'm struggling with the best way to migrate existing data – mainly because we recently had the issue that older migrations didn't apply anymore. I'm hesitant about adding data transformation loops referencing actual Rails models (wh

[2016-07-06 21:33] carpodaster commented on #225
Done thanks to the amazing work of @F3PiX !

[2016-07-06 21:33] #225 closed

[2016-07-06 22:11] F3PiX commented on #485
Cool, I will have a look.

[2016-07-06 22:58] michaelem commented on #346
What I usually do in that case is just define the minimal required model class inside the migration. That way you can still use ActiveRecord in the migration without running the risk of the class not being there at some point down the line.
It also does not add a lot of complexity since usually its just an empty Subclass of ActiveRecord::Base with maybe one belongs_to statement (whatever you need

[2016-07-07 08:43] klappradla commented on #346
Yes, @michaelem's approach is a classic here *(see for instance [this blog post](http://railsguides.net/change-data-in-migrations-like-a-boss/) on how it can look like)*. A shorter alternative is to just wrap the data transformation part in a `begin`- `rescue` block - does the job as well.

A wholly different solution: use temporary rake tasks *(see for instance [this blog post](https://robots.tho

[2016-07-07 13:10] agnik5 commented on #455
@carpodaster I guess I found another thing to repair: I was able to add a conference with "Starts on" and "Ends on" dates like: 20 Jul 16 - 07 Jul 16. The form shouldn't permit user to add such dates and should show error message. Am I right?

[2016-07-07 13:17] agnik5 commented on #455
@carpodaster And after switching to season phase "Coding summer" it's possible to add a conference which took part in a period before. Though I'm not sure if I'm switching the right way.

[2016-07-07 14:40] #484 closed

[2016-07-07 14:48] carpodaster commented on #346
@klappradla @michaelem ¡muchas gracias! Those are very valuable suggestions, and the blog post looks very intriguing!

I've always gone for the temp. rake task approach in my projects (a `:single_run` namespace). It's brittle when someone didn't get the memo run task X after migration Y, but the impact isn't big since everyone is working with anonymiized dev dumps anyway; no one really migrates fr

[2016-07-07 15:17] F3PiX commented on #455
AFAIK, _adding_ a conference is not season-phase dependent in the current set-up. Not sure if it should be.

[2016-07-07 19:23] F3PiX commented on #485
Where does this select-box live? Is it somewhere in orga(name)space?

[2016-07-08 10:08] anikalindtner opened #489 "Update Notification message for logs"
Please include this sentence:

"If you are on national holidays that you've cleared with your supervisors, please just ignore this and enjoy your day(s) off!"

@michaelem do you have time to do that quickly?

[2016-07-08 11:07] F3PiX opened #491 "'Real time' in season switch is broken"
Issue: When switching the season switch to 'real time', we timetravel into 2015. That is definitively not realtime
I checked the season switch because of @agnik5 's comment on #455 (thanks @agnik5)

This only happens in dev_env.

I think what happened is:
- In the season switch, we don't set the dates for real time, but we [destroy](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/ma

[2016-07-08 19:17] mkalininait commented on #477
@carpodaster Looks awesome, thank you!! 👍

[2016-07-08 19:17] #477 closed

[2016-07-09 07:38] carpodaster commented on #491
@F3PiX I'm not sure if I can reproduce it correctly. I can confirm that immediately after the current season is destroyed and we are routed back to orga/seasons#index, the 2016 season is gone. However, the first call to `current_season` anywhere will automatically re-created it.

I've tried the following change locally but can you apply it on your end and see if it fixes things? Thanks! 😄

[code]

[2016-07-09 07:40] carpodaster commented on #256
@anikalindtner @michaelem can this be closed?

[2016-07-09 07:45] carpodaster commented on #16
Per-team filter is in place. Omitting project filter: it's very unlikely that two teams are working on the same project and projects are listed in the team's name.

[2016-07-09 07:45] #16 closed

[2016-07-09 07:49] carpodaster commented on #201
The impact is not as big anymore since we've reduced the read/write access to the two applicants only. However, a simple comparison of the `updated_at` timestamp with a warning in case a change has been by someone else would be nice.

[2016-07-09 07:50] carpodaster commented on #200
Possible conflict with #201 when comparing updated_at timestamps?

[2016-07-09 08:22] carpodaster commented on #462
@agnik5 sure! Please also check #60 and please ping @katrin-k for design implementations (I'm closing #60 – let's continue the discussion here).

[2016-07-09 08:22] carpodaster commented on #60
Continued in #462

[2016-07-09 08:22] #60 closed

[2016-07-09 08:44] carpodaster commented on #455
@izuroxx @agnik5 Could you check the other missing validations that led to the @roxxx33 report of a buggy view? We can close this issue then.

As for the additional bugs regarding the conference area: could you please create a new issue?

[2016-07-09 09:14] F3PiX commented on #491
@carpodaster Thanks!
This solves one problem: now in the season's switch view, we DO see the current season. That is far better.

There still is a problem with the seeds. After switching to another phase and switching back to Real Time, the table in the Teams view is still empty. I *think* because there are no teams in the seeds with the proper (= new) season id.  The teams in the seeds are set on

[2016-07-09 09:45] carpodaster commented on #491
Ooooooh, that is absolutely right! When we destroy the season, we lose all references to it. So maybe just deleting it isn't the best idea after all. I think to preserve the teams, projects, (…) for a given (ie. current) season, we really should update the current season like in the `fake_*_phase` methods.

[2016-07-09 10:13] F3PiX commented on #491
💃
I'll fix it.

[2016-07-11 11:58] agnik5 commented on #455
@carpodaster ok!

[2016-07-11 12:08] #491 closed

[2016-07-11 12:49] izuroxx commented on #413
hi @carpodaster! is this what you have in mind? (github_handle taken out of the params, field disabled; validation on email)
![gh_greyedout_email_validation](https://cloud.githubusercontent.com/assets/14924179/16730923/c6e5ebae-4775-11e6-81f2-9aba53197636.jpg)

[2016-07-11 16:38] carpodaster commented on #413
Hey @izuroxx. Yes, looks good! The email validation should only kick it when _updating_ the record though (for reasons stated above). But we can discuss / check on that in a PR.

[2016-07-12 12:12] F3PiX commented on #485
I will do the quick fix first. Then again, the workflow here looks a bit cumbersome to me for the beloved orga's. :-) Maybe look into this for a future Orga Dashboard?

[2016-07-12 15:14] F3PiX commented on #482
I made it up to you @mkalininait ;-)

[2016-07-12 20:29] carpodaster commented on #489
Oh, it's already in `master`– cloooosing tiiime! 🎵

[2016-07-12 20:29] #489 closed

[2016-07-12 20:37] carpodaster commented on #482
@mkalininait This was indeed fixed by @F3PiX – is it corrent that we don't have any conferences for 2016 in the Teams App yet?

[2016-07-13 07:10] izuroxx commented on #413
@carpodaster there's one more thing :) - while finding all occurrences of Github_handle fields, I also found them in /teams/:id/edit, and also editable - you can change team members through changing the g_h field - would you like those fields to be disabled, too?

[2016-07-13 13:19] carpodaster commented on #256
Closing. I believe this is done. Please re-open if I'm mistaken.

[2016-07-13 13:19] #256 closed

[2016-07-13 17:10] mkalininait commented on #482
@carpodaster Yes, this is correct, we don't have conferences 2016 yet.
@F3PiX Thank you!
I think we can close this issue. If something doesn't work with conferences 2016 (I will test once we have them), we will make another issue.

[2016-07-13 17:10] #482 closed

[2016-07-13 17:18] mkalininait commented on #473
@Althaire I've removed those conferences 2015 from your profile. Hope it is ok with you :)

@carpodaster @F3PiX I'm not sure, can we close this issue? Was is resolved with this PR https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/494 ? AFAIU, we still need to remove conferences 2015 manually in cases like this one, right?

[2016-07-13 17:20] carpodaster commented on #473
@mkalininait no, it's not fixed. I was planning to get to it tonight or tomorrow :)

[2016-07-13 17:53] mkalininait commented on #473
@carpodaster Ah, I see.
I guess I spoiled a good case by deleting those conferences from @Althaire 's profile then /facepalm/ Sorry :(

[2016-07-13 18:03] mkalininait opened #497 "Add tags to projects export"
https://teams.railsgirlssummerofcode.org/orga/exports
Exporters::Projects#current
Add projects' tags to the export.

Not urgent.

[2016-07-13 19:03] #473 closed

[2016-07-13 19:19] #497 closed

[2016-07-13 21:22] carpodaster opened #499 "Refactor season switch into a separate class"
The season switch methods [add some complexity](https://codeclimate.com/github/rails-girls-summer-of-code/rgsoc-teams/Season?from_sha=17c93b66&to_sha=1b9c7d0b) to the `Season` class according to CodeClimate.

There are three steps:
- [ ] Extract default dates for a newly created season into some form of constant
- [ ] Re-use these constant default values in `set_application_dates` (where applicabl

[2016-07-13 21:48] F3PiX commented on #499
Yes, I saw the code climate score earlier this week and it made me very sad ;-) I would love to improve it.

[2016-07-14 08:00] carpodaster commented on #499
Sure Maud!

[2016-07-14 09:55] #346 closed

[2016-07-15 02:20] inescoelho opened #502 "Past Teams"
- [ ] It would be nice if we were able to browse past teams' activity. Some of this information is still available when people is connected with past teams (like me, since I was a student last year and now I'm a supervisor).
- [x] Moreover, the team profile presents the starting date and finishing date of the team. However, this information only displays day and month. Now that we are in the 4th e

[2016-07-15 07:32] F3PiX commented on #502
I like the idea of browsing in the history. I would prefer to set up the design for the majority of users, for who the current year matters only. And thus, adding the year 2016 is a bit of noise. Maybe we can add something like a select box to filter activities by year and/or previous team names and what not?

[2016-07-15 12:48] inescoelho commented on #502
Hi @F3PiX! When you have someone involved in several teams like [this](https://teams.railsgirlssummerofcode.org/users/474), it's kinda hard to figure out where those teams come from. After opening each profile, you have to scroll down to their activity to figure out from each edition they are and it would be nice to have something more immediate.
The browsing on history feature could be useful to

[2016-07-15 14:06] ramonh commented on #413
@izuroxx I think these should be left as editable so that students for example can add their team members. I hope I understood correctly

[2016-07-15 14:36] #479 closed

[2016-07-15 14:47] carpodaster commented on #479
omg works flawlessly: https://teams.railsgirlssummerofcode.org/status_updates/1623-day-10-upcoming-blog-post-d  😄

[2016-07-15 14:49] alicetragedy commented on #479
@carpodaster another day, another (aka: the same old) gif.

![css](https://cloud.githubusercontent.com/assets/3143348/16878237/14cc8010-4aac-11e6-81c7-144a26de37d6.gif)

[2016-07-15 14:52] carpodaster commented on #479
Yes, yes 😆  - but that's my Baustelle 😉   The image is loaded from https://rgsoc-teams-camo.herokuapp.com - it originally referenced imgur.com and is now transparently proxied.

[2016-07-15 15:05] agnik5 opened #503 "Conferences - small improvements for adding new"
- [x] 1/ When trying to add a conference without its name, conference is not being added, but the view is broken. I guess there should be for example some alert like 'fill in the name' or a view informing that a conference haven't been added with "Back to index" option.
  ![screenshot from 2016-07-15 16-00-16](https://cloud.githubusercontent.com/assets/12581810/16878048/48267e62-4aab-11e6-9587-5cc

[2016-07-15 15:28] agnik5 opened #504 "Refactoring of styling - global.sass"
I think the file `app/assets/stylesheets/global.sass` may be reconsidered as global properties got mixed with those applying to certain elements/files.
Nothing urgent, but a little clarification may be helpful for working with stylesheets files.

[2016-07-15 20:06] F3PiX commented on #479
Aaaah no worries. Modern culture values image over text :-)

[2016-07-15 21:39] F3PiX commented on #502
Haha, great profile page.
I see what you mean about adding the year to the start and end date on the Team's profile page. I do think that is a good idea.
And sure, browsing the history in one way or another can be useful. I am not sure if the best way is to add a filter to the teams index page. I think the community page is a better place for that? There is not much room for an extra column though

[2016-07-15 21:43] F3PiX commented on #485
O sorry. Do we have a policy that only the opener of the issue can close? Or can I close this when it is merged.

[2016-07-15 21:53] F3PiX commented on #413
I think Ramon is right, as far as teams in current season are concerned. Then again, I can edit _everything_ in my team from _last_ year. Maybe we should 'freeze' team info from previous seasons. Or is that a problem, @anikalindtner @carpodaster ?

[2016-07-18 07:53] carpodaster commented on #502
Hey @inescoelho. I agree that it would be nice to make past teams more visible, but I also agree with @F3PiX that our main focus is always on the current season and it's therefore not super-high on our priority list. Would you maybe like to work on it yourself and send a PR? 😄

You raise a valid point with the date format: that should be fixed. I took the liberty of editing your issue to create a

[2016-07-18 08:14] carpodaster commented on #485
We do not have this set in stone, no. I usually ping the author of the issue via a comment when I think I fixed something and assign it back to them (only possible for project collaborators), but I do close issues myself if there hasn't been a response in some time. The original author will get a notification anyway and can re-open if necessary.

[2016-07-18 08:14] #485 closed

[2016-07-18 16:41] F3PiX commented on #379
Good one, I will add that. And very glad that you will take care of the styling 🍹

[2016-07-18 17:01] carpodaster opened #506 "Error pages should indicate the type of error"
The page should also state "500 internal server error" or "404 not found" in addition to the cat cuties.

[2016-07-18 22:55] carpodaster commented on #503
Hey @agnik5, 👍 to everything you said 😄 . The numbered items fall all nicely into place as a priority list. I think no. 1 should _really_ be fixed. The `save!`  call raises an exception if the record is invalid. This would have to be changed to a normal `save` (w/o the bang). The form has to be re-rendered when there was an error and redirected in case everything went well.

[2016-07-20 11:13] katrin-k commented on #504
I also had a few confusions when browsing through the files.  Since I'm currently digging through `/app`anyways and trying to solve the most obvious mobile issues I might as well work on the sass files.

[2016-07-20 16:37] F3PiX commented on #379
I need some help, please.
First option is a reset link, that is disabled until a search is committed. This works, but needs tender love and caring in the css.
![active link](https://cloud.githubusercontent.com/assets/6314687/16994596/51628f42-4ea8-11e6-8f02-83696e3727f7.png)
![inactive link](https://cloud.githubusercontent.com/assets/6314687/16994607/5f0fe96e-4ea8-11e6-8c3c-8d266ce72ff5.png)

Seco

[2016-07-21 07:27] katrin-k commented on #379
I'd say the first option is fine so far.
I can take over CSS for the link.

My JS is also not good enough yet to take over option 2. I had a similar problem on a previous website and from what I learned when talking about it with a colleague was that loading the table with AJAX would be the solution. (We didn't implement it back then, so sadly I'm still missing the knowledge. Ajax is on my learnin

[2016-07-21 10:13] F3PiX commented on #379
That is great! And yes, if we could have an ajax wizzard to make the page only reload the table and not the whole page, I am sure it will work. I'll move the simple link to a PR. See you there!

[2016-07-23 08:34] #454 closed

[2016-07-25 09:54] Althaire opened #512 "Daily log reminder even when daily log is present"
My team fills out their daily logs on their blog and it gets fed into the teams app. I can read it on the same day it's "due" on the teams app, but they get an email reminder every day nonetheless.

The easy solution would be that they just fill it out on the teams app. I think it would be a huge shame that they abandon their blog (which they can continue to use even after the summer to track thei

[2016-07-25 10:06] anikalindtner commented on #512
@Althaire the thing is that the feed for the blog isn't as quickly updated and recognized by the app as the log entries directly in the app, so the bot thinks there is nothing there.

(@michaelem might have some more technical details here)

so if they decide to do the daily logs on their blog, they have to live with getting a notification every day. one of the only thing that we ask students is t

[2016-07-25 10:14] F3PiX commented on #512
It may be that the scope `without_recent_log_update` doesn't take the blog into consideration right now. If we can solve this by adding the `kind: feed entry` to the scope, it would be a small adjustment.
@michaelem WDYT?

[2016-07-25 10:19] carpodaster commented on #512
Not in front of a computer right now but I believe this can be fixed with minimal effort: I think blog updates will be created as `Activity` records once fetched. The reminder logic would probably only have to take activities of `kind` feed (don't know the exact value) into account as well.

Von unterwegs gesendet.

[2016-07-25 10:20] Althaire commented on #512
@anikalindtner I know, sorry to bother with this issue 😅  I was going to say but I didn't want to make the comment too long: they don't mind the emails. It's more of a "by the way, this happens" more than "urgent help needed!!" (Also, I think that they were worried that the emails might leave some sort of mark as if they weren't doing the logs, so they checked up on this with me)

No problem at al

[2016-07-25 12:42] F3PiX commented on #379
The reset button is added in #379.
Still open: the search for team names (and maybe other search criteria).

[2016-07-26 14:43] agnik5 commented on #462
@carpodaster @ramonh @katrin-k Sorry for not commenting in this thread for some time. Now I'm back to this issue. Could you please give me more details about your requirements. How is this issue related to #136?

[2016-07-26 15:13] agnik5 commented on #462
@carpodaster @ramonh @katrin-k My another question arises from differences between #462 and closed #60. In the first case it's a matter - as I understood - of a place, where student will be able to find current info on what's going on in RGSoC. The latter concerns roles other than student's.

[2016-07-26 18:10] katrin-k commented on #462
I just realize, the reference to #60 is a bit wrong. (Especially the name is misleading. Since I did that back then: Sorry!).
So: Issue #60 started what is now the supervisor dashboard => implemented via #109.
And yes, @agnik5 you're totally right. The latter concerns other roles.

Issue #136: @ramonh This is about removing the data from 2015 and moving it into its own place, isn't it? If yes, thi

[2016-07-26 18:42] F3PiX commented on #503
There is something strange with the date format as well....
![schermafbeelding 2016-07-26 om 16 20 22](https://cloud.githubusercontent.com/assets/6314687/17150852/5a672bb6-5371-11e6-84b7-578a6f05f20a.png)

[2016-07-27 14:06] izuroxx commented on #437
@ramonh may I look also at this one?

[2016-07-27 14:08] ramonh commented on #437
Hi @izuroxx, thank you! Please do go for it :)

[2016-07-28 12:44] agnik5 commented on #462
@katrin-k Thank you very much for clarification, it helped me a lot.

I'm thinking about the features right now. What came to my mind immediately is:

- I'm not sure, if "Help" section will be a proper place for this features. Especially as it's not very visible now and student may not catch the idea to look for instructions there. "Help" might become a part of such dashboard.
- As you wish to mak

[2016-07-28 13:20] ramonh commented on #462
@katrin-k Sorry I'm a little confused, why would that issue involve removing data from 2015? If I understood correctly it proposes looking through the app for more roles' namespaces. For example, the `supervisor` one has been added in the meantime.

@agnik5 I think Katrin meant that it would be good to have a dashboard for being both a supervisor and an organizer. Maybe two dasbhoards on the bar?

[2016-07-28 14:11] agnik5 commented on #462
@katrin-k @ramonh If I understood you right, the task contains 3 components:
- building a students dashboard, where they will be able to access info like instructions and announcements
- modifying an orga dashboard adding option of adding etc. new content for students
- find a solution, thanks to which a person, who is orga and supervisor at the same time, could see all the content they're authori

[2016-07-28 14:18] F3PiX commented on #463
I'll gladly take this one. Best to wait until  #512 is finished? To avoid complications.

[2016-07-28 19:40] F3PiX commented on #512
Hi Pilar! Just checking.
1) In your Supervisor Dashboard, the blogposts should be listed as updates under 'Activity'. Are they?
![schermafbeelding 2016-07-28 om 21 37 53](https://cloud.githubusercontent.com/assets/6314687/17226821/9d2d958e-550b-11e6-85a0-a6ec603fe3ba.png)

[2016-07-29 08:24] F3PiX commented on #462
@agnik5 Did you see the supervisor's dashboard? (Team Cheesy added that last year :-) ) It might help clearing things up. I thought the student dashboard is meant to be something like that, but don't take my word for it, ask your mentor :-)

AFAIK orga's have full access to all the namespaces. So orga's would need access to write to all the student's dashboards at the same time, while one student

[2016-07-29 12:27] ramonh commented on #462
Good points being discussed here!

A question is: Would/should organizers be able to write different 'notices' for different teams, or would it be more of a program-wide announcement system? If I understood correctly, there seems to be a consensus that this would be overkill.

Having said that, @F3PiX raises a good point. Since they have access to everything, an organizer could just write an entry

[2016-07-29 12:29] ramonh commented on #462
Also, I like the idea of a Help section a lot, @agnik5! Maybe a link that says "Helpful Links" or something like that. What do you think?

I think this would be good as a separate link, maybe above the list of announcement entries.

[2016-07-29 14:20] agnik5 commented on #462
@ramonh And another point is that if it's only about linking general info / instructions / announcements /not specific to particular teams/, will there be a need to block it from access of supervisors.

As for the 'Help" section, I didn't mean I'm against it, but at the moment it's linked at the bottom of the site with small font. So it's not so easy to find ;) I agree that it would be nice to hav

[2016-07-29 14:23] ramonh commented on #462
I'm glad you agree, @agnik5!

If it's unspecific to teams, I don't think there would be a need to block supervisors from it

[2016-07-31 19:14] #512 closed

[2016-07-31 21:34] F3PiX commented on #379
Search for team names is added in #509.

[2016-07-31 21:34] #379 closed

[2016-08-01 17:41] agnik5 commented on #462
I guess a nice thing would be a preview function for team status updates.

[2016-08-02 07:36] ramonh commented on #462
@agnik5 You mean the daily logs, right? If so, that's a good idea!

[2016-08-02 07:44] katrin-k commented on #462
hey y'all. sorry for being so quiet. I was away for a long weekend.

Regarding the namespace-stuff: Sorry for the confusion. Apparently I completely misunderstood this issue. :dizzy_face:

As to the basic purpose: Yeah, I also understood it as being "merely" an announcement/helpful links section. Including the current Help page has a big +1 from me.

As to the other ideas + questions:
- There's no

[2016-08-02 08:00] F3PiX commented on #462
* Not sure if it is a good idea that the supervisor has full access to the student's dashboard. I would say: the dashboard is a private place for the students. I can imagine that some of the info provided by the orga's, shows up on the supervisor dashboard too.
For shared info, like links to instructions, it would be extra super important to pay attention to the _naming_ of instructions etc.

* Pr

[2016-08-02 10:06] agnik5 commented on #462
@katrin-k Yes, I meant daily logs indeed, I wrote 'status updates' after the naming used for this in app. It would be helpful to check how a log looks after adding markdown /yes @F3PiX :)/ etc. I was also thinking of the option to save a draft. It my be useful for situations when teammates don't have the opportunity to prepare a log together. For example one teammate writes about her day, saves th

[2016-08-02 10:31] izuroxx commented on #437
@ramonh i wanted to make something to start a discussion, My current attempts look like this
![preview1](https://cloud.githubusercontent.com/assets/14924179/17325444/e7893cb6-58ab-11e6-81f5-1e4079fe64ca.png)
![preview2](https://cloud.githubusercontent.com/assets/14924179/17325450/eeb62422-58ab-11e6-86e4-ccf5a56bee7a.png)
preview renders above the form after clicking on a preview button. I wanted t

[2016-08-02 10:56] ramonh commented on #437
Hey nice one @izuroxx! Looks great so far.

Hm, I'd actually say that having it appear below would be better. Maybe even side by side?

Actually, the way Github does it is pretty good too, with a tab-based approach. I'd say this would be best.

What do you think?

[2016-08-02 11:21] izuroxx commented on #437
the tab-based one is cool, it crossed my mind while writing the comment earlier :) i have to take a close look at this

[2016-08-02 11:22] ramonh commented on #437
Cool, glad you agree! Let me know if I can help.

[2016-08-02 11:59] F3PiX commented on #462
I don't want to add to the confusion ;-) Sorry.
Last year we built the supervisor dashboard in an agile/iterative way. So we started with one basic feature, I think it was just the links to the supervisor's own teams. And added another feature in small steps/iterations, step by step. You should ask your mentors and coaches if they agree on working that way, if you would be interested.
Also, we did

[2016-08-02 13:37] agnik5 commented on #462
Nice idea, I'll ask about it.
I also did a small survey in Slack within students, hope to get some feedback.

[2016-08-03 21:23] mkalininait opened #517 "Conference functionality suggestions"
I'm working on everything related to conferences this year, and I'd like to suggest a couple of changes in the Teams app.

1) Move the whole conference block from student's page to team's page. Reasoning: we strongly recommend our students to attend a conference (which is part of the RGSoC program) as a team. First of all, when they fill out their preferences on their team's page, that raises thei

[2016-08-04 10:06] ramonh commented on #462
A small breakdown that this would involve (please feel free to suggest tweaks!):

- [ ] Adding the student's dashboard page and add routing
- [ ] Adding the link (or form) to add a daily log
- [ ] Adding a "Help" link or a set of important links
- [ ] Adding a list of announcements
- [ ] Giving organizers a place to write said announcements

[2016-08-04 14:40] agnik5 commented on #462
The first two items are done.
![screenshot from 2016-08-04 16-39-42](https://cloud.githubusercontent.com/assets/12581810/17406021/16f2b556-5a62-11e6-86d0-6feeadfac173.png)

[2016-08-04 14:41] ramonh commented on #462
Awesome @agnik5 ! Feel free to tick the boxes as you go

[2016-08-04 14:43] agnik5 commented on #462
Under the "Status Updates" there are the same things as were before, just the link is moved from main menu to dashboard. We can
- leave it as it is or
- treat the "Status Updates" as a list of posted daily logs and then add a form for creating a new log to the Dashboard
or...?

[2016-08-04 14:54] agnik5 commented on #462
As for
3- Adding a "Help" link or a set of important links
4- Adding a list of announcements

I think that:

ad. 3: the full list of links should be in the separate view, but in the dashboard there can be some most important or latest added
ad. 4: as above, but here there **should** be sth like feed of the newest / current announcements /where deadline didn't passed/

[2016-08-08 09:37] carpodaster commented on #463
Hey @F3PiX, did you link the correct issue? #512 seems unrelated.

[2016-08-08 09:41] F3PiX commented on #463
thnx, It is #503.

[2016-08-08 18:02] ramonh commented on #517
I like these points a lot, @mkalininait and agree strongly with the first. I think choosing a conference as a team makes a lot of sense.

[2016-08-08 18:02] ramonh commented on #517
About the third point though, just to make sure, you mean adding this comment field to the feature from point 2, right?

[2016-08-09 07:22] katrin-k commented on #504
I'll close this issue. The PR #510 is not yet reviewed/merged, but any remarks can go there, I suppose.

[2016-08-09 07:22] #504 closed

[2016-08-09 07:32] katrin-k commented on #455
I guess, this can be closed. Additional bugs are issued in #503. Everything else is done and merged.

[2016-08-09 07:32] #455 closed

[2016-08-09 10:23] katrin-k commented on #506
Additionally, I'll add a `home` link to all error pages.

[2016-08-09 12:44] katrin-k commented on #352
@alicetragedy can you plz check if this issue can be closed?

[2016-08-09 22:44] alicetragedy commented on #352
@katrin-k the glitch is definitely not there anymore (thank you for fixing!) but there are still some things that aren't optimal: for example, the menu with buttons under the team name could be changed, so that the buttons aren't strangely stacked together.
Maybe I can go through all that needs improving and add that to my original comment as a checklist, so that we can monitor what has been done

[2016-08-10 10:23] katrin-k commented on #352
@alicetragedy I was pondering over this, too… Looking at several pages, I have a strong urge to doublecheck and, if appropriate, overwork quite a few things, e.g. button/color patterns (including those button groups), the way forms are styled, all those tables that overflow in mobile views (Anika already made a suggestion to style them in a more appealing way) … I also have a few ideas inspired by

[2016-08-10 10:23] #352 closed

[2016-08-10 12:27] katrin-k opened #524 "Check + improve button styles"
As mentioned by @alicetragedy in #352, the button group thingy on team/show is a bit unfortunate. Also, I found the button styles are not always used consistently (e.g. "submit a project" is grey, whereas "new team" etc. is blue). Or for projects/edit, the "Cancel" button is missing.

I'll go through the pages and adjust those.
In the process I might also come up with a proposal for new colors.

[2016-08-10 13:40] agnik5 commented on #462
- [x]  Adding the student's dashboard page and add routing
- [x]  Adding the link (or form) to add a daily log
- [x]  Adding a "Help" link or a set of important links
- [ ]  Adding a list of announcements
- [ ]  Giving organizers a place to write said announcements
- [ ]  Making the dashboard the default landing page for students (?)

[2016-08-10 13:42] agnik5 commented on #462
![screenshot from 2016-08-10 15-41-23](https://cloud.githubusercontent.com/assets/12581810/17555742/fb2d534a-5f10-11e6-884f-f51a1e0fc07d.png)
![screenshot from 2016-08-10 15-41-42](https://cloud.githubusercontent.com/assets/12581810/17555743/fb32508e-5f10-11e6-87d5-b34283954776.png)

[2016-08-10 14:30] katrin-k commented on #524
What I did so far in commit https://github.com/rails-girls-summer-of-code/rgsoc-teams/commit/dcd7aac917601814e2db707545e1416c20fcfbbf
I used the existing BS button styles for the various cases:

#### `.btn-primary`
New team, new project, new …
==> Everything that's newly created

#### `.btn-success`
Save, send mailing, save/update status update, save comment, … also: join team
==> Everything that

[2016-08-10 17:00] katrin-k commented on #524
And here's what I did to the colors. Disclaimer: I'm not a good visual design person. So I took the colors and simply used less "screaming" hues. Plus, I removed the gradients, so the buttons look more flat now.
Overall, I think it's ok. But plz look at the last pic… this needs inspiration.

==> An add button
![524-button-add](https://cloud.githubusercontent.com/assets/2246045/17562573/b72238e4-5f

[2016-08-10 17:07] ramonh commented on #524
Hey @katrin-k, WOW, this is awesome. Thank you!

I immediately prefer it over the gradients from before.

My one feedback would be to see if it's possible to make the contrast between the button background and border stronger? I feel they're a bit too close, particularly on the orange buttons

[2016-08-10 17:09] inescoelho commented on #524
The white text in those bluish buttons (like the "I want to add another conference" button) seems a little hard to read for me, it gets kind of blurry.
But I like the flat - appearance :)

[2016-08-10 17:20] katrin-k commented on #184
I'd like to look into this one. However, I'm not 100% sure, I get the issue completely. I see the duplicate fields and my 1st thought was: Hmm, why not remove the "Application-specific info" in the user profile? (And double-check, everything is then part of the application) But I suppose there is something preventing this?

[2016-08-10 17:25] katrin-k commented on #524
@inescoelho good point! I'll double-check on my large screen, too. My laptop is usually displaying things crisper than on many other screens.

@ramonh possible is everything :). I'll see which colors I can find.

[2016-08-10 19:52] F3PiX commented on #524
I am not totally convinced regarding the colors. As RG Red is leading, I think it is very hard to combine that fully saturated red with less saturated colors. Regarding the Bootstrap range from succes to danger: I think most of the time it is sufficient to differentiate between the primary choice and secondary choices. I think between all of us we can cook up some other options. How about that? Wd

[2016-08-11 02:39] anasofiapinho commented on #517
I don't have a lot of knowledge regarding the conferences process, but it is logical to have the conferences block on the team's page.

[2016-08-11 07:49] alicetragedy commented on #524
My two cents on this: I also like the idea of flattening the buttons, so I think we should definitely go along with that! Love it 👍
Regarding the colours: green, red and blue send very strong messages, and from a UX point of view, I don't think it's a good idea to stray from these "primary" colours. Turquoise or orange don't really have a "universal" meaning, and it could quickly become confusing

[2016-08-11 08:31] katrin-k commented on #524
@F3PiX I see what you mean and yeah, I agree, the header color is indeed very strong. I've played around with outlined buttons, that only get a background-color on hover. Makes things way less disturbing. (below are screenshots)

@alicetragedy also brought in a good point. Since any rebranding affects both teams app and website, it totally makes sense to work on both of it together after the progr

[2016-08-11 08:32] klappradla commented on #524
I agree with @alicetragedy. However @katrin-k, concerning colors and inspiration: I'm personally bad with coming up with color schemes, so I usually use tools for that. I can highly recommend [coolors.co](https://coolors.co/) - you can also import images there to extract a color scheme.

Besides that (cc @ramonh 😂 ), there's [bootflat](http://bootflat.github.io/), an extension to bootstrap, *"flat

[2016-08-11 08:39] katrin-k commented on #524
@klappradla uuh, http://coolor.co looks indeed very promising. Nice! What I often do is take one first color and then check out the complementary/triadic colors on http://www.colorhexa.com.

[2016-08-11 09:02] troubalex commented on #524
I find complementary colours always difficult to work with, they come with a very strong contrast. You could try with one of the blues from [this triad palette](https://color.adobe.com/create/color-wheel/?base=2&rule=Triad&selected=2&name=My%20Color%20Theme&mode=hsv&rgbvalues=0.5470588235294118,0.03140522875816991,0.03140522875816991,0.8725490196078431,0.8638400352175996,0.2246005809731299,0.84705

[2016-08-11 09:04] troubalex commented on #524
PS:

Would that really be a big deal if the designs of the web site and the team app diverge for a little while? I'd personally land the redesign first, and then get to porting it over to the team app.

[2016-08-11 09:08] ramonh commented on #524
The white button with outline looks great too!

[2016-08-11 09:28] F3PiX commented on #524
I like the outlined buttons too. The staple of fairly unrelated actions/buttons is an issue. I wouldn't mind if we don't wait for the redesign to solve this. It seems to me more of an UX structural thingy, and in my book it is never too early to solve that :-)
Maybe some buttons can move a bit? Like the 'add source' could move to where the sources are listed?
Also, I would love to think about the

[2016-08-11 14:17] F3PiX commented on #263
@katrin-k Are you interested in this one? How about we work on this together?

[2016-08-11 16:04] F3PiX commented on #364
I probably don't oversee all implications, however, I see parallels to the supervisor dashboard.
Would it make sense to put the mentors behind a base controller, like the supervisors, and present them their own accepted projects, again like the supervisors. Where they can choose one fav.
If this^ makes sense at all, then maybe it is sufficient if only the view doesn't allow to pick more than one f

[2016-08-11 22:28] mkalininait commented on #517
@ramonh I actually was thinking to add a comment field in general, not related to feature 2.
The idea is that sometimes teams want to add some additional info about conferences, like: "We would attend conference X only in they provide scholarships / have a LT session" or "We have already applied for the conference selected above ourselves" etc. There might be options.

In general, I need to handle

[2016-08-12 07:49] agnik5 commented on #462
Notepad added :)
![screenshot from 2016-08-12 09-49-08](https://cloud.githubusercontent.com/assets/12581810/17615984/20bab636-6072-11e6-8b62-6e181ff55692.png)

[2016-08-12 08:21] katrin-k commented on #263
@F3PiX totally.

[2016-08-12 08:24] carpodaster commented on #263
I wanted to add our (now: polymorphic) comment system but realized that it would only work for registered users. Otoh, that's better than nothing – and fellow students, coaches, mentors, … do have an account on the Teams App.

[2016-08-12 08:31] F3PiX commented on #263
@carpodaster I am thinking of not using the comment system, but a separate 'tags' system. Where tags are icons. Wdyt?
I think the comment system is a bit heavy for this.

[2016-08-12 09:05] katrin-k commented on #524
kchchch… this issue turns out to be a great resource for color choosings ;).
@troubalex thanks a lot for the smashing mag link. this is really a hugely useful article.

When I look at the whole thread here, I see 2 basic aspects coming together:
1. A new visual design (branding) lurking at the horizon
2. Tons of UX issues

Re 1. I feel like leaving the button-dabbling for now and wait for a sincer

[2016-08-12 09:19] F3PiX commented on #524
+1 to focus on the UX thingies for now.
+1 on closing this one. I wouldn't say that you should not open a new issue if something is bugging you. (Just be prepared that once in a while you will open a box of Pandora.) IMO this discussion produced useful information, albeit not the intended button overhaul. :-)

[2016-08-12 09:22] alicetragedy commented on #524
Thank you @katrin-k for summarising it all so well. The primary issue I had with buttons (specifically on the team pages) was less of an aesthetic issue and more of a UX/functionality issue — that button group looks strangely stacked on mobile devices, and I think this should be fixed.
A big chunk of the teams app is really not created with mobile in mind, and since our audience is global, meaning

[2016-08-12 13:09] carpodaster commented on #263
I was thinking that re-using the existing comment system is the easiest possible solution to get some degree of engagement started 😉

[2016-08-15 16:07] F3PiX commented on #263
Katrin-k and I are going to work on this together. We will start with simple commenting, and take it from there.

[2016-08-16 11:46] F3PiX commented on #229
I have a feeling that the mailings and the students activities are moving further and further apart, although they are sharing the activities controller.
Would it make sense to unentangle them? Separate them in 2 different controllers?

[2016-08-16 22:24] F3PiX opened #529 "Slow loading with search"
It takes a lot of time for the page to load after submitting a search. I found that the Time to First Byte is very long:

![search page loading](https://cloud.githubusercontent.com/assets/6314687/17717868/d33fdfba-6410-11e6-913a-13a9cccfdeda.png)

I don't know how to find the cause for this. Hints? Ideas?

[2016-08-22 09:43] #524 closed

[2016-08-22 09:44] katrin-k commented on #506
@carpodaster Can this issue be closed?

[2016-08-22 18:56] carpodaster commented on #506
Yes! Thanks a lot, @katrin-k !

[2016-08-22 18:56] #506 closed

[2016-08-22 18:59] carpodaster commented on #529
Hello Maud, thanks for reporting this! I could reproduce it locally the other day. It would seem that the current season is fetched from the DB way too often (n+1 problem?). Haven't had the time to dig deeper – if anyone wants to tackle this: it's up for grabs 😄

It's a performance issue, but not a really pressing one. I don't have any data too back this, but I should think that `GET /users` is no

[2016-08-22 19:26] carpodaster commented on #503
@F3PiX Can you post on which controller action / URL that is?

[2016-08-22 19:43] F3PiX commented on #503
Hi Carsten, This was on my profile page. localhost:3000/users/33
And on the team's profile page localhost:3000/teams/4 it is like this:
![teams profile page](https://cloud.githubusercontent.com/assets/6314687/17868976/769412d6-68b1-11e6-8cfc-fd36d192a375.png)

[2016-08-22 19:57] F3PiX commented on #529
- About the n+1 : Sometimes it renders very fast. If it would be a n+1 problem, wouldn't it be _always_ slow?
- What I found: WHEN it renders slow, it is mostly the views that takes a long time (over 200 ms).

[2016-08-22 21:05] carpodaster commented on #184
The application-specific fields are stored on the user record so that they always "belong" to a certain student. The knack with the application draft is: it's not too easy to be sure who's `student0` and who's `student1` when a student accesses the application draft form. The `ApplicationDraft#students` method attempts to make this deterministic, but I don't know what happens if a student changes

[2016-08-26 09:50] #437 closed

[2016-08-26 09:56] F3PiX commented on #529
I found that  it has to do with the [Google analytics script](https://github.com/TeamCheesy/rgsoc-teams/commit/1ee473d473d217f802a570f3ed978fb957a24915#diff-1ccd3e5828c7330cdc2450c78847cd35R32) in application.html.slim  .
With this switched off, everything loads under the recommended 200 ms. With the script switched on, even the plain `users` view needs way over 400 ms.

Makes sense?

[2016-08-26 15:57] alicetragedy opened #532 "improve mobile experience"
While we can safely assume that most users are viewing the Teams App from a laptop or otherwise bigger screen/device, there are still a couple of glitches with the overall mobile experience that we can't really ignore 😂

This is a feeble attempt at collecting several "smaller" issues and bugs currently happening on the Teams app.
- [x] 1) box for content filter on the activities page is smaller th

[2016-09-06 14:01] izuroxx opened #534 "Preview function for daily student updates"
@carpodaster @ramonh
During the past weekend I've created preview function for student updates -> based on preview function for projects, which I recently finished, wanted to practice off-hours what i did in #530 .
I wanted to share this with you and ask if you would like to add this kind of feature to student updates?

[video demo here](https://vimeo.com/181628590)

There are a few things in my c

[2016-09-06 14:10] carpodaster commented on #534
Hi @izuroxx – that's amazing! Looking forward to it :)

[2016-09-06 14:11] ramonh commented on #534
Super neat, thanks @izuroxx! I look forward to see how it looks! 🚀

[2016-09-06 14:15] carpodaster commented on #413
@izuroxx fixed the github_handle mutability! 🎊

[2016-09-06 14:17] F3PiX commented on #534
Wow that is super cool!!!

[2016-09-13 15:44] carpodaster commented on #263
Major part done in #536

[2016-09-14 21:04] #534 closed

[2016-09-15 03:07] nbogis commented on #532
I can take a look at this issue

[2016-09-15 10:47] alicetragedy commented on #532
@nbogis awesome! I know that @katrin-k had also started looking at it (see first list item which has already been done) — can you see if you can coordinate with her so you don't work on the same thing at the same time? thanks so much for helping!!

[2016-09-16 16:05] katrin-k commented on #532
@nbogis feel free to go ahead on both the above mentioned header/menu issues :).

So far, I have only tried to locate the reason for the bug. My enlightenments so far: It only happens on the "Activities" page which is also the root/index page. The only difference to all other pages is that Activities has the rss-feed link. Removing it didn't help, but double-checking also doesn't hurt ;).

[2016-09-18 19:05] nbogis commented on #532
I solved the second one. The one with the collapsed menu needs more research. I think I need to write a js function to move all the stuff down when the burger is clicked

[2016-09-19 03:52] nbogis commented on #532
![image](https://cloud.githubusercontent.com/assets/3867533/18622269/cf5a159c-7de1-11e6-91b0-2d3c49ff894a.png)

Does this look good?

[2016-09-19 07:51] F3PiX commented on #532
IMO: on a phone screen, the dropped down menu should confidently take over the screen, and being the main visual presence on the screen. So I would not mind if the dropped down menu would push all the other content out of the way, or blurr them or something.

One more thing. We had discussions on the navigation previously, and I - being a backender so be gentle, please  ;-) , - have the strong imp

[2016-09-19 14:37] alicetragedy commented on #532
Awesome @nbogis! I agree with @F3PiX, that's totally okay for me if the menu takes over the screen/hides part of the page. So for item 3, the menu can definitely hide the sign out link, etc...

Regarding the bootstrap navigation: I was actually under the impression that the only changes that had been made were in the styling and colors and that the rest had been implemented as should, but if it's

[2016-09-19 19:21] F3PiX commented on #532
See #380 Not sure if Ramon is working on the navbar, or only on the issues re: links. @ramonh ?

[2016-09-19 23:52] nbogis commented on #532
ok thanks all for your insights. I didn't js file. I figured that I would just change the z-index and give more priority to the menu bar. The only problem I'm having is that sign in div doesn't look good. I will see if I can hide it without creating other issues. @F3PiX, I think this is the right bootstrap. Most of the boostrap themes have navbars on top with a big image under it so when the navba

[2016-09-20 08:17] F3PiX commented on #532
Do you mean we have the bootstrap navbar properly installed? I have the impression we have a header with rows, where the header contains the nav items, instead of a navbar class that contains the nav items. Not true?

[2016-09-20 11:07] klappradla commented on #532
@F3PiX from what I remember to have seen, you should be right. Bootstrap's way to go is wrapping  a navbar (e.g. using `navbar navbar-default`) around a container. For the Teams app it's the other way round: a container / row containing a `nav`element.

[2016-09-20 11:08] ramonh commented on #532
Hey @F3PiX! I still own @katrin-k a mindmap draft for which links to use in the navbar 😅

[2016-09-21 06:50] F3PiX commented on #532
@klappradla Thanks, that explanation is superclear
@ramonh I only meant to ask if you were working on the navbar, before someone else started to do the same works. :-)

[2016-09-22 15:52] anikalindtner opened #541 "2015.teams.railsgirlssummerofcode.org is broken"
2014 and 2013 is working though. maybe something that @carpodaster has an idea about?

[2016-09-22 17:42] carpodaster commented on #541
Hi @anikalindtner – there is no 2015.* – starting last year, the Teams App just keeps running. There are no database resets after each SoC. So all the data of 2015 should still be in the current teams app.

[2016-09-22 17:42] #541 closed

[2016-09-25 23:52] nbogis commented on #532
ok I will try to implement this. Another way I saw is to implement it as a dropdown menu. I tried it but things look weird on other sizes so I went with the z-index solution. I will see the bootstrap way idea

[2016-09-29 11:32] mkalininait opened #542 "Bug: the 'conferences' page is broken"
Can't open the 'Conferences' page: https://teams.railsgirlssummerofcode.org/conferences
![screen shot 2016-09-28 at 21 24 42](https://cloud.githubusercontent.com/assets/1745735/18952110/c728ad1a-8648-11e6-8f23-28b801a69e2b.png)

Yesterday this page worked; then I assigned some conferences to the students and added a new one (GitHub Universe). After that I found the 'Conferences' page broken.

[2016-09-29 12:15] F3PiX commented on #542
I have only 10 minutes to do something about it, and this is what I found.
In the [middle of a method in applications_helper](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/app/helpers/application_helper.rb#L129), `user` becomes `nil`.
I can do a quick fix like this:
Add `if user.present?` to
```link_to(user.name.present? ? user.name : user.github_handle, user, class: attend

[2016-09-29 12:19] ramonh commented on #542
Ooh! Thanks for the feedback @F3PiX. Could it be that these users you assigned the conferences to no longer exist? Hm.

[2016-09-29 18:08] ramonh commented on #542
Seems to be fixed after merging #543. Thank you @F3PiX! Could you please confirm, @mkalininait?

[2016-09-29 21:42] mkalininait commented on #542
@ramonh Works now! Thank you @F3PiX ! I hope I don't break it again :)

[2016-09-29 21:43] #542 closed

[2016-10-03 18:55] carpodaster opened #544 "Project Weamsite: Exploration"
Carsten's (open) notepad to evaluate the implications of a merge of the Teams App and the public website.
- [ ] Rails CMS
- [ ] Importing static pages (guides et al) files into CMS
- [ ] Importing blog posts
- [ ] MD as template engine?

[2016-10-05 06:21] izuroxx commented on #366
hey @carpodaster ! I've been looking at this issue - can i try to do this?

[2016-10-05 07:04] carpodaster commented on #366
Morning @izuroxx – but of course!

[2016-10-05 08:19] michaelem commented on #544
Hm, at the end-of-summer party in vienna we where talking about how nice it is that writing blog posts involves pull requests and so on. If they are not that familiar with git and github it provides participants a relatively low-risk environment to get going.

[2016-10-05 08:38] F3PiX commented on #544
I agree on the goal of getting familiar with git, not sure if this is the right means. Speaking from my experience last year, the first post didn't feel at all like a 'low-risk' environment. As they are doing only 2 blogposts, one very early in the Summer: I am not sure that is the way to ease someone into git. ;-) OTOH, I am very glad that I learned so much git and gh during the summer, and I wou

[2016-10-12 20:36] #254 closed

[2016-10-28 16:12] carpodaster opened #547 "Provide a way to switch current_user's role in development mode"
Similar to the season switch (#304), we should offer a way to quickly assign a role (and team) to the currently logged in user session – only in development.

[2016-10-28 16:16] carpodaster opened #548 "Offer a "login as other" user to allow filling in application as team mate in development"
In order locally test the entire application process, a 2nd user (ie. a team mate) is needed.

This feature should allow the currently logged in user to be swapped with a selected user from the listing at `users#index` – only in development.

[2016-11-02 21:27] carpodaster opened #549 "Upgrade to Rails 5"

[2016-11-03 19:36] carpodaster opened #551 "Meta: project proposal 2017"
* [x] project submission form: "issues and features" will be renamed to "what will the students be working on?" to make it more general
* [x] project submission form: a new text area will be added with the title "requirements" (or something similar) that will list requirements for the project from the point of view of the mentor (e.g. good knowledge of a language, proficiency with CSS, etc..). Thi

[2016-11-05 21:26] pgaspar commented on #548
I can take a look :+1:

[2016-11-06 21:46] carpodaster commented on #548
Very cool, @pgaspar!

[2016-11-07 00:33] nbogis commented on #532
I believe this issue is resolved.

[2016-11-07 10:17] alicetragedy commented on #532
closed in https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/540

[2016-11-07 10:17] #532 closed

[2016-11-07 21:26] F3PiX commented on #463
Closed by #546

[2016-11-07 21:26] #463 closed

[2016-11-14 19:24] carpodaster commented on #549
This is a test to check on the new GH integration. This message will self-destruct in 3... 2... 1...

[2016-11-14 19:54] klappradla commented on #551
Naming is hard, but I think **"requirements"** is a real good choice - perfect fit in my opinion. I went with this name for updating the [guide](https://github.com/rails-girls-summer-of-code/summer-of-code/blob/cbe84e396825e63917f2cc4e9bc00c6e35ef4469/guide/projects.md#how-do-i-submit-my-project) on it, plus used **"tasks and features"**, since *"what will students be working on"* did not quite fi

[2016-11-14 20:59] carpodaster commented on #551
Hey @klappradla - thanks for the feedback! PR #553 is up now! :rocket:

[2016-11-17 21:53] #551 closed

[2016-11-21 13:19] alicetragedy opened #556 "Create mini-landing page for project submissions"
Suggested by @carpodaster:

[2016-11-23 20:26] #556 closed

[2016-11-23 23:18] F3PiX commented on #529
Cool! This is solved by 33f2021. 💃
![schermafbeelding 2016-11-24 om 00 05 03](https://cloud.githubusercontent.com/assets/6314687/20581776/6b684c56-b1db-11e6-9149-01f7072e96bf.png)
Can be closed now.

[2016-11-23 23:18] #529 closed

[2016-11-24 07:40] carpodaster commented on #529
Nice! And what a cool side-effect :)

[2016-11-24 10:49] alicetragedy commented on #529
hahaha that's brilliant! 🙌 ✨

[2016-11-27 19:58] F3PiX commented on #399
Is this still needed? Or do we go with the current way of 'showing the conferences during the active season'?

[2016-11-27 22:42] F3PiX opened #562 "404 is broken"
https://teams.railsgirlssummerofcode.org/conferences/600

When I try to access a conference that doesn't exist, I get this 404:
![schermafbeelding 2016-11-27 om 22 06 42](https://cloud.githubusercontent.com/assets/6314687/20652484/90e8b494-b4fa-11e6-9a3a-295fb962aec5.png)

instead of this:

![schermafbeelding 2016-11-27 om 22 07 08](https://cloud.githubusercontent.com/assets/6314687/20652483/859d5

[2016-11-28 10:46] F3PiX commented on #414
Copied from PR 414
I worked on a solution that:
- sets a limit to the number of permitted attendances (in the `accepts_nested_attributes_for` method)
- Hides the 'add conference' button for users who has already 3 attendances saved to their profile
- Adds an flash alert when users wants to save their profile with more than 3 conferences.
The count of the attendances is updated only when the parent

[2016-11-28 11:23] alicetragedy opened #563 "Add orga index"
We might eventually decide to create a small orga dashboard (which would be 👍 ), but in the meanwhile, it would be great to have a simple index for `/orga`. The thought behind it: most organisers don't really keep track of which hidden "features" are found in the dashboard controller, and since there is no menu for this anywhere, it becomes tedious to remember the URLs or look it up in the `routes

[2016-11-28 11:30] F3PiX commented on #563
Great idea! The orga's really deserve their own dashboard.
I think it will be super easy do: just adding a dashboard controller and view; the namespace and the base controller are in place.
The first iteration would be adding the links to the dashboard.
After that we can try to make it as cool as the supervisor dashboard.

[2016-11-30 07:41] carpodaster commented on #563
Super goed! Yes, the orga-only items on the Teams App are totally invisible. It kinda touches #380 but a dashboard/orga-landingpage would definitely be supercool.

[2016-11-30 07:49] carpodaster commented on #562
Thanks for reporting this, Maud!

[2016-11-30 07:51] #562 closed

[2016-12-01 16:44] jancborchardt opened #566 "Unsure if money is involved or not (like in GSoC, or Outreachy)"
Heya, awesome you’re doing this, thank you so much! We’ll see to apply with @Nextcloud :)

One question though because that was unclear from reading the website: We participated in GSoC and Outreachy before. For GSoC, Google is sponsoring the students, and for Outreachy the project has to sponsor the students itself (which is no small investment at 5.5k a student).

Is money at all involved in RGS

[2016-12-01 20:10] alicetragedy commented on #566
hey @jancborchardt, cool to see that you're interested in submitting your Open Source project! We prefer getting general questions about RGSoC sent to our contact email (summer-of-code@railsgirls.com) because it's easier to triage and answer so if possible, could you stick to email for all future communication?
Now that we got this out of the way: yes, we offer stipends for students who participat

[2016-12-04 23:04] pgaspar commented on #548
@carpodaster 1 month later, I finally had the time and headspace to seriously look at this 😞 I'm so sorry!

I have some questions:
- Is this something that should live in the orga section? Or should it be a button in `users#show` on the public section?
  - I noticed there's no UserController in the orga section yet - I can certainly create it for this, though.
- Any idea as to how the flow for sto

[2016-12-05 12:41] jancborchardt commented on #566
@alicetragedy ah thanks! I was sure I read everything … if the main site wasn’t redesigned in the last few days, I must’ve been on the teams apps the whole time and mainly read the [Help section](https://teams.railsgirlssummerofcode.org/pages/help) there, which also listed opening an issue here as first approach. (Which I also prefer since that was a question I assumed others could have too.)

Tha

[2016-12-05 12:41] #566 closed

[2016-12-05 15:02] alicetragedy commented on #566
@jancborchardt that's a very good point, and I think we can definitely improve that help section to make it more understandable :) The line "If you think something is unclear or should be improved" pointing to the issue tracker meant to suggest opening an issue along the lines of, "it's not very clear how to sign up for an account" or "I think the help page could be improved" rather than direct qu

[2016-12-06 20:40] klappradla commented on #544
Maybe a bit late to the party 🙈
Just wanted to give my +1 for what @michaelem said about blog posts involving PRs. Therefore a minus for Rails CMS... .md as template engine would work and still provide these benefits though. However, people would probably need to run the whole rails app...

I already looked at integrating Jekyll **into** Rails. It works, but is slightly hacky and blowing up a mono

[2016-12-07 20:53] carpodaster commented on #548
@pgaspar no worries!

My initial thought was to put it into the public `users#index`. The main issue would be  to indicate that this is a development-mode only feature.

As for returning back to normal: I haven't given it much thought yet, no. The easiest would be just use the normal logout when the _login is as other_ just sets changes the user id in the session (or the devise equivalent of it).

[2016-12-07 23:43] pgaspar commented on #548
@carpodaster I think that sounds good!

I started doing a couple of things before and had something like this in the public `user#show` page:

<img width="360" alt="screen shot 2016-12-07 at 22 29 35" src="https://cloud.githubusercontent.com/assets/31735/20991216/2354bf94-bcd5-11e6-8d73-b1e3ec4e7ebd.png">

Alternatively (or additionally) I can also add a new column with a button on `user#index`.

[2016-12-08 23:27] pgaspar opened #569 "Github ribbon blocks Sign In link in some window sizes"
Noticed this by chance in development and confirmed it also happens in production. It happens for windows within the 1315px - 1415px range approximately.

![github-login](https://cloud.githubusercontent.com/assets/31735/21031790/3f885e96-bd9d-11e6-97e3-6ebbfd3dd8e5.gif)

The wrapper:

<img width="251" alt="screen shot 2016-12-08 at 23 10 43" src="https://cloud.githubusercontent.com/assets/31735/21

[2016-12-08 23:35] pgaspar commented on #569
Actually, I think this is easy to fix. I'll have a PR up in a few minutes.

[2016-12-09 02:28] seanhussey commented on #143
Is ````app/views/application_drafts/_form.html.slim```` the correct file for this now?

[2016-12-10 11:37] #569 closed

[2016-12-19 15:21] F3PiX commented on #499
Goal accomplished 🎉
![season after refactoring](https://cloud.githubusercontent.com/assets/6314687/21317835/19c29970-c607-11e6-92ac-a3408bba2e5a.png)

[2016-12-19 15:21] #499 closed

[2016-12-19 15:36] F3PiX opened #574 "Bug: Season Switch and Conferences in fake phases"
When switching to the fake application phase or the fake proposal phase in /orga/seasons
and clicking on Community,
I get a 500 with this message:
[code]

It happens only in dev mode.

[2016-12-19 15:47] #548 closed

[2016-12-19 18:53] F3PiX opened #576 "Frontend, JS: toggle 'Add a conference'-button"
In the user's profile, a user can select conferences to attend.
No more than 3 attendances are allowed (see #575). With more than 3 conferences selected, an  error is thrown on saving. However, the button "Add a conference" will still be present. Thus suggesting that more conferences can be added.

In an earlier attempt, we try to toggle the button depending on how many 'nested fields' are shown.

[2016-12-23 13:05] F3PiX commented on #547
Assigning a role is solved with #571.
Close this?
Do we need a new issue for switching teams?

[2016-12-23 17:20] alicetragedy opened #578 "Application Form: Set character limit to some fields"
There are a few fields in the application form that are a bit too prone to applicants writing long texts, which we wish to avoid. A way to solve this would be to set a character limit on those fields.

**Implementation**
- The character limit should be set at the view level in the form
- The length should *probably* be validated at the model level as well (that would be `user` and `application_dra

[2016-12-23 18:46] alicetragedy opened #579 "Application Form: Make separate fields about Motivation and Tasks for 1st and 2nd choice Projects"
The section “Project Goals” in the application form was confusing to some applicants, because the fields did not specifically refer to a first choice or second choice project. As we now wish to involve the mentors more in the application “review”, the students should submit motivation and tasks for both project 1 and project 2.

**Implementation**
- Rename fields “Project1” and “Project2” to “Proj

[2016-12-23 19:19] alicetragedy opened #580 "Application Form: Set pre-defined values for “how did you find out about RGSoC”"
Right now, the `:heard_about_it` field is just a text field; having a list of pre-defined answers rather than a free-form field would allow us to have a better overview of how applicants find out about us, which is valuable information.

**Implementation**
- this list could lead either to something like a dropdown (i.e. only one possible answer) or a list of checkboxes (leading to one or more answ

[2016-12-26 13:03] carpodaster commented on #547
#571 doesn't assign a role, it merely switches `current_user` to a different user record – re-using everything, including roles, that user record had configured before.

Switching roles is not necessarily equivalent with switching teams: e.g. the "orga" role is just a role w/o a team. Students, coaches and mentors require a team, that's true.

It's debatable if #571 can be used to satisfy this fea

[2017-01-02 14:00] alicetragedy opened #581 "Application Form: Create separate view of submitted applications for mentors"
Since this year project maintainers will be more involved in the application process, they should be given access to applications submitted for their project (1st and 2nd choice applications). The best way to do so, rather than messing too much with giving access to application drafts, is to create a separate view for mentors to access (for **submitted applications** only).

The separate view for

[2017-01-02 14:05] alicetragedy opened #582 "Application Form: Rename “Please link to pull requests”"
The description and hint of this field should be more direct, so a suggested improvement would be to rename to “Please provide examples of your code” and add the following hint: “Links to completed coding challenge provided by the mentor (if present), commits / pull requests on GitHub or other concise examples of your code. Links to GitHub profiles and repositories won't be considered.”

Alternati

[2017-01-02 14:12] alicetragedy opened #583 "Application Form: add a community involvement section"
This would allow us to separate entirely programming skills from community involvement.

- Create a “Community Involvement” section (maybe somewhere between "Background information" and "Your programming skills")
- Move community-related fields ("Tell us about your community involvement") from the "Your programming skills" section to the newly created “Community Involvement” section.
- Add a new f

[2017-01-02 15:23] alicetragedy commented on #574
Update: doesn't just happen in dev mode, it's an issue currently on the production site as well.

[2017-01-03 08:24] carpodaster commented on #574
Fixed in #584 – thanks @F3PiX !

[2017-01-03 08:24] #574 closed

[2017-01-03 15:01] F3PiX opened #586 "New bug with the conferences...."
The fix in #584 causes a new error locally (`NoMethodError at /users/34
undefined method 'name' for nil:NilClass`) ,  in the user/show view where the conferences are called:
https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/app/views/users/show.html.slim#L53

It can be fixed by changing `@user.attendances.includes(:conference)` into `@user.attendances.joins(:conference)`
I can

[2017-01-03 15:24] F3PiX commented on #547
The seeds.rb provides all kind of users with all the different roles covered.

That means, you are able to impersonate an organizer or any role. It is not the same as turning yourself into an organizer etc, but I'd say it covers almost all use cases?

Re: the teams I am not sure if the teams seeding and the impersonation covers everything. Hence the new issue. It requires some research.

[2017-01-04 12:00] alicetragedy commented on #364
will this still be relevant for the 2017 edition? I know that we want to give mentors access to parts of the application answers, but we haven't discussed how to best have them suggest preferences. The email process last year was super messy, and I'd prefer not to repeat that... Is there any other way that would (easily) enable them to show a preference via the teams app?

[2017-01-04 14:25] mkalininait commented on #580
I would propose to extend the list in a way, which helps us differentiate our promotion channels better. Something like this:

**RGSoC direct outreach:**
 * RGSoC Blog
 * RGSoC Twitter
 * RGSoC Facebook
 * RGSoC Newsletter
 * RGSoC Organisers

**Past participants or 'Partners':**
 * Past RGSoC participants
 * Another diversity initiative outreach
 * Study group / Workshop
 * Conference

**Other ch

[2017-01-04 14:40] mkalininait commented on #581
Depends on Issue #579

[2017-01-04 22:57] mkalininait commented on #366
I've just looked at how it is implemented in the User Profile: there are two fields Country and City, the first is a dropdown and the latter is a simple input field. Does it mean that we will have different implementations of location input on the Application Form and in the User Profile?

Another thing to think about is the [Additional Info form](https://github.com/rails-girls-summer-of-code/sele

[2017-01-05 18:35] mkalininait opened #587 "Application Form: Blind selection warning"
In 2016 the blind phase of the selection process wasn't really blind. Although we asked the students not to mention some of the information in certain fields (e.g. location), we still could sometimes tell from the writing where the student comes from (mentions of workshop names, university names etc.)

**Possible solution**
After the block "Basics" and before the block "Background Information" put

[2017-01-05 18:46] mkalininait opened #588 "Application Form: Remove "Learning period since your 1st workshop""
In 2016, the field "For how many months have you actively been learning after your first workshop?" was confusing for students who didn't attend a 'benchmark' workshop. It also didn't help us a lot during the selection process.

**Suggested solution:**
 - Remove the field "For how many months have you actively been learning after your first workshop?".
 - Rename the field "Please summarize what yo

[2017-01-05 21:18] F3PiX commented on #586
Reproduce the bug:
In dev env:
- Click 'Community'
- Select user with conference (I add conferences to my own profile from the user profile page)
- Error occurs

I can't reproduce it in the production. I selected a user who has a conference on her profile, and it shows the profile and the conference as expected:
https://teams.railsgirlssummerofcode.org/users/621

[2017-01-06 08:35] carpodaster commented on #586
Thanks Maud. PR is up!

[2017-01-06 13:38] carpodaster commented on #578
@alicetragedy would it be possible to have an equal character limit for all fields? It would make it so much easier to implement.

[2017-01-06 13:40] alicetragedy commented on #578
@carpodaster the character limits were a suggestion by @mkalininait, I'm ok with a 2000 character limit on all these fields instead of having them mixed. :)

[2017-01-06 13:44] carpodaster commented on #578
@alicetragedy ok, perfect. The final limit can be easily adjusted (maybe down to 1500 or something?) – that's easily doable when we just flag an attribute as character-limited and define the limit elsewhere

[2017-01-06 15:46] alicetragedy commented on #580
works for me!

[2017-01-06 16:31] klappradla commented on #366
I'm taking a look at it. Feels kinda weird to write JS after such a long time 🙈

Just one question: is there already a RGSoC project with a Google (Maps) API key @carpodaster ?

[2017-01-06 17:39] carpodaster commented on #366
@klappradla I don't know of any Google Maps keys, no. Not in front of a computer right now, but maybe `heroku config` has something?

[2017-01-06 17:43] klappradla commented on #366
Ah, good idea! Gonna look there.

I'm for now just playing around with the API. However, I guess it's not suggested to publish the API key in a repo *(especially given the fact that there are rate limits for the free plan)*. Still, this would again make the dev setup more complex 🙈

[2017-01-06 18:30] F3PiX commented on #366
I think the advantages of autocomplete address input are well worth the extra dev setup. I am a big fan of this feature. 💃

[2017-01-06 18:42] klappradla commented on #366
Hm, what I kinda don't like about it: you have to deliberately chose one of Google's suggestions. But ok, maybe that's what people are used to from using GoogleMaps anyways...

![autocomplete](https://cloud.githubusercontent.com/assets/3491815/21728760/28102f2a-d448-11e6-980e-dd3e467aa1db.gif)

[2017-01-07 11:29] #586 closed

[2017-01-07 14:23] mkalininait opened #591 "Application Form: "Gender" autocomplete"
To make it a bit easier for us to process applications we decided to make an improvement over the field "Gender". We've been thinking a lot about how to implement a new/better “Gender Self-Identification” field so that on the one hand it had some pre-defined options and on the other hand wasn't exclusive for anyone. The majority voted for the following solution.

The Gender field should look like

[2017-01-07 14:34] mkalininait opened #592 "Application Form: "Diversity" field"
Our program aims at supporting diversity, and at the same time we don't have a special field for this on the application form. It would be great it we could support not only female/non-binary/trans people, but also take other special life circumstances into account.

**Possible solution:**
Add an extra text field next to the gender field, something like: "Please tell us about any special circumsta

[2017-01-07 15:08] mkalininait opened #593 "Application process: Force users to fill out their profiles"
In 2016 we had 2 problems:
 - Students could submit an application, while for some team members important information was missing (email, location etc)
 - We didn't have enough information about coaches, while they play a crucial role in the program.

**Possible solution:**
1. After Users sign in with their Github profiles for the first time, they should be redirected to the Edit User Profile form

[2017-01-07 15:35] mkalininait opened #594 "Community page: “seasoning” and filters"
Users reported that it was hard to use the community functionality in the Teams app, because it doesn't allow you to filter users.

It would be useful to provide filters by:
 - availability in the upcoming season
 - location
 - technologies (see [Issue 593](https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/593))

**One possible way to implement "seasoning":**
 - Add a checkbox "Acti

[2017-01-07 15:42] mkalininait commented on #578
@alicetragedy @carpodaster I'm afraid that the 2000 char limit won't let us achieve our main goal to make applications more laconic. I'd totally make the limit lower than 2000 (1500 or even 1000).

[2017-01-08 10:20] carpodaster commented on #578
@mkalininait The concrete limit can be adjusted; the main issue here was to agree on a character limit (however high or low) that applies to _all_ fields with input limits.

[2017-01-08 10:24] carpodaster commented on #594
It is true that with the Teams App keeping users of past seasons, it's hard to know whether or not someone who once put them on the roster as willing to help would still be up for it in the upcoming season.

I don't know if a filter solves that, since it would require all users on the Teams App to proactively check that option. How would we do that? Emailing all users?

[2017-01-09 10:10] mkalininait commented on #594
@carpodaster I think that we can't consider a user active, unless he/she explicitly marks him/herself active in the Teams app. Emailing and tweeting would be the most obvious ways to remind them to set a check.
I guess that this check would be most useful for coaches and students looking for coaches. The "Active in the upcoming season" check wouldn't guarantee availability of a coach of course, bu

[2017-01-09 10:15] F3PiX commented on #594
If that is the use case: students finding coaches, how about this: add a filter for NON-active coaches, let coaches be able to adjust their availability in their profile.

Easier for coaches, bigger chance for students to persuade a coach to join their team.

[2017-01-09 10:43] carpodaster commented on #582
Do we expect them to copy/paste entire code blobs into that textarea field? Why do we not consider external links? If the code exercise is mainly for the mentors, they will hardly be able to blindly select people anyway, right?

[2017-01-09 11:14] mkalininait commented on #594
@F3PiX Do you mean that the coaches who won't be available should set a check "I'm not available in the upcoming season"? I'm afraid that people who can't or lost interest in coaching may not bother reporting this. Or did I misunderstand you?

[2017-01-09 11:16] F3PiX commented on #594
Exactly! And they will set that option in their profile as soon as it is important to THEM, ie, the moment a student asks them (or with a ping from you to the coaches in Slack).

[2017-01-09 13:21] alicetragedy commented on #582
@carpodaster no, it should/could still be links, sorry if the wording made it sound like we wouldn't take links. what we don't want are links to *profiles* and *complete repos*, as often they're just e.g. super basic, generated code from scaffolds in the case of Rails apps.
But I think we could change the wording to make what we want more explicit. Maybe, “**Links to** completed coding challenge p

[2017-01-09 13:28] alicetragedy commented on #594
I agree with Maria: if someone has joined the Teams App once and showed interest in coaching (e.g. in 2014) they might not go back to the Teams app if they've lost interest to say that they will not be coaching anymore and check a box.
On the other hand, someone interested in coaching will be logging into the teams app again, and would be able to check said box.

I think what we could do once this

[2017-01-09 14:04] alicetragedy commented on #414
Note: I've removed this from the application process as I think it's not super important for now. It's enough if this gets solved before the start of the program!

[2017-01-09 14:09] carpodaster commented on #414
Makes sense, thank you! 💟

[2017-01-09 14:09] #366 closed

[2017-01-09 14:14] alicetragedy commented on #366
I'm definitely working on setting up an account that we can link to the API key, will get that done together with @klappradla once I've talked to Anika about this. Also, awesome work and thanksssss!!! ✨

[2017-01-09 15:22] carpodaster commented on #594
Hm, I question that – that is: _I_ would not be that person. As a coach or mentor you only used the teams app once: when you signed up. They probably have long forgotten about the existence of the app, let alone the URL to get there.

I don't like the idea of emailing all users on the teams app every year anew. Because of that, I am more in favor of @F3PiX's suggestion.

[2017-01-09 15:40] alicetragedy opened #599 "Season checkboxes for mailings are not ordered chronologically"
The season checkboxes for mass mailings (`/mailings`) are not shown chronologically, but seem listed pretty much at random. Not a tragedy, but it might be confusing when sending out emails.

production environment:

<img width="989" alt="screen shot 2017-01-09 at 16 28 28" src="https://cloud.githubusercontent.com/assets/3143348/21772034/f7a40cb4-d689-11e6-83d8-2b6ef82a17eb.png">

development envir

[2017-01-09 17:00] bitboxer commented on #583
The first question is: what is the application form? How do I get it?

Do you have a document somewhere explaining key concepts of the app and the terminology used here?

[2017-01-09 17:01] bitboxer commented on #588
Will do this after #583 is finished

[2017-01-09 17:02] F3PiX commented on #583
You beat me to it ;-) I am working right now on listing the steps to get there, and post them somewhere. Wiki? Readme? Slack?

[2017-01-09 17:04] bitboxer commented on #583
I would prefer the wiki (and link it in the readme ;) ). That way other people after me will find it easily and it doesn't clutter the readme too much.

[2017-01-09 17:05] alicetragedy commented on #583
@F3PiX I think it might be a good idea to have these concepts in the wiki, and possibly linking to them from the readme? it's quite a bit of info.

[2017-01-09 17:05] alicetragedy commented on #583
ops, @bitboxer, you were too fast :D

[2017-01-09 17:16] F3PiX commented on #583
@bitboxer If you are in a hurry, here is the first draft. https://github.com/rails-girls-summer-of-code/rgsoc-teams/wiki/How-to:-get-to-the-application-form.

[2017-01-09 17:17] bitboxer commented on #583
Awesome. Thanks!

[2017-01-09 17:24] F3PiX commented on #583
Can you let me know if this level of detail works for you, please?

[2017-01-09 17:27] bitboxer commented on #583
Yes, it works. I am now editing the Form 👍 .

After I added the new input field here, is there a backend view that needs to be updated to show this field? Or is adding the new field in this form enough?

[2017-01-09 17:31] bitboxer commented on #583
Ah and: is the giving back field a required field?

[2017-01-09 17:35] carpodaster opened #600 "Mobile optimisations for projects"
Currently these items do not work properly on mobile:

* The "soft" login required on /projects/new
* The `/projects` index
* The table at the top of a project's detail page (projects#show)

Any frontend wizard/witch who can take on this?

[2017-01-09 17:38] F3PiX commented on #587
I added the warning to the Application Form.

![schermafbeelding 2017-01-09 om 18 30 49](https://cloud.githubusercontent.com/assets/6314687/21776257/faa3863c-d699-11e6-827d-2b0e5de1fa83.png)

Am I right that it is meant for both the "Tell us about you" and the "Programming Background"? Not for everything after the Basics?

(Note: I didn't add the warning to the User Profile fields, because I suppo

[2017-01-09 19:02] bitboxer commented on #588
Should I also remove the field from the database? Or should it stay in there?

[2017-01-09 19:16] F3PiX commented on #184
With all the action on the Application 2017, it would be really helpfull to solve this issue. I already encountered duplication issues with the very first item (#601).
Not hindered by too much insight about the implications: can't we just add a shared form partial where we pass in the right student as a local var?

[2017-01-09 19:26] carpodaster commented on #583
@bitboxer you'll find the fields required per student in `app/models/student.rb`; the validations (for context `:apply`) are in `ApplicationDraft`

[2017-01-09 19:28] bitboxer commented on #583
Yes, I saw that. The question is: should they be required to fill out by the students in the validation? Or to be more precise: should I add the new field to the `REQUIRED_DRAFT_FIELDS` list?

[2017-01-09 19:36] ramonh commented on #580
Hello! I'll go ahead and give this a go if nobody has yet

[2017-01-09 19:40] carpodaster commented on #184
I was thinking to remove it from `users#edit` alltogether – at least for the time being.

I _think_ my idea of including it there was so that applicants can already start filling out their info while they are still looking for a team mate. Is this is a use case? I don't know. For the sake of simplicity, I am willing to let that doubious feature fall.

[2017-01-09 19:55] F3PiX commented on #184
That is a very plausible use case! I think it is weird that you have to pair up before you can see the form at all.  The form contains useful hints about what is expected from a student.
However, it think dropping it from `users#edit` will help a lot. For the time being!!! Hope we can think of another solution.

[2017-01-09 20:09] alicetragedy commented on #580
@ramonh awesome! you can use the final list that Maria made. It doesn't need to be split into categories necessarily, those are just for us (I think).

[2017-01-09 20:10] ramonh commented on #580
Thanks for clarifying, @alicetragedy! Just to make sure, you mean that on the actual form the student sees the categories won't be displayed?

[2017-01-09 20:14] alicetragedy commented on #580
@ramonh yes, that's correct — I think it would be ok if it was just a list of all the options as checkboxes, without the user/student seeing what category each checkbox belongs to :)

[2017-01-09 20:26] ramonh commented on #580
Great, thank you, @alicetragedy!

[2017-01-09 21:05] carpodaster commented on #154
Solved by #577

[2017-01-09 21:05] #154 closed

[2017-01-09 21:09] carpodaster commented on #588
I'm 80% in favour of removing it. The remaining 20% are doubts about mingling with existing `ApplicationDraft` records. otoh, we do have the lodged `Application` with all data and past students aren't able to browser their old draft anyway. So yeah, let's remove it!

[2017-01-09 21:10] carpodaster commented on #593
(The Star Wars kid in me got really excited when I read _Force Users_ 😉 )

![](https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2F000U_VNRW8s%2Fhqdefault.jpg&f=1)

[2017-01-09 21:15] #599 closed

[2017-01-09 21:16] carpodaster commented on #600
@katrin-k maybe? 😁

[2017-01-09 21:20] carpodaster commented on #583
Sorry @bitboxer – should have read both the initial issue text and your comment more thoroughly 🙃

I would say it's a required field, yes.

[2017-01-09 21:36] bitboxer commented on #588
Okay, will do tomorrow!

[2017-01-09 21:37] bitboxer commented on #583
Thanks! One question left: is there another view where I have to show the new field?

[2017-01-09 21:44] alicetragedy commented on #600
I'd be up for looking at it later this week if Katrin is not available! ✌️

[2017-01-09 22:08] carpodaster commented on #583
No, not for now. We've just discussed in #184 that we'll remove the other option to edit per-user application info.

[2017-01-10 00:59] mkalininait commented on #594
We could use our blog and twitter to ask users to "sign up" for the next season if they are interested.

Last year we had quite a few emails from people who wanted to be coaches but didn't know what to do to become one. With the "available" checkbox we could ask them to set the check and wait :) (which btw could be quite efficient if we improve the community page by adding availability filter and

[2017-01-10 09:57] F3PiX commented on #594
That are quite a few interesting issues. No I feel even stronger against the availability filter LOL

- Looking for a coach:
If we want to improve the coach searching for the students, I'd rather add a filter on the languages or frameworks they are comfortable with.
Plus, with the newly added geocoding, we can add a filter on location.
Also, looking for a 'remote' coach will not be easier with ava

[2017-01-10 10:19] bitboxer commented on #583
Nearly done. Only one thing left: what should be the text below the field that explains in detail what is expected in that field?

[2017-01-10 10:29] mkalininait commented on #594
@F3PiX I totally agree that we need more info about our coaches, especially tech info. There is an issue about it: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/593 (see the last suggestion there). Comments are welcome!
And I agree that it would be cool to filter by location and languages/frameworks, and maybe something else. As well as by availability 😄  😉

[2017-01-10 10:51] mkalininait commented on #587
@F3PiX Actually this warning applies to *all* fields after the "Basics" section. I should have specified this more explicitly :/

I was thinking that we could make a warning like this, so that it's super visible:
![warning-app-form-2017](https://cloud.githubusercontent.com/assets/1745735/21803580/ee822c82-d72a-11e6-990d-544d13415fd6.png)

We don't need such a warning in the User Profile, because w

[2017-01-10 10:58] carpodaster commented on #184
@F3PiX would you like to tackle the (temporary) removal of the fields in `users#edit`?

[2017-01-10 11:00] carpodaster commented on #587
@mkalininait this only means that there are two ways of _filling out_ the info. It's not visible on a user's profile anyway. It's subject to removal (see #184).

The color of the info box should probably be yellow/orange instead of blue.

[2017-01-10 11:05] mkalininait commented on #587
@carpodaster @F3PiX I had something like this in mind
![warning-2-app-form-2017](https://cloud.githubusercontent.com/assets/1745735/21804008/1c4cc7ba-d72d-11e6-982a-d61775c8d4ce.png)

[2017-01-10 11:12] mkalininait commented on #587
We should also remove the same warning from the name of this field: "Why are you applying to this program?"  since we have one global warning now.

[2017-01-10 11:48] anikalindtner commented on #592
plus one for the diversity field

[2017-01-10 11:54] mkalininait commented on #583
I have just remembered, we should probably set the char limit on the new "giving back" field (see https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/578)

@bitboxer Regarding the text below the field, I wouldn't write anything. We *could* provide some hints like: "For example: mentor newcomers in your local community, run workshops, become a RGSoC coach etc", but I would really like

[2017-01-10 11:56] carpodaster commented on #583
@bitboxer @mkalininait I'm already working on the char limits. Will add the flag to "giving back" once it's merged.

[2017-01-10 12:02] mkalininait commented on #582
Good point @alicetragedy @carpodaster

[2017-01-10 12:05] bitboxer commented on #583
Okay, done.

[2017-01-10 12:09] katrin-k commented on #600
@alicetragedy yeah, it'd be great if you could take care of this. thanks <3

[2017-01-10 12:49] alicetragedy commented on #582
I've updated the description accordingly :)

[2017-01-10 21:15] #588 closed

[2017-01-10 21:53] #583 closed

[2017-01-11 12:24] alicetragedy opened #606 "Create documentation for Teams App"
Even for pretty experienced developers, it's difficult to get started contributing to the Teams App without any information about context. The tests do provide some information, but I think it's not enough for people who have never used the Teams app before. My suggestion is to create documentation that will provide the following information for contributors and core organisers who sometimes just

[2017-01-11 15:25] alicetragedy commented on #592
+1 from my side as well

[2017-01-11 15:26] alicetragedy commented on #581
@klappradla is this something you might be interested in working on maybe?

[2017-01-11 16:06] klappradla commented on #581
Yeah, seems fine. I did not dive into details yet, but I'll just assign them to me then.

What in terms of deadlines does `high-priority` mean @alicetragedy?

[2017-01-11 16:08] klappradla commented on #205
Oh, just realized this is assigned to me - I actually don't really remember the context right now. But it's still relevant and should be fixed @alicetragedy ?

[2017-01-11 16:18] alicetragedy commented on #581
@klappradla high-priority means that these must absolutely be fixed by the time we open up the applications, the other ones are more like “small improvements” than anything, I think.

Regarding deadlines: I've left us a bit of breathing room there. The plan was to start testing the app on the weekend already (so ideally, with most of the bigger changes/`high-priority` issues already implemented, w

[2017-01-11 16:23] alicetragedy commented on #205
I don't remember much of the context either.
Ramon's PR seems to have fixed the bug with students adding themselves as coaches, so I don't have an overview anymore on what the exact problem is here. I'll try to test this tomorrow to see if it's still an issue!

[2017-01-11 16:49] F3PiX commented on #205
I am pretty sure this one is very relevant. IIRC suggestion was somewhere to add a `cannot change role` ability for students. Or maybe that was my implementation idea. 🤣

[2017-01-11 21:30] alicetragedy commented on #600
@carpodaster this is almost done (see https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/608) — the only issue I have right now is that my development environment shows no problems with the projects#show view, so I have no idea how to fix this problem in production 😢

[2017-01-12 09:08] bitboxer commented on #593
For 1: What does "only considered complete" mean? Is there a penalty if a users doesn't fill out the form and closes that window?
For 2: What should the wording of the email be?
For 3: What should the message be if a team member hasn't filled out all required fields?
For 4: When I am seeing this correctly, the github profile name is not editable already, or am I missing something?

[2017-01-12 09:19] alicetragedy commented on #364
Some clarifications as per our call last week:
“Mentors can pick the teams they feel they are fit to work on the project and they can also fav a team or more than one team, depending on what we decide later.”

The idea was to have a mentor “sign-off” (team is fit to work on the project/have the requirements) and a mentor “fav” (I really like this team and would love to see them selected), with che

[2017-01-12 09:24] alicetragedy commented on #581
We also talked about this feature in the call last week, and I wanted to expand a bit on the issue:

The idea is to have a overview with a list of all the applications that have submitted for the project (as either 1st or 2nd choice). Clicking on a single application (e.g. team name) will take the mentor to the detailed view of the application, where the above-mentioned answers can be found. (simi

[2017-01-12 11:07] alicetragedy commented on #593
Intro: The step of signing in with a github handle creates a new user in the db and currently allows that signed in user to e.g. create a team. The idea was to have a two-step process: first step, signing in, just requires the user to accept the oauth via github: this would give a user some sort of “read-only” access for anything that isn't their user profile (i.e. they can edit their user profile

[2017-01-12 11:10] alicetragedy commented on #593
Also relevant for 3:

A non-confirmed user can be added to a team, but we should probably wrote a similar notice somewhere to point out that on of the team users has a non-confirmed account.

[2017-01-12 11:19] bitboxer commented on #593
Thanks @alicetragedy ! This clears up a lot of things. Will start working on it this afternoon and report back when I have any questions.

[2017-01-12 11:24] F3PiX commented on #593
It is very good to strive for complete profiles. OTOH we want to keep the user experience as pleasant as possible. As a aspiring student, I'd want to check out things without telling you everything about myself.
That said:
- Why don't we grab the emailadresses from GitHub? IIRC it only requires a different permission setting.
- Devise has a cool module :confirmable. It will send a confirmation ema

[2017-01-12 11:35] alicetragedy commented on #593
@F3PiX we are grabbing the email addresses from GitHub — unfortunately, since some people have set their email address to private, GH doesn't allow us to access these email addresses directly, which causes the whole problem we have with email addresses missing currently ;)

[2017-01-12 11:57] bitboxer commented on #593
@F3PiX the `:confirmable` will be used to confirm the email address from the user 👍

[2017-01-12 11:59] F3PiX commented on #593
Aha, of course, sorry.

About the github handle: I think PR #514 handled the non-editability 💭

[2017-01-12 12:04] bitboxer commented on #593
Okay, will ignore the non editable in this ticket. If it is still an issue, a new ticket should be created that addresses this issue.

[2017-01-12 13:11] mkalininait commented on #587
@F3PiX Thanks!

[2017-01-12 13:11] #587 closed

[2017-01-12 17:09] bitboxer commented on #593
Current status: will finish this ticket tomorrow and need feedback on the "to be discussed" section till tomorrow afternoon 👍

[2017-01-12 20:06] klappradla commented on #581
Wow, thanx a million for the explanation @alicetragedy 🙏  - just perfect!

[2017-01-12 20:42] alicetragedy commented on #593
awesome! 🎉

[2017-01-12 20:44] alicetragedy commented on #591
I'd love to take a shot at this. :)

[2017-01-12 22:26] mkalininait commented on #593
@bitboxer We will make a decision on the "to be discussed" section by tomorrow 14 CEST ish. Hope it works for you!

[2017-01-12 22:59] bitboxer commented on #593
Of course :). I can always delay this and do other things.

[2017-01-12 23:28] mkalininait commented on #593
@bitboxer @alicetragedy I would like to leave some of my thoughts on this issue in addition to what has been discussed above.
The logic of creating users/teams/applications is becoming more complicated, and it's important to try to keep things transparent for users.

For example:
1. A user can't do certain things until he/she fills out his/her profile and confirms his/her email. It would be good t

[2017-01-13 08:13] bitboxer commented on #593
For 1: If you click on apply now without a confirmed account, you get a warning saying you need to confirm it, if you confirmed it and need to create a team, you are shown the team create page with an explanation that you need to do that.
2. Yes
3. Can you create a new ticket for this? This ticket is getting too big for my taste and I would love to prevent to add more features to it.

[2017-01-13 08:46] bitboxer commented on #593
And would it be possible to also create a new ticket for the things in the "to be discussed" section? That way I can finish this ticket and we don't have a huge pull requests with tons of feature in it.

[2017-01-13 08:47] bitboxer commented on #593
While we are at it: the change of the location input in the user form could also be another ticket because it doesn't touch any of the other things I am doing here.

[2017-01-13 09:20] #582 closed

[2017-01-13 09:42] mkalininait commented on #593
@bitboxer Ok, I'll create a few more issues 👍

[2017-01-13 09:57] #600 closed

[2017-01-13 10:06] bitboxer commented on #606
A explanation about the process on how people work with tickets would be super helpfull, too. What are those labels? Who is setting them, what do I have to do when I want to work on a ticket/finish a ticket?

[2017-01-13 10:10] alicetragedy commented on #606
A lot of this information (labels, picking up a ticket) is found in the [contribution guide](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/CONTRIBUTING.md). I'm not 100% sure about this, but I think external collaborators (e.g. people who have not been added to a team on GH) might not be able to set labels to issues themselves. And because of the way GH works, I think they

[2017-01-13 10:16] bitboxer commented on #606
Yes, you can't set them but there is also waffle.io who is setting labels (i wasn't aware of that and got a bit confused :wink: )

And I am still not 100% clear what "in progress" means with pull requests. When I have a finished pull request, but it is still labeled as "in progress", what should i do? Is this okay? The contribution guide ends at the pull request.

[2017-01-13 10:22] bitboxer commented on #593
Awesome. That is a huge relieve for me. This pull request will already be relatively huge with changes all over the place 👍

[2017-01-13 10:33] alicetragedy commented on #606
Yeah, I think “in progress” is added automatically by waffle.io. I don't use it, so I have no idea how to turn that off, but we should probably investigate this 🙈

[2017-01-13 17:25] mkalininait opened #609 "User Profile: new fields for coaches"
This issue originates from this one: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/593

We would like to have more information about coaches to evaluate quality of teams' support.

**Suggested solution:**
1. Add two required fields for users who checked the "interested to help out as a coach" checkbox:
 - "Coaching experience" - multiline textarea field with the placeholder text

[2017-01-13 17:57] bitboxer commented on #593
Created a PR for this. Hope I haven't forgotten something important

[2017-01-14 13:34] #578 closed

[2017-01-14 13:39] carpodaster commented on #364
Gonna tackle this.

[2017-01-14 14:05] F3PiX opened #611 "Weird things on staging"
#605 revealed unexpected behaviour in the rgsoc-teams-staging.

* The  application form was pre-filled with my info from last year.
* Carsten reported an error  `ActiveRecord::RecordInvalid: Validation failed: Github handle has already been taken`.
Looks like data is persisting that is not supposed to be.

Needs: researching the things :trollface: that are haunting the staging app.
Before that: Le

[2017-01-14 14:08] mkalininait opened #612 "User Profile: tech fields for all users"
This issue originates from this one: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/593

We would like to have more information about user technical skills primarily to make it easier for students and coaches to find each other.

**Suggested solution:**
Add the following fields (all required):
- "Technologies of expertise” - tags separated by comma (similar to the "Tags" field in

[2017-01-15 09:45] klappradla commented on #581
Quick question @alicetragedy: should the maintainers know whether their project is the team's first or second choice?

[2017-01-15 10:16] carpodaster commented on #399
I think we can close this – at least for now. Conferences are seasoned and by that, the season of an attendance can easily be infered.

[2017-01-15 10:16] #399 closed

[2017-01-15 10:20] alicetragedy commented on #581
That's a very good question, and I'm not sure if I have an answer for this. On the one hand, I think the maintainers would be interested in knowing whether their project is in a team's first or second choice; on the other hand, I think this would probably influence the maintainer's “favourite” teams maybe?
I think that I would be ok with providing maintainers all the information they need to make

[2017-01-15 10:22] alicetragedy commented on #581
quick (unrelated) note @klappradla: I think @carpodaster is planning to take a shot at https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/364, so there might be some overlap in your work — maybe you can talk to each other to make sure you don't do the same work twice. :)

[2017-01-15 10:38] carpodaster commented on #581
@alicetragedy ah, good call. I was planning to create another separate view/action for this, not including the fav in any existing templates. It used to be in `projects#index` in 2015 iirc, but since we collect more info now, I'm not gonna put it there. I think we can work independently and if we have time later (rofl), we can maybe combine both views when both have been merged to master.

[2017-01-15 10:42] klappradla commented on #581
Hm, @alicetragedy I'm not 100% sure if I understand your answer 😂  - so you mean "yes they should know wether their project was 1st or 2nd choice"?

And @carpodaster I saw you're working on this stuff and did not touch anything related to this yet. I threw in a `mentor` namespace with a respective `Mentor::ApplicationController` *(same pattern as for the other namespaces, etc)* so it's all separat

[2017-01-15 10:46] alicetragedy commented on #581
@klappradla yes, they should know. I think that's the best way to go about it 👍

[2017-01-15 10:57] carpodaster commented on #581
@klappradla new namespace sounds good! 👍 Take your time. I haven't written any code yet and probably won't have time for it before Tuesday.

[2017-01-15 10:58] klappradla commented on #581
Well, I'm for now skipping anything *mentor-fav* related and just add an empty column in the views, so we can then add the respective data there @carpodaster.

[2017-01-16 11:19] klappradla commented on #581
Just to keep you updates: I'm not sure if I find the time to continue on this before Tuesday, but I pushed my current WIP state to [this branch](https://github.com/rails-girls-summer-of-code/rgsoc-teams/tree/581) *(in case someone wants to have a look / try out things)*

[2017-01-16 13:11] alicetragedy opened #614 "Improvements to the help page"
The help page(s) for students were a bit confusing last year, so we should definitely review and improve them (especially if some things have changed in the application process) before the open the applications. This includes:
- [x] review “How to create an account” and “how to fill out your application” pages
- [x] review text on the main help page
- [x] make a link to the help page more prominen

[2017-01-17 08:01] bitboxer opened #615 "Possible security problem in Orga::ExportsController"
In the ExportsController we have this starting at line 10:

[code]

Instead of constantizing a random user input and calling a method on it, we should check against the whitelist that is generated in the `available_exports` method in that class to prevent a security problem.

[2017-01-17 08:04] carpodaster commented on #615
Thanks for spotting this! Impact is very low since only Orga-people have access to that controller currently. It's still a bug 🐛

[2017-01-17 08:07] bitboxer commented on #615
Yep, that is true. And this is the only place in the codebase that is using `constantize`. When I fix this I will also run brakeman to check if it finds other problems just to be on the safe side.

[2017-01-17 13:07] bitboxer commented on #615
I checked with brakeman and also fixed 2 other minor things. Brakeman also found a few unscoped calls to the `find` method of models, but I think in those cases it is okay to do them. There are two things marked as `high` that I am not sure if and how we want to fix them:

The `AttendancesController` has redirect_to's to an url you can define in the parameter (see why it warns about them [here](ht

[2017-01-17 13:10] #615 closed

[2017-01-17 13:13] carpodaster commented on #615
About the `params[:return_to]`: It only appears in `app/views/users/show.html.slim` and from what I get, we could easily ditch the param and to for a `redirect_to :back`

[2017-01-17 13:15] bitboxer commented on #615
I was worried that the static site (or something else) links to it with a specially crafted `:return_to` url. If this isn't the case, then a `redirect_to :back` would be totally fine. If you can confirm this, I will create a PR to fix this.

[2017-01-17 13:22] carpodaster commented on #615
I am positive external links aren't an issue: it's the `users#show` page, meaning the linking page needs a user's id to create the route. It's also a `PUT` request which is even harder to construct from the static site. I say: let's kill it with 🔥

[2017-01-18 00:20] mkalininait opened #618 "User Profile: emails to users who have been added to a team"
This issue originates from this one: #593 (see [this comment](https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/593#issuecomment-272316901))

We're gonna send an email once a profile has been saved (to confirm an email address). We should probably try to send an email to team members once someone added them to a team, too (to ask them fill out their profiles).

We already send email

[2017-01-18 00:24] mkalininait opened #619 "User Profile: fill out Location with Google autocomplete"
Implement one Location field with Google autocomplete just as we did it on the Application form.

[2017-01-18 08:16] #592 closed

[2017-01-18 09:07] alicetragedy commented on #591
My proposed list to choose from for now: "Agender", "Bigender", "Cisgender Woman", "Gender Fluid", "Gender Nonconforming", "Gender Questioning", "Genderqueer", "Non-binary", "Transgender Woman". (we can always expand on it if needed, this list specifically leaves out “Cisgender Man” as requested by Anika).

The field should give the possibility to choose from the above mentioned list, or to add yo

[2017-01-18 12:08] alicetragedy commented on #205
So, I've taken a look at this ticket and tested how it currently works in the app, to see how much has been resolved. The issues were:

1) keep students creating a team from setting / changing their own role (fixed in https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/425)
2) keep team members from changing their roles after they've been set (fixed in https://github.com/rails-girls-sum

[2017-01-18 12:12] alicetragedy commented on #362
@carpodaster We have not discussed this at all this year, and while it's definitely a great idea, I don't think it makes sense to think of this as a feasible feature for the Application forms in 2017. Maybe a small feature for a RGSoC team to work on this summer? I think there would be enough context to get started.. in that case, we could remove it from the “Application 2017” milestone.

[2017-01-18 12:22] alicetragedy commented on #205
Sorry, ignore what I wrote above. Seems like 1. is partly still there after all. As a user creating a team for the first time, it's still possible to change the preselected “Student” to “Coach” and add yourself to a team as a coach instead of a student. 😞

[2017-01-18 12:38] mkalininait commented on #588
Weird, but I don't see the "Please summarize what you have been doing to learn programming" field, neither on Staging, nor locally. I see that it has NOT been deleted in the associated PR (#602). I'm wondering where is has gone and why.
I'm writing it here, because I'm not sure where to write it.

[2017-01-18 12:44] mkalininait commented on #583
The "Why are you applying to this program" field still contains the "what do you think you can give back?" part in the name. I guess it has happened while resolving the merging conflict (see [this here](https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/605#issuecomment-272322525))

[2017-01-18 12:56] mkalininait commented on #420
Tested on [Staging](https://rgsoc-teams-staging.herokuapp.com), was able to reproduce both bugs.

[2017-01-18 13:54] bitboxer commented on #588
It was deleted in [this merge](https://github.com/rails-girls-summer-of-code/rgsoc-teams/commit/f196d01e6c2c50097195cdb150401ace89bc2ca1#diff-d45e18661240fe214cc441821264339dL45).

@carpodaster can you confirm? I can add that line back, but I think it is better that you check if anything else is strange in that merge.

[2017-01-18 13:57] carpodaster commented on #588
@bitboxer @mkalininait It may indeed have fallen victim to me using a new `git mergetool` (meld on Ubuntu instead of opendiff on Mac). Would be great if you could add it back, thanks!

[2017-01-18 13:58] bitboxer commented on #588
Also there are other things missing. Quoting from (here)[https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/583#issuecomment-273465910]:

[2017-01-18 13:59] bitboxer commented on #588
I am now a bit confused what is missing/wrong. Not easy to tell by the pr 😢

[2017-01-18 13:59] bitboxer commented on #583
Let's discuss this in [here](https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/588#issuecomment-273464790). No need to talk in 2 different positions about it ;)

[2017-01-18 14:07] bitboxer commented on #588
Will try to do my best now.

[2017-01-18 14:17] bitboxer commented on #588
@mkalininait what do you mean with the "750 word essay" text? I can't find it in the application. Can you say where it is so that I can fix it? Thanks!

[2017-01-18 18:46] carpodaster commented on #362
@alicetragedy Yes, good point. Removing it.

[2017-01-18 19:08] mkalininait commented on #588
@bitboxer Apparently, I was wrong, it was not a placeholder, but a custom text which looked like a placeholder :/
![screen shot 2017-01-18 at 20 04 09](https://cloud.githubusercontent.com/assets/1745735/22078814/b05d0f5e-ddb9-11e6-825b-c29168e1af7b.png)

I don't see this text locally. Sorry for the confusion.

But the name of the field "Why are you applying to this program" seems to be wrong still

[2017-01-18 19:23] mkalininait opened #621 "Bug: "My Team" button opens wrong page"
I have two teams in different seasons: 2016 and 2017. The "My Team" button opens the team of 2016 for some reason.

![myteam](https://cloud.githubusercontent.com/assets/1745735/22079333/be95bd9e-ddbb-11e6-995e-6a2b35831d6c.gif)

[2017-01-18 22:17] bitboxer commented on #588
Yes, the text will be fixed in pr #622

[2017-01-18 23:05] mkalininait commented on #430
Tested this ticket on Staging: all unchecked problems are still relevant.

[2017-01-18 23:21] mkalininait commented on #434
Tested on Staging: still can add a role without a github handle.
"...and I can’t neither add a github handle, nor delete it from the team." <- I still can't add a handle, but I can delete this empty role at least.

[2017-01-18 23:59] mkalininait commented on #578
Tested on Staging: if I exceed the limit in one of the fields and then validate the application, I get the following error message: "There are still some fields missing". It sounds a bit confusing.

[2017-01-19 08:24] bitboxer commented on #420
Sorry for the delay. Fixed the code, need to fix a few tests and then will be done. Working on it this afternoon

[2017-01-19 08:29] alicetragedy commented on #434
just a thought: If you are testing this on staging (where you might have a “student” role as well as an “organiser” role) that might be the reason why you can delete the empty role and a “simple” student might not be able to. have you tried testing locally with a “login as user” feature (or changing your role to student-only)?

[2017-01-19 10:43] mkalininait commented on #434
@alicetragedy I have a special user for testing -- mkalininait-test. It doesn't have any special permissions.

[2017-01-19 12:21] alicetragedy commented on #434
I'm sorry @mkalininait, I had no idea about that. then it looks like it was magically half-fixed at least 😂 (I think that not being able to remove the role was the more critical/annoying part of the bug, so it might not be an issue that needs an urgent fix after all if students can remove the empty roles themselves). Thanks for testing it again!

[2017-01-19 13:28] F3PiX commented on #434
Yeah, removing a role was a separate issue  and was solved in # 577

[2017-01-19 17:07] bitboxer commented on #420
Sadly I ran into a little problem with number 2: lots of the test code thinks that you can create empty teams. After I changed the minimum requirement to at least 1 team member, 43 tests failed. I tried to start to fix them, but it will take me at least 2 days to fix that everywhere. I would vote to skip number two and just do the first thing. Would that be okay? Empty teams can't apply anyway...

[2017-01-19 17:12] bitboxer commented on #430
For 1: what should be done here? This is just saying what the current status is but not what should be done.
For 2, 3: what should the wording be?
For 4: is this still relevant after the comment by klappradia?
For 5: does this need fixing or is this considered a bug?

[2017-01-19 21:49] mkalininait commented on #420
@bitboxer My problem with empty teams was that once you [accidentally] created an empty team, you couldn't delete it anymore without magic orga superpowers. But I agree, that empty teams don't do any harm actively, and it's not even a common use case.
Skipping this bug is totally ok for me considering the efforts it requires.

[2017-01-20 14:30] mkalininait commented on #430
@bitboxer Hey, sorry for not replying yesterday, i got stuck on the first question.

1. We should restrict adding user as a student if he/she is already added as a coach (confirmed or not confirmed, doesn't matter) in another team. A user can always delete him/herself as a coach from a team in order to become a student (coaches have this permission).

Btw, here is a nice example: Armin has been ad

[2017-01-20 14:32] bitboxer commented on #430
Yes, I understand that this is the problem. But what do you want implemented as solution to this?

[2017-01-20 15:34] Nada1996 commented on #621
@mkalininait I think the problem is in the definition of current team
`  def current_team
    @current_team ||= current_user.teams.first
  end`
and on your profile ,it seems like the teams are sorted by chronological order, so if I wasn't mistaken, this makes "Team Rackless pinguins [2016] " the first team , therefore = @current_team
`link_to 'My Team', current_student.current_team, class: 'btn bt

[2017-01-20 15:38] mkalininait commented on #621
@Nada1996 Cool, I think that's the problem! Thank you for the investigation 👍

[2017-01-20 15:42] Nada1996 commented on #621
I hope that this solves the issue.
I'm glad to help 😃

[2017-01-20 16:08] mkalininait commented on #621
@Nada1996 Would you like to make a pull request? If you have time of course. Investigation is often the hardest part, and you already did it :)
Otherwise we will make it, not a problem either.

[2017-01-20 16:33] Nada1996 commented on #621
@mkalininait yeah sure, I'll start working on it 👍

[2017-01-20 16:40] mkalininait commented on #430
@bitboxer
2. "Roles: there cannot be more than 2 students on a team."
3. "Roles: user has already been taken" (If we use this error message only when trying to add one user twice within **one** team, the message could be "Roles: user has already been added". But I can't tell it just by looking at the UI, it should probably be clearer after reading the code).

I found two more error messages of thi

[2017-01-20 16:48] mkalininait commented on #430
@klappradla Thanks for the comment.
In that particular screenshot, the error message in the second box repeats on of the error messages in the first box, that's why it looked redundant to me. Maybe there are other use cases though, when the second box provides more useful information. I just didn't see them...
If you vouch for 2 boxes, then we won't change it :)
//cc @bitboxer

[2017-01-21 00:31] mkalininait commented on #430
@bitboxer
5. I'm fine skipping it. WDYT @alicetragedy ?

[2017-01-21 07:35] bitboxer commented on #430
For the error boxes: I will try to make it look like one big box with two messages inside.

[2017-01-21 07:45] bitboxer commented on #430
For the message in the error text: this message is generated from Rails and uses the following convetion: "[Attribute] [Error Message]". I don't want to add a colon between the attribute and the message, this would mean we have to check every error message. I think the best approach is to form a sentence with "Role " at the beginning. For example: "Role need fixing. The user [USERNAME] has already

[2017-01-21 07:47] bitboxer commented on #430
And for the "name can't be blank": This is sadly how rails creates the messages.

Ah, another way would be to inline the error messages into the form and show the text next to the field that has the error. But we would need to redo every form to stay consistant. That is also lots of work.

Maybe we can just fix the two text messages and just ignore it and hope it works for most students?

[2017-01-23 13:48] bitboxer commented on #430
@mkalininait I tried to reproduce the two error message boxes, but I can't. It totally looks different on my machine:

<img width="1213" alt="bildschirmfoto 2017-01-23 um 14 44 48" src="https://cloud.githubusercontent.com/assets/56195/22206201/9863bdf2-e17a-11e6-9069-d78afc52f45b.png">

I assume now it is already fixed. If not, please post details how to reproduce it with a new screenshot.

With a

[2017-01-23 14:22] bitboxer commented on #430
After playing around with the coach / student rules I figured out that currently the system is setup in a way that everyone can get every role as often as they want. With the expection that a person can always be additionally added as a student in other teams. But once this person is a student somewhere, that person can't be removed or edited in other teams because the check if the person is a stu

[2017-01-23 21:56] mkalininait commented on #430
Hi @bitboxer
Regarding the **"coach / student rules"**.

That's right, one person can coach more than one team.

The 2nd looks correct to me. Note: we should check teams within current season.

[2017-01-23 22:02] carpodaster commented on #434
Can this be closed?

[2017-01-23 22:02] #420 closed

[2017-01-23 22:08] mkalininait commented on #430
@bitboxer
Regarding **two error boxex**.

I still can reproduce this bug locally. It's important that you try to add the same user with the same role. E.g. there is a Team with student X and coach Y. One box shows up if you try to add X as a coach or Y as a student in this team. But if you try to add X as a student or Y as a coach again, you'll see two boxes.

![team-error-boxes](https://cloud.git

[2017-01-23 22:36] carpodaster commented on #593
@mkalininait I'm assigning this to you for verification. @bitboxer's PR has been merged.

[2017-01-23 22:49] klappradla commented on #581
Hm, @alicetragedy, the notes / comments part is a bit trickier than I thought: the `comment` model has a certain callback behavior for comments on both, `applications` and `teams` - I'd rather not mix in a mentor's notes here *(it would mix with orga comments, etc.)*.

There's also a `notes` model. It's eventually even more suitable, since I'd have allowed only a single comment per application for