[2017-12-22 09:07] F3PiX commented on #878
@aSquare14 The best way to start is by selecting one of the issues with the 'beginner-friendly' label. Like this issue (or click on the yellow label, to see all issues with that label). Even if you are not a beginner at coding, they are suitable for first time contributors.
Does this work for you?

After that, if you are looking for something more challenging, you can take a look at the issues lab

[2017-12-22 14:31] aSquare14 commented on #878
Thank You !

On Fri, Dec 22, 2017 at 2:37 PM, Maud de Vries <notifications@github.com>
wrote:

[2017-12-27 14:42] nileshgulia1 commented on #878
Hey @F3PiX ,I would like to work on the  issue,will send a PR soon :)

[2017-12-27 15:56] F3PiX commented on #878
Hi @nileshgulia1 Welcome at the Teams App!!! Great that you want to contribute. 👍  🎉

@aSquare14 Are you currently working on this issue? Or can we pass it to @nileshgulia1 ?

@nileshgulia1 I'd hate to see you do double work for nothing, so please wait a few days until we know if @aSquare14 is working on this.

[2017-12-27 16:26] aSquare14 commented on #878
Nopes I'm not. He's free to work on it. All the best!

On 27 Dec 2017 9:26 pm, "Maud de Vries" <notifications@github.com> wrote:

[2017-12-27 16:27] F3PiX commented on #878
@nileshgulia1 All yours!!! 💃

@aSquare14 Thanks for your swift reaction! Much appreciated.

[2017-12-27 16:47] F3PiX commented on #878
@nileshgulia1 One more thing: be sure to _first_ pull in the latest changes - we just merged a huge PR - . Then create your branch, so that your commits are on top of the changes.
This will save you a lot of merge conflicts later on.

(Ask away if you need more explanation/help.)

[2017-12-27 18:14] nileshgulia1 commented on #878
hey @F3PiX ,need help translating error messages via  i18n.
For translating error messages in ```app/models/applicaton_draft```
[code]

    if project1 && project1 == project2
      errors.add(:projects, :must_not_be_selected_twice)
    end
  end

[code]
is this the right approach?

[2017-12-27 20:07] F3PiX commented on #878
This is a great start, yes!
1) The general idea is correct: the original string value becomes the value for the error key. ('must not be selected twice'). I assume the last code block you showed ^ is in the en.yml file. Right? It should be.

2) It is not required per se that the whole sentence becomes the key; main goal is that it is very clear (for your fellow developers) what error message is ge

[2017-12-28 07:48] nileshgulia1 commented on #878
@F3PiX  Great,Thank you :)

[2017-12-28 14:41] nileshgulia1 commented on #878
@F3PiX  Need help! can you tell me how to remove these duplications:
[code]
I got this error :```Message: Request textDocument/formatting failed with message: duplicated mapping key at line 93, column -188:
        errors:
         ^```
and some indentation error also.

[2017-12-31 23:59] inioluwaa commented on #885
This issue has been fixed already, should be closed

[2018-01-02 12:27] carpodaster commented on #885
@F3PiX can you verify?

[2018-01-02 12:30] F3PiX commented on #885
@inioluwaa Thanks for reporting! I love problems that solve themselves ;-)

I am not aware that this is solved, though.
Can you please explain a bit how you came to the conclusion? For example: did you find the implemented code, or did you try to update your email address on the site, and were not allowed?

[2018-01-02 13:31] teambundledore opened #901 "Incorrect author name for a blog post"
In the blog post feed, under the title of the article, the correct name is not displayed. I am sorry if this has already been reported, please close the issue if you feel it has already been reported. Attaching a screenshot.
![screenshot from 2018-01-02 18-51-54](https://user-images.githubusercontent.com/29810436/34485170-1d6b4b5e-efef-11e7-8ef2-ce6776b57007.png)

[2018-01-02 13:38] nerdyvaishali commented on #901
I think this was reported in teams app. There was an issue with one team id where instead of team's daily logs, blog posts were appeared. I remember abourt some discussion, but I don't remember if it was solved or not.

[2018-01-02 13:47] F3PiX commented on #901
@nerdyvaishali There was another issue with the blog posts, but that was a bit different.

I'll follow up later with a description of the problem.

[2018-01-02 17:11] klappradla commented on #901
It's 403s for all the images. I remember we had something similar when we tried to switch to the new AWS gem...

[2018-01-03 10:15] carpodaster commented on #901
The root problem seems to be that a team has updated the list of web resources in their profile with a direct link to their blog post on rgsoc.org. Our feed url detection does the rest:

[code]

[2018-01-03 10:27] nerdyvaishali commented on #901
@F3PiX I found it I guess. It is issue 853: https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/853

The problem seems to be with the same team's team id.

[2018-01-03 10:33] F3PiX commented on #901
@carpodaster @nerdyvaishali

I am not sure that is the problem here. These blogposts are by the orga's.

![schermafbeelding 2018-01-03 om 11 29 08](https://user-images.githubusercontent.com/6314687/34516968-5d23fe78-f079-11e7-87df-c18c6613fb15.png)

I was thinking to look into two things:
1) the :display team name method, when there is not a team
2) the way we pull in blogposts from the orga websi

[2018-01-03 10:46] carpodaster commented on #901
@F3PiX the blog posts are posted by Team prodyoGEEKY and as you can see on [thir profile page](https://teams.railsgirlssummerofcode.org/teams/338), they are the ones referencing a railsgirlssummerofcode.org blog post. It was not added to the Teams App by the orga team.

Yes, that's the reason. See https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/901#issuecomment-354977203 above: th

[2018-01-03 10:49] carpodaster commented on #853
I totally overlooked it. The AWS 403s _might_ be related, but I'm closing this in favor of the more recent #901 and will create a new issue to investigate the possible AWS bug.

[2018-01-03 10:49] #853 closed

[2018-01-03 10:51] carpodaster opened #903 "Investigate possible AWS errors"
Follow-up to #853 where @klappradla [pointed out](https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues/853#issuecomment-329408374) that the 403s on S3 feed images might be related to the updated AWS gem.

[2018-01-05 13:30] carpodaster commented on #901
I updated the offending source and removed the unwanted blog posts from our activity listing. Thanks again, @teambundledore, for reporting this! :green_heart:

[2018-01-05 13:30] #901 closed

[2018-01-05 21:39] carpodaster opened #906 "Testing: Verify partial doubles"
Working on #905 revealed that we stub methods on objects that originally do not respond to these methods – and [that's a trap](https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fi0.kym-cdn.com%2Fentries%2Ficons%2Ffacebook%2F000%2F000%2F157%2Fitsatrap.jpg&f=1)! We can set `verify_partial_doubles` to `true` in `spec/spec_helper.rb` but that will break tests. These tests will have to be fixed.

[2018-01-07 22:35] F3PiX commented on #878
Hi @nileshgulia1 How are things going? Let me know if you help?

[2018-01-08 18:10] swdonovan commented on #906
Hi there! I’m a first-time contributor and was hoping to help out with this issue. I & @dphilla noticed nobody was assigned to it, but if there’s already a solution in progress we're happy to try helping out elsewhere. Thanks!

[2018-01-08 18:58] F3PiX commented on #906
Hi @swdonovan and @dphilla ! Welcome! Great that you want to contribute.
This issue is available, so, sure, give it a go!

Let us know if you get stuck. We are here to help!

[2018-01-10 00:20] yoasyo25 commented on #781
Hi there! I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it and I’m happy to try helping out. Thanks!

[2018-01-10 12:57] klappradla commented on #781
Hey @yoasyo25 👋 awesome that you wanna help and welcome to the Teams App 💚

And yes, this issue is free to grab _(I don't remember anyone working on it)_, so feel free to try fixing it! If you need any help or any further information, just ping us here 📞

Small sidenote, since this may eventually not be obvious from the issue's title and description: we don't want to add an upload mechanism for av

[2018-01-10 14:51] nileshgulia1 commented on #878
Hello,@F3PiX, Got busy doing other work,Yeah things are going great ,Sure i will ask if i need help.Thank you :)

[2018-01-11 13:44] F3PiX commented on #781
I doublechecked the issue. Currently, after a user changed their avatar on GH, they have to sign out from GH and sign back in, and then the avatar _will_ be updated in the Teams app.
So, the updating logic works, we just need the button to trigger a refresh. 👍

[2018-01-12 09:13] klappradla commented on #781
Thanx for the update @F3PiX 🙏

Maybe we can also check for updates on GH's side periodically or when the user gets a new session or something along the lines of this to not have "just another button" 🤔

[2018-01-12 09:22] F3PiX commented on #781
That sounds great. As this issue is meant to be beginner friendly ;-), what implementation would be the simplest? I'd think the button is easier? What do you think?

[2018-01-14 20:31] klappradla commented on #781
So, @yoasyo25 & @F3PiX just a quick summary of what has been said here in the conversation to get you started @yoasyo25 🚀

- [ ] Double check why [`/lib/github/user.rb#L20`](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/lib/github/user.rb#L20) does not return the current avatar if a user changed it on Github and investigate if there's maybe a different field that **is** the

[2018-01-21 18:42] F3PiX commented on #906
Hey @swdonovan and @dphilla. How is this PR going? Are you working on it? Can we help?

[2018-01-22 08:36] ramonh commented on #882
As discussed, I'll be adding a limit for 4 team coaches

[2018-01-23 14:39] amrtanair commented on #901
Happy to help ! @carpodaster

[2018-01-25 10:22] ramonh opened #914 "Application form: Clarify requirement of what university courses are being taken by applicant"
If a university student is applying for the summer of code, they'll be required to list what courses they're taking and how many weekly hours they take up.

[2018-01-25 10:23] ramonh commented on #914
@nerdyvaishali I had a quick question about this. I had a look at the application form and couldn't quite figure out where this best fit. I thought about this field:

![screen shot 2018-01-25 at 11 13 37](https://user-images.githubusercontent.com/656318/35383271-1199408a-01c2-11e8-9214-011b8513d993.png)

Do you reckon this should go in the label above, or the hint below? I'm more for the label abo

[2018-01-25 10:42] alicetragedy opened #915 "deleting a user redirects to a non-existing page"
When you delete a user (either as an organiser or, I'm guessing, as a user trying to delete your own profile, if that's a possible use case), you get redirected to `/users` which does not exist anymore (i.e. visitor gets a 404). The visitor should probably get redirected to `/community` instead, which is the “new” user list page.

[2018-01-25 10:53] nerdyvaishali commented on #914
@ramonh I think yes, it should go in label above. Please goa head with that change. Thanks

[2018-01-25 10:54] ramonh commented on #914
Will do, thanks for getting back to me so quick, @nerdyvaishali !

[2018-01-25 10:55] nerdyvaishali commented on #882
@carpodaster Yes, this can be closed now. Thanks.

[2018-01-25 12:44] #882 closed

[2018-01-29 09:25] #915 closed

[2018-01-29 09:37] alicetragedy commented on #868
@carpodaster yeah, I think that was the original thought behind the text area.

The issue with the packages is that we need to fill out custom forms for each of the non-EU packages, and it some cases it was difficult to fill out from a text block in a text area. We were unsure if “house behind the only bus stop in town” is an acceptable entry for “Street” 😂  (I'm obviously exaggerating, but some o

[2018-01-29 09:40] ramonh opened #919 "Integrate part-time scholarship options into application process"
As discussed, this will take the shape of two checkboxes:

- Full-time (40 hours per week)
- Part-time (20 hours per week)

[2018-01-29 10:06] ramonh opened #920 "Remove volunteering checkbox from application form"
As discussed, this will no longer be offered to applicants.

However, we should not remove the field from the database, for our records.

[2018-01-29 18:06] klappradla commented on #765
Up next: show a link to the submitted application.

[2018-01-30 09:28] klappradla commented on #920
Why not also remove the field and all logic connected with it? If we're not using it, I don't see a point in having it around... 🤔

[2018-01-30 09:30] ramonh commented on #920
I thought of this too @klappradla but I think we might want to keep it around, say, if we want to display stats from previous years. Wdyt?

[2018-01-30 09:35] klappradla commented on #920
Valid point. But won't the contents of the DB and the current state of the application be exported by the end of the season anyways..?

If not, I'd suggest to approach it sorta like we did it when deprecating other application attributes last year: rename the column, prefix it with `deprecated_<original-name>` so that we know we can throw it out at some point.

However I'd still get rid of the log

[2018-01-30 09:36] ramonh commented on #920
That sounds good to me! Sorry I was unclear, I intend to remove the volunteer logic as well 👍

So I'll rename the column to `deprecated_<name>`

[2018-01-31 10:46] F3PiX commented on #920
(Heads up: we use the `rgsoc-2018` label for issues that the student team can work on during Summer. Instead, I created a new Milestone for issues that need to be done before the Application Phase starts.)

[2018-01-31 10:51] ramonh commented on #920
Oh cool, thanks for putting up with this github newbie 😅

[2018-01-31 12:23] klappradla commented on #914
Closed via #918

[2018-01-31 12:23] #914 closed

[2018-01-31 12:24] klappradla commented on #914
As a follow up: the one field should probably then also be hidden from the pair in the emails sent out with the application data. Can you take care of this @ramonh or are you on something else today?
I won't be able to do this until Friday I fear.

[2018-01-31 12:44] klappradla commented on #914
Or wait. It's such a tiny fix - I can probably even do it during the left overs of my lunchbreak.

[2018-01-31 12:58] klappradla commented on #914
Here's the PR @ramonh https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/922

[2018-01-31 13:01] ramonh commented on #914
Oh wow, that was fast, thanks @klappradla I'll review right away

[2018-02-02 12:36] paavininanda opened #924 "Once a user posts a comment on any of the projects, the user cannot edit that comment."
One should be able to edit or delete one's comment after posting it.

[2018-02-04 19:59] carpodaster commented on #924
@paavininanda thank you for that suggestion! Editing would require tracking an edit history and I would like to avoid that. However, deleting one's one comment should be added. But again, I would like to leave something like _comment deleted_ without the user name. What do you think?

[2018-02-05 03:52] paavininanda commented on #924
@carpodaster Can't we just let the user edit the comment without maintaining a history of the edits? I personally wanted this feature because i committed a typo in one of my comments.

[2018-02-05 11:30] #920 closed

[2018-02-05 11:30] #919 closed

[2018-02-05 11:47] ramonh opened #925 "Differentiating between part-time and full-time teams"
Up until recently, we were differentiating between `sponsored` and `volunteer` teams.

With the introduction of part-time and full-time, as well as replacing volunteer teams with these, we'll need a mechanism to differentiate between these.

For this, we'll need:

- [x] Integrate these changes into the reviewing process
- [x] Add these to the `kinds` for `Team`s
- [x] Show and filter these in the

[2018-02-05 13:47] ramonh opened #926 "Crash when user has no `current_team` upon applying"
If a user has no `current_team` and they try to click on "Apply Now", the app will throw an error

[2018-02-07 10:00] klappradla commented on #926
Can we close this now since #927 has been merged?

[2018-02-07 10:14] ramonh commented on #926
Yes, thank you @klappradla!

[2018-02-07 10:14] #926 closed

[2018-02-09 13:02] ramonh opened #930 "Wording on code samples in application form needs some clarification"
As it stands right now:

A question was brought up on Slack that made us decide tweaking the phrasing to:

[2018-02-11 22:05] ArushiSinghal opened #932 "Teams decided to not listed in the team overview should have more privacy"
If the team decides not to get listed in the team overview, then their team name should also not be shown in the team-member profile. This can help the members to remain more private until their selection.

[2018-02-11 22:11] ArushiSinghal opened #933 "The link to the Rails-App from tthe RGSOC website"
In the RGSOC website (https://railsgirlssummerofcode.org/) there should be direct link/button to go to the "Rails Team APP" (https://teams.railsgirlssummerofcode.org/) to improve user experience as it's difficult for the user to find the site for "Rails Team App".

[2018-02-11 22:20] ArushiSinghal opened #934 "Populate Team dropdown on the Activity page between seasons"
On the Activity page, the "Team drop-down" is of no use.
![screenshot-2018-2-11 rgsoc - teams app](https://user-images.githubusercontent.com/20858804/36079324-d9f06926-0fa7-11e8-9d48-3245c435568d.png)

Edit: Summing up the discussion below. The requirements are:
1) During the `current season`, the dropdown is populated with the teams that are `accepted` in the current season
2) Until the `current

[2018-02-11 22:25] ArushiSinghal opened #935 "On the community page, filter for the city should be there."
As the teams have to choose coaches from the same city. So the filter for the city on the community page can help in finding the coaches from the same city.

[2018-02-12 04:23] ArushiSinghal commented on #886
Hello F3PiX
I want to work on this feature. I opened some of the issues already. Please share some ideas about how I can improve the Team's App more.

[2018-02-12 04:26] ArushiSinghal commented on #906
Hello
If the task is still not complete, I want to contribute to this task.

[2018-02-12 04:27] ArushiSinghal commented on #885
Is this issue solved?

[2018-02-12 06:49] #930 closed

[2018-02-12 07:08] ramonh commented on #934
Hey @ArushiSinghal thanks for pointing this out!

The purpose of this dropdown is to display the accepted teams of the current Summer of Code season.

So as you correctly found, the dropdown is empty between seasons.

One thing we could do is hide the dropdown if there are no teams to display and show it otherwise.

What do you think?

[2018-02-12 08:10] ArushiSinghal commented on #934
Yes, we should hide the dropdown when there is no team. @ramonh  should I go ahead to solve this issue?

[2018-02-12 08:20] ramonh commented on #934
Sounds good, thanks @ArushiSinghal go for it!

[2018-02-12 08:29] ramonh commented on #933
Thanks for this, @ArushiSinghal!

We already have issues related to linking to the teams app [here](https://github.com/rails-girls-summer-of-code/summer-of-code/issues/97) and [here](https://github.com/rails-girls-summer-of-code/summer-of-code/issues/439) that have more broadly to do with restructuring the website, so I'll go ahead and close this.

[2018-02-12 08:30] #933 closed

[2018-02-12 08:39] ArushiSinghal commented on #933
@ramonh  Thanks for the information.

[2018-02-12 08:47] F3PiX commented on #885
I don't think so, @ArushiSinghal. You are very welcome to dive into this. As a first step, make sure that you can reproduce the problem.
Then, the solution to work on would be:

Thanks!

[2018-02-12 08:52] F3PiX commented on #886
HI @ArushiSinghal Thanks for working on the Team's App. :party: I see you have two issues to work on. Is it okay for you to work on those first? We can come back to extra issues later.

[2018-02-12 09:01] ArushiSinghal commented on #886
@F3PiX  thanks.
I will first try to complete those two tasks and then move to this task.

[2018-02-12 09:28] carpodaster commented on #934
We could also fill the menu with the selected teams of the most recent season when we don't have selected teams for the current one, yet. Wdyt?

[2018-02-12 09:31] ramonh commented on #934
Good point, this is much better!

[2018-02-13 17:07] valaparthvi opened #937 "Disappearance of questions from the application form."
**Bug** - The questions asked on [application form](https://teams.railsgirlssummerofcode.org/apply) hides as soon as we click on the answer box. It will be much more helpful if the questions stayed visible while we answer them.

**Expected Behaviour**: The questions should stay visible.

**Actual Behaviour**:
_Before:_
![Before](https://user-images.githubusercontent.com/11015077/36162940-d2895adc-

[2018-02-13 20:53] bajajerk commented on #885
@ArushiSinghal are you working on the issue or should I look into this?

[2018-02-14 08:27] bajajerk commented on #937
I couldnt reproduce this bug @valaparthvi

[2018-02-14 09:46] valaparthvi commented on #937
@bajajerk
I'm not sure which application form you tried but, this application form [here](https://teams.railsgirlssummerofcode.org/apply) is causing the bug.

[2018-02-14 20:32] klappradla commented on #937
Hey @valaparthvi, thanx for reporting 🙏

I tbh have a hard time reproducing this as well 🙈  Can you maybe give me some more detailed information about your setup? Which version of which browser are you using? Plus: **can you quickly try out if everything behaves normally if you disable your `Grammarly` extension**? (I only heard weird things about this extension so far 🙈 )

I cannot come up with a

[2018-02-15 07:54] valaparthvi commented on #937
Hey @klappradla, Looks like you were correct 😬. Grammarly and Firefox was a bad combination. I couldn't reproduce the bug once I disabled Grammarly. I tried to reproduce the bug on Google Chrome(I have Grammarly installed there too), couldn't reproduce it there.
Anyway, thanks to both of you.🙂 I'll close this issue then.

[2018-02-15 07:54] #937 closed

[2018-02-15 09:58] ramonh commented on #932
Thanks for pointing this out, @ArushiSinghal! Will look into this 👍

[2018-02-16 12:55] klappradla commented on #932
Should be fixed via #938 now @ArushiSinghal - thanx again for reporting 💚

[2018-02-16 12:55] #932 closed

[2018-02-19 09:30] ramonh opened #939 "Show mentors' comments in review process"
Comments left by mentors on applications should be visible in the review process

[2018-02-24 14:04] cesswairimu commented on #935
I would like to work on this.

[2018-02-24 15:36] ArushiSinghal commented on #935
Hello, @cesswairimu I think admins have not given their idea's on this Issue. I am waiting for their approval. And then one of us can work on this issue.

[2018-02-25 09:55] dimi-23 opened #942 "Display teams after filtering the year from the drop down menu"
Currently when a particular year is selected from the drop-down menu as shown in the figure below, no search results are obtained.

![image](https://user-images.githubusercontent.com/28829807/36640173-f93989d2-1a3f-11e8-9a03-53960f386938.png)
This issue needs to be rectified.

[2018-02-25 09:55] dimi-23 commented on #942
I would like to work on this issue if it seems important.

[2018-02-25 10:00] dimi-23 opened #943 "Deadline for RGSoC"
A new feature can be added to the RGSoC TeamsApp wherein the time left/deadline for the application process of RGSoC to end can be shown, so as to remind the participants whenever they access the site. Also, other information like dates for declaration of results can be incorporated.

[2018-02-25 10:00] dimi-23 commented on #943
I would like to work on this if it seems essential to be integrated.

[2018-02-25 13:13] AnkitaKhurana opened #944 "RSS Icon Misleading Link"
The RSS Icon in Activity Area is directing to a misleading link which needs to be corrected.

![image](https://user-images.githubusercontent.com/13145896/36641780-a2747cee-1a5b-11e8-86e2-f5f2845e18a1.png)
Rss Icon on the right most section

![image](https://user-images.githubusercontent.com/13145896/36641756-4655db74-1a5b-11e8-921b-faf7ca30e481.png)
URL it is directing to

[2018-02-25 13:13] AnkitaKhurana commented on #944
I would like to work on this issue if it seems important.

[2018-02-25 13:16] AnkitaKhurana opened #945 "Remove "Time now" column from community page users' listing"
The ‘Time Now’ column of a few community members is not fetching any results in the Community page.

![image](https://user-images.githubusercontent.com/13145896/36641820-1ec087c0-1a5c-11e8-9a61-f8f715e81eb2.png)

[2018-02-25 13:16] AnkitaKhurana commented on #945
I would like to work on this issue.

[2018-02-25 16:57] klappradla commented on #944
Hi @AnkitaKhurana 👋

I'm sorry, but I fear I don't really understand the issue here 🙈

What is the problem with the URL in your opinion? The link exposes the activities as an RSS feed in the [atom](https://en.wikipedia.org/wiki/Atom_(Web_standard)) xml format for feeds. I would not know how this should be done any different - afaik it's the default process as e.g. news sites use it as well.

Depen

[2018-02-25 16:57] #944 closed

[2018-02-25 17:15] klappradla commented on #945
Hey @AnkitaKhurana ✌️

Thanx for reporting 🙏

The question here is: how could this be "fixed"? The column is based on the `timezone` attribute of a user record which is right now non-mandatory. See the user form for this 👇
![artboard 1](https://user-images.githubusercontent.com/3491815/36644195-00d78146-1a57-11e8-9c41-cc4a17e02c3d.png)

I'm personally strongly against making more attributes of the

[2018-02-25 17:33] klappradla commented on #942
Hey @dimi-23 👋

Thanx a lot for reporting 🙏

The problem originates from changes to the possible `kinds` of teams we recently introduced before this upcoming season (cc @ramonh ). In short: the old data of course does not adhere to the current datamodel 😉

The "fix" would be to simply run a migration on the production database. Therefore I'm not really sure if this issue is a good fit for you to w

[2018-02-25 17:35] klappradla commented on #945
**Edit:**
We just came up with an even better "fix™" for this issue @AnkitaKhurana 💡

Let's just fully get rid of the `Time now` timezone column on the community table. It's not a super relevant information in this content and the table is already way to huge anyways.

Would you be interested in implementing this change?

[2018-02-25 18:03] klappradla commented on #935
Hey @ArushiSinghal & @cesswairimu 👋

Sorry it took me so long to get back to you 🙈

This was indeed a feature which was originally planned for the community page. At least filtering by `country` was already worked on in [this PR](https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/849) by our lovely students from last year.

There is also [an existing open issue](https://github.com/rail

[2018-02-25 18:03] #935 closed

[2018-02-25 18:42] carpodaster commented on #943
Hello @dimi-23, thank you for your suggestion!

This is nothing that is on our immediate schedule, but we are more than happy to accept pull requests that address this. So yes, please go ahead :smile:

I would still like to close this issue as we strive to keep our open issues count small (we're kind of failing in that regard already :cry: ). So when you open a pull request, feel free to refer thi

[2018-02-25 18:42] #943 closed

[2018-02-26 10:33] ramonh opened #949 "User profile: Own invisible teams are hidden, too"
Oops!

Some coaches aren't able to confirm their team membership, because the teams are hidden for everybody.

[2018-02-26 18:56] klappradla commented on #949
Closed via #950

🙏 @ramonh

[2018-02-26 18:56] #949 closed

[2018-02-26 19:01] klappradla commented on #925
With #948 being merged, can this be considered done now @ramonh ?

[2018-02-26 19:03] ramonh commented on #925
Yes! Totally, thanks @klappradla

[2018-02-26 19:03] #925 closed

[2018-02-26 22:20] dionew1 commented on #200
@carpodaster Hello, I noticed this issue is still open. I am a first-time contributor and was hoping to help out with this issue. If there is already a solution in progress I would be happy to help out elsewhere.

[2018-02-27 10:56] F3PiX opened #953 "Move fake data sets out of the seeds"
Goal: Distinguish between seeds and fake data
- Seeds only for data that is required to make the app run
- Fake data for dev happiness

How
- Keep the basic data as seeds
- Create a rake task for populating the database with fake data.
- Update Readme

[2018-02-27 23:29] stefannibrasil opened #954 "Send email confirmation after students submitting a proposal"
After submitting for the Rails Girls Summer of Code we could send an email containing the team name, the time it was submitted and more useful info for the participants to keep a record of it.

[2018-02-28 07:12] ramonh commented on #954
Hi there, thank you for reporting this!

We had this functionality this year, but found some issues with it, so we've had to temporarily disable it, as shown in PR #951

I'll put up an issue to get the ball rolling on fixing this, so I hope you don't mind that I close this to avoid confusion.

Thank you once again! 😄

[2018-02-28 07:12] #954 closed

[2018-02-28 07:13] ramonh opened #955 "Ensure correct student names are in the application confirmation emails"
As quickly gone over in PR #951, we've had to temporarily disable application confirmation emails as we had an incident where students were sent the opposite applications with the opposite names.

We need to have a way to ensure that the correct `student_index` is used for `student0` and `student1`.

[2018-02-28 08:55] SnehaMidha opened #957 "Add feature to mention users in the comment and notify them."

[2018-02-28 10:14] alicetragedy opened #958 "Make information about application submissions consistent across the teams app"
We have different views where we show information on applications connected to a certain project:

- the project list overview (`/projects`)
  - this lists all projects, is accessible to all users (also non-signed-in users) and shows numbers for applications in draft mode as well as applications that have been submitted for each project
- the single project view (`/projects/id-project-name`)
  - t

[2018-02-28 10:20] alicetragedy commented on #958
(realising now that the first two options are a no-go because we need that info there, but I'll leave them for posterity)

[2018-02-28 12:59] klappradla commented on #957
Hi @SnehaMidha 👋

it would be handy if you could give a bit more context on the issue you are reporting, such as:
- which type of comments are you referring to?
- what would be the purpose / use case for mentioning users?
- how should they be notified?
- "how" should mentioning work in practice?

This being said, I fear that the feature is not *pressing™* enough for anyone of us to work on, since

[2018-02-28 12:59] #957 closed

[2018-02-28 17:53] stefannibrasil commented on #954
Hi, thanks for the info! No problem! :)

[2018-02-28 20:56] kytrinyx opened #960 "Updating comment from /mentors/applications/:id page results in 404"
When reviewing applications, I am able to successfully create a comment on the mentors/applications/:id page, however when attempting to update the comment it returns a 404.

[2018-03-03 14:37] stlireri commented on #960
@kytrinyx I would like to work on this issue

[2018-03-03 15:38] ramonh commented on #960
Hey @stlireri, thank you so much for offering to help on this issue!

Since this is a bug that affects this year’s mentor reviewing phase, it would need to be implemented in the next few days.

Would you have time to begin looking into it this weekend? I’d be happy to help you along the way and answer any of your questions if you need help. Feel free to message or ping me!

We also have some other

[2018-03-03 20:37] klappradla commented on #958
What kind of number make most sense and are easiest to understand without knowing the internals of the program?
I thought about something like this for `/projects/id-project-name`:

| etc | etc |
|---------------------------------------------|:------:|
|Applications 1st Choice (drafts / submitted)  | 10 / 8 |
|Applications 2nd Choice (drafts / submitted) | 5 / 5  |

One would read it _(and it mean

[2018-03-04 17:50] stlireri commented on #960
thanks @ramonh for offering to help.
Am currently having an issue with installations part. am getting a weird error.

[2018-03-04 17:52] ramonh commented on #960
Hi @stlireri, sure thing! What's the error you're getting?

[2018-03-04 18:02] stlireri commented on #960
after running "bundle exec rails db:setup", i get this error
'Created database 'rgsocteams_development'
FATAL:  role "stella_ireri" does not exist
Couldn't create database for {"adapter"=>"postgresql", "database"=>"rgsocteams_test", "host"=>"localhost", "min_messages"=>"error"}
rails aborted!
'

[2018-03-04 18:18] kytrinyx commented on #960
@stlireri it sounds like you need to run `createuser -P -s rgsoc` (from the README)

[code]

Feel free to make the password empty (just hit enter). That's what I usually do locally unless I have production or protected data.

[2018-03-04 19:24] ramonh commented on #960
Thanks for your help @kytrinyx ! That ought'a do it

[2018-03-05 10:51] cesswairimu commented on #955
Hi @ramonh I would love to work on this issue

[2018-03-05 12:10] ramonh commented on #955
Hey @cesswairimu, sure thing, thank you so much for offering to help!

Please make sure to let me know if I can help you in any way.

[2018-03-06 20:49] stlireri commented on #960
Thanks alot @kytrinyx , it finally worked!
I can now access the teams app in development.

[2018-03-06 21:09] stlireri commented on #960
Am trying to replicate the error as described by @kytrinyx  but i don't seem to find the applications page. Kindly help out @kytrinyx  and @ramonh.

[2018-03-06 23:05] ramonh commented on #960
Nice one! I'm glad to see you're up and running.

So if you haven't already, please go through the steps in the [Quick start guide](https://github.com/rails-girls-summer-of-code/rgsoc-teams#quick-start).

Take a look at the output after running the command `bundle exec rake routes`. The URL to have a look at the current list of applications as a mentor is `/mentors/applications`. You can access th

[2018-03-07 18:43] stlireri commented on #960
when i try to navigate to that URL, i get an error stating `project maintainer required` . How do i go about this?

[2018-03-07 19:48] ramonh commented on #960
Hey! Right, so the problem here is that your local user isn't maintaining any accepted projects for your local season of RGSoC.

If you take a look at the [mentors controller](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/app/controllers/mentors/base_controller.rb), you'll find this line:

[code]

This right here is what's stopping you from seeing the applications.

Let's t

[2018-03-08 20:13] stlireri commented on #960
thanks @ramonh  for the analysis on the flow of the application with regard to the mentors. i now understand it better.
meanwhile, tried creating  a project via the console  and run the following
`projects = Project.create(name: "Automation Framework", submitter_id: 33, season_id: 1, mentor_name: "tester", mentor_github_handle: "tester", mentor_email: nil, url: nil, description: "a atesting framew

[2018-03-08 20:19] kytrinyx commented on #960
@stlireri after it returns false, go ahead and try `puts projects.errors.full_messages`, that should tell you why it's failing.

[2018-03-08 20:36] stlireri commented on #960
great! it worked, i had missed a mentors email which was a required field. Thanks

[2018-03-09 17:54] klappradla commented on #200
Hey @dionew1 👋

sorry for the late response - could you already figure out how to solve the problem?

I think it's not even necessary to write controller specs for this, normal unit tests in the `model` directory should actually be enough to cover this behavior. Aside that, your test also sort of misses the point - since you're also updating an attribute on the `application_draft`, namely the `mis

[2018-03-10 16:48] stlireri commented on #960
Hi @kytrinyx  @ramonh
i am trying to make an application using my local instance impersonating a student, which fails when i try to save a profile because of the email part.  apparently no team has 2 students already so i have to add one to make the team complete.Is it possible to use a student who is already in another team?

[2018-03-11 05:27] kytrinyx commented on #960
What is the exact error you’re getting when you try to save?

[2018-03-11 12:37] ramonh commented on #960
HI @stlireri, yes please! Would be good to know the error.

Furthermore, you should be able to re-assign a student from one team to another using either to console or the local teams app itself.

[2018-03-11 15:13] F3PiX commented on #895
This issue is available for new contributors.

[2018-03-11 15:44] ramonh commented on #960
Hey @stlireri before I forget! Have a look at the `db/seeds.rb` file [here](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/db/seeds.rb).

There you'll find an `ApplicationDraft` instance that's ready to apply. Maybe you can hop on the console, set the appropriate project and see if you can manually apply it?

Hope this help!

[2018-03-11 20:37] stlireri commented on #960
i was able to use the application draft instance you gave at `db/seeds.rb` and created an application.
now i am unable to find the project the application was submitted with neither can i trace the submitter. The application had the team `Team Gensync ` .when i try to look at the application using either of the students in the team, i get a `not part of a team` error.
How do i edit the same applic

[2018-03-11 22:12] ramonh commented on #960
Hey @stlireri!

Check out the [application model](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/app/models/application.rb#L19), here you'll find that an `Application` instance is linked to a project.

Try hopping onto the `rails console` and calling that `Application`'s project (you can also set it here if needed :) )

Hope this helps!

[2018-03-13 08:36] cesswairimu commented on #955
@ramonh after rebasing I am getting this error. Tried to find some work around but nothing seems to work.
![screenshot from 2018-03-13 11-32-39](https://user-images.githubusercontent.com/17081074/37330570-9be48456-26b2-11e8-95db-9cf52147dd4e.png)

[2018-03-13 19:24] stlireri commented on #960
Hi @ramonh ,
Am still unable to locate an application that's related to a project using the `rails console`. Am probably missing the right command to issue via the console. i tried running ` applications = Application.find_by_project_id(7)
  Application Load (0.5ms)  SELECT  "applications".* FROM "applications" WHERE "applications"."project_id" = $1 LIMIT $2  [["project_id", 7], ["LIMIT", 1]]` but

[2018-03-13 21:26] ramonh commented on #960
Hey @stlireri,

Sorry, I was unclear! What I meant was taking that application and setting it's project ID to the project you wish your user is a mentor of, you know what I mean?

That is, you hop on the console and call something like the following:

[code]

Here, the validation might prevent you from saving the Application, but since we're trying to figure this out, you can skip the validations

[2018-03-14 09:30] ramonh commented on #955
Hey @cesswairimu Thanks for bringing this up!

I tried checking out your branch and oddly enough, it seems to be working on my end. However, I'm on macOS so I suspect it could be a gem installation issue.

Did I understand correctly that it worked before?

Maybe one thing you could try is reinstalling the gems in your bundle. You can do that by running the following:

    $ bundle install --force

[2018-03-14 11:29] cesswairimu commented on #955
yes, It worked before. I forked the repo a while back and after pulling the lastest changes, I am  getting the error. Could be something to do with the upgrade to ruby-2.5.0 I am guessing. I just tried to fork the clone the repo directly and i am getting the same error.

[2018-03-14 11:38] ramonh commented on #955
Very odd, and I take it re-installing the gems didn't work?

[2018-03-14 11:42] cesswairimu commented on #955
Yep reinstalled successfully but the error persists

[2018-03-14 11:47] ramonh commented on #955
Aw!

Let's try a theory. Could you try opening the `.ruby-version` and changing it back to, what I believe was 2.3.1?

Then you can `cd` out and back in to try?

[2018-03-14 13:24] cesswairimu commented on #955
:+1: That works  Thanks a lot

[2018-03-15 20:24] stlireri commented on #960
Finally i got to the error said in the issue.

[2018-03-15 20:27] ramonh commented on #960
Yay! 🎉 Nice one

[2018-03-15 21:19] stlireri commented on #960
The error i get when trying to update a mentors comment is `No route matches [PATCH] "/mentors/comments"`.
From `rake routes` i can see that the url matching [PATCH] for mentors comment is `mentors_comment_path`.  Again from the [mentors/comments_controller.rb](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/app/controllers/mentors/comments_controller.rb), the `update` method

[2018-03-15 21:35] ramonh commented on #960
Nice one @stlireri! We're nearly there.

Take a look at [the form partial for comments](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/app/views/mentors/applications/_comment.html.slim). The `url` attribute of the form is `mentors_comments_path`, which isn't quite right. We want, in the case of an edit (update), that it be `mentors_comments_path(comment)`.

So the question i

[2018-03-17 18:37] stlireri commented on #960
Hi @ramonh ,
I took a look at the stack overflow solution but i haven't implemented it yet.
So i have created a new branch from my local repository. Is that all i have to do before i can start editing the [form partial for comments](https://github.com/stlireri/rgsoc-teams/blob/master/app/views/mentors/applications/_comment.html.slim) file locally?

[2018-03-18 14:00] ramonh commented on #960
Hey @stlireri!

Sounds good, that's right! Have you already made [a fork](https://help.github.com/articles/working-with-forks/) of the repository?

[2018-03-18 15:16] stlireri commented on #960
yeah i did fork the repository  already [here](https://github.com/stlireri/rgsoc-teams) it is.

[2018-03-19 20:16] stlireri commented on #960
Hi @ramonh and @kytrinyx ,
The solution given for stack overflow works for the comments partials by matching the updated comment to a `PATCH`.
But it still gives an error  `Couldn't find Mentor::Comment with 'id'=1 [WHERE "comments"."commentable_type" = $1 AND "comments"."user_id" = 33]` when trying to match it up to the comment id on the `mentors/comments` controller.

[2018-03-19 21:07] ramonh commented on #960
Hey @stlireri,

Nice! Another step further 😄

Looks to me like there's something wrong with the `params` being passed along.

Ever used [`pry`](https://github.com/pry/pry) to create breakpoints? You could try dropping a `binding.pry` into your controller action to see what `params` are coming in. I suspect these could be wrongly matched up.

[2018-03-19 21:34] stlireri commented on #960
no i haven't used pry before. I'll do install it and learn to use it along the way.

[2018-03-19 21:36] ramonh commented on #960
Hey @stlireri,

No need to install `pry`! It's already [in your Gemfile](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/Gemfile#L46).

If you find `pry` not to be helpful, you could always check the console for the `PATCH` request coming in and which parameters are being passed in.

[2018-03-19 23:01] stlireri commented on #960
I think this is what is being passed as paramters
`<ActionController::Parameters {"utf8"=>"✓", "_method"=>"patch", "authenticity_token"=>"wdvyNJlzYsPN9KaFxVyoeiQdXhLHywseVhseCjVj5yj9mdUPH4t9yMEHrsw+2wQBsEA49frKK0aK38mQPHecOQ==", "mentor_comment"=><ActionController::Parameters {"commentable_id"=>"1", "text"=>"This seems to be a nice team to work on the said project. !"} permitted: false>, "commit"=

[2018-03-19 23:04] ramonh commented on #960
Right! And looking back at the error:

[code]

It seems that there's no Mentor comment with id = 1. Can you confirm this in the `rails console`? Also, in the HTML source you should be able to see what the actual ID of the mentor comment should be.

[2018-03-20 20:37] stlireri commented on #960
When i try to view all the comments from console here's what am getting.
`[#<Comment id: 1, user_id: 1, text: "it requires knowldge on rails , ruby and git", created_at: "2018-03-08 21:01:17", updated_at: "2018-03-08 21:01:17", commentable_id: 7, commentable_type: "Project">, #<Comment id: 2, user_id: 33, text: "This seems to be a nice team to work on the said p...", created_at: "2018-03-15 20:20:

[2018-03-20 22:55] ramonh commented on #960
Hi @stlireri,

You're absolutely correct. Mentors and project maintainers are the same. In this case, you have 2 comment instances. One for a project, and another for an application review. The `user_id` in this case is the id of the mentor.

Hope this helps!

[2018-03-21 10:29] stlireri commented on #960
so i have made the mentor of `team Gensync` to be the project maintainer. I have gone ahead and deleted the existing comment and written it a fresh but it still updating the comment throws the same error.
`Couldn't find Mentor::Comment with 'id'=1 [WHERE "comments"."commentable_type" = $1 AND "comments"."user_id" = 33]`
The comment
`#<Comment id: 3, user_id: 33, text: "its a superb application. i

[2018-03-21 10:31] ramonh commented on #960
So it's trying to retrieve a comment with the id 1, but the comment you're updating has the id 3.

We need to pass to the action the param `id=3`.

I believe the reason it's passing the param `id=1` is because we're inside the form for the application with id=1. You know what I mean?

[2018-03-21 10:34] stlireri commented on #960
yeah. So how do i update the param to i`d=3`?

[2018-03-21 10:40] ramonh commented on #960
Hmm.

Let's take another look at the [form partial](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/app/views/mentors/applications/_comment.html.slim) and the [mentor comment controller](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/app/controllers/mentors/comments_controller.rb#L9).

One idea is to try and go down the road of looking at the dom elemen

[2018-03-21 11:12] stlireri commented on #960
Aah niice, so from the form partial i can see the `commentable_id` has been set to type hidden, which is a good thing i guess.
So i think the issue is with the update controller.  How do i edit that part `params[ :id]`? Can it be struct out completely?

[2018-03-21 11:19] ramonh commented on #960
Well the first thing to do would perhaps be to see what params the form is passing.

There are two ways to do this. You can either set up the `binding.pry` breakpoint I mentioned earlier or watch the rails log for the PATCH action and see what params are being passed in.

Then we should be able to see what's coming in.

One thing you could do is, like the `commentable_id`, pass in the `comment_id`

[2018-03-24 13:26] stlireri commented on #960
Hi @ramonh
Am still getting the same error `Couldn't find Mentor::Comment with 'id'=1 [WHERE "comments"."commentable_type" = $1 AND "comments"."user_id" = 33].`
 The comment to upDATE is referencing a mentor comment with `id = 1` but from console the comment linked to the application has `id= 3`.
kindly help.

[2018-03-25 11:11] ramonh commented on #960
Hey @stlireri!

I believe the problem comes from the fact that the `id` is referencing the `application` instance you're rating.

You need to pass the comment's `id` as a separate parameter. Maybe `comment_id`?

Which params are you getting when you submit the form?

[2018-03-25 17:34] stlireri commented on #960
I have made the` comment_id` to be hidden but still the error persists.
Here are the params being passed
`<ActionController::Parameters {"utf8"=>"✓", "_method"=>"patch", "authenticity_token"=>"XJEyumu3kMRYZumrUaNy54IIdNEkgoz4A6kBL4gJZ/5g0xWB7U+Pz1SV4eKqJN6cFlUSNhmDrKDfbda1gR0c7w==", "mentor_comment"=><ActionController::Parameters {"commentable_id"=>"1", "id"=>"3", "text"=>"its a superb application

[2018-03-26 08:40] ramonh commented on #960
Oh nice! So you can access that comment id with calling `params[:mentor_comment][:comment_id]`, instead of `params[:id]` in the controller.

I believe the id=1 is referring to the Application you're currently reviewing. Know what I mean?

[2018-03-26 10:22] metakermit opened #970 "show people's names in the application review"
Hi 👋

just going through the applications (a bit late, sorry 😬 ) and thought that it would be handy if names and GitHub usernames of team members were also shown on the [applications page](https://teams.railsgirlssummerofcode.org/mentors/applications) and the application details page. Some of the people have already gotten in touch with us on GitHub and we know their names/usernames, but it's a bi

[2018-03-26 15:03] #958 closed

[2018-03-26 17:19] stlireri commented on #960
Thanks @ramonh,
It finally worked. am now able to update a comment successfully. i just edited the `params[:mentor_comment][:comment_id]` to `params[:mentor_comment][:id]` and the fix worked.
Thanks for your help.

[2018-03-26 17:22] ramonh commented on #960
Hi @stlireri.

Nice one! Congrats on fixing the issue 🎉

To prevent this issue from cropping up in the future, we should make sure our [tests](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/spec/controllers/mentors/comments_controller_spec.rb) are passing.

Are you familiar with running Rspec?

[2018-03-26 18:21] stlireri commented on #960
I was very exited to have finally solved my first issue and forgot to run the test.
I haven't ran Rspec in a while. Ii'll need your help in fixing the two issues am getting after running the tests.
`1) Mentors::CommentsController PUT update as a project_maintainer when comment exists redirect_to the mentor application show view
     Failure/Error: comment = mentor_comments.update(params[:mentor_co

[2018-03-26 22:14] carpodaster opened #974 "Provide a UI to add maintainers to a project"
PR #964 introduced support for multiple maintainers, but it doesn't come with a UI. See https://github.com/rails-girls-summer-of-code/rgsoc-teams/wiki/How-to:-assign-multiple-maintainers-to-a-project

The goal is to provide a web UI for both organizers and the project submitter to invite additional users to the project as maintainers. The process could be similar to adding coaches to a team, inclu

[2018-03-26 22:16] carpodaster commented on #945
I agree that removing the column is the way to go, seeing how few people seem to fill out that info (and that's ok, it's not required). We can, however, add an HTML title attribute hover to the location cell that holds the user's current local time (if their timezone is set)

[2018-03-27 14:06] alicetragedy opened #975 "Application table: “Flags” column shows wrong content"
In the application table for reviewers, the column “Hours per Week” has been split into two sections: the hours per week selected by the applicants, as well as a section that should contain the explanation for these selected hours. However, the content for that section seems to have moved over to the “Flags” column and vice versa (meaning that application flags are shown under “Hours per Week”, an

[2018-04-04 14:35] ramonh commented on #975
Oops! I just saw this 🙊  Thanks for noticing! I'll get on this.

[2018-04-04 19:52] klappradla commented on #975
Closed via #978

[2018-04-04 19:52] #975 closed

[2018-04-05 07:31] carpodaster opened #979 "Add rake task to strip down production database dump"
**Why?**
We have a staging environment whose free database tier only supports up to 10,000 rows. We occasionally need to copy the current prod DB to staging in order to QA things.

We used to flush the Teams App's DB every year but since the introduction of the `Season` concept, we don't do that anymore. This is why the DB keeps growing.

**What?**
The list below shows how many records each Active

[2018-04-05 08:10] carpodaster commented on #953
@F3PiX we do not have to seed the production DB ever again so seeding it is only ever for developer happiness. Which use case are you thinking of?

[2018-04-05 08:11] carpodaster commented on #939
@ramonh can this be closed now that #965 has been merged?

[2018-04-05 08:13] ramonh commented on #939
Indeedy! Thanks @carpodaster

[2018-04-05 08:13] #939 closed

[2018-04-05 16:46] klappradla commented on #979
Just a thought 🤔 : in regards of what just happened at Travis CI _(and what previously also happened at Gitlab)_ we should probably prevent this from accidentally being run in the `production`environment 😉

I'd therefore suggest to add a 4th environment: `staging` (don't know why we do not have it already)_ that is basically a clone of `production` and run the staging app in this environment.

[2018-04-05 18:49] carpodaster commented on #979
I'm not a fan of extra envs; it's also not advised by Heroku, but I'm also not totally against it :)

I've come across [this Twitter thread](https://twitter.com/schneems/status/981573494403080192) that has some retrospective on AR meta data about the env its DB is configured for. We could test if that actually works.

Or we could abort if there is a `DATABASE_URL` set in dev or test envs.

Or we c

[2018-04-06 11:55] ramonh commented on #970
Hey @metakermit Sorry I didn't get around to this sooner.

So the reason we weren't showing this before is because the mentor review stage of application reviews was during the blind phase.

Now that we've done away with that, however, it makes complete sense to show these again, so thank you very much for the feedback!

I think this would also be a great issue for students to use to start familia

[2018-04-06 11:59] metakermit commented on #970
Awesome, thanks Ramón and have a great weekend :)

On Fri, Apr 6, 2018 at 1:55 PM Ramón Huidobro <notifications@github.com>
wrote:

[2018-04-06 12:01] ramonh commented on #970
Same to you, thanks Dražen!

[2018-04-06 17:50] klappradla commented on #979
You're probably right with your YOLO-point 👍

For the Twitter thread and the check on a `DATABASE_URL` env: I'm sorry, I did not make my point clear enough above 🙈
I'm not really concerned about running things **from within the `dev` / `test` env against the `production` database**. I was more referring to doing something like:
[code]

or:
[code]
and it defaults to production.

Anyways, was just s

[2018-04-11 18:01] ramonh commented on #942
Looks like this is working again by the look of it, is that right?

@klappradla, @dimi-23 can we close this?

[2018-04-13 18:08] F3PiX commented on #953
@carpodaster It [came up here](https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/946#issuecomment-368801758)
Do you agree?

[2018-04-23 19:44] carpodaster opened #980 "User confirmation: Remove the 30 days grace period"
In order to remove the uncertainty of what a newly registered user can or cannot do, we should move potential errors with a user's registration closer to when it actually happened.

[2018-04-23 19:46] carpodaster opened #981 "User confirmation: Allow user to update their email address"
A user must be able to fix potential typos with their email address when they're still in an unconfirmed state.

In fact, they should be able to update all of their profile data.

[2018-04-23 19:49] carpodaster opened #982 "User registration: ask user to provide email if it cannot be retrieved from Github"
Users can mark their email address private on their Github profile, making it unavailable for API clients like the one retrieving user data by github handle when a user registers in our site.

If the registration process cannot complete with a valid email address, redirect the user to a form and ask them to provide one.

**Note**: this may already be implement. Investigate first.

[2018-04-23 19:50] carpodaster opened #983 "User confirmation: verify that a user can always resend the confirmation email"
This should already be in place, let's just be 101% sure.

[2018-04-23 20:04] carpodaster commented on #674
I'm playing thread necromancer! :skull_and_crossbones:

I don't necessarily consider this a bug but I still think it needs some attention as I'm sure we're not differentiating between confirmed and unconfirmed coaches when counting / listing the coaches in the rating process. We should make sure we do.

wdyt @klappradla @F3PiX @ramonh ?

[2018-04-23 20:18] F3PiX commented on #674
Won't this be solved with deleting the devise confirmation grace period?  Either way: 👍

[2018-04-23 20:31] carpodaster commented on #953
Oh, I missed the discussion that took place there :see_no_evil:

I see the reasoning about `rake db:setup`, but still: we're not going to ever re-setup the prod DB. And even though the fake data goes beyond the minimal requirement to get the app running, it will remove one setup step for a new contributor and they're ready to rumble with some initial fake data that better illustrates how the app l

[2018-04-24 07:52] ramonh commented on #674
Currently, [this is validated at the controller level](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/app/controllers/application_drafts_controller.rb#L63) maybe one thing to do is to move it to the model level?

[2018-04-24 08:10] ramonh commented on #981
If nobody minds, I'll go ahead and take care of this, get the balling rolling 👍

[2018-04-24 09:37] klappradla commented on #953
💡 the extra step part is of course something I totally did not think about 🙈

Very good point @carpodaster! So let's just close this for now and instead just make the seeds better ✌️

[2018-04-24 09:37] #953 closed

[2018-04-29 10:16] klappradla commented on #659
Hey @daminisatya 👋

This should be fixed via #986 (thanx to @katrin-k 🙏 ) - feel free to reopen the issue if the problem persists for you.

[2018-04-29 10:16] #659 closed

[2018-05-02 11:40] ramonh commented on #982
I've done some research and come to some conclusions:

1. You cannot Oauth on a fresh Github account without a verified email address:
![screen shot 2018-05-02 at 13 32 28](https://user-images.githubusercontent.com/656318/39521167-b1d7b648-4e0d-11e8-9c0e-8c5aac0d1e9b.png)

2. Marking an email address as private still allows this to be imported by the Oauth app

3. Creating a new account takes the

[2018-05-02 20:10] klappradla commented on #982
Oh wow @ramonh 🙇

That's ace! Means the problem of not being able to retrieve an email address actually does not exist at all?

When and under which circumstances was this then originally reported @carpodaster ?

[2018-05-03 12:29] F3PiX commented on #982
When I start a new team, I can add team members that don't exist: `partyppooper`, or that have a hidden email address: Sandi Metz `skmetz`.
In both cases we store a user with `email address: nil`

I know I did something like this for real, when I didn't know Roos yet and I wanted to see what the application form was like. So, it's not a hypothetical case.
Do we (need to) get rid of the fake users?

[2018-05-03 13:02] ramonh commented on #982
Ahh! Good point, @F3PiX. I overlooked adding team members. Maybe we should reopen this, huh?

[2018-05-03 13:18] F3PiX commented on #982
Well, I don't know by heart what happens when a user added by team members sign in with Gh the first time. (See conv in Slack, I am working on sketching the flow.)
Maybe it is a different issue alltogether - related to cleaning up the database?

[2018-05-07 09:06] ramonh commented on #885
Hi @ArushiSinghal! Thank you for your volunteering to fix this.

Not sure if you've already fixed this, but upon looking into it, I found an HTML5 validation, it seems:

![screen shot 2018-05-07 at 11 05 09](https://user-images.githubusercontent.com/656318/39694155-97b49f6a-51e6-11e8-9cf0-a4ed26e15f94.png)

Could this be browser-dependent? If so, do we need a backend validation as well?

[2018-05-11 12:33] ramonh opened #990 "Remove authentication logic from abilities"
As discussed [here](https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/989#issuecomment-388337624).

[2018-05-13 10:31] F3PiX opened #991 "User Registration Overhaul: break down"
Continue the discussion in #989.
My proposal would be to first clean up the most obvious things, start building feature tests that cover all the cases/user states and user roles. Then identify if there are underlying problems left.

1) We need to give unconfirmed users access to update their email address, while denying access to restricted areas. That should be solved with point 2) and 3).

2) Un

[2018-05-13 15:58] F3PiX commented on #991
@pgaspar @klappradla @ramonh @carpodaster Your opinions please 🙇

[2018-05-13 16:17] ramonh commented on #991
I think this is a good plan. Thank you @F3PiX.

I'll begin by having a look at #992 👍

[2018-05-13 18:29] klappradla commented on #991
Looks and sounds great 👍

Is the logic for _resending the confirmation email_ in place and working? If yes, triggering it should be accessible for unconfirmed users as well of course - how else should they be able to confirm their account in case the lost or did not receive the initial email?

Devise normally offers all the logic out of the box and the routes are already there:
[code]

[2018-05-13 21:47] pgaspar commented on #991
I also like this plan 🙌 Agree with cleaning up first, improving UX afterwards.

[2018-05-15 20:21] F3PiX opened #999 "ReadMe: Dependency Badge is broken"
Gemnasium is closed after it was acquired by GitLab. The badge is broken too:

![schermafbeelding 2018-05-15 om 22 16 27](https://user-images.githubusercontent.com/6314687/40081370-0f261c06-588e-11e8-86f0-6541cf993084.png)

Can we live without it? Solve it?

[2018-05-15 21:01] klappradla commented on #999
It's part of Gitlab CI now which also has an integration with Github - so we could in theory continue using it, just have to set it up differently _(also my account - which the Teams App was running on is closed now...)_. There are also some alternatives like [dependabot](https://github.com/marketplace/dependabot) and [synk](https://github.com/marketplace/snyk) but I haven't used any of them.

I'l

[2018-05-16 18:14] F3PiX commented on #982
Definitively reopen
Reproduce:
- Make yourself a team member on the website
- Add a fake name, for a non existing user (like partypppooper)
- On the teampage, click on the newly create team members name. => 404
It is not a valid github name, but is added to our database and as a team member.

In console, check out User.last. See that non of the github fields are populated, except for the fake hand

[2018-05-18 17:37] F3PiX opened #1001 "Fix cancancan implementation of Supervisor ability"
Related to PR #997

I am a supervisor of user1 and not user2
Both students have `hide_email =  true`

Current behaviour:
When logged out, I can't read the hidden email addresses of both students 👍 ,
When logged in as student1's supervisor, I can read both  👎
The intention seems to be:   supervisor-in-current-season can read emails of members of their own teams-in-current-season only.
- [ ] If that

[2018-05-20 11:15] Rupal-IIITD opened #1002 "2018 Projects list not showing up"
When you go to this page: https://teams.railsgirlssummerofcode.org/projects

It shows just blank and even if you click small "2018" tab, it still doesn't show anything.

Although it does show previous years' projects if you click on "2017" or "2016" tab.

2018 projects' list is inaccessible.

[2018-05-20 15:04] ramonh commented on #999
If I understood correctly, this is fixed, right? Can we close?

[2018-05-20 15:08] ramonh commented on #1001
Thanks for documenting this!

Hmm, if I understood correctly, we use the helpers to dynamically show and hide email addresses. Can this be reproduced or moved to the abilities? Can we call abilities from views?

[2018-05-20 17:06] ramonh commented on #1002
Hi @Rupal-IIITD, thanks very much for finding this issue!

I can confirm it. It appears that none of the projects are set to be selected. I'll look into this 🚀

[2018-05-20 17:27] ramonh commented on #945
Hey @AnkitaKhurana, thanks again for reporting this issue!

Are you still interested in handling this?

[2018-05-20 19:06] carpodaster commented on #1002
@ramonh This is probably a mix of teams not having been assigned to their projects, yet, the coding phase of the season not yet started, and the way we associate teams and projects (potentially related: #892)

[2018-05-20 19:08] carpodaster commented on #999
Yes, closed in #999

[2018-05-20 19:08] #999 closed

[2018-05-20 19:32] ramonh commented on #1002
Oh! Thanks @carpodaster I think you're right. Since the season started, looking at the [code](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/app/controllers/projects_controller.rb#L29) and playing around in the console, the projects haven't been selected yet.

[2018-05-20 19:40] F3PiX opened #1003 "Don't show the Team new form if a user is not allowed to create one."
Came up in #997 (Abilities)

OLD behaviour:  when I logged in as a student in an accepted team in current season,
Visit  '/teams/
- [ ] The  '+ New Team'  button is present
- [ ] Click; I fill in the form, set myself as a student, and on :submit the validation kicks in. See  models/team_spec.rb:48
- [ ] (BTW, when I myself as a coach, the new team is created in the same season. 🤔  But a student ca

[2018-05-21 07:14] ramonh commented on #1001
Thanks for documenting this!

Hmm, if I understood correctly, we use the helpers to dynamically show and hide email addresses. Can this be reproduced or moved to the abilities? Can we call abilities from views?

[2018-05-21 09:10] F3PiX commented on #1003
This is already solved in  https://github.com/rails-girls-summer-of-code/rgsoc-teams/pull/997/commits/6e7d601c156e76c5e0012505417529f39eca558f .
It does change some behaviour, as listed in the description ^.

Do we agree that we want the new behaviour?

[2018-05-21 13:49] ramonh commented on #1002
After a bit of research (and the help from @F3PiX!) I found the following:

We filter not only projects that have been accepted, [but also only ones from teams that have been accepted](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/app/models/project.rb#L49). This is [specifically tested](https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/master/spec/controllers/

[2018-05-21 16:57] F3PiX commented on #1002
@ramonh The team in the test is accepted.

[2018-05-21 17:00] ramonh commented on #1002
My apologies @F3PiX I was testing it this morning and missed that!

[2018-05-21 17:06] ramonh commented on #1002
This is stranger than I thought. I put a breakpoint into the index action during a test and found this:

[code]

[2018-05-21 17:07] ramonh commented on #1002
Aha! The project seems to be invalid, @F3PiX

[2018-05-22 01:32] pgaspar commented on #1003
I like the new behavior 👍 especially hiding the buttons for people who shouldn't be able to use them.

[2018-05-23 09:54] F3PiX commented on #991
Follow up issues and questions. Noted here so we don't forget to address them at due time

Follow up after #997
- [ ] In the console, I assigned my team_less account a student_role.  I added a conf. Is that even possible IRL? When hitting Conferences#create, it redirects to <my-team>-path. => UrlGenerationError. Conference not created. Create issue or irrelevant?
- [ ] A student can destroy their

[2018-05-23 10:41] ramonh commented on #1003
Yes, thank you @F3PiX I think this is fantastic!

[2018-05-23 11:42] ramonh commented on #1001
Is this something I can help with, @F3PiX? I'd love to dip my toes into cancancan 😊

[2018-05-23 20:30] F3PiX opened #1004 "Add urgency to the email confirmation message"
This is the email body we are sending:

[code]
1) 'created a profile' is not per se what happened; what happened is either their first sign in, or they changed their email address.
2) The need to confirm is not 'to get the best out of it' imo. It is more like 'to complete your registration'.

[2018-05-24 07:53] F3PiX commented on #960
Update after PR #997 (Abilities):
Let's fix the comment abilities first. It should fix the access to crud actions. Then also fix the UI in case a user is not authorized.

Let's not fix it until after the User Registration Overhaul is finished.

[2018-05-24 07:54] F3PiX commented on #1001
I am not sure we are even  able to fix this at this point. I'd recommend waiting until the User Registration Overhaul is done.

[2018-05-24 11:31] klappradla commented on #1003
Great!

I'd even ditch the last TODO ("Add a meaningful message for unauthorised access"). With the button no longer being visible, users ending up as unauthorized either hit the URL manually, had an old tab open, etc. which I'd all consider as edge cases where the app does not necessarily need to provide more information 😉 So it's a nice to have, but not super relevant for getting the abilities b

[2018-05-24 12:22] F3PiX commented on #1003
So happy with y'all's feedback! 🙇 I'll keep a note of the message and close this issue 💃

[2018-05-24 12:22] #1003 closed

[2018-05-24 12:42] F3PiX commented on #979
We have 552 users in the database without a github_id. We can probably delete those? I suppose they originate from adding a team member and using an invalid `github_handle`.

`irb(main):003:0> User.where(github_id: nil).count
=> 552`

[2018-05-24 12:59] carpodaster commented on #979
@F3PiX good idea! Sounds like a good (late) spring cleaning

[2018-05-24 13:04] F3PiX commented on #979
I'll add it to the User Controller spring cleaning then 😂 . Working on it - that's where I stumbled upon it.

[2018-05-26 11:45] F3PiX opened #1008 "Can't run namespaced controller specs in isolation"
When I run the controller specs:
  `rspec ./spec/controllers/` => all green  ✅

When I try to run the specs in one namespace only:
    ` rspec ./spec/controllers/supervisors`
it errors with:
    `1 error occurred outside of examples`
[code]
Note: tested on master
It seems like I am adding more issues than I am solving 😝

I can't te if this related to recent changes

[2018-05-26 11:52] ramonh commented on #1008
Is it possible you need to require `rails_helper`?

[2018-05-28 14:08] pgaspar commented on #1008
I think this is because we're requiring `spec_helper` instead of `rails_helper` (?)

[2018-05-29 09:42] F3PiX commented on #1008
YES! I totally missed that 🙈

[2018-05-29 09:42] #1008 closed

[2018-05-29 09:51] F3PiX opened #1010 "Replace 'spec_helper' with 'rails_helper' in specs"
We have ≈25 files that still have the old `require spec_helper` instead of `require rails_helper`.
That can cause problems, for instance when we try to run the 'supervisor specs' only:
 `rspec spec/controllers/supervisors` will throw an error.

- [ ] Replace wherever applicable
- [ ] Run the specs (see Readme) to make sure everything is still working
- [ ] Doublecheck that we can now run the super

[2018-05-30 08:39] carpodaster commented on #1010
Not sure if the spec_helper instead of rails_helper was on purpose, ie. when unit-testing something without Rails (or other) dependencies. Running a single spec file w/o booting the Rails env is significantly faster. I may have been guilty of that one. With spring / bootsnap, application loading is less of an issue so might as well move everything to rails_helper to be consistent.

[2018-05-30 15:37] #1010 closed

[2018-06-01 13:55] F3PiX opened #1012 "Update supervisor ability"
Related to PR #997

In the abilities we still use the old method for granting supervisors access to their team members email addresses, even when hidden.
With the recent changes, we don't need the old method anymore.

- [ ] Remove the old method (marked FIXME), add a new rule for the supervisor
   `can :read_email` of users they supervise, even when those users want their email hidden

Related thi

[2018-06-01 14:52] F3PiX opened #1013 "Revisit read_email and user_info ability rule"
Supervisor-in-current-season can read emails of members of their own teams only.
However, guarding the access to hidden emails is done via cancancan view helpers.

QUESTION:
I am not sure if we should trust on view helpers to guard privacy sensitive data.

One way to let cancancan manage this is to add a link to an email address instead of displaying the email address directly. For instance by add

[2018-06-02 11:46] pgaspar commented on #1013
Hello 👋 I'm not sure I understood the reason for not trusting view helpers. Are we worried someone will mindlessly remove them from the code in the future and so expose emails?

Also, I'm not sure I understand the ✉️ icon suggestion. Where would it link to? Would it be a `mailto`? (If so, wouldn't that be virtually the same as showing the email?).

[2018-06-02 13:35] F3PiX commented on #1013
It can be a mail-to, but clicking the link would be authorized, no matter of the link is visible or not.

About the view_helpers: it's more about a separation of concerns: I like it view_helpers to manage the user interface, for example hiding links someone has no access to. And I don't like view_helpers to _guard_ that access.
Is that too strict?

[2018-06-02 16:46] pgaspar commented on #1013
Maybe? 🤷‍♀️ Curious to hear what others think 👍

[2018-06-03 12:32] klappradla commented on #1013
👍 fully agree that the access to this should not only be managed via conditionals in views 😉

What I usually use in `pundit` is "scopes" - so depending on the authorization policy one would not even query for the things a given user is not allowed to access. Just as an example.

[2018-06-03 14:18] pgaspar commented on #1013
Interesting 👍 Can we do something similar with CanCanCan?

I like the idea of making the check more robust in the code, but I think changing the interface so that you can only access an email through a separate request to an authorized controller or something like that is overkill and leads to a worse experience for the user.

Something like grabbing 3 or more emails from the community list become

[2018-06-03 16:45] F3PiX commented on #1013
Thanks for your inputs!
Cancancan works the same for queries on models, so `user = User.all` in `#index` will only return the users you are authorised to view. I am curious how we can use this 'scope' like feature to only show authorised attributes as well in Cancancan. That can be investigated in this issue.

Re: changing the interface. That sounds more complex than I meant it to be. We can use t

[2018-06-03 17:59] pgaspar commented on #1013
Maybe @klappradla can give us an example of how it works with Pundit (like how the view code looks like)?

Ok, I understand your suggestion better now, thank you. But does this really protect the info? We would still have the CanCanCan view helpers managing access through conditionals, no? The only difference I think this would make is the emails not being as easy to see and copy to the user. Pers

[2018-06-05 06:12] F3PiX commented on #1013
Thanks for your thoughts! Much appreciated.
Let me summarise:

1) The access to the email address should not only be managed via `can?` conditionals in views
2) We also don't want to make _copying_ email addresses from the Community list any harder than what is currently needed: 1 click and 1 copy-paste.

And we already have a couple of suggestions for the implementation.

If this summary is refle

[2018-06-12 14:45] ramonh commented on #1002
This has been fixed by assigning the selected teams to their projects, as shown [here](https://teams.railsgirlssummerofcode.org/projects).

[2018-06-12 14:45] #1002 closed

[2018-06-25 08:01] carpodaster opened #1019 "`rake db:reset` spams developer with confirmation emails :)"
letter_opener opens a gazillion tabs in $DEFAULT_WEBBROWSER :smile:

It's more funny than a nuisance, but maybe anymore feels like fixing it (disclaimer: I don't :wink: ) This issue will self-destruct in a week or two.

[2018-06-26 07:42] ramonh commented on #1019
Should now be fixed! @carpodaster Could you please confirm?

[2018-06-29 10:45] carpodaster commented on #1019
Confirmed! Thanks, @ramonh !

[2018-06-29 10:45] #1019 closed

[2018-07-06 11:57] klappradla commented on #892
Just came across this in the app again. It still looks like as if the transition from `project_name` to `project_id` is only _half in_ 😉

Will have a look into migrating this over. Makes more sense to use IDs rather then the name in my opinion.

[2018-07-06 17:53] klappradla commented on #892
The impact of this single column is actually way bigger than I expected 😹

Anyways, on the way I was also wondering: will there ever be a case of two teams of the same season assigned to the same project? If not I could add a unique index on `id season_id project_id` for Teams... 🤔

[2018-07-10 22:20] #892 closed

[2018-07-12 20:02] gabru-md opened #1024 "bug : team activities are repeated twice"
All the activities for a team are being repeated twice.
Here is an [example on the website](https://teams.railsgirlssummerofcode.org/teams/642), It can be noticed that the activities for the team (the scrums), are being repeated twice.

[2018-07-12 20:05] gabru-md commented on #1024
It so happens [that this particular portion(https://github.com/rails-girls-summer-of-code/rgsoc-teams/blob/27d850a2b6eaf5fc8b7344bcdd6b03a2ee85b5d2/app/views/teams/show.html.slim#L94) is a repetition of the activity section.
Removing this can fix the problem.

I can send a fix for this once this issue is approved as a bug.
Cheers! :smile:

[2018-07-13 01:35] agpiermarini commented on #945
Hi @ramonh, @carpodaster and @klappradla. From the above conversation, it appears that this is still an open item. I am a new contributor and think that this would be a great first issue. Would you like me to try to take care of it over the next day or two?

[2018-07-13 15:17] agpiermarini commented on #895
Hi, @F3PiX. I could take a look at some of these issues if you would like.

[2018-07-13 15:46] F3PiX commented on #895
Hey @agpiermarini That would be supercool! Welcome to the Teams App 💟
You can find the set up in the readme, and don't hesitate to ask for help here!!
Also, I updated the description so that you can find the previous convo about the `succeeding year` showing up in the list. And reordered the steps.
I'd recommend to start with the first step and take it from there!
Have fun!

[2018-07-13 16:48] klappradla commented on #1024
Hey @gabru-md 👋

Thanx for reporting 🙏

I'm currently on a train an my wifi too bad to actually load the example-page you're linking too 😹
But the file you linked looks indeed suspicious 👀  Would be super happy about a PR if you could wrap one up 💚

[2018-07-13 16:57] gabru-md commented on #1024
Hello @klappradla :wave:
I shall be thrilled to help with this. I am sending a PR removing the extra lines from the file.
Cheer! :smile:

[2018-07-16 21:06] klappradla commented on #945
Closed via #1027

[2018-07-16 21:06] #945 closed

[2018-07-19 00:10] anubiskhan commented on #1012
How's it going? This is my first time contributing to an open source project and I was hoping to help out with this issue. If there is someone else working on it already just let me know and I'll see if I can't help out somewhere else. Thanks!

[2018-07-19 02:08] anubiskhan commented on #1012
Looks like it was already [fixed](https://github.com/rails-girls-summer-of-code/rgsoc-teams/commit/975877fd178a0ba54a133fd04844dba61d3f380e#diff-e9c04d21b8c4d777e4231c4c6ce5f8cb)

I'll see if there is another issue I can help out with

[2018-08-30 17:31] shebesabrina commented on #868
Hey @mkalininait, I wanted to see if I could help with this issue. It seems you're needing some help with mandatory fields including phone numbers, and addresses. As well as making sure you have everything needed for shipment anywhere in the world. Mind if I try giving this a shot?

[2018-08-30 18:37] hmesander commented on #991
Hi there! I’m a first-time contributor and was hoping to help out with this issue. Specifically, I could tackle one of these components to start:

- After landing on the Edit Profile page, a user can still navigate away without submitting the form.

-A confirmed user who changed their email address should have the yellow confirm-your-email notice after submitting the form. Currently, they don't se

[2018-08-30 19:14] F3PiX commented on #991
Hi @hmesander! Welcome to the Teams App!!
This issue is an overview for a bigger project. Actionable issues are or will be added separately. For a first contribution, I'd recommend to find an issue with the `beginner friendly` label.
Looking forward to your contribution!

[2018-09-02 18:25] klappradla commented on #970
Should be via #1031 and ready for you to use next year @metakermit 👋

[2018-09-02 18:25] #970 closed

[2018-09-02 18:32] metakermit commented on #970
Nice, thanks a lot 🙌

On Sun, Sep 2, 2018 at 8:25 PM Max Mulatz <notifications@github.com> wrote:

[2018-09-05 15:51] anasofiapinho commented on #868
Hello 👋 I have not been in charge of sending the packages so far, but I have sent some and I was in charge of collecting the addresses back in 2016. I think @alicetragedy is the best person to speak about this though, but as I am seeing that you are considering the removal of some fields, I just wanted to give my two cents. — and I am sorry if I am just raising problems here. If you feel that they

[2018-09-05 16:40] shebesabrina commented on #868
Hi all 👻!
I've started the process of submitting a pull request so there are multiple fields for an address, here's a screenshot of what the edit and user show pages look like:

<img width="1176" alt="screen shot 2018-09-05 at 8 01 34 am" src="https://user-images.githubusercontent.com/18236509/45107566-3953bd00-b0f7-11e8-947a-2ed7211f5fd9.png">

<img width="1315" alt="screen shot 2018-09-05 at 8 0

[2018-09-05 20:13] klappradla commented on #868
Thanx @anasofiapinho! Makes all perfect sense!

And @shebesabrina: wow, that was quick! Thanx for your help on this and for already submitting a PR. Based on the discussion here, we can just iterate on it until we got what's most helpful for orga users.

[2018-09-06 08:00] alicetragedy commented on #868
Hiya! thanks so much for this @shebesabrina 🙌 ✨
To be perfectly honest I feel similarly to @klappradla on the topic of the phone number. I've provided my personal phone number in several instances when ordering or shipping things, and that number was never used when problems in delivery were encountered (sometimes leading to the package just being sent back without me ever being told that they tri

[2018-11-06 20:52] lilwillifo commented on #868
Hey @klappradla -- It looks like the related PR never was merged. I'm happy to take a look at those notes and work on this issue. I actually know @shebesabrina who said she'd be fine with me picking up where she left off! Small open source world 😆Let me know if there's any new context I'll need around this. Thank you!

[2018-11-07 08:55] klappradla commented on #868
Hey @lilwillifo 👋

Welcome!

I don't think or at least don't remember there being any more discussion on the topic. So anything written here and in the PR should be all you need. Just ping me if something is not clear!

[2018-11-08 17:32] greysteil opened #1036 "Suggestion / request: use Dependabot to keep dependencies up-to-date"
First of all, thanks for Rails Girls Summer of Code!

I've got a suggestion / request: would you be up for using [Dependabot](https://dependabot.com) to automatically create dependency update PRs for this repo? I ran it against my fork and it generated [these PRs](https://github.com/greysteil/rgsoc-teams/pulls). I'll port the `rack` one across to this repo now.

I built Dependabot, but I'm honestl

[2018-11-08 20:31] klappradla commented on #1036
Hey @greysteil 👋

Thanx a ton for reaching out 💚

I was actually using Gemnasium _(RIP)_ on the project before. It would email-alert me for security updated and I'd do them by hand.... I was then actually already looking at **Dependabot** as an alternative. But probably due to lazyness stayed with `bundle audit` for starters.

I'd personally totally be up for integrating it into the project - than

[2018-11-12 10:49] carpodaster commented on #1036
¡Hola @greysteil!  Thanks for suggesting Dependabot. I think it would be great to have an automatic dep check system in place again. I'm all 👍  for trying it out. 😄

[2018-11-13 10:04] alicetragedy commented on #1036
+1! I'd also love to consider this for our other repo `summer-of-code` because I've been doing these security updates manually as well 😅

[2018-11-13 11:01] carpodaster commented on #1036
@alicetragedy you got it :)

[2018-11-13 11:03] carpodaster commented on #1036
@greysteil I've added Dependabot to our repo! Thanks again for suggesting it 💯 🎊

[2018-11-13 11:03] #1036 closed

[2019-01-25 18:20] klappradla commented on #991
Not sure how up to date this is, but FYI: I just started looking into feature testing (and therefore probably also refactoring the registration). Just in case someone else is already on the verge of submitting a PR for this 😉

[2019-08-24 06:12] tapaswenipathak opened #1147 "Retaining women in open source: Organising open source day montly"
Hi folks: Finding an active open source contributor or maintainer woman is hard. Internships give a break in open source, if observed there is no retention of women in open source and research[1] suggests. Implementing open source day per month letting woman work with mentor and contribute in an open source project they would like would be practical implementation than just publishing research and

[2020-03-13 00:57] SolarUltima opened #1172 "any plans of upgrading Postgres?"
as header says

[2020-03-13 00:59] Montana commented on #1172
Hello,

No need to currently. There's currently a version 2 of this app I'm working on with a plan release date of after this season. Everything is running smoothly as is. So I personally don't see a reason to update at the moment.

- Montana

[2020-03-13 00:59] #1172 closed

[2020-03-29 13:42] MukulCode commented on #635
I don't know if this is the right place or not but I am facing some issues while the sign-up process.
Someone has invited me to be their coach. Firstly I haven't received any email regarding that and whenever I try to sign up I end up with this message:
![Screenshot from 2020-03-29 19-05-33](https://user-images.githubusercontent.com/33973666/77850566-1749f000-71f1-11ea-9ed2-daa54422f06a.png)

Am I

[2020-03-30 19:24] melostbr commented on #974
Is this still a thing? Would love to help!

[2020-03-30 19:28] melostbr commented on #906
@F3PiX @carpodaster is this fixed somehow? I would like to help if not, seems like a long time since the issue got an update